//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[5]

block pullquote
  :marked
    “The most gripping sentence from the article here. One which is impossible to ignore.”

block content
  :marked
    The coronavirus has intensified US−China strategic competition and sent bilateral relations into a tailspin. The rivalry, which even before the virus extended to all aspects of the relationship — economic, military, diplomatic and ideological — will accelerate the decoupling of the two economies and deepen mistrust between the countries and their peoples.

    Rather than seek cooperation to mitigate the COVID-19 crisis as they did in response to the global financial crisis and the Ebola outbreak, Beijing and Washington are engaged in a rancorous struggle over where and how the virus began. The mutual scapegoating may continue for months or even years after the virus is brought under control. The blame game will create enduring resentment on both sides that could influence policies toward each other across a range of issues, especially if Donald Trump is re-elected for a second term in November. 

    Bilateral rivalry is spreading from the diplomatic, economic and military realms to the ideological sphere with Beijing and Washington touting the superiority of their respective governance models. China has launched an aggressive domestic and global propaganda campaign to divert attention away from the Chinese Communist Party’s missteps in the early phase of the epidemic and hype its achievements in getting the virus quickly under control within its borders. The United States has initiated its own drive to push back against China’s disinformation strategy and portray Beijing as unfit for global leadership. The acrimony has extended to government spokespeople in both capitals, who are hurling insults back and forth, and engaging in tit-for-tat diatribes. Even the race to develop a vaccine is being politicised, as both sides contend to show the world that its scientists are superior. 

    The COVID-19 pandemic will accelerate the trend of reducing the interdependence of the US and Chinese economies. China’s policies for achieving greater self-reliance in advanced technology set this in motion and gained additional momentum with the US decision to exclude Chinese companies from its 5G networks. Trade between the two nations has already slowed as a result of tariffs and other measures. United States’ efforts to reduce reliance on China for pharmaceuticals and medical supplies will expand the ‘decoupling’ that is already taking place in some technology sectors. The downturn in the Chinese economy and rising unemployment will tempt Chinese leaders to rely heavily on nationalism, which will be directed against foreigners and especially Americans. Rising xenophobia in China and anti-Chinese prejudice in the United States may further curtail economic interaction, including by adding to existing pressures to pull supply chains out of China. 

    Despite China’s good faith efforts to meet the Phase I trade deal deadlines, Beijing will probably not be able to purchase the agreed target of US$200 billion in American goods and services over the next two years. Economic downturn in both the United States and China will slow progress toward a Phase II agreement. As a result, friction will continue over thorny issues such as China’s subsidisation of companies and its policies aimed at dominating key strategic technologies.  Bilateral disagreement will persist over tariffs, with the Trump administration keen to keep them in place and China eager to see tariffs lifted.

    United States−China relations are at their worst point in modern memory and are poised to get even worse as a result of the COVID-19 epidemic. The rest of the world should plan accordingly and attempt to limit damage to their interests as the zero-sum competition between the two most powerful countries escalates to new levels.
