//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[4]

block pullquote
  :marked
    “The most gripping sentence from the article here. One which is impossible to ignore.”

block content
  :marked
    The Chinese Communist Party (CCP) leadership does not seek to uproot or overturn the existing international system in its entirety. What it intends to do instead is to weaken or subvert the current system's most challenging elements, while at the same time carving out some space for its own dominion.
    
    Assessing whether China would be likely to compromise on its objectives should start with a clear understanding of the roots of Beijing's dissatisfaction with the existing international order. As Beijing sees it, the current order rests on three main pillars: first, the US military alliance system; second, international institutions including the United Nations; third, the norms, values, and rules that underpin the international system.
    
    Beijing regards the US military alliances not as a guarantee of stability in the Asia--Indo--Pacific region, but as a 'C-shaped encirclement' designed to strangle China's strategic space, thereby threatening the country's security. There is no possible compromise in this domain: as long as the American alliance system stands, and US military presence in Asia is maintained, thus preventing China from becoming the preponderant regional power, Beijing will feel under threat.
    
    Beijing considers that existing international institutions were initially built by the US-led West to serve Western interests and that they reflect 'Western values'. China was willing to work within and adhere to their framework, up to a certain point, when its position was weak. Now that its power has grown, the Chinese leadership does not envisage a total overturn of the existing institutions, nor would it be satisfied by marginal reforms such as increased voting rights. Instead, it is following a four-pronged, à la carte strategy: 1) neutralise institutions that are harmful to its interests (such as the UN Human Rights Council) by actively gaining control over them; 2) exploit institutions that can be shaped to suit its interests (such as the WHO) by subverting them; 3) ignore institutions that are harmful to its interests but cannot be neutralised or exploited (such as the arbitral tribunal constituted under the 1982 UN Convention on the Law of the Sea); 4) build parallel platforms and institutions (such as the '17+1' China--Central and Eastern Europe framework, or the South--South Human Rights Forum) where Beijing can exercise a greater control over agenda- and norm-setting. In the long run, as China becomes the dominant power, the goal is not necessarily to fundamentally restructure the existing institutions, but for them to serve China's interests and reflect its preferences.
    
    Beijing regards the norms and values underpinning the international system as intrinsically antagonistic to the organising principles on which its own system is based. The promotion of liberal democracy, human rights, and 'so-called universal values' is seen as a source of conflict, disruption, and regime change --- all of which are unacceptable from the CCP's standpoint. The Chinese leadership believes these values are an enduring threat to its legitimacy and potentially even to its survival. Regarding international law, although China has been largely compliant with its international legal obligations, it has only partially upheld its commitments in areas such as international trade, and has been outright confrontational in others, such as human rights, humanitarian intervention, and the law of the sea.
    
    In sum, China seems more likely to compromise on elements of the existing international order that do not interfere with its interests or the legitimacy of its regime.
    
    **Nadège Rolland** is Senior Fellow, Political and Security Affairs, at the National Bureau of Asian Research (NBR), based in Seattle and Washington, DC, and a Nonresident Fellow at the Lowy Institute. Her research focuses mainly on China's foreign and defense policy and the changes in global dynamics resulting from the rise of China.
