//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "The United States"
  - page.expert = "Dr Michael Fullilove AM"
  - page.expertrole = "Executive Director"

block intro-image
  img.bg-img(data-src="../../img/us.jpg")

block intro-caption
  :marked
    Photo: <a href="https://unsplash.com/photos/GcGkStwYP8k">Alejo Reinoso / Unsplash</a>

block intro-description
    :marked
      The United States, which was already self&#8209;isolating, is now seriously unwell.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Even before coronavirus, the United States was self-isolating.

              President Donald Trump came into the White House in 2017 oblivious to the advantages of global leadership. He preferred protection rackets to alliances. He junked the Iran deal. He pulled out of the Paris Accord and boosted the Brexiteers. He withdrew from the Trans-Pacific Partnership and levied high tariffs on Chinese imports. His weird affinity for strongmen disappointed democrats and emboldened dictators.

              However, two factors — the resistance of career civil servants and the president’s own attention deficit disorder — combined to limit the damage he caused. In his first three years as president, Donald Trump hurt America’s interests, diminished America’s attractiveness and damaged the international system. But he did not do irreversible harm.

              Before 2020, the president also had not faced a serious external crisis. All of his crises — and there were a few — were self-generated.

              Now the world faces a global health crisis, a global economic crisis and, perhaps at some stage, a global financial crisis. Our last line of defence is The Donald.

              Forget global leadership: Washington’s response to the virus has been world’s worst practice. The president has flailed around: blind, clueless and self-absorbed. Previously he had dismantled much of the US government infrastructure for dealing with pandemics. Now, as the coronavirus spread beyond China, Trump was slow to act, comparing the coronavirus to the common flu and even calling it a “hoax”. He spread misinformation about the virus on television. He undermined rather than reinforced the messages of his public health experts. The provision of coronavirus testing — widely regarded as an essential part of any response — has been woeful. Naturally the president refuses to bear any responsibility for this.

              At the time of writing, nearly 11,000 Americans have died of COVID-19. The White House now estimates that between 100,000 and 240,000 Americans may die; some expert estimates are much higher than this. Vice President Mike Pence himself has compared the US trajectory to that of Italy.

              We are accustomed to the United States being the epicentre of global power, not the epicentre of global disease.

              Of course, President Trump is not solely to blame. The broader US response to the coronavirus has been unimpressive. The decentralised nature of the US federation has made policies inconsistent. Perhaps the rugged individualism of American culture has also prevented a stronger collective response. Certainly, the hyper-partisanship of the US political system and the rise of ‘fake news’ and conspiracy theories, has not helped.

              The United States now appears seriously unwell: feverish, weakened and disoriented. The combination of the Trump presidency and coronavirus pandemic is having a significant effect on the way the world thinks about the United States. If it reinforces the tendency towards retrenchment that has been visible for a decade, it may also have a significant effect on the way the United States thinks about the world.

              Of course, Americans have a choice in all this. If Donald Trump is replaced by a more orthodox president in November — most likely Joe Biden — then the United States can revert to a more orthodox path. But what if Americans look at the past four years, and the past four months, and say: more, please?

              This November, the United States will either course-correct or crash.
