.row
  .col-2-3.bg-hl
    .img-pan
      img.bg-img(data-src="img/overprint.jpg")

  .col-1-3.bg-lt
    .img-pan
      img.bg-img(data-src="img/jokowi-prabowo-embrace.jpg")

.row
  .col-fw.bg-ff
    .txt-center
      .txt-sm.txt-tu Voters will choose between incumbent 
      .txt-lg.txt-hl.pv-sm Joko Widodo
      .txt-sm.txt-tu and long-time rival 
      .txt-lg.txt-hl.pv-sm Prabowo Subianto
