.row
  .col-1-2.bg-lt#col-members
    .block.txt-lg
      | They will also vote for
      br
      | the 
      span.txt-hl  575 members 
      |  of
      br
      | Indonesia’s House of
      br
      | Representatives,
      br
      | choosing from among
      br
      span.txt-hl 16 national parties

  .col-1-2.bg-lt#col-seats-and-parties(
    data-view="spiral" data-source="data/seats"
  )

.row
  .col-1-2.bg-ff
    .p-lg.txt-center
      .txt-sm.pv-xs.txt-tu Votes determine who can run for president&nbsp;in
      .txt-xxl.txt-hl
        span(style="font-size: 1.12em") 2024

  .col-1-2.bg-ff
    .p-sm.txt-md
      | Presidential candidates must
      br
      | be backed by parties that
      br
      | control 25% of the votes
      br
      | or 20% of the seats
