.row
  .col-1-2.bg-hl.txt-ff
    .block.txt-lg.num-lf
      .txt-xl.pv-xs(data-view="counter") 420,000
      .txt-lg military
      
  .col-1-2.bg-lt
    .block.txt-lg.num-lf
      .txt-xl.pv-xs(data-view="counter") 443,000
      .txt-lg police

.row
  .col-fw.bg-dk.txt-ff
    .p-sm.txt-md 
      | All members of the military and the police 
      br
      | are 
      span.txt-hl banned from voting
      |  to ensure their 
      br
      | neutrality, given Indonesia’s history 
      br
      | of military-led authoritarian rule 
