.row
  .col-1-3.bg-ff
    .img-pan(style="position: absolute;")
      img.bg-img(data-src="./img/bribes.png")

    .frame
      .txt-xl.num-lf 1 in 3
      .txt-sm.pv-sm.txt-tu Voters bribed

  .col-2-3.bg-lt
    .block.txt-md.pv-xs
      .p-sm
        | One third of Indonesian voters were bribed
        br
        | by candidates in previous elections,
        br
        | according to one expert study. 

      .p-sm
        | But analysts disagree over how much
        br
        | influence these handouts have.
