.row
  .col-1-3.bg-ff(data-view="spin" data-fill="0.4" data-source="data/women")
    .caption
      span.txt-hl Women make up 40% of candidates,
      |  but are often placed low down on&nbsp;party&nbsp;lists

  .col-2-3.bg-lt
    .block.txt-lg.p-xs
      | By law, political parties must ensure that 30% 
      br
      | of their parliamentary candidates are women

.row
  .col-1-2.bg-dk.txt-ff
    .block.p-sm.txt-md
      | In the last election, only 18% of
      br
      | successful candidates were women

  .col-1-2.bg-dk.txt-ff
    .block.p-sm.txt-md
      | This year 40% of the candidates are women
      br
      | and activists hope for a better result
