.row
  .col-1-2.num-lf
    .txt-center
      .txt-sm.txt-tu.ph-sm.pv-xs Lowy Institute

      .txt-xl.ph-sm
        | Coverage of the Australian 2019 Election&nbsp;Title 
      
      .pv-md
        .stripe-lt

      .ph-sm.intro-description.txt-sans.mxw(style="max-width: 330px")
        | With an election around the corner, there is no better time to
        | understand our place in the world, where we are headed and what is
        | needed to get there. So how do the major parties compare on critical
        | areas of our foreign policy, and what do the experts say? Explore the
        | issues to find out how the goverment, the opposition and the experts
        | plan to tackle them.


  .col-1-2.bg-dk.txt-ff
    .block
      .txt-sm.txt-tu.ph-sm.pv-xs.txt-hl The Issues
      ul.list-bare.txt-lg
        li
          a.txt-bare(href="/issues/defence-spending")
            | Defence Spending
        li
          a.txt-bare(href="/issues/relations-with-china")
            | Relations with China
        li
          a.txt-bare(href="/issues/relations-with-the-us")
            | Relations with the US
        li
          a.txt-bare(href="/issues/foreign-aid")
            | Foreign Aid
        li
          a.txt-bare(href="/issues/pacific-islands")
            | Pacific Islands
        li
          a.txt-bare(href="/issues/climate-change")
            | Climate Change
        li
          a.txt-bare(href="/issues/australias-diplomatic-footprint")
            | Australia’s Diplomatic Footprint
        li
          a.txt-bare(href="/issues/trade-policy")
            | Trade Policy
