extend ../../partials/issue

block append config
  - page.title = "Pacific Islands"

block scroller
  +item(0)
    .row
      .col-1-2
        .fill
          .row
            .col-fw
              .block
                span.p-xs.txt-sm.txt-tu.bg-hl.txt-ff The Issue
                .txt-xxl.pv-md= page.title
          .row.bg-lt
            .col-fw
              .img-pan
                img.bg-img(src="../../img/pacific.jpg")

      .col-1-2.bg-dk.txt-ff
        .txt-lg.p-lg
  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 440px")
          :marked
            2018 has seen increasing importance attached to the Pacific islands
            by the Liberal party. The coalition government made a multi-billion
            dollar pledge to a regional infrastructure fund, export assurance,
            security and the opening of new embassies in the region.
 
    .row
      .col-1-2.bg-hl.txt-ff.frame
        .txt-lg.ph-md(style="max-width: 440px")
          :marked
            Many Pacific island populations have larger expatriate than local
            populations. The island of Niue has 1,700 citizens living within
            its border, but a further 25,000 living in New Zealand.
      .col-1-2.bg-hl.txt-ff.frame
        .txt-lg.ph-md(style="max-width: 440px")
          :marked
            France and Vanuatu have been involved in a long running dispute
            over the ownership of the hunter and Matthew islands. In January
            France sent a mission to the islands to reinforce its sovereignty,
            this included polishing a commemorative plate and painting the
            French flag on a rock.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            Labor argues that the Pacific is crucial to Australia’s future and supports an increased Australian presence in the area. However, it has noted that climate change policy is heavily tied into any pacific policy given the danger it poses to low lying island nations. 
 
    .row
      .col-fw.bg-lt
        .txt-lg.ph-md(style="max-width: 720px")
          :marked
            During the 2018 Asia Pacific Economic Cooperation Summit China’s Xi
            Jinping spent four full days in Papua New Guinea, in contrast the
            American representative Vice-President Mike Pence spent just one
            day.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .block
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              This is where our expert will have the opportunity to give their
              impression of the issue and where they think we should be headed.
              This text is 160 words long, which is all we need.

              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat. Duis autem vel eum iriure dolor in hendrerit
              in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.

              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
