//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[0]

block pullquote
  :marked
    “The most gripping sentence from the article here. One which is impossible to ignore.”

block content
  :marked
    Xi Jinping has framed the historic events of this still unfolding period as a [once-in-a-century change](https://www.readingthechinadream.com/yuan-peng-coronavirus-pandemic.html) --- an allusion to the First World War and its aftermath, which overturned the previous world order.
    
    Intensifying US--China enmity in the context of the current global pandemic may be impelling the Chinese Communist Party (CCP) to shift global attention away from the origins of COVID-19 in China, and to frame it as a test that the US model failed, while the Chinese model passed. For the CCP, even beyond the US relationship, this is the most fraught domestic political period since Tiananmen Square in 1989, if not the Korean War.
    
    The CCP probably does not seek to overturn the international order that brought China enormous benefits, enabled and sustained its unprecedented economic rise, and provided an architecture for Beijing's global influence.
    
    But Beijing does seek to alter what it sees as the international order's bias towards liberal democratic norms and values. Above all, China's leaders seek legitimacy and acceptance of an authoritarian political system that provides security, stability, and development, particularly in parts of the world that have not benefitted from the Western development model, and therefore may see China's state-capitalist model as an attractive alternative.
    
    Still, [the CCP's mid-century goals](https://www.scmp.com/comment/insight-opinion/article/2117886/china-growth-model-shows-xi-jinpings-vision-will-outshine) appear to rely less on the success of the regime's current policies and agency than on historical forces, a continued US decline, and a shift in global norms and values to align with Chinese preferences. The shift may ultimately occur not because of Chinese disinformation, co-option, and perfidy, but because pandemics, climate change, migrations, and resulting uncertainty will drive global priorities towards ideals more aligned with what the CCP is selling: stability, development, and bluntly, the need for government capacity to compel.
    
    The US and its liberal democratic allies need to be prepared to meet China's challenge over the values and norms of the international order in the near future. This will not be a repeat of the Cold War, but a competition that requires us to confront the current pandemic as well as the societal, economic, and security challenges posed by climate change and the [Fourth Industrial Revolution](https://www.dni.gov/index.php/key-global-trends/how-people-create-and-innovate).
    
    Adversarial hostility need not be the only path forward. Beijing's "hardening" against domestic dissent and freedom of expression under Xi Jinping were partially the results of China's unexpected relative success vis-a-vis the United States.  So, for the CCP's materialist, realist strategic thinkers, new demonstrations by Washington of performance, recuperative powers, and restored political legitimacy can still be key determinants of the trajectory of future US-China relations. If the US performs --- domestically and strategically --- and returns to greater adherence to shared liberal, democratic values at home and abroad, the CCP will reassess, just as it did in 1992, 2001, 2003, 2008, and 2017.
    
    <iframe class="chart" frameborder="0" height="400px" src="https://interactives.lowyinstitute.org/features/rbo-debate/charts/timeline" width="100%"></iframe>
    
    It is reassuring to think that China under the CCP, if confronted by a strategic US and allied defence of the liberal orders, could return to its ['hide and bide'](https://www.brookings.edu/articles/hus-to-blame-for-chinas-foreign-assertiveness/) era. However, for all the reasons that [Minxin Pei recently enumerated](https://www.foreignaffairs.com/articles/united-states/2020-04-03/chinas-coming-upheaval) about the trajectory of bipartisan US policy, it is unclear if Washington would accept it.
    
    Many aspects of China's behaviour over the past decade have been [abhorrent](https://foreignpolicy.com/2020/07/01/china-documents-uighur-genocidal-sterilization-xinjiang/), and are [worsening](https://thechinacollection.org/hong-kongs-national-security-law-first-look/). President Xi and the CCP seem trapped in their increasingly narcissistic nationalism, and it underscores a core observation made by Minxin Pei, that this is not a confident regime. It would be nice if the CCP could break out of the ideological and perceptual traps, many of which are of their own making. But to do so would require introspection, which seems lacking, and a new capacity to operate outside their frames of reference.
    
    And even if the system were capable of replacing Xi Jinping to attempt a reset, would the US see it as a sign of hope, or a vulnerability to exploit?
    
    **John Culver** is a former Senior Intelligence Officer with 35 years' experience as a leading CIA analyst of East Asian affairs, including security, economic, and foreign policy dimensions. As National Intelligence Officer for East Asia from 2015--2018, he drove the Intelligence Community's support to top policymakers on East Asian issues and managed extensive relationships inside and outside government.
    
    **All statements of fact, opinion, or analysis expressed are those of the author and do not reflect the official position or views of the U.S. Government. Nothing in the contents should be construed as asserting or implying U.S. Government authentication of information or endorsement of the author's views.**
