h1, h2, h3, h4, h5, h6, p, body, a, img, ul, ol, blockquote, pre
  margin: 0
  padding: 0
  border: 0

html,
body
  width: 100%
  overflow-x: hidden

html
  font-size: 7px
  height: 100%

body
  font-size: 17px
  color: $text
  background: transparent
  font-family: $font-sans
  line-height: 1.4
  text-rendering: optimizeLegibility
  text-size-adjust: 100%
  -webkit-tap-highlight-color: transparent
  -webkit-overflow-scrolling: touch

  &.embed-false
    background-color: white

.of-hidden
  overflow: hidden
.of-auto
  overflow: auto

a
  color: inherit
  text-decoration: underline
  cursor: hand
  cursor: pointer

  &[href*=".png"],
  &[href*=".jpg"]
    cursor: zoom-in

  &:hover,
  &:focus
    color: $dark

  &:focus
    outline: none

.clearfix
  @extend %clearfix

\::selection
  background-color: rgba(#666, 0.2)

img,
svg
  max-width: 100%
  display: block
  object-fit: cover

.wrapper
  max-width: 900px
  margin: auto

  svg
    margin: auto
