=font-face($name, $path, $weight, $style)
  $path: "../fonts/#{$path}"
  @font-face
    font-family: "#{$name}"
    src: url("#{$path}.eot")
    src: url("#{$path}.eot?#iefix") format("embedded-opentype"), url("#{$path}.woff2") format("woff2"), url("#{$path}.woff") format("woff"), url("#{$path}.ttf") format("truetype")
    font-weight: $weight
    font-style: $style

$weights: "Thin", "ExtraLight", "Light", "Regular", "Medium", "SemiBold", "Bold", "ExtraBold", "Black"

@each $weight in $weights
  $i: index($weights, $weight)
  +font-face("Sans", "antipode/Antipode-#{$weight}", $i * 100, normal)
  +font-face("Cond", "antipode/Antipode-#{$weight}Condensed", $i * 100, normal)
  +font-face("Semi", "antipode/Antipode-#{$weight}SemiCondensed", $i * 100, normal)
  +font-face("Wide", "antipode/Antipode-#{$weight}Expanded", $i * 100, normal)

+font-face("Cond", "william/William-LightCondensedItalic", 200, italic)
+font-face("Semi", "william/William-RegularSemiCondensedItalic", 400, italic)
