// Colours
$dark: #002a45
$highlight: #539ed4
$muted: #e1e5e8
$background: #f5f6f7
$text: #4b4f56

// Easing curves
$bounce: cubic-bezier(.23,1.58,.29,.85)

// Fonts
$font-sans:  "Source Sans Pro", sans-serif
$font-headline: "Montserrat", sans-serif

// Media breakpoints
$screen-md-min: 1080px
$screen-sm-min: 768px
$screen-xs-min: 480px
$header-breakpoint: 800px

$screen-md-max: $screen-md-min - 1px
$screen-sm-max: $screen-sm-min - 1px

// Grid
$grid-gutter:  40px
$grid-columns: 12

// Fonts
$font-size-base: 18px
$font-size-8: #{(60px / $font-size-base)}rem // impact header
$font-size-7: #{(36px / $font-size-base)}rem // h1
$font-size-6: #{(28px / $font-size-base)}rem // h3
$font-size-5: #{(24px / $font-size-base)}rem // h4
$font-size-4: #{(21px / $font-size-base)}rem // navbar title
$font-size-3: #{(18px / $font-size-base)}rem // large body (www)
$font-size-2: #{(15px / $font-size-base)}rem // small body
$font-size-1: #{(13px / $font-size-base)}rem // small uppercase header

// Brand blue
$color-blue:     #46B4E9
$color-denim:    #0070af
$color-green:    #02c971
$color-red:      #e25983
// #ee3123

// Greys, from lightest to darkest
$color-grey-1:   #F8F9FA
$color-grey-2:   #F1F3F6
$color-grey-3:   #E6EBF0
$color-grey-4:   #D7DFE7
$color-grey-5:   #A9B2BF
$color-grey-6:   #848F9D
$color-grey-7:   #4D5B6A
$color-grey-8:   #364553
$color-grey-9:   #1F2E3C
