extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/usa-rules-based-order/data").responses[3]

block content
  :marked

    Four of the six writers in this collection agree on a basic answer to the initial question. The United States, we think, should make the rescue of a rules-based order a central concern of its foreign policy — but it must update and reform that order for a less American-centric world, one in which Washington uses its rules and norms, in part, to help mitigate Russian and Chinese troublemaking.

    I am tempted to leave it at that, if it were not for two things: a perspective from my good friend [Patrick Porter](../../articles/a-dangerous-myth), which I do not share; and the implied call for unilateralist belligerence, which stalks the response of [Danielle Pletka](../../articles/use-trumps-leverage).

    The irony is that Porter and I agree about almost everything except the significance of the post-war, rules-based order. Porter dismisses its role as &quot;impossible&quot; and &quot;ahistorical&quot;. I find that hard to square with the veritable explosion of rules, norms, and institutions, and their very practical, often quantifiable, effect on issues ranging from trade to non-proliferation to technology standards. I find it difficult to square, as well, with the powerful commitment to the order from leading democracies who appear to believe that it has immense benefit.

    But Porter and I agree on a crucial amendment to this happy vision: dangers arise when the drive for ordering becomes more theological than pragmatic, when the architect of the order views any challenge as sinful, and ceases to respect the interests of rivals. Correcting that temptation — while still mining every ounce of cooperative value from a shared order — stands to be a major preoccupation of US policy.

    I was delighted to see [Stacie Goddard](../../articles/using-rules-to-compete)&#39;s argument. Her [important work](https://www.cornellpress.cornell.edu/book/9781501730306/when-right-makes-might/#bookTabs=1) explains why states that are seen to be legitimate and complying with international norms have a competitive advantage in international relations. But it also makes clear that a would-be ordering hegemon who flaunts power without restraint or legitimacy is likely to spur backlash and [balancing](https://en.wikipedia.org/wiki/Balancing_(international_relations)).

    This requirement for limits and humility speaks to the strenuous balancing act that the Biden administration has before it. It may have to step unapologetically back into the role as the leader of a multilateral order and confront Russian and Chinese misbehaviour with more energy. Yet, its success in this venture is likely to depend on finding ways to operate with more nuance, less arrogance, and more multilateral sensibility than at any time in contemporary US foreign policy. This needed [equilibrium](https://tnsr.org/2018/05/rediscovering-statecraft-in-a-changing-post-war-order/) is nothing short of unprecedented in America&#39;s national history. And in striking that balance, if recent evidence in US national security debates is any indication, the greatest risk is not that Washington will shrink from confrontation with its rivals. The bigger danger is that the United States may already be sliding into an [extreme](https://www.foreignaffairs.com/articles/china/2020-10-23/overreach-china-hawks), theological interpretation of those competitions.

    All of this makes me sceptical of the implied message in Pletka&#39;s argument, which I read as a sort of unspoken demand for unabashed expressions of power. The United States should simply do what needs to be done, she hints, and not worry about explaining itself. It should eschew international organisations and agreements not aligned to Washington&#39;s dictates.

    Yet, Washington gains little, if anything, from sneering at bodies like the World Health Organization (WHO) or the United Nations Human Rights Council (UNHRC). These are imperfect institutions and sometimes weakened by fraud — this is news to no one — but a true leader will help them realise their potential, not walk away in a self-righteous huff. Continuing to spurn the Paris climate agreement would be a calamitous error, especially given the fact that with the national commitments now in place, the agreement&#39;s goals may be [within reach](https://www.ft.com/content/d6e23e40-2d6b-4e8c-b92b-6bf1b215798d). Besides which, even a successful campaign to combat Chinese or Russian influence would look rather pointless in a world on fire.

    Pletka seems to favour a new round of interventionism, suggesting that withdrawing from Iraq and Afghanistan, and &quot;remaining on the sidelines&quot; in Syria, has damaged US credibility. This advice could not be more ill-timed. The American people and the world community have each lost their appetite for military adventures. The United States could husband its more constrained resources, credibility, and influence for more essential tasks of statecraft, such as ensuring that Beijing cannot turn the South China Sea into a de facto sovereign possession.

    The history of great power rivalries hardly endorses unilateral, unrestrained muscle-flexing. For one thing, such an agenda risks war by generating cycles of hostility and paranoia. More broadly, though, the great lesson of the last quarter-century points to something close to the opposite: when it spurns global institutions and norms and throws its considerable military weight around, the United States destroys its greatest competitive advantage — the prized role as the hub of a predominant network of global power, precisely the role that China hopes and intends to step into. Entering a period of unparalleled demands on its wisdom and pragmatism, the United States may need the advantages of a rules-based order more than ever.
    
    <hr>

    **Dr Michael Mazarr** is a senior political scientist at the RAND Corporation. He was previously Professor and Associate Dean of Academics at the US National War College; President of the Henry L Stimson Center; Senior Fellow at the Center for Strategic and International Studies; Senior Defence Aide on Capitol Hill; and Special Assistant to the Chairman of the Joint Chiefs of Staff. His primary interests are US defence policy and force structure, East Asian security, nuclear weapons and deterrence, and judgment and decision making under uncertainty. His most recent book is [_Leap of Faith: Hubris, Negligence, and America&#39;s Greatest Foreign Policy Tragedy_](https://www.amazon.com/Leap-Faith-Negligence-Americas-Greatest/dp/1541768361).

    <hr>
