extend ../../partials/issue

block append config
  - page.title = "Foreign Aid"

block intro-image
  img.bg-img(data-src="../../img/foreign-aid.jpg")

block intro-caption
  :marked
    Photo: [DFAT / Flickr](https://www.flickr.com/photos/dfataustralianaid/10693642694)

block intro-description
  :marked
    -

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Liberals have not expressed much interest in increasing our
            foreign aid. The then Minister for International Development and
            the Pacific, Senator Concetta Fierravanti-Wells was quoted as that
            the majority of Australians do not support spending any more on
            foreign aid.
 
    .row
      .col-1-2.p-md(data-source="https://data.oecd.org/oda/net-oda.htm")
        include ../../img/aid-oda-gni.svg

      .col-1-2.bg-lt.p-md
        .txt-lg(style="max-width: 400px;")
          :marked
            Currently Australian aid is at an all&#8209;time low, having been
            slashed dramatically from 2013-2014 when it was 0.37% of gross
            national income (or $5.7b), and now makes up only 0.22% of gross
            national income. The international average is 0.31%.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Labor Party has promised to roll back some of the more recent
            Liberal aid cuts and then increase Australian aid spending every
            year under a Labor government.
 
    .row
      .col-1-2.bg-lt
        .img-pan
          img.bg-img(data-src="../../img/ausaid.jpg")
  
      .col-1-2
        .txt-lg.p-md
          :marked
            On average Australians believe that 14% of the national budget is
            spent on aid, and that 10% should be spent on aid. Australia’s aid
            budget is approximately 0.8% of the federal budget.


  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Australia’s aid program has
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  |  always had an electoral challenge –
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | it’s simply not a vote winner

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              This is where our expert will have the opportunity to give their
              impression of the issue and where they think we should be headed.
              This text is 160 words long, which is all we need.

              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat. Duis autem vel eum iriure dolor in hendrerit
              in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.

              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
