extend ../../partials/issue

block append config
  - page.title = "Foreign Aid"

block intro-image
  img.bg-img(data-src="../../img/foreign-aid.jpg")

block intro-caption
  :marked
    Photo: [DFAT / Flickr](https://www.flickr.com/photos/dfataustralianaid/10693642694)

block intro-description
  :marked
    Australian aid spending is at an all-time low, having been cut from
    2013–14, when it was budgeted at 0.37% of gross national income (or $5.7
    billion) to 0.21% (or $4 billion) of gross national income. Today the
    international average is 0.31%. Foreign aid has also been reoriented
    towards the Pacific as part of Scott Morrison’s Pacific ‘step-up’, further
    reducing Australia’s aid commitment to the rest of the&nbsp;world.

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            Despite successive cuts to the aid budget, the Coalition has no
            intention of increasing foreign aid. Assistant Minister for
            International Development and the Pacific Senator Anne Ruston has
            said: “We need to convince Australians that our investment overseas
            is money spent for them, not money taken from them.”

        .txt-source
          :marked
            Senator Anne Ruston’s speech *[→]*

            [→]: https://ministers.dfat.gov.au/ruston/speeches/Pages/2018/ar_sp_181031.aspx

    .row        
      .col-1-2.pv-md.bg-hl.txt-ff
        .ph-xl
          .p-xs.txt-lg
            :marked
              Lowy Institute polling shows that Australians believe 14% of the
              national budget is spent on aid, and that 10% should be spent on
              aid. In 2018 Australia’s actual aid spending was approximately
              0.8% of the federal budget.<sup>[1]</sup>

              [1]: https://www.lowyinstitute.org/publications/2018-lowy-institute-poll 

      .col-1-2.txt-left
        .pv-md(style="width: 100%")
          .pv-xs.txt-sans.ph-xl
            span Think is actually spent on aid
            .bar-wrap
              .bar.bg-hl(style="width: 100%")
                .bar-label.txt-muted 14%

            span Think should be spent on aid
            .bar-wrap
              .bar.bg-hl(style="width: 71.4285714286%")
                .bar-label.txt-muted 10%

            span Actual aid budget
            .bar-wrap
              .bar.bg-hl(style="width: 5.7142857143%")
                .bar-label.txt-muted 0.8%
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Australian Labor Party has promised to roll back some of the
            more recent government aid cuts and then increase Australian aid
            spending every year, without specifying any clear targets.
 
        .txt-source
          :marked
            Shadow Foreign Minister Penny Wong’s media release  *[→]*

            [→]: http://www.pennywong.com.au/media-releases/labor-to-rebuild-australias-proud-record-on-aid/

    .row
      .col-1-2.p-md
        .txt-md.ph-md(style="max-width: 15.75em")
          :marked
            The Australian Greens want foreign aid increased to 0.7% of gross
            national income over the next decade, in line with UN targets.
            This would be approximately $12 billion in real terms, putting
            Australia in the top six donor countries in the OECD.<sup>[2]</sup>

            [2]: https://greens.org.au/sites/greens.org.au/files/20160614_Overseas%20Aid%20and%20Development.pdf
 
      .col-1-2
        .img-pan
          img.bg-img(data-src="../../img/ausaid.jpg")

        .caption.hidden-sm.caption-dk.txt-ff
          p Photo: Australian Aid Photolibrary / Wikimedia Commons
  

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                
                .txt-xxl.pv-xs What Our Expert Says
                
                .txt-sm.txt-tu.txt-expert-author
                  | Annmaree O’Keeffe AM<br>
                  span.txt-mt Lowy Institute Nonresident&nbsp;Fellow

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-480(style="max-width: 13em")
                span.bg-ff.bg-ffs.txt-dk
                  | Australia’s aid program has always been an electoral 
                  | challenge — it is simply not a vote&nbsp;winner.

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            Australia’s aid program has always been an electoral challenge — it
            is simply not a vote winner. Not enough Australians understand its
            value. In the absence of any definitive election statement about
            its future aid program, the Coalition government’s actions since
            coming to power in 2013 — including the merging of AusAID with DFAT
            and decimation of the aid budget — are the best indicators of what
            its future aid program will look like.

            The Australian Greens are aiming for an unreachable 0.7% of gross
            national income (GNI) on aid, a UN target since 1970 that has been
            aspired to by many nations but achieved by only a handful. It is a
            straw-man promise appealing to an ideal rather than to the
            possible.

            The Australian Labor Party sees an opportunity to present itself as
            the aid program’s champion by promising to reverse the downward
            spiral and increase the budget/GNI ratio every year it is in
            office. As for a target, however, there isn’t one; not even a
            return to the Rudd/Gillard government promises of a 0.5%/GNI
            target, which was never reached.

            The ALP does recognise the deleterious effect of the Abbott
            government’s amalgamation of DFAT and AusAID on the quality of the
            aid program. While not promising to resurrect AusAID, there is a
            commitment to rebuild Australia’s aid and development capability.
