extend ../../partials/issue

block append config
  - page.title = "Foreign Aid"

block intro-image
  img.bg-img(data-src="../../img/foreign-aid.jpg")

block intro-caption
  :marked
    Photo: [DFAT / Flickr](https://www.flickr.com/photos/dfataustralianaid/10693642694)

block intro-description
  :marked
    Australia’s foreign aid has fallen significantly in recent years, and in
    the 2019-2020 budget is no exception. Next year’s budget leaves Australian
    foreign aid down 27% from the 2013-2014 budget, cut to 0.21% of Gross
    National Income. Foreign aid has also been re-oriented towards the Pacific
    as part of Scott Morrison’s Pacific ‘Step-up’, further reducing Australia’s
    aid commitment to the rest of the world.

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Coalition has not expressed much interest in increasing foreign
            aid. On 16 April 2018 the then Minister for International
            Development and the Pacific, Senator Concetta Fierravanti-Wells,
            was quoted as saying that the majority of Australians do not
            support spending any more on foreign aid.


        .txt-source
          :marked
            Watch Senator Fierravanti-Wells’ speech *[→][1]*

            [1]: https://www.odi.org/events/4551-australias-vision-international-development

 
    .row
      .col-1-2.p-md(data-source="https://data.oecd.org/oda/net-oda.htm")
        include ../../img/aid-oda-gni.svg

      .col-1-2.bg-lt.p-md
        .txt-lg(style="max-width: 400px;")
          :marked
            Australian aid spending is at an all&#8209;time low, having been
            slashed dramatically from 2013-2014 when it was 0.37% of gross
            national income (or $5.7b) to 0.21% of gross national income. Today
            The international average is 0.31%.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Australian Labor Party has promised to roll back some of the
            more recent Liberal aid cuts and then increase Australian aid
            spending every year under a Labor government.
 
        .txt-source
          :marked
            Shadow Foreign Minister Penny Wong’s media release  *[→][1]*

            [1]: http://www.pennywong.com.au/media-releases/labor-to-rebuild-australias-proud-record-on-aid/

    .row
      .col-1-2.bg-lt
        .img-pan
          img.bg-img(data-src="../../img/ausaid.jpg")
  
      .col-1-2.pv-md
        .txt-left.ph-xl
          .pv-xs.txt-sans
            span Think is actually spent on aid
            .bar-wrap
              .bar.bg-hl(style="width: 100%")
                .bar-label.txt-muted 14%

            span Think should be spent on aid
            .bar-wrap
              .bar.bg-hl(style="width: 71.4285714286%")
                .bar-label.txt-muted 10%

            span Actual aid budget
            .bar-wrap
              .bar.bg-hl(style="width: 5.7142857143%")
                .bar-label.txt-muted 0.8%

          .pv-xs.txt-md
            :marked
              Australians believe 14% of the national budget is spent on aid,
              and that 10% should be spent on aid. Australia’s actual aid
              spending is approximately 0.8% of the federal budget.

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Australia’s aid program has
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  |  always had an electoral challenge –
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | it’s simply not a vote winner

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              Australia’s aid program has always been an electoral challenge –
              it’s simply not a vote winner. Not enough Australians understand
              its value. In the absence of any definitive election statement
              about its future aid program, the Coalition Government’s actions
              since coming to power in 2013 – (including the abolition of the
              aid program’s expert agency and decimation of the aid budget) –
              are the best indicators of what its future aid program will look
              like.
              
              The Australian Greens are aiming for an unreachable 0.7% of gross
              national income (GNI) spending on aid – a UN target since 1970
              that has been aspired to by many nations but achieved by only a
              handful in almost 50 years. It is a straw-man promise appealing to
              an ideal rather than to the possible.
              
              The Australian Labor Party has on seized the raiding of the aid
              budget under the Coalition Government. The ALP sees an opportunity
              to present itself as the aid program’s champion by promising to
              reverse the downward spiral and increase the budget/GNI ratio
              every year it is in office. As for a target, there is none; not
              even a return to the Rudd/Gillard Government promises of a
              0.5%/GNI target, which was also never reached.
              
              Where the ALP does stand out is its recognition of the deleterious
              effect of the Abbott Government’s abolition of AusAID on the
              quality of the aid program. While not promising to resurrect
              AusAID, there is a commitment to rebuild the development
              capability of the officials responsible for managing the program.
              
              Regardless of which party wins the upcoming election, it will take
              decades for Australia’s foreign aid to recover in size and
              influence.

          .txt-sm.txt-tu
            | Annmaree O’Keeffe AM<br>
            span.txt-mt Nonresident Fellow
