extend ../../partials/issue

block append config
  - page.title = "Trade Policy"

block intro-image
  img.bg-img(data-src="../../img/trade.jpg")

block intro-caption
  :marked
    Photo: [chuttersnap / unsplash](https://unsplash.com/photos/G7PV6gd-w4g)

block intro-description
  :marked
    Trade remains crucial to Australia’s prosperity. Our exports have helped to
    fuel China’s rapid growth while in turn we import a bevy of items, among
    them cars, petroleum and computers, from around the world. Ensuring our
    ongoing freedom of trade is an important element of Australian foreign
    policy.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Liberal-National Coalition argues that Australia is a trading
            nation, and that our exports are crucial to the economy’s health.
            The Coalition Government has signed multiple bilateral free trade
            agreements and is working on others.

        .txt-source
          :marked
            Coalition media release *[→][1]*

            [1]: https://foreignminister.gov.au/releases/Pages/2018/mp_mr_181122.aspx

 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/wine.jpg")
        .txt-xl.p-md
          .pv-sm
            | In 2018, Australia exported&nbsp;approximately
            br
            span(data-view="counter") 850 million
            |  litres of wine

          .txt-sm.txt-tu.pv-sm
            | That’s enough to fill 340 Olympic swimming pools
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Australian Labor Party believes trade is critical to Australia.
            It traditionally favours multilateral trade agreements over
            bilateral deals, though not exclusively. Labor may seek to
            renegotiate the landmark Trans-Pacific Partnership if it forms
            government.

        .txt-source
          :marked
            The Shadow Minister for Trade and Investment’s speech *[→][1]*

            [1]: https://www.jasonclare.com.au/media/speeches/4116-second-reading-speech-a-fair-go-for-australians-in-trade-bill-2018            
 
    .row
      .col-fw.bg-lt.frame.p-md
        include ../../img/cptpp.svg

        .txt-lg(style="max-width: 720px")
          :marked
            The Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership (the successor to the TPP agreement abandoned by
            President Trump), which Australia joined in 2018, is the third
            largest free trade zone worldwide.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | The entire global trading system  
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | is under enormous pressure due to the 
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | actions of the Trump administration

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              There is considerable consensus between the major parties on
              pursuing broadly open trade and investment policies,
              notwithstanding some specific areas of disagreement.

              In a difficult international environment, the Coalition
              government did well to work with other countries, notably Japan,
              to get the Comprehensive and Progressive Agreement for
              Trans-Pacific Partnership (CPTPP) over the line after the US
              withdrew from the earlier version, know as TPP. Labor has
              supported the CPTPP but taken issue with certain elements,
              notably the waiving of requirements to test the local labour
              market before allowing in temporary foreign workers, and the
              inclusion of investor state dispute settlement (ISDS) provisions
              which could allow foreign firms to effectively sue the Australian
              government over changes in domestic policy.

              Though politically important for Labor, the economic consequences
              of reinstating labour market testing would not be especially
              material for either local workers or businesses. ISDS is a
              politically contentious issue in many countries and is of
              questionable value in terms of actually facilitating greater
              cross-border investment.

              The big challenge for whoever wins government will be pursuing
              Australia’s economic interests in a global context that has
              become vastly more complex and difficult. The TPP almost didn’t
              survive the withdrawal of the US. The deal is now in place but
              expanding it to new members – a key original goal – will be
              difficult without US involvement. The Regional Comprehensive
              Economic Partnership offers another important prospective
              mega-deal involving 15 Asian economies, including China and
              India. But negotiations have proven painfully difficult.
              Meanwhile, the entire global trading system is under enormous
              pressure due to the actions of the Trump administration, which
              could see the WTO and the global rules it embodies begin to fray.
              That would be detrimental to Australia’s interests as a mid-sized
              trading nation.


          .txt-sm.txt-tu
            | Roland Rajah<br>
            span.txt-mt Director, International Economy Program
