extend ../../partials/issue

block append config
  - page.title = "Trade Policy"

block intro-image
  img.bg-img(data-src="../../img/trade.jpg")

block intro-caption
  :marked
    Photo: [chuttersnap / unsplash](https://unsplash.com/photos/G7PV6gd-w4g)

block intro-description
  :marked
    Open trade and investment is crucial to Australia’s prosperity. It has
    helped fuel Australia’s enviable record of uninterrupted economic growth,
    created jobs, and given Australians access to cheaper and better imports
    such as cars, computers, and smart phones. Promoting an open global economy
    is an important element of Australian foreign&nbsp;policy.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-mmd.txt-border.ph-md.txt-left
          :marked
            The Liberal–National Coalition has placed a strong emphasis on
            securing new trade deals. The Coalition has signed bilateral
            agreements with China, Japan, and Korea as well as the regional
            Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership (the successor to the TPP agreement abandoned by
            President Trump in 2017). A bilateral deal with Indonesia signed in
            March 2019 is awaiting ratification. The Coalition is also pursuing
            deals with the European Union and United Kingdom, and is
            participating in continued negotiations for the Regional
            Comprehensive Economic Partnership.

        .txt-source
          :marked
            Trade Minister Simon Birmingham’s address to the Asia Society *[→]*

            [→]: https://www.senatorbirmingham.com.au/leaders-on-asia-keynote-address-asia-society-sydney-five-years-of-strengthening-australia-through-trade-and-investment/

    .row
      .col-fw.txt-ff.frame
        .img-pan.bg-img-abs
          img.bg-img(data-src="../../img/currency.jpg")
        .txt-lg.p-sm(style="max-width: 21em")
          :marked
            Australia trades almost three times more with China than with the
            United States but American investment in Australia is 14 times
            larger than that of China.<sup>[1]</sup>&thinsp;<sup>[2]</sup>

            [1]: https://dfat.gov.au/trade/resources/trade-at-a-glance/pages/html/two-way-trading-partners.aspx
            [2]: https://dfat.gov.au/trade/resources/investment-statistics/Pages/statistics-on-who-invests-in-australia.aspx
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Australian Labor Party believes trade is critical to Australian
            prosperity and says it would prioritise deals with the European
            Union and United Kingdom as well as concluding the Regional
            Comprehensive Economic Partnership. However, Labor has also
            questioned past trade deals, particularly on issues such as worker
            protections. Labor says it will seek to renegotiate parts of the
            new Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership if it wins the election.<sup>[3]</sup>

            [3]: https://www.afr.com/news/politics/indonesia-fta-in-doubt-as-labor-tightens-trade-rules-20181015-h16mp4

        .txt-source
          :marked
            Labor’s policy on trade agreements *[→]*

            [→]: https://www.alp.org.au/policies/better-and-fairer-trade-agreements/
 
    .row
      .col-fw.bg-lt.frame.p-md
        include ../../img/cptpp.svg

        .txt-lg(style="max-width: 21em")
          :marked
            In 2018 Australia joined the Comprehensive and Progressive Agreement
            for Trans-Pacific Partnership, the third-largest free trade 
            zone&nbsp;worldwide.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says

                .txt-sm.txt-tu.txt-expert-author
                  | Roland Rajah<br>
                  span.txt-mt Director, International Economy&nbsp;Program

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-480
                span.bg-ff.bg-ffs.txt-dk
                  | The entire global trading system  
                  | is under enormous pressure due to the 
                  | actions of the Trump&nbsp;administration

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            There is considerable consensus between the major parties on
            pursuing broadly open trade and investment policies,
            notwithstanding some specific areas of disagreement.

            In a difficult international environment, the Coalition government
            did well to work with other countries, notably Japan, to deliver
            the Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership (CPTPP) after the United States withdrew from the
            earlier version, the TPP. Labor has supported the CPTPP and remains committed to open trade.
            But it has taken issue with certain elements, particularly the lack
            of transparency during negotiations, the waiving of requirements to
            test the local labour market before allowing temporary foreign
            workers in, and the inclusion of investor state dispute settlement
            (ISDS) provisions that could allow foreign firms to effectively sue
            the Australian Government over changes in domestic policy.

            Ultimately, the economic consequences of Labor’s proposed changes
            in these areas will probably be marginal. But it could prove
            helpful in strengthening public confidence in open trade at a time
            when populism is driving protectionist thinking in many parts of
            the world. Labor has, however, signalled changes to temporary work
            visas, which could have more substantial implications than simply
            reinstating labour market testing requirements in trade agreements.

            The big challenge for the party that wins government will be
            pursuing Australia’s economic interests in a more complex and
            difficult environment. The TPP almost didn’t survive the withdrawal
            of the United States. The CPTPP is now in place but expanding it to
            new members — a key original goal — will be difficult without US
            involvement. The Regional Comprehensive Economic Partnership offers
            another important prospective mega-deal involving 16 countries,
            including China and India. But negotiations have proven painfully
            difficult. Meanwhile, the entire global trading system is under
            enormous pressure due to the actions of the Trump administration,
            which could see the World Trade Organization and the global rules
            it embodies begin to fray. That would be detrimental to Australia’s
            interests as a mid-sized trading nation. Australia will need to
            work closely with other like-minded countries if a feasible
            solution is to be reached.
