extend ../../partials/issue

block append config
  - page.title = "Trade Policy"

block intro-image
  img.bg-img(data-src="../../img/trade.jpg")

block intro-caption
  :marked
    Photo: [chuttersnap / unsplash](https://unsplash.com/photos/G7PV6gd-w4g)

block intro-description
  :marked
    Trade remains crucial to Australia’s prosperity. Our exports have helped to
    fuel China’s rapid growth while in turn we import a bevy of items, among
    them cars, petroleum and computers, from around the world. Ensuring our
    ongoing freedom of trade is an important element of Australian foreign
    policy.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Liberal-National Coalition argues that Australia is a trading
            nation, and that our exports are crucial to the economy’s health.
            And they recognise the importance of increasing trade with India,
            at least in principle.
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/wine.jpg")
        .txt-xl.p-md
          .pv-sm
            | In 2018, Australia exported&nbsp;approximately
            br
            span(data-view="counter") 850 million
            |  litres of wine

          .txt-sm.txt-tu.pv-sm
            | That’s enough to fill 340 Olympic swimming pools
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Australian Labor Party believes trade is important to
            Australia. Labor may seek to renegotiate the landmark Trans-Pacific
            Partnership if it forms government.
 
    .row
      .col-fw.bg-lt.frame.p-md
        include ../../img/cptpp.svg

        .txt-lg(style="max-width: 720px")
          :marked
            The Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership (the successor to the TPP agreement), which Australia
            joined in 2018, is the third largest free trade zone worldwide.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              There is considerable consensus between the major parties on
              pursuing broadly open trade and investment policies,
              notwithstanding some specific areas of disagreement. In a
              difficult international context, the Coalition government did
              well to work with other countries, notably Japan, to get the
              CPTPP over the line after the US withdrew. Labor has supported
              the CPTPP but taken issue with certain elements, notably the
              waiving of labour market testing for temporary foreign workers
              and the inclusion of investor state dispute settlement (ISDS)
              provisions.
              
              Though politically salient, the economic consequences of
              requiring labour market testing may not be especially material.
              Firms generally prefer to use local labour where they can, other
              visa requirements to avoid undercutting the local labour market
              still apply, and existing labour market testing rules are in any
              case not overly stringent.
              
              With regard to ISDS, many economists, including Australia’s
              Productivity Commission, question whether this actually
              facilitates much cross-border investment, especially enough to
              justify the risk of foreign companies challenging government
              policies or otherwise causing ‘regulatory chill’ detrimental to
              the public interest in areas like health and the environment.
              Having said this, the CPTPP actually replaced existing ISDS
              provisions in other agreements while adding more protections
              aimed at preventing such problems.
              
              Labor has also said it would change the way future free-trade
              agreements are negotiated to bring more transparency around the
              process and independent assessment of the potential economic and
              social impacts. These are useful steps to strengthen community
              confidence in such agreements.

          .txt-sm.txt-tu
            | Roland Rajah<br>
            span.txt-mt Director, International Economy Program
