extend ../../partials/issue

block append config
  - page.title = "Trade Policy"

block intro-image
  img.bg-img(data-src="../../img/trade.jpg")

block intro-caption
  :marked
    Photo: [chuttersnap / unsplash](https://unsplash.com/photos/G7PV6gd-w4g)

block intro-description
  :marked
    Trade remains crucial to the ongoing prosperity of Australia. Our exports
    have helped to fuel China’s rapid growth while in turn we import a bevy of
    items, among them cars, petroleum and computers, from around the world.
    Ensuring our ongoing freedom of trade is an important element of Australian
    foreign policy.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            The Liberals argue that Australia is a trading nation, and that our
            exports are crucial to the economy’s health. And they recognise the
            importance of increasing trade with India, at least in principle.
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        .txt-xl.p-md
          .pv-sm
            | In 2018, Australia exported&nbsp;approximately
            br
            span(data-view="counter") 850 million
            |  litres of wine

          .txt-sm.txt-tu.pv-sm
            | That’s enough to fill 340 Olympic swimming pools
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 460px")
          :marked
            Labor believes trade is important to Australia, but one possible
            wrench in the works is the possibility of Labor seeking to
            renegotiate the landmark Trans-Pacific Partnership if it forms
            government.
 
    .row
      .col-fw.bg-lt.frame.p-md
        include ../../img/cptpp.svg

        .txt-lg(style="max-width: 720px")
          :marked
            The Comprehensive and Progressive Agreement for Trans-Pacific
            Partnership (the successor to the ill-fated TPP agreement) which
            Australia joined in 2018, is the third largest free trade zone
            worldwide.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              There is considerable consensus between the major parties on
              pursuing broadly open trade and investment policies,
              notwithstanding some specific areas of disagreement. In a
              difficult international context, the Coalition government did
              well to work with other countries, notably Japan, to get the
              CPTPP over the line after the US withdrew. Labor for its part
              has supported the CPTPP but taken issue with certain elements,
              notably the waiving of labour market testing for temporary
              foreign workers and the inclusion of investor state dispute
              settlement (ISDS) provisions.
              
              Though politically salient, the economic consequences of any
              changes in these areas may not be especially material. Firms
              generally prefer to use local labour where they can, so mandating
              labour market testing may not change much. With regard to ISDS,
              many economists, including Australia’s Productivity Commission,
              question whether this adds any value in terms of facilitating
              greater cross-border investment, especially enough to justify the
              risks in terms of the potential for foreign companies to
              challenge government policies in the legitimate public interest
              or otherwise cause ‘regulatory chill’. In any case, ISDS has
              always been a politically tough sell in many countries and the
              international tide might now be turning against seeking to
              include it in future agreements.
              
              Labor has also said it would change the way future agreements
              are negotiated to bring more transparency around the process and
              independent assessments of the potential economic and social
              impacts. While this could complicate deal making in the
              short-term, these are useful steps in strengthening community
              confidence that such agreements are indeed in the broad interests
              of the Australian public. Lowy Institute polling suggests that
              attitudes in Australia are largely favourable to open trade and
              investment. But this cannot be taken for granted given the
              backlash against globalisation seen elsewhere in the world.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
