.row
  .col-fw.bg-hl.txt-ff.num-lf
    .txt-center(style="max-width: 600px")
      .txt-title
        | The 2019 Indonesian Election in 12 Facts
      .pv-md
        .sine-dk
      .txt-sm.txt-tu.ph-sm
        | Why Indonesian elections are
        | unlike any other in the world

.row
  .col-fw.bg-ff
    .block
      dl
        dt.txt-sm.txt-tu Research
        dd Ben Bland

        dt.txt-sm.txt-tu Design
        dd Stephen Hutchings

      a.txt-tu.txt-sm.txt-bare(href="https://www.lowyinstitute.org/") 
        | Lowy Institute
