- var response = page.attributes.map[0] < 8

footer.mx-auto.article-w
  if response
    .md This article is a response to the following articles
    ul
      each i in page.attributes.map
        li= page.feature.articles[i-1].title  
  else
    .md This article is mentioned in the following response articles  
    ul
      each i in page.attributes.map
        li= page.feature.responses[i-8].title
