//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Australian Security and Defence Policy"
  - page.expert = "Sam Roggeveen"
  - page.expertrole = "Director, International Security Program"

block intro-image
  img.bg-img(data-src="../../img/defence2.jpg")

block intro-caption
  :marked
    Photo: <a href="https://www.flickr.com/photos/halans/10098052345/">Halans / Flickr</a>

block intro-description
    :marked
      Australian Security and Defence Policy

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              The year 2020 will mark the birth of the ‘Asian Century’, just not in the way many expected it. Asian economies were on track this year to become larger than the rest of the world combined. But this economic miracle has been eclipsed by an altogether more inauspicious start to the defining role Asia will play in the 21st century. History will remember 2020 instead for a once-in-a-century pandemic which emerged out of China, Asia’s newly minted superpower, and reduced the international community to its constituent parts as countries turn inwards to fight an invisible enemy.  

              The rapid global spread of COVID-19 will hasten a rethink, already underway, about the global promise of Asia’s sunlit uplands. Hyper-globalisation, in which the region prospered, has likely peaked. A counter current will reinforce the importance of nation states and self-sufficiency. And an uncomfortably Darwinian zeitgeist seems likely to sharpen the contrasts between weak and strong in Asia.

              Above all, this crisis is a test of internal sovereignty and resilience. The coronavirus exposes the competence, and lack thereof, of governments and institutions. It reminds us that a country’s ability to project power and leadership abroad rests first and foremost on the capacity to govern competently at home. Dictators and democrats, nativists and liberals will no doubt all see evidence in this crisis for the urgency of their views. However, in the words of Francis Fukuyama, “the crucial determinant in performance will not be the type of regime, but the state’s capacity and, above all, trust in government.”

              The fear that the West is in inexorable decline as a result of this crisis is likely overdone. Western Europe and the United States were clearly unprepared for what has hit them, but they remain some of the oldest, richest and most capable states in the international system. The crisis even has the potential to spur substantial new investments in public goods. Historically, projects like the European Union have benefited from destabilising shocks as a call to action and reform. Countries with the resources to fight the pandemic on two fronts — containing the health emergency and the economic fallout — will recover fastest. Australia should be among them.

              However, it is far from clear how this will play out in developing Asia. State weakness has obvious implications for the balance of power in the region — between China and the rest. An uncontrolled health crisis followed by another deep global economic recession may be a far more existential threat to the stability of emerging middle powers in Southeast Asia and even India, the only democracy with the demographic heft to match China. Moreover, without a truly global public health infrastructure, the economic rise of many smaller countries may simply prove unsustainable. 

              It follows that — even as successful powers move towards greater self-sufficiency — they will have little choice but to come out of their shells and reinvest in global institutions and hard-headed internationalism. True, the record of the United Nations and its specialised agencies does not always inspire complete confidence. But if the United Nations didn’t exist, we would have to invent one for this multipolar world. 
