//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Southeast Asia"
  - page.expert = "Ben Bland"
  - page.expertrole = "Director, Lowy Institute Southeast Asia Program"

block intro-image
  img.bg-img(data-src="../../img/se-asia-1.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://unsplash.com/photos/ToRas8dOxh8">Nisuda Nirmantha / Unsplash</a>

block intro-description
    :marked
      Authoritarianism will intensify in Southeast Asia but effective governance won’t necessarily follow.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Cambodian leader Hun Sen implementing new laws to boost his powers. Myanmar forcing internet service providers to block independent media. And Philippines President Rodrigo Duterte threatening to shoot those who defy him. As political scientists debate whether the COVID-19 pandemic will be a boon for authoritarianism, Southeast Asia’s criticism-shy leaders and their draconian security officials are seizing the day.

              Southeast Asia is not a good lab to test how democratic and authoritarian governments manage crises. For while the region incorporates many flavours of authoritarianism (from Communism to military rule and a sultanate to a technocracy), there is not a single consolidated liberal democracy. Only Indonesia and the Philippines hold regular free, fair and genuinely contestable elections, while struggling to sustain democratic principles of governance. So the better question to ask is: how will Southeast Asia’s authoritarians fare in the face of this health, political and economic crisis?

              It is already clear that many Southeast Asian leaders are trying to ratchet up their powers, in the face of this pandemic. At a time when many people are afraid for their lives and even Western democracies are putting severe limits on personal movement, people in Southeast Asia are likely to accept this in the short term.

              But this does not necessarily presage a dark and dictatorial future for Southeast Asia. In the longer term, people will judge their governments on their effectiveness in mitigating the health and economic impacts of COVID-19. Performance legitimacy, when authoritarian governments sustain power by delivering for their citizens, is just as important when it comes to managing a pandemic as it is when managing the economy. 

              Apart from the Communist dictatorships in Laos and Vietnam, and recently Hun Sen’s Cambodia, citizens in the rest of Southeast Asia have the chance to register their discontent in some form of election, even if many cannot change their governments. There are also think-tanks, media outlets and civil society organisations, albeit of varying degrees of quality and independence. While these feedback mechanisms are imperfect, they can at least shine a light on governments that are over-reaching but under-performing. 

              So far Singapore, the only rich nation in Southeast Asia, has predictably led the pack in responding to this crisis. Singapore’s paternalistic and interventionist People’s Action Party will hope to capitalise on its successful management of the pandemic in a general election due by April 2021. Vietnam’s Communist Party has been the surprise early performer, slowing the spread of the outbreak early on with draconian quarantine procedures and strong national leadership. But their authoritarian neighbours in military-dominated Myanmar and Thailand have been flailing. In Indonesia and the Philippines, weak governance and poor public messaging have undermined the mitigation efforts. Indonesian President Joko Widodo, like his counterpart the Philippines, looks ill-suited to crisis management. 

              We are still in the opening stages of a long and drawn-out crisis. But Southeast Asian leaders and officials with deep-seated authoritarian instincts will undoubtedly continue to grab more power in the months ahead. Only some leaders will use their enhanced powers effectively to protect the lives and livelihoods of their people. The rest will have to hope for the forbearance of their citizens. Otherwise, they will face a backlash at the ballot box – or on the streets.
