extend ../../partials/issue

block append config
  - page.title = "Climate Change"

block intro-image
  img.bg-img(data-src="../../img/climate.jpg")

block intro-caption
  :marked
    Photo: [Takver / Flickr](https://www.flickr.com/photos/takver/5531144919)

block intro-description
  :marked
    Climate change has become increasingly important to the Australian
    electorate: 58% of Australian view climate change as a ‘critical threat’
    and successive governments have grappled with the best method to 
    curb&nbsp;emissions.

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Liberal–National Coalition has committed to reducing emissions
            via a competition policy using various government funds and
            agencies set up to reduce emissions by investment, loans and
            grants. The aim is for an emissions reduction of 26-28% below 2005
            levels. The Coalition also highlighted Australia’s success in
            meeting or exceeding the Kyoto protocol targets. Countries earn
            credits for exceeding the emissions targets at Kyoto which can 
            be carried forward to meet the Paris Climate Agreement targets.

        .txt-source
          :marked
            Coalition plan for the environment *[→][1]*

            [1]: https://www.liberal.org.au/our-plan/environment
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/coal-station.jpg")
        .caption.txt-dk
          :marked
            Photo: [Pete the Poet / Flickr](https://www.flickr.com/photos/17674930@N07/28793387965)
        .txt-lg.p-md(style="max-width: 720px;line-height: 1")
          .bg-bar.bg-dk(style="width: 58%")
          span(data-view="counter") 58% of Australians
          |  rated climate change as a critical threat to Australia's vital
          | interests in 2018, third of eleven possible threats behind
          | international terrorism and North Korea’s nuclear program.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Australian Labor Party would introduce an emissions credit
            scheme to meet a 45% target for emissions reduction by 2030.
            Labor would also lower the emissions cap of 100,000 tonnes of
            carbon per year to 25,000 tonnes.

        .txt-source
          :marked
            Labor statement on renewable energy *[→][1]*

            [1]: https://alp.org.au/media/1461/181122-energy-industry-final-mr.pdf

    .row
      .col-1-2
        .txt-lg.p-md.mx-480
          | Australian emissions per capita have 
          | fallen from their peak in 2007, but Australia’s 
          | total emissions have risen since 2012.

      .col-1-2.p-md.bg-lt
        .txt-lg.txt-border.ph-md.txt-left
          :marked
            The Australian Greens are aiming for net zero or even negative
            emissions by 2040, as well as binding national emissions targets
            and a moratorium on new coal and gas power stations.

        .txt-source
          :marked
            Greens’ climate change & energy policies *[→][1]*

            [1]: https://greens.org.au/policies/climate-change-and-energy
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                
                .txt-xxl.pv-xs What Our Expert Says

                .txt-sm.txt-tu.txt-expert-author
                  | Natasha Kassam<br>
                  span.txt-mt
                    | Research Fellow, Diplomacy and Public 
                    | Opinion&nbsp;Program

          .row.bg-hl
            .col-fw
              include ../../img/climate-change-poll.svg

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            The Lowy Institute Poll in 2018 found that 59% of Australians
            believed global warming was a serious and pressing problem. They
            agree we should begin taking steps now, even if this involves
            significant costs.
            
            The last time support for action on climate change was at this
            level, it was 2008. Kevin Rudd had just won an election after
            declaring climate change “the most urgent moral challenge of our
            generation”.
            
            But in the intervening decade, the momentum behind the climate
            change movement dissipated. Rudd abandoned his emissions trading
            scheme and lost his job. Julia Gillard’s carbon price was
            repealed following the election of a climate sceptic, Tony
            Abbott. He was replaced by Malcolm Turnbull, who had previously
            crossed the floor for Rudd’s policy.
            
            Amid this political infighting and backtracking, public support
            fell away. By 2012, the portion of Australians that believed
            global warming was a “serious and pressing problem” had almost
            halved to 36%. However, support for climate action has rebounded.
            In 2018, four in five Australians said the government should
            focus on renewables, even if this means we may need to invest in
            infrastructure to make the system more reliable.
            
            Schoolkids are striking and #climateelection is trending. The
            Australian summer of 2018-19 was the hottest on record. Support
            for action may not have yet returned to its 2006 high, but
            climate change will again be a major election issue in 2019.
