include slides/_intro
include slides/_gdp-us-ussr
include slides/_gdp
include slides/_australian-exports-by-destination
include slides/_quote-jeff-bader
include slides/_government-structure
//-
include slides/_quote-no-division
include slides/_ivy-league
include slides/_membership
include slides/_gender
include slides/_age
include slides/_quote-state-business
include slides/_party-committees
include slides/_quote-private-business
include slides/_profession
include slides/_chinese-ccp-members
include slides/_foreign-ccp-members
include slides/_east-south-west-north
include slides/_party-structure
include slides/_organisation-bureau
include slides/_united-front
include slides/_propaganda-department
include slides/_commission-discipline
include slides/_video
include slides/_politburo-members
include slides/_ideology
include slides/_ideology-quote
include slides/_party-constitution
include slides/_quote-orwell
include slides/_great-leap-forward
include slides/_cultural-revolution
include slides/_mao-zedong
include slides/_1989
include slides/_fall-of-bo-xilai-and-zhou-yongkang
//- Path to the top
include slides/_path-to-the-top
include slides/_profiles
include slides/_xi-features

include slides/_outro

