extend /partials/layout

block append config
  - page.includeFonts = false
  - page.title = "China’s Communist Party Under Xi Jinping"
  - page.robots = "noindex, nofollow"

block page
  #controls.p-xs.txt-ff
    #pager-progress
      span#pager-index 1
      span#pager-total &ensp;/&ensp;18
    #btn-prev.btn.icon.icon-up
    #btn-next.btn.icon.icon-down
    #btn-fs.btn.icon.icon-expand

  #scroller.bg-dk(
    data-view="scroller"
    data-pager=".pager-page" 
    data-index="#pager-index"
    style="display: none"
  )

    include slides/intro
    include slides/quote-jeff-bader
    include slides/gdp
    include slides/ivy-league
    include slides/membership
    include slides/gender
    include slides/age
    include slides/profession
    include slides/quote-poor-rich
    include slides/east-south-west-north
    include slides/party-structure
    include slides/politburo-members

    //- Path to the top
    include slides/path-to-the-top
    include slides/profiles
    include slides/xi-features
    include slides/video

block customScripts
  style
    include:sass _style.sass

  script(type="text/javascript")
    include:coffee views/type.coffee
    include:coffee views/slide.coffee
    include:coffee views/line.coffee
    include:coffee views/bars.coffee
    include:coffee views/page.coffee
    include:coffee views/video.coffee
    include:coffee views/scroller.coffee

  link(href="https://use.typekit.net/hdu4qmq.css" rel="stylesheet")
