extend /partials/layout

include /partials/the-interpreter/bar-chart

block append config
  - page.title = "Percentage who thought Australia gives too much aid"

block page
  .wrapper(
    ontouchstart=""
    class=written.hyphenCase(page.title)
  )
    +interpreter-bar-chart({
      yaxis: [30, 40, 50, 60],
      xaxis: [
        "Control group",
        "Sober analysis",
        "Alarmism"
      ],
      unit: "%",
      values: [
        [51.78],
        [43.88],
        [42.48]
      ],
      confidence: [
        [[47.74, 55.79]],
        [[39.99, 47.85]],
        [[38.62, 46.45]]
      ],
      yh: 36,
    })

block scripts
