$color-ff: #fff
$color-bk: #000
$color-bl-dk: #002b45
$color-bl-lt: #d4e2e8
$color-gy-lt: #6d777c
$color-gy-dk: #3e4346
$color-qt: #29abe2
$color-hl: #ffc52b

$ls-l: 0.72px
$ls-m: 0.6px
$ls-s: 0.15px

$history-dot-d: 12px
$history-dot-r: 6px

=border-radius($property)
  border-radius : $property
  -moz-border-radius : $property
  -webkit-border-radius : $property
=keyframes($property)
  keyframes: $property
  -webkit-keyframes: $property
  -moz-keyframes: $property
  -o-keyframes: $property
=transform($property)
  transform: $property
  -webkit-transform: $property

.skinny-scrollbar
  position: relative
  scrollbar-height: 0px /* Firefox */
  -ms-overflow-style: none  /* IE 10+ */
  &::-webkit-scrollbar
    height: 0px
    border-radius: 10px
    background: #ccc /* Chrome/Safari/Webkit */
  &::-webkit-scrollbar-thumb
    background: #666 /* Chrome/Safari/Webkit */
    border-radius: 0px

@keyframes grow
  to
    transform: scale(1.75)
    background: rgba($color-bl-dk,0.1)
@keyframes fade
  to
    color: $color-bl-dk
    transform: translateY(-5px)

.history-wrap
  position: relative
  margin-bottom: -15px!important

.history-title
  text-align: center
  text-transform: uppercase
  font-weight: 500
  color: $color-bl-dk

.btnfw,.btnbw
  position: absolute
  bottom: 32px
  width: 24px
  height: 24px
  cursor: pointer
  z-index: 1
  padding: 5px
  background-size: cover
.btnfw
  right: -15px
.btnbw
  left: -15px
  transform: rotate(180deg)
  //display: none

.history-timeline
  position: relative
  display: flex
  align-items: flex-end
  margin: 10px 0 20px
  .tl-date
    text-align: center
.node
  transition: all 300ms
  width: 100%
.event
  color: $color-bl-dk
  max-width: 400px
  margin: 0 auto
  position: relative
  border-radius: .25em
.event-title
  margin: 0.25em 0.75em
  font-weight: 600
  text-align: center
.event-text
  padding: 0 10px

.dot
  content: ''
  position: relative
  background: $color-bl-dk
  width: $history-dot-d
  height: $history-dot-d
  border-radius: $history-dot-d
  transform: translateY(20px)
  .over
    transform: translateY(0px) translateX(0px)
    animation: grow 1.5s ease-out 0s infinite

.line
  height: 4px
  background: $color-bl-dk
  margin: 12px 0
  &-start
    margin-left: 50%
    border-radius: 2.5px 0 0 2.5px
  &-end
    margin-right: 50%
    border-radius: 0 2.5px 2.5px 0

//--------// MEDIA QUERIES //--------//

// At this width, the layout changes from card to flat
@media (min-width: 600px)
  .btnfw,.btnbw
    bottom: -45px
  .btnfw
    right: calc(50% - 40px)
  .btnbw
    left: calc(50% - 40px)
    transform: rotate(180deg)

// At this width, two history nodes are displayed at once.
@media (min-width: 1100px)
  .history-timeline
    justify-content: center
  .node
    width: auto
    flex: 1
    cursor: default
  .event
    width: 95%
    margin: auto
    background: none
    box-shadow: none
    padding: 0
  .over
    display: none
  .node:hover
    .over
      display: block
    .event-text
      animation: fade 0.5s forwards
  .event:after
    display: none

  .skinny-scrollbar
    scrollbar-height: 0 /* Firefox */
    ms-overflow-style: none  /* IE 10+ */
    &::-webkit-scrollbar
      height: 0
      background: transparent /* Chrome/Safari/Webkit */
