$color-ff: #fff
$color-bk: #000
$color-bl-dk: #002b45
$color-bl-lt: #d4e2e8
$color-gy-lt: #6d777c
$color-gy-dk: #3e4346
$color-qt: #519dd7
$color-hl: #ffc52b
$color-bg: #f0f0f0

$ls-l: 0.72px
$ls-m: 0.6px
$ls-s: 0.15px

$history-dot-d: 12px
$history-dot-r: 6px
