extend /partials/layout

include /partials/the-interpreter/bar-chart

block append config
  - page.title = "Annual Growth of UK Trade (CAGR): 1998-2017"

block page
  .wrapper.flex-center(
    ontouchstart=""
    class=written.hyphenCase(page.title)
  )
    +interpreter-bar-chart({
      title: page.title,
      yaxis: [0, 1, 2, 4, 5, 6],
      xaxis: [
        "Goods: Non-EU",
        "Goods: EU",
        "Services: Non-EU",
        "Services: EU"
      ],
      values: [[3.3, 3.4], [0.2, 3.2], [5.6, 4.7], [5.2, 3.0]],
      highlights: {1: "The EU<br>Customs Union" },
      yh: 40,
      legend: [ "Exports", "Imports" ],
      precision: 1
    })

block scripts
