extend /partials/layout

include /partials/the-interpreter/bar-chart

block append config
  - page.title = "Change in EU as partner in trade in vehicles"

block page
  .wrapper.flex-center(
    ontouchstart=""
    class=written.hyphenCase(page.title)
  )
    +interpreter-bar-chart({
      title: page.title,
      yaxis: [30, 50, 70, 90],
      xaxis: [1998, 2017],
      values: [[73.5, 85.1], [44.7, 83.8]],
      yh: 52,
      legend: [
        "Share of exports<span class=\"hidden-sm\"> to EU</span>",
        "Share of imports<span class=\"hidden-sm\"> to EU</span>"
      ] 
    })

block scripts
