extend /partials/layout

include /partials/the-interpreter/bar-chart

block append config
  - page.title = "Share of UK’s food imports arriving from EU"

block page
  .wrapper.flex-center(
    ontouchstart=""
    class=written.hyphenCase(page.title)
  )
    +interpreter-bar-chart({
      title: page.title,
      yaxis: [30, 50, 70, 90],
      xaxis: [1998, 2017],
      values: [[67.8, 62.1], [76.3, 69.9]],
      yh: 52,
      legend: [
        "Food Products",
        "All Products"
      ] 
    })

block scripts
