body {
  background-color: #fff !important;
  user-select: none;
}

.wrapper {
  position: relative;
  font-size: 15px;
}

.chart {
  position: relative;
}

.chart-title {
  text-align: center;
  display: block;
}

.bg-y,
.stroke-y,
.label-y,
.bar-group,
.bar-group-label,
.bar,
.bar-label,
.bar-group-highlight-label,
.bar-label:after,
.bar-group.highlight:before {
  position: absolute;
}

.bar {
  width: 40px;
  bottom: 0;
  margin: 0 4px;
}

.bar-label {
  opacity: 0;
  color: #fff;
  transition: opacity 300ms;
  background-color: inherit;
  padding: 4px;
  line-height: 20px;
  top: -14px;
}

.bar-label:after {
  content: "";
  border: solid transparent;
  border-width: 14px 4px;
  top: 0;
}

.bar-0 .bar-label {
  right: 100%;
  margin-right: 4px;
}

.bar-0 .bar-label:after {
  right: -8px;
  border-left-color: #ff9400;
}

.bar-1 .bar-label {
  left: 100%;
  margin-left: 4px;
}

.bar-1 .bar-label:after {
  left: -8px;
  border-right-color: #31363c;
}

.bar-group: {
}

.bar-group:hover .bar-label {
  opacity: 1;
  z-index: 10;
}

.bar-group.highlight:before {
  content: "";
  background-color: #f5f5f5;
  left: -72px;
  right: -72px;
  bottom: -32px;
  top: -212px;
  z-index: -1;
}

.bar-group-highlight-label {
  left: -64px;
  right: -64px;
  top: -180px;
  text-align: center;
}

.bar-0 {
  right: 0;
  background: #ff9400;
}

.bar-1 {
  left: 0;
  background: #31363c;
}

.bg-y {
  width: 100%;
  height: 0;
}

.label-y {
  color: #999;
  top: -0.7em;
}

.stroke-y {
  border-top: 1px solid #eee;
  left: 32px;
  right: 0;
  top: -1px;
}

.bar-group-label {
  width: 120px;
  left: -60px;
  text-align: center;
  top: 0;
  padding-top: 6px;
}

.legend {
  text-align: center;
  margin-top: 16px;
  line-height: 16px;
}

.legend li {
  display: inline-block;
  margin: 0 8px;
}

.legend .bar {
  width: 16px;
  height: 16px;
  position: static;
  float: left;
  margin: 3px 8px 0 0;
}


@media (max-width: 660px) {
  .bar-group.highlight:before {
    left: -60px;
    right: -60px;
  }

  .bar {
    width: 28px;
  }

  .bars {
    margin: 0 -8%;
    position: relative;
  }
}

@media (max-width: 480px) {
  .wrapper {
    font-size: 14px;
  }

  .bar {
    width: 20px;
    margin: 0 1px;
  }

  .bar-group-label {
    width: 60px;
    left: -30px;
    padding-top: 4px;
    line-height: 1;
  }

  .bar-group.highlight:before {
    left: -32px;
    right: -32px;
    bottom: -36px;
  }

  .legend .bar {
    margin-top: 2px;
  }

  .bar-group-highlight-label {
    left: -24px;
    right: -24px;
  }
}
