extend ../../partials/issue

block append config
  - page.title = "Asylum Seekers"

block intro-image
  img.bg-img(data-src="../../img/asylum-seekers.jpg")

block intro-caption
  :marked
    *After the Vietnam War hundreds of thousands of Vietnamese citizens fled 
    the country as refugees, many by boat. Australia accepted tens of 
    thousands of these&nbsp;refugees.*

    Photo: [manhai / Flickr](https://www.flickr.com/photos/13476480@N07)

block intro-description
  :marked
    Who enters Australia, and how they enter, has long been a topic of intense
    public discussion. Successive Coalition and Labor government have grappled
    with the topics of “Asylum seekers” and “boat people”, now places such as
    Naaru and Manus Island are part of our political lexicon.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Liberal–National Coalition has pledged to “stop the boats”,
            principally by turning back asylum seeker boats, processing asylum
            seekers offshore, and committing to a policy that those who try to
            enter Australia by boat will never be permanently settled.
 
    .row
      .col-fw.bg-hl.txt-ff.frame.p-md
        .img-pan.bg-img-abs
          img.bg-img(data-src="../../img/manus.jpg")
        .txt-lg(style="max-width: 720px")
          span.txt-dk.bg-ff.bg-ffs.pv-xs(style="line-height:1.5")
            | Australia is a signatory to the United Nations 1951 refugee
            | convention and its 1967 protocol. One clause of the treaty states
            | signatories shall not impose penalties on refugees who entered
            | illegally in search of asylum if they present themselves 
            | without&nbsp;delay.

        .caption
          | Detention facilities on Manus Island
          br
          | Photo: DIAC images / Wikimedia Commons
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Australian Labor says it believes in offshore processing, turn
            backs and regional resettlement. There is a particular focus on
            cracking down on people smugglers.
 
    .row
      .col-fw.bg-lt.frame
        .img-pan.bg-img-abs
          img.bg-img.bg-img-top(data-src="../../img/border-force.jpg")
        .p-md.txt-md(style="max-width: 640px")
          span.bg-ff.bg-ffs.pv-xs(style="line-height:1.5").
            In 2015 Australia’s ‘Border Force’ was created from the merger of
            the Australian Customs and Protection Service and components of the
            Department of Immigration and Border Control. Border Force is
            charged with the responsibility of onshore and offshore border
            control as well as related compliance and investigations. It also
            oversees detention operations. Border Force has approximately 5800
            employees.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | The public is divided as to
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | whether asylum seekers should be
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | processed overseas

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              Bipartisan support for tough borders is a longstanding fixture in
              the Australian political scene. And this is unsurprising – the
              annual Lowy Institute Poll has found that Australians strongly
              support the policy of boat turn-backs (71% in 2016).
              
              Australians are, however, less sure about offshore processing.
              The public is divided as to whether asylum seekers should be
              processed overseas, in places such as Nauru, or in Australia.
              
              Public opinion is similarly split when asked whether asylum
              seekers who have been determined to be refugees should or should
              not be allowed to settle in Australia.
              
              But in general, the Lowy Institute Poll has found Australians
              view asylum seekers as a low-order concern when compared to other
              potential threats. Issues including terrorism and climate change
              have consistently ranked as a more critical threat than
              immigrants and refugees.
              
              There is a clear demographic difference in responses too: older
              people are much more likely to see large numbers of immigrants
              and refugees coming into Australia as a critical threat than
              younger people (53% of people aged 45–59, compared with 24% of
              people aged 18-29).
              
              The number of Australians that were ‘very concerned’ about
              unauthorised asylum seekers coming to Australia by boat has been
              surprisingly steady. This was true, even between 2010 and 2013,
              when irregular maritime arrivals reached their peak.
              
              In 2013, when over 20,000 asylum seekers attempted to reach
              Australia by boat, the Lowy Institute Poll asked Australians
              whether the media paid too much attention to the issue. Most
              thought it did.

          .txt-sm.txt-tu
            | Natasha Kassam<br>
            span.txt-mt Research Fellow, Diplomacy and Public Opinion Program
