extend ../../partials/issue

block append config
  - page.title = "Asylum Seekers"

block intro-image
  img.bg-img(data-src="../../img/asylum-seekers.jpg")

block intro-caption
  :marked
    *After the Vietnam War hundreds of thousands of Vietnamese citizens fled 
    the country as refugees, many by boat. Australia accepted tens of 
    thousands of these&nbsp;refugees.*

    Photo: [manhai / Flickr](https://www.flickr.com/photos/13476480@N07)

block intro-description
  :marked
    Who enters Australia, and how they enter, have long been topics of intense
    public discussion. Successive Liberal and Labor government have grappled
    with the topics of “Asylum seekers” and “boat people”, now places such as
    Naaru, Manus Island and Christmas Island are part of our political lexicon.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Liberal Party argues it is tough on boats. It has pledged to
            “stopping the boats”, principally this involves turning back asylum
            seeker boats, offshore processing of asylum seeker applications as
            well as temporary protection visas.
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        .txt-lg(style="max-width: 720px")
          | Australia is a signatory to the United Nations 1951 refugee convention and its 1967 protocol. One clause of the treaty states signatories shall not impose penalties on refugees who entered illegally in search of asylum if they present themselves without delay.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Labor Party takes a firm stance on asylum seekers. Labor has
            stated it believes in offshore processing, turn backs and regional
            resettlement. There is a particular focus on cracking down on
            people smugglers.
 
    .row
      .col-fw.bg-lt.frame
        img.bg-img.bg-img-top.bg-img-abs(data-src="../../img/border-force.jpg")
        .txt-md(style="max-width: 640px")
          span.bg-ff.bg-ffs.pv-xs(style="line-height:1.5").
            In 2015 Australia’s ‘Border Force’ was created from the merger of
            the Australian Customs and Protection Service and components of the
            Department of Immigration and Border Control. Border Force is
            charged with the responsibility of onshore and offshore border
            control as well as related compliance and investigations. It also
            overseas detention operations. Border Force has approximately 5,800
            employees.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .block
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              This is where our expert will have the opportunity to give their
              impression of the issue and where they think we should be headed.
              This text is 250 words long, which is all we need.

              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat. Duis autem vel eum iriure dolor in hendrerit
              in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.

              Duis autem vel eum iriure dolor in hendrerit in vulputate velit
              esse molestie consequat, vel illum dolore eu feugiat nulla
              facilisis at vero eros et accumsan et iusto odio dignissim qui
              blandit praesent luptatum zzril delenit augue duis dolore te
              feugait nulla facilisi. Lorem ipsum dolor sit amet, cons ectetuer
              adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
              laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
              veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
              nisl ut aliquip ex ea commodo consequat.

              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
