//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[3]

block content
  :marked
    Has the scariest drop in rollercoaster Sino--US relations been reached? Closure of consulates in Houston and Chengdu set the scene on 21 and 24 July. Mike Pompeo's speech at the Nixon Library on 23 July hinted at more pressure tactics to come. The narrative was met with fury the following weekend in the [People's Daily](https://policycn.us2.list-manage.com/track/click?u=3fd756a9629015f7becc6e127&id=fbbdb75022&e=7a502d800d) and the [Global Times](https://policycn.us2.list-manage.com/track/click?u=3fd756a9629015f7becc6e127&id=ef8c670d46&e=7a502d800d). 
    
    Beijing is now gaming out a potential Biden electoral victory in November. Not everything will be reset, it is agreed, but in recent weeks some parts of the irrepressible Chinese commentariat have been arguing for a revival of the Deng-era policy of 'hide and bide'  despite explicit 'transcendence' of the concept by Xi Jinping and his close advisors. By hiding and biding, China can oppose the current hegemon --- the United States --- and avoid bidding to undertake the hegemon's responsibilities. The relative policy clout of "hiding and biding" indicates the extent to which China seeks to upturn, replace, or modify the existing global order.
    
    It is too simple-minded to divide Beijing's geopolitics into pro- and anti-hiding and biding, still more to confine attention to the Beijing--Washington rollercoaster. Detailed below is a scheme that divides our grasp of Chinese affairs into more than mere binaries. The left column lists China's political narratives of two years ago. The right column lists those same narratives qualified for 2020.
  
  .pv-md
  
  .txt-center.title Seven Chinas
  .txt-tu.txt-cond.txt-center.txt-italic.pv-xs
    :marked
      Beijing's geopolitical master narratives then and now

  .table-section
    - let content = [ ['Self sufficient civilisation','We generate our own values, march to our own drum','SCS, tech policy, origins of COVID-19 can be adjudicated only by us'], ['Most humiliated nation','A senior civilisation, conquered and despised','Malicious accusations against us justify wolf diplomacy'], ['Leader of the developing world','Among the late developers, we lead','Autocrats stay the course with us'], ['Champion of plurality','We end the era of Western (US) hegemony','We instrumentalise multilateral fora'], ['Sovereign survivor','Leave us to survive as a communist power','We dismiss the regime-change agenda'], ['Last man standing', 'The West is in decline while we have deep pockets','The West can’t preserve its deep pockets post COVID-19 but we can'], ['Herald of the high frontier','We share in and safeguard the global commons','Global warming, COVID-19, the oceans, cyber security can’t be dealt with without us']]
    
    table.seven-chinas: tbody
      each row, i in content
        tr.row-title.txt-center.txt-tu
          td(colspan="3")!= (i+1) + ". " + row[0]
        tr.row-then-now.txt-center
          td!= "<em>2018</em><br>" + row[1]
          td.icon.icon-right-arrow
          td!= "<em>2020</em><br>" + row[2]
          
  .sm.txt-center.txt-italic
    :marked
      Source: [Seven Chinas: A policy framework (CSIS)](https://www.csis.org/analysis/seven-chinas)
  
  .pv-lg
  
  :marked
    Generalising from these points:
    
    **1. Self-confidence is largely for show; relations with the world are tense**
    
    Australia remains (perhaps with Canada) the number one proxy for the United States, threatened with retaliation from Beijing for its ban on Huawei's 5G technology, and more seriously for its actions regarding Hong Kong. Joining operations in the South China Sea demonstrates a reset in Canberra that Beijing had not anticipated.
    
    **2. China has lost massive soft power; restoring it is costly**
    
    This is the case in regard to least developed country (LDC) client states. Treatment of foreigners during the pandemic crisis led to 'mistakes' that, despite denials, amounted to racism in Southern China. Worse still, external venture risks were underpriced. The re-assessment of the Belt and Road Initiative (BRI), the Asian Infrastructure Investment Bank (AIIB), and the BRIC economies, along with the internationalising of China's RMB are now notable in policy subtexts.
    
    **3. Decoupling risk was once rated as zero; Beijing now fears 'Chinalessness'**
    
    'Westlessness' --- a jokey theme of the Munich Security Conference in February 2020 --- amused Beijing. But long-standing belief in Western decline suddenly lost relevance: holes in China's economic picture were made visible by COVID-19. Erstwhile strategic partners are re-costing their exposure to China.
    
    **4. Chinalessness**
    
    This concept of decoupling helps frame answers to: 'Under what circumstances would China compromise on its objectives?' Current measures to further open up financially and technologically are not mere gambits, but reflect anxiety. Closely related is the seventh of the seven Chinas --- 'herald of the high frontiers'. China's desire to build defences in relation to the global commons is again, not a mere tactic, but instead demonstrates a genuine need.
    
    The situation sketched here is highly dependent on historical perspective: Beijing and, above all, Zhongnanhai, is only *relatively* out of wolf-warrior mode, and face must be maintained at all costs (hence insistence on 'baseline thinking'). But other signalling is on our radar.
    
    <hr>
    
    **David Kelly** has researched and taught Chinese studies at ANU, Australian Defence Force Academy, the East Asia Institute (Singapore), Peking University, and the University of Technology Sydney. He is now a principal with China Policy, a Beijing-based information and advisory firm.
