html, body
  height: 100%
  overflow: hidden !important

body
  font-family: Semi, sans-serif
  background: $color-dk

  &:before
    content: ""
    background: url("./img/mask.png")
    background-size: 2000px 1200px
    background-position: center
    pointer-events: none
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 10
    transition: opacity 300ms

  &:fullscreen:before
    opacity: 0

::-webkit-scrollbar
  display: none

svg svg
  overflow: visible

cite
  display: block

#scroller
  overflow: auto
  height: 100%
  scroll-behavior: smooth
  scroll-snap-type: y mandatory
  position: relative
  &.scrolling
    scroll-behavior: initial
    scroll-snap-type: initial

.txt-mono
  font-family: calling-code, monospace
  font-weight: 400
  font-style: normal

.txt-sans
  font-family: Sans, sans-serif
  font-size: 16px

  &.txt-tu
    letter-spacing: 0.1em

.txt-sc
  font-family: "PingFang SC", sans-serif
  font-weight: 500
  font-size: 87.5%
  letter-spacing: 0.09em

strong.txt-sans
  font-weight: 600

.txt-center .line
  margin: 4px auto

.txt-xl
  font-size: 80px
.txt-lg
  font-size: 48px
.txt-md
  font-size: 32px

h4, .txt-sm, small
  font-size: 18px
  letter-spacing: 0.03em
.txt-xs
  font-size: 13px

.txt-bold
  font-weight: 600

.l0
  left: 0
.r0
  right: 0

.posa
  position: absolute

.posr
  position: relative

.fh
  height: 100%

.fw
  width: 100%

.video-title
  opacity: 0
  transition: all 600ms

  video.paused + &
    opacity: 1

video
  transition: all 600ms

  &.paused
    opacity: 0.5
