- toPercent = (n) => (n * 100).toFixed(2) + "%"

block page
  #infographic-un-leadership.wrapper.flex.flex-col
    svg.close(version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 24 24')
      path(stroke="white" stroke-width="2" d='M17.414 6.586c-.78-.781-2.048-.781-2.828 0l-2.586 2.586-2.586-2.586c-.78-.781-2.048-.781-2.828 0-.781.781-.781 2.047 0 2.828l2.585 2.586-2.585 2.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l2.586-2.586 2.586 2.586c.39.391.902.586 1.414.586s1.024-.195 1.414-.586c.781-.781.781-2.047 0-2.828l-2.585-2.586 2.585-2.586c.781-.781.781-2.047 0-2.828z')
    
    .txt-center.flex.flex-grow.flex-col
      strong.txt-lg.txt-semi China's UN Leadership
      
      .flex.txt-center
        .col-1-2.ph-md
          .xl.txt-cond 2
            sup ND
          .sm Largest funder of the UN
        .col-1-2.ph-md
          .xl.txt-cond 4
            sup &nbsp;/ 15
          .sm UN agencies led by a Chinese national
          
      hr
  
      .flex.flex-ch
        .col-1-3
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 30 20')
            defs
              path#s(d='M0,-1 0.587785,0.809017 -0.951057,-0.309017H0.951057L-0.587785,0.809017z' fill='#ffde00')
            rect(width='30' height='20' fill='#de2910')
            use(xlink:href='#s' transform='translate(5,5) scale(3)')
            use(xlink:href='#s' transform='translate(10,2) rotate(23.036243)')
            use(xlink:href='#s' transform='translate(12,4) rotate(45.869898)')
            use(xlink:href='#s' transform='translate(12,7) rotate(69.945396)')
            use(xlink:href='#s' transform='translate(10,9) rotate(20.659808)')
        .col-2-3.sm.txt-red.txt-left.ph-sm
          ul.list-bare.fw-4
            li Food and Agriculture Organization
            li International Civil Aviation Organization
            li International Telecommunications Union
            li U.N. Industrial Development Organization
      
      hr
      
      .flex.flex-ch.txt-mute.xs.txt-left.ph-sm
        .col-1-3.flex-cv
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 809 500')
                rect(width='809' height='500' fill='#006a4e')
                rect(y='100' width='809' height='100' fill='#ffce00')
                rect(y='300' width='809' height='100' fill='#ffce00')
                rect(width='300' height='300' fill='#d21034')
                g(transform='translate(150,150)' fill='#fff')
                  g#c
                    path#t(d='M 0,-95 V 0 H 50' transform='rotate(18 0,-95)')
                    use(xlink:href='#t' transform='scale(-1,1)')
                  use(xlink:href='#c' transform='rotate(72)')
                  use(xlink:href='#c' transform='rotate(144)')
                  use(xlink:href='#c' transform='rotate(216)')
                  use(xlink:href='#c' transform='rotate(288)')
            .col-3-4.ph-xs International Fund for Agricultural Development
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 60 30')
                clippath#t
                  path(d='M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z')
                path(d='M0,0 v30 h60 v-30 z' fill='#00247d')
                path(d='M0,0 L60,30 M60,0 L0,30' stroke='#fff' stroke-width='6')
                path(d='M0,0 L60,30 M60,0 L0,30' clip-path='url(#t)' stroke='#cf142b' stroke-width='4')
                path(d='M30,0 v30 M0,15 h60' stroke='#fff' stroke-width='10')
                path(d='M30,0 v30 M0,15 h60' stroke='#cf142b' stroke-width='6')
            .col-3-4.ph-xs International Labour Organization
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='-36 -24 72 48')
                title Flag of South Korea
                rect(fill='#fff' x='-36' y='-24' width='72' height='48')
                g(transform='rotate(-56.3099325)')
                  g#b2
                    path#b(d='M-6-25H6M-6-22H6M-6-19H6' stroke='#000' stroke-width='2')
                    use(xlink:href='#b' y='44')
                  path(stroke='#fff' stroke-width='1' d='M0,17v10')
                  circle(fill='#c60c30' r='12')
                  path(fill='#003478' d='M0-12A6,6 0 0 0 0,0A6,6 0 0 1 0,12A12,12 0 0,1 0-12Z')
                g(transform='rotate(-123.6900675)')
                  use(xlink:href='#b2')
                  path(stroke='#fff' stroke-width='1' d='M0-23.5v3M0,17v3.5M0,23.5v3')
            .col-3-4.ph-xs International Maritime Organization
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 5 3')
                rect(width='5' height='3' fill='#fff')
                rect(width='5' height='2' y='1' fill='#00966E')
                rect(width='5' height='1' y='2' fill='#D62612')
            .col-3-4.ph-xs International Monetary Fund
            
        .col-1-3.flex-cv
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 3 2')
                rect(width='3' height='2' fill='#ED2939')
                rect(width='2' height='2' fill='#fff')
                rect(width='1' height='2' fill='#002395')
            .col-3-4.ph-xs U.N. Educational Scientific and Cultural Organization
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 60 30')
                clippath#t
                  path(d='M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z')
                path(d='M0,0 v30 h60 v-30 z' fill='#00247d')
                path(d='M0,0 L60,30 M60,0 L0,30' stroke='#fff' stroke-width='6')
                path(d='M0,0 L60,30 M60,0 L0,30' clip-path='url(#t)' stroke='#cf142b' stroke-width='4')
                path(d='M30,0 v30 M0,15 h60' stroke='#fff' stroke-width='10')
                path(d='M30,0 v30 M0,15 h60' stroke='#cf142b' stroke-width='6')
            .col-3-4.ph-xs Universal Postal Union
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='-36 -24 72 48')
                title Flag of South Korea
                rect(fill='#fff' x='-36' y='-24' width='72' height='48')
                g(transform='rotate(-56.3099325)')
                  g#b2
                    path#b(d='M-6-25H6M-6-22H6M-6-19H6' stroke='#000' stroke-width='2')
                    use(xlink:href='#b' y='44')
                  path(stroke='#fff' stroke-width='1' d='M0,17v10')
                  circle(fill='#c60c30' r='12')
                  path(fill='#003478' d='M0-12A6,6 0 0 0 0,0A6,6 0 0 1 0,12A12,12 0 0,1 0-12Z')
                g(transform='rotate(-123.6900675)')
                  use(xlink:href='#b2')
                  path(stroke='#fff' stroke-width='1' d='M0-23.5v3M0,17v3.5M0,23.5v3')
            .col-3-4.ph-xs World Bank
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='-120 -80 240 160')
                defs
                  path#spearshape(d='M -1,55.4256258422040733928782829281879157421699 h 2 V -38 C 3,-40 3,-43 3,-46 C 3,-48 3,-56 0,-64.6632301492380856250246634162192350325315 C -3,-56 -3,-48 -3,-46 C -3,-43 -3,-40 -1,-38 z' stroke-miterlimit='10' transform='rotate(30)')
                rect(x='-120' y='-80' width='240' height='160' fill='#fff')
                rect(x='-120' y='-80' width='240' height='48')
                rect(x='-120' y='32' width='240' height='48' fill='#060')
                g#spear
                  use(xlink:href='#spearshape' stroke='#000')
                  use(xlink:href='#spearshape' fill='#fff')
                use(xlink:href='#spear' transform='scale(-1,1)')
                path(fill='#b00' d='M -120,-24 V 24 H -19 c 3,8 13,24 19,24 s 16,-16 19,-24 H 120 V -24 H 19 c -3,-8 -13,-24 -19,-24 s -16,16 -19,24 z')
                path#deco_r(d='M 19,24 c 3,-8 5,-16 5,-24 s -2,-16 -5,-24 c -3,8 -5,16 -5,24 s 2,16 5,24')
                use(xlink:href='#deco_r' transform='scale(-1,1)')
                g(fill='#fff')
                  ellipse(rx='4' ry='6')
                  path#deco_br(d='M 1,5.85 c 0,0 4,8 4,21 s -4,21 -4,21 z')
                  use(xlink:href='#deco_br' transform='scale(-1)')
                  use(xlink:href='#deco_br' transform='scale(-1,1)')
                  use(xlink:href='#deco_br' transform='scale(1,-1)')

            .col-3-4.ph-xs World Health Organization
            
        .col-1-3.flex-cv
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 3 2')
                rect(width='3' height='2' fill='#ED2939')
                rect(width='2' height='2' fill='#fff')
                rect(width='1' height='2' fill='#002395')
            .col-3-4.ph-xs World Intellectual Property Organization
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 60 30')
                clippath#t
                  path(d='M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z')
                path(d='M0,0 v30 h60 v-30 z' fill='#00247d')
                path(d='M0,0 L60,30 M60,0 L0,30' stroke='#fff' stroke-width='6')
                path(d='M0,0 L60,30 M60,0 L0,30' clip-path='url(#t)' stroke='#cf142b' stroke-width='4')
                path(d='M30,0 v30 M0,15 h60' stroke='#fff' stroke-width='10')
                path(d='M30,0 v30 M0,15 h60' stroke='#cf142b' stroke-width='6')
            .col-3-4.ph-xs World Meteorological Organization
          .row.flex
            .col-1-4 
              svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='-36 -24 72 48')
                title Flag of South Korea
                rect(fill='#fff' x='-36' y='-24' width='72' height='48')
                g(transform='rotate(-56.3099325)')
                  g#b2
                    path#b(d='M-6-25H6M-6-22H6M-6-19H6' stroke='#000' stroke-width='2')
                    use(xlink:href='#b' y='44')
                  path(stroke='#fff' stroke-width='1' d='M0,17v10')
                  circle(fill='#c60c30' r='12')
                  path(fill='#003478' d='M0-12A6,6 0 0 0 0,0A6,6 0 0 1 0,12A12,12 0 0,1 0-12Z')
                g(transform='rotate(-123.6900675)')
                  use(xlink:href='#b2')
                  path(stroke='#fff' stroke-width='1' d='M0-23.5v3M0,17v3.5M0,23.5v3')
            .col-3-4.ph-xs World Tourism Organization
          

block append css
  style
    :sass
      .wrapper
        position: relative
        height: 650px
        max-width: 600px
        color: black
        box-shadow: 0 0 20px 5px #aaa
        background: white
        padding: 40px


      .chart
        position: relative

      .chart-content
        position: absolute
        top: 14px
        left: 0
        right: 0
        bottom: 10px

      .chart-title,
      .chart-subtitle
        padding: 0 24px

      .legend
        font-size: 15px

      .legend-item
        margin: -18px 8px 0
        padding-left: 24px
        position: relative

      .legend-item-box
        position: absolute
        left: 0
        top: 3px
        height: 1em
        width: 1em
        background: black

      .scale-line
        stroke: rgba(#000, 0.2)

      .scale-line-dashed
        stroke: rgba(#000, 0.5)

      text
        font-size: 14px

        &:not([fill])
          fill: currentColor

      svg
        overflow: visible

      .chart-notes
        font-size: 14px
        padding-top: 20px
        max-width: 840px

      .chart-source
        margin-top: 8px

      .close
        position: absolute
        top: 0
        right: 0
        fill: #B90000
        cursor: pointer
        transition: 300ms
        
        &:hover
          fill: lighten(#b90000,20)

      @media (max-width: 600px)
        .wrapper
          padding: 30px
        .chart-content
          bottom: 45px
        .legend
          flex-wrap: wrap
          justify-content: center
          align-text: center
          max-width: 180px
          margin-top: 10px
          margin-left: auto
          margin-right: auto
        .legend-item
          margin-top: 0
        .chart-content
          left: 4px
          right: 4px
        .label
          transform: translateY(2px)
        .bars rect
          transform-origin: center
          transform: scaleY(1.1)
        #chart-2
          width: 60%
          margin-top: 10px
