extend ../../partials/issue

block append config
  - page.title = "Defence Spending"

block intro-image
  img.bg-img(data-src="../../img/defence-spending.jpg")

block intro-caption
  :marked
    Photo: [John Brawley/Flickr](https://www.flickr.com/photos/johnbrawley/1594605606)

block intro-description
  :marked
    The 2019–20 budget provides $38.7 billion for defence, equivalent to 1.9%
    of GDP.<sup>[1]</sup> Both major parties have committed to increase
    spending to 2% of GDP by 2020–21. Spending has increased steadily since the
    2013–14 budget, when it was at 1.59% of GDP.<sup>[2]</sup> Growing the
    domestic defence industry has been a major focus of the current Government,
    and it has the support of the&nbsp;Opposition.
    
    [1]: https://www.minister.defence.gov.au/minister/cpyne/media-releases/safer-australia-budget-2019-20-defence-overview 
    [2]: https://theconversation.com/factcheck-is-defence-spending-down-to-1938-levels-17427

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .p-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.bg-dk.txt-ff.p-md
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Liberal–National Coalition has committed to increasing defence
            spending to 2% of GDP and building up Australia’s domestic defence
            industry. The Royal Australian Navy will get nine new frigates and
            12 submarines, all built locally. In January 2018 the Turnbull
            government committed to making Australia a “top ten” global defence
            exporter.<sup>[3]</sup> 

            [3]: http://www.defence.gov.au/Export/Strategy/Default.asp 

        .txt-source
          :marked
            Read more *[→]*
            
            [→]: https://www.lowyinstitute.org/the-interpreter/exciting-prospects-strong-defence-industry 

    .row
      .col-1-2.bg-hl.txt-ff
        .pv-sm(style="line-height: 1.5; width: 100%")
          //- .txt-sm.txt-tu
            | A defence deal worth

          .txt-xxl.pv-sm.price-tag
            span.txt-dk.ph-xs
              | $
              span(data-view="counter") 50
              |  Billion

        .pv-xs
          img(data-src="../../img/submarines-link.svg" width="100%")

      .col-1-2
        .block
          .txt-md.ph-lg.pv-xs(style="max-width: 420px; margin: auto")
            :marked
              A $50 billion defence deal between the Australian Government and
              Naval Group, a French state&#8209;owned company, will double the
              size of the Royal Australian Navy’s submarine fleet. Australia
              currently operates six Collins&#8209;class submarines.

  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .p-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition
      
      .col-1-2.bg-dk.txt-ff.p-md
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Opposition Leader Bill Shorten told the Lowy Institute that the
            Australian Labor Party’s commitment to increase defence spending to
            2% of GDP is “fundamental”.<sup>[4]</sup> Labor supports the
            government’s efforts to build up the national defence industry but
            has described the government’s ambition for Australia to become a
            top-10 defence exporter as “overcooked”.<sup>[5]</sup>

            [4]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government
            [5]: https://www.perthnow.com.au/politics/australia-to-become-major-arms-exporter-ng-s-1823538 

        .txt-source
          :marked
            Further reading *[→]*
            
            [→]: https://www.richardmarles.com.au/wp-content/uploads/2018/04/18.04.24-SPEECH-TO-NATIONAL-PRESS-CLUB_AN-AUST-DEFENCE-INDUSTRY.pdf

    .row
      .col-1-2.bg-lt
        .img-pan
          img.bg-img(data-src="../../img/drone.jpg")
        .caption.txt-ff.caption-dk
          p
            | An MQ-9 Reaper drone<br>
            | Photo: Airman Magazine / Flickr

      .col-1-2.p-md.bg-lt
        .txt-md(style="max-width: 460px;")
          :marked
            Australia is making a major push into unpiloted aircraft. Orders
            have been placed for 12 to 16 armed Reaper drones and six Triton
            maritime surveillance drones, with a wingspan roughly the same as a
            Boeing 737. Defence Minister Christopher Pyne has also announced an
            Australian program for a ‘Loyal Wingman’ drone to accompany crewed
            fighters into&nbsp;combat.<sup>[6]</sup>

            [6]: https://www.minister.defence.gov.au/minister/cpyne/media-releases/australian-designed-unmanned-loyal-wingman-aircraft-be-developed 

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .p-xs.txt-sm.txt-tu.txt-hl= page.title
                
                .txt-xxl.pv-xs What Our Expert Says
                
                .txt-sm.txt-tu.pv-sm.txt-expert-author
                  | Sam Roggeveen<br>
                  span.txt-mt Director, International Security&nbsp;Program

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-320
                span.bg-ff.bg-ffs.txt-dk
                  | Australia wastes too much money
                  | on non&#8209;essential capabilities

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            The bipartisan commitment to higher defence spending is welcome, and
            reflects heightened concern on both sides of politics about the
            strategic implications of China’s rise. But Australia is about to
            waste a lot of time and money on building weapons locally, which
            suggests our politicians have not quite grasped the full scope of
            the China challenge.

            The government boasts of a $90 billion continuous shipbuilding
            program that will include 12 submarines, nine frigates, 12 offshore
            patrol vessels, and more.<sup>[7]</sup> In the election campaign,
            Prime Minister Scott Morrison announced that two mine warfare
            vessels and a hydrographic vessel would be built in Western
            Australia for $1 billion.<sup>[8]</sup>

            It will take decades to realise this grand plan. Our submarines are
            our military trump cards, and doubling the size of the fleet to 12
            boats is a very good idea. But these boats are principally strategic
            assets, not a jobs program. Both sides of politics insist our
            submarines should be built in Adelaide, but that means the first
            submarine won’t be operational until the mid-2030s. The first new
            frigate won’t be in service until around 2027.

            Meanwhile, China’s maritime power is growing faster than America and
            its allies can match. The International Institute for Strategic
            Studies estimates that between 2014 and 2018 alone, China built
            enough warships and auxiliaries to match the tonnage of the entire
            French Navy.<sup>[9]</sup> Rising Chinese influence in Australia’s
            neighbourhood is happening now. Our defence focus should be to
            ensure that Southeast Asia and the Pacific can never be dominated by
            Chinese military power.

            Australia also needs to think about the implications for defence
            spending if America’s role in Asia changes. It is not inevitable
            that the United States will want to maintain its strategic
            leadership in Asia indefinitely, given that the costs of doing so
            are rising rapidly. We now have bipartisan commitment to boost
            spending to 2% of GDP, but are politicians and voters prepared to
            spend 3% or perhaps more? That may be a question we face at the
            election after next.

            [7]: http://www.defence.gov.au/NavalShipbuilding/Capability.asp
            [8]: https://www.canberratimes.com.au/story/6093960/morrison-promises-1b-for-new-navy-ships/?cs=14231
            [9]: https://www.iiss.org/blogs/military-balance/2018/05/china-naval-shipbuilding 
