//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Maintaining Australia’s security as American power recedes"
  - page.expert = "Sam Roggeveen"
  - page.expertrole = "Director, International Security Program"

block intro-image
  img.bg-img(data-src="../../img/defence2.jpg")

block intro-caption
  :marked
    Photo: <a href="https://www.flickr.com/photos/halans/10098052345/">Halans / Flickr</a>

block intro-description
    :marked
      “We cannot build a defence force that could defeat a major power such as China, but we can create one that will make it too costly for China to defeat us.”

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              With US–China relations now at their lowest point since Nixon met Mao, and even Chinese Foreign Minister Wang Yi warning of a new Cold War, the world seems poised on the brink of dangerous confrontation. For Australia, the stakes could not be higher — one of these superpowers is our largest trading partner, and the other our key military ally. 
              
              But unlike the struggle between the United States and the Soviet Union that scarred the latter half of the twentieth century, one key element is missing this time, one that is likely to see the US back away from confrontation rather than challenge China. That element is motive. The United States simply does not have a good enough reason to engage in a multi-generational, whole-of-society struggle with the largest economy in the world, a struggle that would dwarf the Cold War in the resources it would consume. 
              
              Yes, COVID-19 has raised the temperature of US–China relations, but ultimately the pandemic will reinforce the sense that the biggest threats to America’s future are domestic, not foreign. America has been turning inwards for some time; the drift away from exceptionalism and towards becoming a more ‘normal’ great power began during the Obama Administration. 
              
              COVID-19 only increases the urgency of repairing America’s domestic institutions. By contrast, despite the rancour caused by China’s mishandling of the pandemic, the virus does not offer a compelling reason to resist Beijing’s ambitions in Asia.
              
              Despite China’s size and rapidly increasing military might, it will never be a direct threat to the United States, which will remain a great power with enormous economic resources, powerful armed forces, and nuclear weapons. Moreover, China will remain constrained by Asia’s other great powers — in particular India, but also Japan, Russia, and in the future even Indonesia, and perhaps a unified Korea. 
              
              As a consequence, Washington lacks the motive to maintain its commitments to allies in the region, such as Australia. That means we will need to be more self-reliant than ever.
              
              Canberra has been reluctant to embrace this sobering conclusion, though there are signs this is changing. The Morrison government’s March deal to re-establish an Australian fuel reserve is a small indicator that it is taking national resilience and self-sufficiency more seriously. This should be the spark for a much more difficult discussion about strategic independence: can Australia defend itself against a major power without America’s help?
              
              It can be done, but it will be expensive. Australia will need a bigger military with large stockpiles of weapons and strategic materials so that we are self-reliant in a crisis. We cannot build a defence force that could defeat a major power such as China, but we can create one that will make it too costly for China to defeat us. We should focus on ‘denial’ capabilities such as submarines and other anti-ship systems which will make our northern approaches too dangerous for any adversary. And our defence diplomacy efforts should have a laser-like focus on Indonesia, as we both have a clear interest in ensuring China does not become the dominant maritime power in Southeast Asia.
              
              To pay for it all, we will need a larger population. And depending on the pace of America’s withdrawal from Asia, Australia may ultimately need to confront the grim question of whether we should acquire nuclear weapons.
