body
  user-select: none
  display: flex
  justify-content: center
  align-items: center
  font-family: Sans, sans-serif
  width: 1px
  min-width: 100%
  *width: 100%

.wrapper
  position: relative
  width: 100%

.chart-wrap
  display: flex
  flex-direction: column

.chart
  position: relative
  pointer-events: none
  font-family: Sans, sans-serif
  margin: 20px 0 24px
  flex-grow: 1
  width: 100%
  font-size: 13px

.chart-title,
.chart-subtitle
  text-align: center
  display: block

.bg-y,
.stroke-y,
.label-y,
.bars,
.bar-group-label,
.bar-label,
.bar-confidence,
.bar-group-highlight-label,
.bar-label:after,
.bar-group.highlight .bar-frame:before
  position: absolute

.bars
  top: 0
  left: 0
  right: 0
  padding-left: 32px
  bottom: 24px
  height: 100%

.bar-group
  pointer-events: all
  height: 100%
  transform: translate3d(0,0,0)

.bar-group-label
  left: 0
  width: 100%
  text-align: center
  top: 100%
  padding-top: 6px
  color: #666

.bar
  width: 40px
  bottom: 0
  margin: 0 2px
  background-color: #fff
  position: relative
  height: 100%

.bar-rect
  width: 100%
  height: 100%
  position: relative
  z-index: 0
  transition: opacity 400ms

.bar-label
  opacity: 0
  transition: all 300ms
  padding: 4px
  line-height: 20px
  bottom: 100%
  pointer-events: none
  z-index: 10
  left: 50%
  font-size: 15px
  transform: translate(-50%, -4px)

.bar-group:hover
  z-index: 1

.bars:hover
  .bar-confidence
    opacity: 0

.bar-group:hover .bar .bar-label,
.bars:hover .bar-label
  transform: translate(-50%, 0)

.bars:hover .bar-label
  opacity: 0.3
  transition-duration: 500ms
  transition-delay: 100ms

.bar-group:hover .bar .bar-label
  opacity: 1
  transition-delay: 0ms

.bar-group.highlight .bar-frame:before
  content: ""
  background-color: #f5f5f5
  left: 0
  right: 0
  bottom: -32px
  top: -8px
  z-index: -1

.bar-group-highlight-label
  left: 8px
  right: 8px
  top: 12px
  font-size: 15px
  text-align: center

.bar-confidence
  border-left: 1px solid
  transition: opacity 300ms

  &:before,
  &:after
    content: ""
    position: absolute
    left: -4px
    right: -3px
    border-top: 1px solid

  &:before
    top: 0

  &:after
    bottom: 0

.bar-0 .bar-rect,
.legend .bar-0
  background: #ff9f19

.bar-1 .bar-rect,
.legend .bar-1
  background: #31363c

.bar-2 .bar-rect,
.legend .bar-2
  background: #b5ada8

.bar-3 .bar-rect,
.legend .bar-3
  background: #ff5e00

.chart:hover .bar-group .bar-rect
  opacity: 0.4

.chart .bar-group:hover .bar-rect
  opacity: 1

.bar-frame
  position: relative
  height: 100%
  width: 100%
  z-index: 0
  align-items: flex-end

.bg
  height: 100%
  color: #666

.bg-y
  width: 100%
  height: 0

.label-y
  top: -0.7em
  min-width: 28px
  text-align: right
  z-index: 1
  padding-right: 4px
  background-color: #fff

.stroke-y
  border-top: 1px solid #eee
  left: 0
  right: 0
  top: -1px

.legend
  text-align: center
  line-height: 16px
  margin: 0
  text-align: left

  li
    display: inline-block
    position: relative
    margin: 2px 16px 2px 24px

  .bar
    width: 16px
    height: 16px
    position: absolute
    top: 0
    left: -24px

.legend,
.source
  margin-top: 20px

  &:only-child
    margin: 20px auto 0

.chart-footer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  font-size: 14px

@media (max-width: 660px)
  .bar-group.highlight:before
    left: -60px
    right: -60px

  .bar
    width: 28px

  .bars
    margin: 0 -8%

  .chart-footer
    flex-direction: column

@media (max-width: 480px)
  .wrapper
    font-size: 14px

  .hidden-sm
    display: none

  .bar
    width: 20px
    margin: 0 1px

  .bar-group-label
    padding-top: 4px
    line-height: 1

  .bar-group.highlight:before
    left: -32px
    right: -32px
    bottom: -36px

  .bar-group-highlight-label
    left: -24px
    right: -24px
