.wrapper {
  width: 320px;
}

.m {
  fill: #002a45;
}

.f {
  fill: #ff4637;
}

.chart {
  line-height: 20px;
}

.label {
  position: relative;
  width: 108px;
  margin-right: 12px;
}

.chart + .chart {
  padding-top: 8px
}

.ratio {
  position: absolute;
  opacity: 0;
  right: 0
}

.country,
.ratio,
.chart {
  transition: opacity 300ms;
}

.rows:hover .chart {
  opacity: 0.5
}

.rows .chart:hover {
  opacity: 1
}

.chart:hover .ratio {
  opacity: 1
}

.chart:hover .country {
  opacity: 0
}
