extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/usa-rules-based-order/data").articles[1]

block content
  :marked

    Some commentators are calling for the Biden administration to restore US leadership in the post-Second World War, rules-based international system. Others argue that American standing and the rules-based system are irrevocably broken and that, therefore, the United States must accommodate itself to a less liberal and more multipolar world in which several powers, including Russia, China, and Europe, each have significant spheres of influence.

    Both of these viewpoints are misguided. Instead, the Biden administration should revitalise and adapt US leadership and the rules-based system for a new era.

    The US-led, rules-based system has been remarkably successful. It has brought about unprecedented levels of global peace, prosperity, and freedom over the past 75 years. Moreover, and importantly, the average citizen in the United States and other leading democracies has benefited greatly from this system. It should not be abandoned just because it is coming under new strains.

    Yet, the world has fundamentally changed since the system was created in 1945 and expanded and deepened at the end of the Cold War in 1991. We cannot return to a world that no longer exists.

    As a co-author and I have argued in a recent Atlantic Council Strategy Paper, [_Present at the Re-Creation_](https://www.atlanticcouncil.org/in-depth-research-reports/report/present-at-the-re-creation/), the United States and its allies and partners should revitalise, adapt, and defend this system for a new era. They can do this in three steps.

    First, they should breathe new life into the key pillars of the existing system, which includes traditional security alliances in Europe and Asia, support for international institutions, free and fair trade and open markets, and democracy and human rights.

    Second, they need to adapt the system to meet present realities. We are not stuck with inherited structures; we can create new ones. Most importantly, the US alliance structure, broken down by region with separate alliances in Europe and Asia, is too constraining in a globalised world. The free world faces shared challenges — such as from China — and democratic countries in North America, Europe, and Asia are increasingly converging on similar solutions to these challenges. But attempts at coordination too often occur on an ad hoc basis. What we need are more regular forums to bring together leading democracies to coordinate on shared challenges. Specifically, we call for the creation of several new bodies: a [D-10](https://foreignpolicy.com/2020/06/10/g7-d10-democracy-trump-europe/) of the ten leading democracies to serve as the steering committee of the free world; a broader alliance of free nations to be kicked off with a Summit for Democracy; a free-world free trade agreement; and a democratic technology alliance.

    Third, once the system has been revitalised and adapted, the United States and like-minded allies and partners must defend this system. The primary threat to the international system today comes from revisionist autocratic powers (China, Russia, North Korea, and Iran) that are threatened by an international system infused with liberal values, which they seek to disrupt or displace. The free world needs to work together to defend against the serious threats that these countries pose in the economic, governance, and military domains and collectively impose costs on autocrats when they contravene widely held international standards.

    Critics argue that it would be a mistake to organise the rules-based system around deeper democratic cooperation. They argue that this approach prioritises ideology over interests, and risks alienating friendly autocrats and impeding engagement with revisionist powers, like China, on shared interests, such as climate change.

    These critics present a false choice. Leading democracies should follow a two-track approach of: 1) deeper cooperation and coordination among like-minded states through bodies such as the D-10; and 2) inclusive engagement with broader groupings of powers through existing institutions, such as the United Nations Security Council (UNSC) and the G20. Since 1945, Washington has enjoyed deep cooperation with democratic allies even as it engaged in pragmatic relationships with autocratic powers, and it can follow this proven model in the current era.

    This is a time to deepen and expand US leadership and the rules-based system, not to scale it back. By following the above plan, the Biden administration can help to provide the world and the American people with another 75 years of security, prosperity, and freedom.
    
    <hr>

    **Professor Matthew Kroenig** is Professor of Government and Foreign Service at Georgetown University; Deputy Director of the Scowcroft Center for Strategy and Security at the Atlantic Council; and Director of its Global Strategy Initiative. His research focuses on great power competition with China and Russia, emerging technology, and strategic deterrence and weapons non-proliferation. His most recent book is [_The Return of Great Power Rivalry: Democracy versus Autocracy from the Ancient World to the US and China_](https://www.amazon.com.au/Return-Great-Power-Rivalry-Democracy/dp/0190080248/ref=sr_1_1).

    <hr>
