%p-first
  padding-top: 0
%p-last
  padding-bottom: 0

=make-block($size, $padding, $media: false)
  .p-h-#{$size}
    padding-left: $padding
    padding-right: $padding

  .p-v-#{$size}
    padding-top: $padding
    padding-bottom: $padding

  .p-#{$size}
    padding: $padding

+make-block(xxl, 8.0rem)
+make-block(xl,  4.0rem)
+make-block(lg,  3.0rem)
+make-block(md,  2.0rem)
+make-block(sm,  1.0rem)
+make-block(xs,  0.5rem)
