.col-wrap
  clear: both
  margin: 0 -2.5rem
  @extend %clearfix

.col-fluid,
.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-full
  max-width: 100%
  float: left
  padding: 0 2.5rem
  box-sizing: border-box
  flex-shrink: 0

.col-full
  width: 100%

.col-xs
  width: 20%

.col-sm
  width: 33.3333%

.col-md
  width: 50%

.col-lg
  width: 60%

.col-break
  clear: left

.fl-r
  float: right

.fl-l
  float: left

@media screen and (max-width: $header-breakpoint)
  .col-wrap
    margin: 0 -2.5rem

  .col-fluid,
  .col-xs,
  .col-sm,
  .col-md,
  .col-lg,
  .col-full
    padding: 0 2.5rem

  .col-xs
    width: 50%

  .col-sm,
  .col-md,
  .col-lg
    width: 100%

@media print
  .col-xs
    width: 20%

  .col-sm
    width: 33.3333%

  .col-md
    width: 50%

  .col-lg
    width: 60%
