@font-face
  font-family: icons
  font-display: block
  src: url("../fonts/icons.eot")
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype")
  font-weight: normal
  font-style: normal

%icon
  &:before
    font-family: icons
    font-weight: normal
    font-style: normal
    speak: none
    text-transform: none

.icon
  font-size: 20px
  text-decoration: none
  @extend %icon

.icon-space
  margin-right: 0.3em

.icon-sm
  font-size: 10px
.icon-md
  font-size: 16px
.icon-lg
  font-size: 20px
.icon-xl
  font-size: 32px

%icon-plus:before,
.icon-plus:before
 content: ""
%icon-minus:before,
.icon-minus:before
 content: ""
%icon-cloud:before,
.icon-cloud:before
 content: ""
%icon-cross:before,
.icon-cross:before
 content: ""
%icon-heart:before,
.icon-heart:before
 content: ""
%icon-bookmark:before,
.icon-bookmark:before
 content: ""
%icon-calendar:before,
.icon-calendar:before
 content: ""
%icon-document:before,
.icon-document:before
 content: ""
%icon-lock:before,
.icon-lock:before
 content: ""
%icon-ring:before,
.icon-ring:before
 content: ""
%icon-play:before,
.icon-play:before
 content: ""
%icon-video:before,
.icon-video:before
 content: ""
%icon-pause:before,
.icon-pause:before
 content: ""
%icon-volume-mute:before,
.icon-volume-mute:before
 content: ""
%icon-volume-low:before,
.icon-volume-low:before
 content: ""
%icon-volume-mid:before,
.icon-volume-mid:before
 content: ""
%icon-volume-high:before,
.icon-volume-high:before
 content: ""
%icon-expand:before,
.icon-expand:before
 content: ""
%icon-contract:before,
.icon-contract:before
 content: ""
%icon-square:before,
.icon-square:before
 content: ""
%icon-spinner:before,
.icon-spinner:before
 content: ""
%icon-subtitles:before,
.icon-subtitles:before
 content: ""
%icon-captions:before,
.icon-captions:before
 content: ""
%icon-chapters:before,
.icon-chapters:before
 content: ""
%icon-share:before,
.icon-share:before
 content: ""
%icon-cog:before,
.icon-cog:before
 content: ""
%icon-outer-circle:before,
.icon-outer-circle:before
 content: ""
%icon-hd:before,
.icon-hd:before
 content: ""
%icon-replay:before,
.icon-replay:before
 content: ""
%icon-audio-description:before,
.icon-audio-description:before
 content: ""
%icon-audio:before,
.icon-audio:before
 content: ""
%icon-cancel:before,
.icon-cancel:before
 content: ""
%icon-zoom-in:before,
.icon-zoom-in:before
 content: ""
%icon-zoom-out:before,
.icon-zoom-out:before
 content: ""
%icon-left-arrow:before,
.icon-left-arrow:before
 content: ""
%icon-right-arrow:before,
.icon-right-arrow:before
 content: ""
%icon-forward:before,
.icon-forward:before
 content: ""
%icon-star:before,
.icon-star:before
 content: ""
%icon-right:before,
.icon-right:before
 content: ""
%icon-left:before,
.icon-left:before
 content: ""
%icon-up:before,
.icon-up:before
 content: ""
%icon-down:before,
.icon-down:before
 content: ""
%icon-options-v:before,
.icon-options-v:before
 content: ""
%icon-circle-tick:before,
.icon-circle-tick:before
 content: ""
%icon-circle-cross:before,
.icon-circle-cross:before
 content: ""
%icon-edit:before,
.icon-edit:before
 content: ""
%icon-menu:before,
.icon-menu:before
 content: ""
%icon-inner-circle:before,
.icon-inner-circle:before
 content: ""
%icon-chat:before,
.icon-chat:before
 content: ""
%icon-flag:before,
.icon-flag:before
 content: ""
%icon-back:before,
.icon-back:before
 content: ""
%icon-chart:before,
.icon-chart:before
 content: ""
%icon-clock:before,
.icon-clock:before
 content: ""
%icon-delete:before,
.icon-delete:before
 content: ""
%icon-download:before,
.icon-download:before
 content: ""
%icon-upload:before,
.icon-upload:before
 content: ""
%icon-drag-vertical:before,
.icon-drag-vertical:before
 content: ""
%icon-eye-closed:before,
.icon-eye-closed:before
 content: ""
%icon-eye-open:before,
.icon-eye-open:before
 content: ""
%icon-image:before,
.icon-image:before
 content: ""
%icon-info:before,
.icon-info:before
 content: ""
%icon-warning:before,
.icon-warning:before
 content: ""
%icon-mail:before,
.icon-mail:before
 content: ""
%icon-record:before,
.icon-record:before
 content: ""
%icon-search:before,
.icon-search:before
 content: ""
%icon-text:before,
.icon-text:before
 content: ""
%icon-text-center:before,
.icon-text-center:before
 content: ""
%icon-text-left:before,
.icon-text-left:before
 content: ""
%icon-text-right:before,
.icon-text-right:before
 content: ""
%icon-wifi:before,
.icon-wifi:before
 content: ""
%icon-tick:before,
.icon-tick:before
 content: ""
%icon-down-sm:before,
.icon-down-sm:before
 content: ""
%icon-left-sm:before,
.icon-left-sm:before
 content: ""
%icon-up-sm:before,
.icon-up-sm:before
 content: ""
%icon-right-sm:before,
.icon-right-sm:before
 content: ""
%icon-circle-bookmark:before,
.icon-circle-bookmark:before
 content: ""
%icon-grid:before,
.icon-grid:before
 content: ""
%icon-options-h:before,
.icon-options-h:before
 content: ""
%icon-social-facebook:before,
.icon-social-facebook:before
 content: ""
%icon-social-twitter:before,
.icon-social-twitter:before
 content: ""
