extend /partials/layout

include /partials/mixins/image-juxtapose

block append config

block page
  +image-juxtapose({
    before: {
      label: "20 Dec 2012",
      image: "manus-2.jpg"
    },
    after: {
      label: "25 Feb 2020",
      image: "manus-1.jpg"
    }
  })
