//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Helping the Pacific recover from COVID"
  - page.expert = "Alexandre Dayant, Shane McLeod"
  - page.expertrole = "Research Fellows"

block intro-image
  img.bg-img(data-src="../../img/pacific.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://www.flickr.com/photos/dfataustralianaid">DFAT / Flickr</a>

block intro-description
    :marked
      “Australia’s Pacific Step-up is more relevant than ever, but it needs to be refocused on economic recovery.”

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              The Pacific’s early success in fending off COVID-19 does not render the region immune to the far-reaching effects of the virus. Not only has the pandemic exposed alarming weaknesses in their health systems, but Pacific nations, which heavily rely on tourism and trade, are already feeling the devastating economic consequences of the pandemic. Some estimates put a regional economic contraction as high as 10 per cent for this year alone. Despite governments drawing on every domestic resource available to stimulate their economies and consolidating their health systems, the region is struggling.
              
              International support has been forthcoming, in the form of in-kind medical donations, equipment and supplies as well as financial support. Australia committed a regional package of up to A$100 million in direct budget assistance — a 'quick financial support' for Pacific countries hit by the pandemic and the ill-timed arrival of Cyclone Harold.
              
              But these solutions do not fully address the needs of many nations.
              
              First, Pacific Islands nations require additional support for their health systems. These countries are among the least ready for a pandemic, and most have limited capacity to test for the virus.
              
              In the past five years, Australia’s aid funding for health programs across the Pacific region has been reduced, even as Pacific nations have wrestled with health crises, including a catastrophic measles outbreak, polio, and drug-resistant tuberculosis. Instead, aid financing has been reprioritised to more geostrategically appealing infrastructure investments. This current crisis offers an opportunity to change the trajectory.
              
              In the long run, investing in the health systems of the region not only makes those nations less prone to health emergencies, but it also improves the security of all Pacific countries, including Australia.
              
              Second, most Pacific Islands nations need financing support to keep their economies afloat. While a few have some fiscal space to increase their expenditures, most do not.
              
              Australia’s Pacific Step-up is more relevant than ever, but it needs to be refocused on economic recovery.
              
              Aid should be redirected towards the backbone of Pacific domestic economies, namely small businesses and the agricultural sector, as well as tourism and hospitality — both severely hit by worldwide travel restrictions. Fast-tracking the A$2 billion Australian Infrastructure Financing Facility for the Pacific (AIFFP) would help to foster economic recovery through the construction of important infrastructure projects. Pacific labour mobility also needs to be increased, once travel restrictions allow.
              
              Australia will need to make special provision in its response for Papua New Guinea. Its size and scale — and its land border with Indonesia — will make the coronavirus response an ongoing challenge. The economic and health system challenges faced by the entire region will be even more severe in PNG.
              
              Finally, Australia should continue to take a leadership role in advocating for international assistance for the region. Prime Minister Scott Morrison’s call at the March G20 meeting to support the Pacific must be reinforced.
              
              Canberra should aim to be innovative and adaptable. Australia’s early success in containing the virus has delivered what has been described as a ‘Covid dividend’. It should spend some of that dividend wisely to benefit its Pacific neighbours, now and into the future.
