//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[1]

block content
  :marked
    This is a pessimistic crowd, as probably befits the current moment. There is no clear path forward for the United States and China or even a set of easily identifiable measures that would at least arrest the downward trajectory in the bilateral relationship.
    
    Among the writers, however, there is widespread agreement on two points: first, that China seeks to reform the current order and wants a larger say in how that order is organised; and second, that a central element of the US--China conflict is the difference in political values between the two countries. [Wu Xinbo](../../articles/can-washington-compromise) is the sole exception to the latter point: he understands the US--China conflict in the context of a rising and status quo power and as centred on security and sovereignty issues around Taiwan and the South China Sea.
    
    Values infinitely complicate any effort to achieve a sustainable accommodation. [Tanner Greer](../../articles/ideological-insecurities) notes that an agreeable accommodation for Beijing would require that the United States sacrifice its intrinsic values, particularly with regard to human rights and China's policies around Xinjiang. [John Culver](../../articles/counting-on-history) and [Daniel Tobin](../../articles/rewiring-the-global-order) see the potential for China to return to a 'hide and bide' policy, but as a tactic, not a long-term reorientation of Chinese strategic beliefs. Any accommodation would be temporary, while both sides tried to gain advantage from the other's step back from the brink. [Nadège Rolland](../../articles/an-a-la-carte-strategy), [David Kelly](../../articles/hide-and-bide), and I see room for cooperation in areas that do not involve Beijing's core values. But [Wu](../../articles/can-washington-compromise)&rsquo;s point that China will never compromise on Taiwan or its security demands in the Western Pacific means that even limited accommodation on issues such as global health, climate change, or internet governance will not address the destabilising impulses of Beijing.
    
    Nonetheless, it is worth exploring what conditions might stabilise the relationship. To begin, the United States and China would need to retire the extreme voices that see no value in working to solve common problems. That may well happen this year with the US presidential election. In China, it would likely rely on a determination that Xi Jinping and his supporters had overreached, allowing a degree of space for more moderate voices within the Politburo Standing Committee to emerge. Given [Kelly](../../articles/hide-and-bide)&rsquo;s assessment of rising pressures on the Chinese leadership, this may not be out of the realm of possibility. (Here, I part with [Tobin](../../articles/rewiring-the-global-order) and others in my belief that individual leaders in China can make a significant difference in policymaking.)
    
    Negotiations could begin around issues that, as [Rolland](../../articles/an-a-la-carte-strategy), [Kelly](../../articles/hide-and-bide), and I have noted, do not touch explicitly on China's core values. Climate change, public health, and trade and investment are all possibilities. For example, the United States could join the CPTPP and initiate conversations around China's entry. In seeking cooperation on these global challenges, the United States benefits from a multilateral, as opposed to bilateral, framework with states that share its values.
    
    Thornier issues, such as the South China Sea, which [Wu](../../articles/can-washington-compromise) highlights, will require a strong and consistent United States and allied (including Asia and Europe) defence of freedom of navigation. These issues should be removed from the US--China bilateral context and reinforced as elements of the rules-based order to which China has already committed. Creative and more permanent solutions should also be explored. For example, might China step back from its South China Sea claims in exchange for a greater level of engagement in the Arctic? Regarding Taiwan, the United States, its allies, and Taiwan have two choices: attempt a return to the status quo, in which Taiwan maintains the fiction of eventual reunification in the hopes of pacifying Beijing, while waiting for PRC policy to evolve; or make clear to Beijing that the United States and its allies are prepared to defend Taiwan if Beijing attempts reunification by force.
    
    On the most profoundly difficult issue in the US--China relationship --- the debate between democracy and authoritarianism --- the United States needs to find its way back to the values it espouses. As [Culver](../../articles/counting-on-history) suggests, the most significant thing the United States can do is to ensure that it is strong domestically. An economically vibrant and politically robust United States will encourage other countries, and increasing numbers of Chinese citizens, to support it. If the United States gets it right at home, there will be no debate.
    
    <hr>
    
    **Dr Elizabeth Economy** is C.V. Starr Senior Fellow and Director for Asia Studies at the Council on Foreign Relations, and a distinguished visiting fellow at Stanford University's Hoover Institution.

    <hr>
