//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[6]

block content
  :marked
    China is a major beneficiary of the prevailing international order. Politically, as a permanent member of the United Nations Security Council, China enjoys significant privileges as well as high international standing. Economically, China has emerged as the world's second largest economy during the last four decades, thanks to an open international economic system. On the security front, since the end of the Cold War, China has not been confronted with a major external military threat and has benefited from an overall peaceful international environment.
    
    On the other hand, Beijing also harbours reservations and even dissatisfaction towards the current order. Politically, this is an American-led and Western-centered order --- developing and non-Western countries are generally subject to a lesser position. Economically, Beijing aspires to a status commensurate with its growing power in major international economic and financial institutions. Regarding security, Beijing seeks reunification with Taiwan as well as greater security coefficient in the Western Pacific.
    
    Generally speaking, China holds a significant stake in the existing order and, by and large, favours its preservation. Meanwhile, Beijing also desires to reform the order so as to better accommodate its interests and preferences. China is not going to overturn the current order or create a new one, but it will drive the order's evolution and adaption in a fast changing world.   
    
    Taking into consideration its capabilities, interests, and feasibility, China's efforts to reform the current world order have prioritised the international economy and finance, regional cooperation, and emerging areas such as the oceans, the poles, cyberspace, and outer space. Beijing seeks to increase further its voting rights and quotas in the World Bank and IMF to reflect its ranking in the world economy. Meanwhile, it also endeavors to promote various forms of regional economic and security cooperation, establishing mechanisms that serve Chinese interests and preferences. In the international efforts to establish rules for cyberspace and outer space, China will make sure that it is a rule-maker, not just a rule-taker.
    
    The compromise between China and the US/West could be reached in the areas of international economy and finance. For instance, China's voting rights and quotas in the World Bank and IMF have been steadily increasing, reflecting its growing weight in the global economy, with an expectation that China will make more contributions to these multilateral institutions. Despite opposition from Washington, Beijing's initiative in establishing the Asia Infrastructure Investment Bank (AIIB) was endorsed by most Western countries, including many US allies. Compromise is also possible in the field of regional cooperation --- even though there are differences between mechanisms favoured by China and the US, they can still co-exist, just like the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and Regional Comprehensive Economic Partnership (RCEP), or the Shanghai Cooperation Organisation and US-led alliance system. In the emerging areas, some kind of deal can be struck given the fact that China is already a major player in cyberspace and outer space, and its voice has to be heard if the rules and mechanisms are going to apply to China.  
    
    The main challenge will be security. While China has been seeking to gain a more favourable security situation in the Western Pacific, the US has been trying hard to resist. It is an open question whether Washington is willing to or has the capability of reaching a strategic understanding with Beijing over the security landscape, which reflects a shifting balance of power in the region. Also, any compromise that does not include a solution to the Taiwan issue is unsustainable for Beijing. In fact, Beijing is likely to push harder on the matter in due course, because it loses patience with the separatist momentum in Taiwan, becomes more confident of its growing military capability, or both. This requires a new understanding across the Taiwan Strait and between Beijing and Washington.     
    
    <hr>
    
    **Dr Wu** is Professor and Dean, Institute of International Studies; and Director at the Center for American Studies, Fudan University.
