extend /partials/layout

block append config

block page

  .wrapper
    .chart-title.txt-cond South China Sea Challenge
    .chart-subtitle Overlapping maritime claims
    
    label Click to toggle
    .buttons
      each country in ['china','vietnam','malaysia','indonesia','philippines','brunei']
        button.active(
          class=country
          onclick=`toggle(${country}, this)`
        )= country

    include map.svg

    script(src="./script.js")

block append css

  style
    :sass
      
      .opacity-0
        opacity: 0

      .wrapper
        height: 100vh
        max-height: 100vh
        overflow: hidden
        position: relative
      
      .chart-title
        line-height: 1.1
        font-weight: 500
        color: black
        font-size: 1.8rem
        max-width: 450px
        
      .chart-subtitle
        margin-bottom: 4px
        font-weight: 500
        font-size: 1.2rem
        max-width: 450px

      .buttons
        display: flex
        flex-wrap: wrap
        margin-bottom: .5rem
      
      g
        transition-duration: .2s
      
      label
        font-style: italic
          
      button
        background: none
        padding: .4em .6em .4em 2em
        border: 1px solid
        border-radius: 4px
        text-transform: uppercase
        letter-spacing: 0.08em
        margin: .25em .5em
        margin-left: 0
        position: relative
        cursor: pointer
        opacity: 0.33
        transition-duration: .2s
        
        &:focus
          outline: none
        
        &:before
          content: ''
          position: absolute
          top: 0
          left: 0
          padding: .5em
          margin: 5px
          border: 1px dashed
          
        &.active
          opacity: 1
        
        &.china:before
          color: #e44b4d
          background: #e44b4d11
        &.vietnam:before
          color: #3bb880
          background: #3bb88011
        &.malaysia:before
          color: #f4e20e
          background: #f4e20e11
        &.indonesia:before
          color: #a08dff
          background: #a08dff11
        &.philippines:before
          color: #06aadd
          background: #06aadd11
        &.brunei:before
          color: #999999
          background: #99999911
        
          
              
              
