* {
  margin: 0;
  padding: 0;
  word-wrap: break-word
}

html {
  -webkit-text-size-adjust: 100%
}

img {
  border: 0
}

code {
  line-height: 1em
}

img {
  max-width: 100%;
  height: auto
}

iframe {
  display: block;
  max-width: 100%
}

img {
  display: block
}

.left,
img[align=left] {
  display: block;
  float: left
}

.right,
img[align=right] {
  display: block;
  float: right
}

img[align=middle] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  clear: both
}

.block {
  display: block;
  clear: both
}

button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none
}

body {
  color: #111;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  padding-top: 0
}

.container {
  width: 897px;
  margin: 0 auto
}

a {
  color: #d00;
  text-decoration: none
}

p a {
  text-decoration: underline
}

p a:hover {
  text-decoration: none
}

.header {
  border-bottom: 3px double #ddd;
  padding: 26px
}

#site_title {
  font-size: 42px;
  line-height: 1.32em;
  font-weight: 700;
  color: #111
}

#site_title a {
  color: #111
}

#site_title a:hover {
  color: #d00
}

.post_box {
  padding: 26px 26px 0 26px;
  border-top: 1px dotted #ddd
}

.top {
  border-top: 0
}

.prev_next {
  clear: both;
  color: #888;
  border-top: 1px solid #ddd;
  padding: 13px 26px
}

.footer {
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #888;
  margin-top: 40px;
  padding: 20px 24px
}

.footer a {
  color: #888
}

.footer a:hover {
  color: #111
}

#pm_links:after,
.author_description:after,
.slides:after,
.comment_nav:after,
.comment_text:after,
.footer:after,
.post_box:after,
.post_content:after,
.prev_next:after {
  display: table;
  clear: both;
  content: ''
}

@media all and (max-width:897px) {
  body {
    padding-top: 0
  }

  .container {
    width: auto;
    max-width: 617px
  }

  .header {
    border-top: 1px solid #ddd
  }

}

@media all and (max-width:450px) {
  .comment,
  .comment_form_title,
  .comment_nav,
  .footer,
  .header,
  .post_box,
  .prev_next {
    padding-right: 13px;
    padding-left: 13px
  }

  .comment_form_title {
    margin-left: -13px;
    margin-right: -13px
  }

  .left,
  .right,
  img[align=left],
  img[align=right] {
    float: none
  }

  .post_author:after {
    content: '\a';
    height: 0;
    white-space: pre;
    display: block
  }

  .comment_date {
    display: none
  }

}

html {
  min-height: 100%
}

button {
  font-family: inherit;
  line-height: 1em;
  font-weight: 700;
  border: 0;
  background-color: #002a45;
  padding: 1em;
  text-transform: uppercase;
  color: #ffc52b;
  font-size: 16px;
  font-family: Quicksand, sans-serif
}

.summary {
  display: none
}

a {
  color: #696969;
  text-decoration: none
}

.lowy_social a {
  text-decoration: none;
  border: 0;
  background: 0 0;
  width: 24px;
  padding: 8px;
  float: left;
  position: relative
}

.ssba_facebook_share {
  margin: 0 -3px
}

.ssba_download_share,
.ssba_print_share {
  margin: 0 3px
}

.ssba_download_share span {
  color: #fff;
  display: block;
  position: absolute;
  font-size: 8px;
  top: 100%;
  margin-top: -12px;
  text-align: center;
  left: -12px;
  right: -12px
}

.lowy_header {
  height: 80px;
  background-color: #002a45
}

.ssba img {
  padding: 0;
  border: 0;
  box-shadow: none;
  display: block;
  width: 24px;
  height: 24px
}

.lowy_logo {
  padding-left: 3%;
  width: 250px;
  padding-top: 20px;
  display: inline-block
}

.lowy_social {
  width: 240px;
  height: 100%;
  display: block;
  text-align: right;
  padding: 20px 0;
  box-sizing: border-box;
  float: right
}

.lowy_top_bar_headline {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 100;
  line-height: 84px
}

.article_header {
  height: 63vh;
  background-image: url(header_image_large.jpg);
  background-size: cover;
  background-position: center left;
  position: relative;
  margin-top: -3px
}

.article_heading_field {
  padding-top: 25vh;
  text-align: center;
  color: #fff
}

.topLevel_Head {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4vh
}

.midLevel_Head {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 8vh;
  line-height: .9
}

.bottomLevel_Head {
  font-family: lobster, sans-serif;
  font-size: 8vh;
  line-height: .9
}

.article_blurb_field {
  color: #fff;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  padding-top: 15px;
  padding-bottom: 10px
}

.author_info_field {
  width: 15%;
  min-width: 250px;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin: 0 auto !important;
  padding-top: 4px;
  padding-bottom: 4px
}

.author_info_field a {
  color: #fff;
  text-decoration: none
}

.author_info_field a:hover {
  color: #ffc52b
}

.max_width_column {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 10px
}

.post_content {
  text-align: center
}

.lesson_info {
  text-align: left;
  width: 80%;
  display: inline-block;
  height: auto;
  vertical-align: middle
}

.number {
  text-align: left;
  width: 10%;
  display: inline-block;
  position: relative
}

.number::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle
}

.keep-reading.noarrow {
  margin: 0.6em 0 2em;
  padding: 0;
  color: #696969;
  text-transform: uppercase;
  text-decoration: none;
}

.keep-reading:focus,
.keep-reading:hover {
  outline: none;
  color: #333;
}

.keep-reading:before {
  content: "Keep reading"
}

.keep-reading.colomat-close:before {
  content: "Close"
}
.lessons {
  padding: 1.4em 0;
  border-top: 2px solid #000;
}

.lessons p {
  margin:  1em 0;
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-weight: 100
}

.lesson_hr {
  width: 70%;
  margin: 0 auto;
  color: #eee;
  margin-top: 30px;
  margin-bottom: 30px
}

#pm_links .collapseomatic {
  width: 14.2857142857%;
  display: block;
  float: left;
  white-space: nowrap;
  padding: 4px;
  box-sizing: border-box;
  position: relative;
  font-size: 80%;
}

.pres-title {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  right: 1em;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pres-title span {
  display: block;
  max-width: 100%;
  white-space: normal;
}

.pres-title em {
  text-transform: none;
  display: block;
}

.collapseomatic {
  padding: 0 0 10px 16px;
  cursor: pointer;
  text-decoration: underline
}

blockquote {
  padding-left: 70px;
  padding-right: 10px;
  background-image: url(quotes.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin-top: -10px;
  margin-bottom: -10px;
  font-style: italic
}

.pm_width {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: #eee;
  margin-top: 40px
}

.pm_ind_title {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
  padding-top: 20px;
  margin-top: 20px
}

.pm_header_pic {
  width: 100%;
  padding-top: 50px;
  max-width: 1300px;
  margin: 0 auto
}

.header_pic_credit {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #696969;
  font-weight: 100;
  margin-top: 1em;
}

.PM_name_title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 100;
  line-height: 1 !important
}

.PM_and_title {
  text-transform: uppercase;
  font-weight: 100;
  line-height: 1 !important
}

.PM_date_title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100
}

.pm_width_underslider {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 50px;
  background-color: #eee;
  margin-top: 0
}

.pm_width p,
.pm_width_underslider p {
  margin: 1.4em 0;
}

.pm_pics {
  border-top: 2px solid #000;
  padding-top: 2.4em;
}

.pm_slider {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto
}

.pm_slider_wide {
  width: 120%;
  margin: 0 -10%;
}

.image_source_field a {
  color: #696969
}

.pm_width .image_source_field {
  font-weight: 100;
  text-align: center;
  font-size: 14px;
  margin: 1em auto;
  max-width: 400px;
  line-height: 1.4;
}

.footnote_link {
  color: #696969;
  font-size: 10px
}

.metaslider.metaslider-flex.metaslider-94.ml-slider.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden {
  margin: 0 auto
}

.metaslider.metaslider-flex.metaslider-127.ml-slider.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden {
  margin: 0 auto
}

.metaslider.metaslider-flex.metaslider-140.ml-slider.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden.nav-hidden {
  margin: 0 auto
}

.metaslider.metaslider-flex.metaslider-164.ml-slider.nav-hidden.nav-hidden.nav-hidden.nav-hidden {
  margin: 0 auto;
  margin-top: 15px
}

#post-175 {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;
  text-align: left !important;
  line-height: 1.8
}

.pm_slider_mcmahon {
  max-width: 320px;
  float: right;
  padding-top: 28px;
  margin-left: 40px
}

.large_image_pm {
  margin: 0 auto
}

.collapseomatic_content {
  margin-top: 0;
  margin-left: 0 !important;
  padding: 0
}

.copyright {
  float: left;
  color: #fff;
  width: 50%;
  text-align: left;
  font-weight: 100
}

.footer_social_links {
  display: inline-block;
  vertical-align: middle
}

.footer {
  background-color: #002a45
}

.footer_sticky {
  background-color: #002a45;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px
}

.footer_social {
  float: right
}

.footer_social a {
  margin: 0 3px;
  display: inline-block
}

#notes {
  list-style: none;
}

#notes li {
  padding-left: 3em;
  position: relative;
}

#notes li .anchor {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5em;
  text-align: right;
}

#wpfront-scroll-top-container {
  opacity: 0;
  right: 100px;
  bottom: 100px;
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 9999;
}

#wpfront-scroll-top-container img {
  width: 64px !important;
  height: 64px !important;
}

@media screen and (max-width:1300px) {
  .article_blurb_field {
    color: #fff;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    padding-top: 15px;
    padding-bottom: 10px
  }

}

@media screen and (max-width:900px) {
  #wpfront-scroll-top-container {
    display: none !important;
  }

  .article_header {
    height: 60vh
  }

  .article_blurb_field {
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    font-size: 13px;
    line-height: 1.3
  }

  .lowy_logo {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 12px 0
  }

  .lowy_top_bar_headline {
    display: none !important
  }

  .article_heading_field {
    padding-top: 6vh;
    text-align: center;
    color: #fff
  }

  .lowy_social {
    display: none !important
  }

  .author_info_field {
    width: 95%;
    min-width: 250px;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-weight: 100;
    padding-top: 4px;
    padding-bottom: 4px
  }

  .lowy_header {
    height: auto !important;
    background-color: #002a45
  }

  .lesson_info {
    text-align: left;
    width: 60%;
    display: inline-block;
    height: auto;
    vertical-align: middle
  }

  .number {
    text-align: left;
    width: 20%;
    display: inline-block;
    position: relative
  }

  #pm_links .collapseomatic {
    width: 33.333%;
    white-space: nowrap
  }

  .pm_slider_wide {
    margin: 0;
    width: 100%;
  }

  .pm_width {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 0.6em 2em;
    background-color: #eee;
    margin-top: 5%
  }

  .copyright,
  .footer_social {
    float: none;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 8px 0
  }

  .footer {
    font-size: 13px;
    text-align: center;
    color: #888
  }

}

