svg.bg-img#seats-and-parties
  <style type="text/css">#seats-and-parties circle{fill:#1C0A13;} #seats-and-parties line,polygon{fill:none;stroke:#3F3337;} #seats-and-parties .st3{fill:none;stroke:#3F3B3D;}</style>

  g
    circle(r="3" cx="0" cy="0" data-ring="0")
    circle(r="3" cx="0" cy="7.5" data-ring="1")
    circle(r="3" cx="-7.13292387221361" cy="2.317627457812115" data-ring="1")
    circle(r="3" cx="-4.4083893921935555" cy="-6.067627457812094" data-ring="1")
    circle(r="3" cx="4.4083893921935555" cy="-6.067627457812115" data-ring="1")
    circle(r="3" cx="7.13292387221361" cy="2.317627457812094" data-ring="1")
    circle(r="3" cx="0" cy="-15" data-ring="2")
    circle(r="3" cx="8.109612261833945" cy="-12.618802992467707" data-ring="2")
    circle(r="3" cx="13.644479930317743" cy="-6.231225195028294" data-ring="2")
    circle(r="3" cx="14.847321628213933" cy="2.1347225740992712" data-ring="2")
    circle(r="3" cx="11.336243615313947" cy="9.822911009179286" data-ring="2")
    circle(r="3" cx="4.225988352621414" cy="14.392394604217465" data-ring="2")
    circle(r="3" cx="-4.225988352621414" cy="14.392394604217465" data-ring="2")
    circle(r="3" cx="-11.336243615313947" cy="9.822911009179286" data-ring="2")
    circle(r="3" cx="-14.847321628213933" cy="2.1347225740992712" data-ring="2")
    circle(r="3" cx="-13.644479930317743" cy="-6.231225195028294" data-ring="2")
    circle(r="3" cx="-8.109612261833945" cy="-12.618802992467707" data-ring="2")
    circle(r="3" cx="0" cy="22.5" data-ring="3")
    circle(r="3" cx="-8.127937489210922" cy="20.980625161598006" data-ring="3")
    circle(r="3" cx="-15.158151982047514" cy="16.62770063746484" data-ring="3")
    circle(r="3" cx="-20.141174055488875" cy="10.02911300497211" data-ring="3")
    circle(r="3" cx="-22.40401896663832" cy="2.0760380879242817" data-ring="3")
    circle(r="3" cx="-21.641076971388458" cy="-6.157417276621864" data-ring="3")
    circle(r="3" cx="-17.95538761380533" cy="-13.559279318533271" data-ring="3")
    circle(r="3" cx="-11.84472366474057" cy="-19.129885553916314" data-ring="3")
    circle(r="3" cx="-4.134364150872784" cy="-22.11689474288779" data-ring="3")
    circle(r="3" cx="4.134364150872784" cy="-22.11689474288779" data-ring="3")
    circle(r="3" cx="11.84472366474057" cy="-19.129885553916314" data-ring="3")
    circle(r="3" cx="17.95538761380533" cy="-13.559279318533271" data-ring="3")
    circle(r="3" cx="21.641076971388372" cy="-6.157417276621864" data-ring="3")
    circle(r="3" cx="22.40401896663832" cy="2.0760380879242817" data-ring="3")
    circle(r="3" cx="20.141174055488875" cy="10.02911300497209" data-ring="3")
    circle(r="3" cx="15.158151982047514" cy="16.62770063746482" data-ring="3")
    circle(r="3" cx="8.127937489210922" cy="20.980625161598006" data-ring="3")
    circle(r="3" cx="0" cy="-30" data-ring="4")
    circle(r="3" cx="8.451976705242828" cy="-28.78478920843492" data-ring="4")
    circle(r="3" cx="16.21922452366789" cy="-25.237605984935435" data-ring="4")
    circle(r="3" cx="22.672487230627723" cy="-19.64582201835855" data-ring="4")
    circle(r="3" cx="27.288959860635487" cy="-12.462450390056588" data-ring="4")
    circle(r="3" cx="29.694643256428037" cy="-4.269445148198564" data-ring="4")
    circle(r="3" cx="29.694643256428037" cy="4.2694451481985425" data-ring="4")
    circle(r="3" cx="27.288959860635487" cy="12.462450390056588" data-ring="4")
    circle(r="3" cx="22.672487230627723" cy="19.64582201835855" data-ring="4")
    circle(r="3" cx="16.21922452366789" cy="25.237605984935435" data-ring="4")
    circle(r="3" cx="8.451976705242828" cy="28.78478920843493" data-ring="4")
    circle(r="3" cx="0" cy="30" data-ring="4")
    circle(r="3" cx="-8.451976705242828" cy="28.78478920843493" data-ring="4")
    circle(r="3" cx="-16.21922452366789" cy="25.237605984935435" data-ring="4")
    circle(r="3" cx="-22.672487230627723" cy="19.64582201835855" data-ring="4")
    circle(r="3" cx="-27.288959860635572" cy="12.46245039005661" data-ring="4")
    circle(r="3" cx="-29.694643256427952" cy="4.269445148198564" data-ring="4")
    circle(r="3" cx="-29.694643256427952" cy="-4.2694451481985425" data-ring="4")
    circle(r="3" cx="-27.288959860635572" cy="-12.46245039005661" data-ring="4")
    circle(r="3" cx="-22.672487230627723" cy="-19.64582201835856" data-ring="4")
    circle(r="3" cx="-16.21922452366789" cy="-25.237605984935424" data-ring="4")
    circle(r="3" cx="-8.451976705242828" cy="-28.78478920843492" data-ring="4")
    circle(r="3" cx="0" cy="37.5" data-ring="5")
    circle(r="3" cx="-8.344535023361857" cy="36.559796706818375" data-ring="5")
    circle(r="3" cx="-16.270640216908475" cy="33.78633254634072" data-ring="5")
    circle(r="3" cx="-23.38086756970253" cy="29.318680592551125" data-ring="5")
    circle(r="3" cx="-29.318680592551146" cy="23.38086756970251" data-ring="5")
    circle(r="3" cx="-33.78633254634076" cy="16.270640216908433" data-ring="5")
    circle(r="3" cx="-36.55979670681842" cy="8.344535023361793" data-ring="5")
    circle(r="3" cx="-37.5" cy="0" data-ring="5")
    circle(r="3" cx="-36.55979670681842" cy="-8.344535023361793" data-ring="5")
    circle(r="3" cx="-33.78633254634076" cy="-16.270640216908433" data-ring="5")
    circle(r="3" cx="-29.318680592551146" cy="-23.3808675697025" data-ring="5")
    circle(r="3" cx="-23.38086756970253" cy="-29.318680592551114" data-ring="5")
    circle(r="3" cx="-16.270640216908475" cy="-33.78633254634072" data-ring="5")
    circle(r="3" cx="-8.344535023361857" cy="-36.55979670681839" data-ring="5")
    circle(r="3" cx="0" cy="-37.5" data-ring="5")
    circle(r="3" cx="8.344535023361857" cy="-36.55979670681839" data-ring="5")
    circle(r="3" cx="16.270640216908475" cy="-33.78633254634072" data-ring="5")
    circle(r="3" cx="23.380867569702446" cy="-29.318680592551125" data-ring="5")
    circle(r="3" cx="29.31868059255106" cy="-23.38086756970251" data-ring="5")
    circle(r="3" cx="33.78633254634076" cy="-16.270640216908433" data-ring="5")
    circle(r="3" cx="36.55979670681842" cy="-8.344535023361793" data-ring="5")
    circle(r="3" cx="37.5" cy="0" data-ring="5")
    circle(r="3" cx="36.55979670681842" cy="8.344535023361772" data-ring="5")
    circle(r="3" cx="33.78633254634076" cy="16.270640216908433" data-ring="5")
    circle(r="3" cx="29.31868059255106" cy="23.38086756970251" data-ring="5")
    circle(r="3" cx="23.380867569702446" cy="29.318680592551104" data-ring="5")
    circle(r="3" cx="16.270640216908475" cy="33.78633254634072" data-ring="5")
    circle(r="3" cx="8.344535023361857" cy="36.559796706818375" data-ring="5")
    circle(r="3" cx="0" cy="-45" data-ring="6")
    circle(r="3" cx="8.268728301745568" cy="-44.23378948577558" data-ring="6")
    circle(r="3" cx="16.255874978421843" cy="-41.96125032319601" data-ring="6")
    circle(r="3" cx="23.68944732948097" cy="-38.25977110783263" data-ring="6")
    circle(r="3" cx="30.316303964095027" cy="-33.25540127492966" data-ring="6")
    circle(r="3" cx="35.91077522761083" cy="-27.11855863706653" data-ring="6")
    circle(r="3" cx="40.28234811097775" cy="-20.05822600994422" data-ring="6")
    circle(r="3" cx="43.282153942776915" cy="-12.314834553243728" data-ring="6")
    circle(r="3" cx="44.80803793327664" cy="-4.152076175848585" data-ring="6")
    circle(r="3" cx="44.80803793327664" cy="4.152076175848585" data-ring="6")
    circle(r="3" cx="43.282153942776915" cy="12.314834553243728" data-ring="6")
    circle(r="3" cx="40.28234811097775" cy="20.05822600994422" data-ring="6")
    circle(r="3" cx="35.91077522761083" cy="27.118558637066542" data-ring="6")
    circle(r="3" cx="30.316303964095027" cy="33.25540127492966" data-ring="6")
    circle(r="3" cx="23.68944732948097" cy="38.25977110783263" data-ring="6")
    circle(r="3" cx="16.255874978421843" cy="41.96125032319601" data-ring="6")
    circle(r="3" cx="8.268728301745568" cy="44.23378948577558" data-ring="6")
    circle(r="3" cx="0" cy="45" data-ring="6")
    circle(r="3" cx="-8.268728301745568" cy="44.23378948577558" data-ring="6")
    circle(r="3" cx="-16.255874978421843" cy="41.96125032319601" data-ring="6")
    circle(r="3" cx="-23.68944732948097" cy="38.25977110783263" data-ring="6")
    circle(r="3" cx="-30.316303964095027" cy="33.25540127492966" data-ring="6")
    circle(r="3" cx="-35.91077522761083" cy="27.118558637066542" data-ring="6")
    circle(r="3" cx="-40.282348110977836" cy="20.05822600994422" data-ring="6")
    circle(r="3" cx="-43.28215394277683" cy="12.314834553243728" data-ring="6")
    circle(r="3" cx="-44.80803793327655" cy="4.152076175848585" data-ring="6")
    circle(r="3" cx="-44.80803793327655" cy="-4.152076175848563" data-ring="6")
    circle(r="3" cx="-43.28215394277683" cy="-12.314834553243728" data-ring="6")
    circle(r="3" cx="-40.282348110977836" cy="-20.0582260099442" data-ring="6")
    circle(r="3" cx="-35.91077522761083" cy="-27.11855863706652" data-ring="6")
    circle(r="3" cx="-30.316303964095113" cy="-33.25540127492964" data-ring="6")
    circle(r="3" cx="-23.689447329481055" cy="-38.25977110783263" data-ring="6")
    circle(r="3" cx="-16.255874978421843" cy="-41.96125032319601" data-ring="6")
    circle(r="3" cx="-8.268728301745739" cy="-44.23378948577558" data-ring="6")
    circle(r="3" cx="0" cy="52.5" data-ring="7")
    circle(r="3" cx="-8.421592245032457" cy="51.82013878849044" data-ring="7")
    circle(r="3" cx="-16.625069674577333" cy="49.798163202225155" data-ring="7")
    circle(r="3" cx="-24.39796653229783" cy="46.48644134679353" data-ring="7")
    circle(r="3" cx="-31.538968872493854" cy="41.97074507868381" data-ring="7")
    circle(r="3" cx="-37.86312848555025" cy="36.36802855925397" data-ring="7")
    circle(r="3" cx="-43.20665295941697" cy="29.823399203385684" data-ring="7")
    circle(r="3" cx="-47.43114781704509" cy="22.50635947366034" data-ring="7")
    circle(r="3" cx="-50.42720086064702" cy="14.60641685561378" data-ring="7")
    circle(r="3" cx="-52.11721589014786" cy="6.3281757134044625" data-ring="7")
    circle(r="3" cx="-52.45742240400739" cy="-2.1139618557442716" data-ring="7")
    circle(r="3" cx="-51.439009232219036" cy="-10.501348923242332" data-ring="7")
    circle(r="3" cx="-49.08835274098425" cy="-18.61675656973312" data-ring="7")
    circle(r="3" cx="-45.46633369868306" cy="-26.24999999999998" data-ring="7")
    circle(r="3" cx="-40.66676049595188" cy="-33.2033822187573" data-ring="7")
    circle(r="3" cx="-34.81393955764179" cy="-39.2968142789828" data-ring="7")
    circle(r="3" cx="-28.05945587170956" cy="-44.37247949104921" data-ring="7")
    circle(r="3" cx="-20.578247017653922" cy="-48.29892079208827" data-ring="7")
    circle(r="3" cx="-12.56407237509677" cy="-50.97444541486773" data-ring="7")
    circle(r="3" cx="-4.224494857628031" cy="-52.32975867704602" data-ring="7")
    circle(r="3" cx="4.224494857628031" cy="-52.32975867704602" data-ring="7")
    circle(r="3" cx="12.56407237509677" cy="-50.974445414867745" data-ring="7")
    circle(r="3" cx="20.578247017654007" cy="-48.298920792088275" data-ring="7")
    circle(r="3" cx="28.059455871709474" cy="-44.37247949104923" data-ring="7")
    circle(r="3" cx="34.81393955764179" cy="-39.2968142789828" data-ring="7")
    circle(r="3" cx="40.66676049595196" cy="-33.2033822187573" data-ring="7")
    circle(r="3" cx="45.46633369868306" cy="-26.25000000000002" data-ring="7")
    circle(r="3" cx="49.08835274098425" cy="-18.61675656973314" data-ring="7")
    circle(r="3" cx="51.43900923221912" cy="-10.501348923242354" data-ring="7")
    circle(r="3" cx="52.45742240400739" cy="-2.113961855744293" data-ring="7")
    circle(r="3" cx="52.11721589014786" cy="6.3281757134044625" data-ring="7")
    circle(r="3" cx="50.42720086064702" cy="14.606416855613737" data-ring="7")
    circle(r="3" cx="47.43114781704509" cy="22.506359473660318" data-ring="7")
    circle(r="3" cx="43.206652959417056" cy="29.823399203385662" data-ring="7")
    circle(r="3" cx="37.86312848555025" cy="36.36802855925397" data-ring="7")
    circle(r="3" cx="31.538968872493854" cy="41.97074507868381" data-ring="7")
    circle(r="3" cx="24.397966532297914" cy="46.48644134679353" data-ring="7")
    circle(r="3" cx="16.625069674577333" cy="49.79816320222513" data-ring="7")
    circle(r="3" cx="8.421592245032457" cy="51.82013878849044" data-ring="7")
    circle(r="3" cx="0" cy="-60" data-ring="8")
    circle(r="3" cx="8.350386057603885" cy="-59.41608412449422" data-ring="8")
    circle(r="3" cx="16.538241349019984" cy="-57.675701756299134" data-ring="8")
    circle(r="3" cx="24.404198584548" cy="-54.812727458556054" data-ring="8")
    circle(r="3" cx="31.795155853992355" cy="-50.88288576938557" data-ring="8")
    circle(r="3" cx="38.56725658119234" cy="-45.962666587138685" data-ring="8")
    circle(r="3" cx="44.58868952864373" cy="-40.14783638153149" data-ring="8")
    circle(r="3" cx="49.74225435330243" cy="-33.5515742082448" data-ring="8")
    circle(r="3" cx="53.92764277795004" cy="-26.30226880734464" data-ring="8")
    circle(r="3" cx="57.06339097770922" cy="-18.541019662496847" data-ring="8")
    circle(r="3" cx="59.0884651807325" cy="-10.418890660015826" data-ring="8")
    circle(r="3" cx="59.96344962114574" cy="-2.0939698021500632" data-ring="8")
    circle(r="3" cx="59.67131372209644" cy="6.271707796059204" data-ring="8")
    circle(r="3" cx="58.21774357655988" cy="14.515313735980058" data-ring="8")
    circle(r="3" cx="55.63103127400717" cy="22.476395604954718" data-ring="8")
    circle(r="3" cx="51.96152422706638" cy="30" data-ring="8")
    circle(r="3" cx="47.280645216403286" cy="36.9396885195395" data-ring="8")
    circle(r="3" cx="41.6795022275399" cy="43.160388020319054" data-ring="8")
    circle(r="3" cx="35.267115137548444" cy="48.541019662496836" data-ring="8")
    circle(r="3" cx="28.168293767153386" cy="52.97685557153561" data-ring="8")
    circle(r="3" cx="20.52120859954016" cy="56.38155724715449" data-ring="8")
    circle(r="3" cx="12.474701449065492" cy="58.68885604402834" data-ring="8")
    circle(r="3" cx="4.185388424647613" cy="59.853843015589455" data-ring="8")
    circle(r="3" cx="-4.185388424647442" cy="59.853843015589455" data-ring="8")
    circle(r="3" cx="-12.474701449065492" cy="58.68885604402834" data-ring="8")
    circle(r="3" cx="-20.52120859954016" cy="56.38155724715451" data-ring="8")
    circle(r="3" cx="-28.168293767153386" cy="52.97685557153563" data-ring="8")
    circle(r="3" cx="-35.26711513754836" cy="48.541019662496836" data-ring="8")
    circle(r="3" cx="-41.679502227539814" cy="43.160388020319076" data-ring="8")
    circle(r="3" cx="-47.280645216403286" cy="36.93968851953948" data-ring="8")
    circle(r="3" cx="-51.96152422706629" cy="30.00000000000002" data-ring="8")
    circle(r="3" cx="-55.631031274007256" cy="22.47639560495474" data-ring="8")
    circle(r="3" cx="-58.2177435765598" cy="14.515313735980058" data-ring="8")
    circle(r="3" cx="-59.67131372209644" cy="6.271707796059246" data-ring="8")
    circle(r="3" cx="-59.96344962114574" cy="-2.0939698021500206" data-ring="8")
    circle(r="3" cx="-59.0884651807325" cy="-10.418890660015805" data-ring="8")
    circle(r="3" cx="-57.06339097770922" cy="-18.541019662496836" data-ring="8")
    circle(r="3" cx="-53.92764277795004" cy="-26.30226880734465" data-ring="8")
    circle(r="3" cx="-49.74225435330251" cy="-33.551574208244816" data-ring="8")
    circle(r="3" cx="-44.58868952864364" cy="-40.14783638153152" data-ring="8")
    circle(r="3" cx="-38.56725658119234" cy="-45.96266658713867" data-ring="8")
    circle(r="3" cx="-31.79515585399227" cy="-50.88288576938555" data-ring="8")
    circle(r="3" cx="-24.404198584548" cy="-54.81272745855606" data-ring="8")
    circle(r="3" cx="-16.538241349019984" cy="-57.675701756299134" data-ring="8")
    circle(r="3" cx="-8.350386057603885" cy="-59.41608412449422" data-ring="8")
    circle(r="3" cx="0" cy="67.5" data-ring="9")
    circle(r="3" cx="-8.294959619868166" cy="66.98838440285567" data-ring="9")
    circle(r="3" cx="-16.46417610731544" cy="65.46129318236314" data-ring="9")
    circle(r="3" cx="-24.38381246763285" cy="62.94187548479402" data-ring="9")
    circle(r="3" cx="-31.933815086430656" cy="59.46832311429047" data-ring="9")
    circle(r="3" cx="-38.99973362005696" cy="55.09329158404498" data-ring="9")
    circle(r="3" cx="-45.474455946142626" cy="49.88310191239448" data-ring="9")
    circle(r="3" cx="-51.25983187419277" cy="43.91673526378634" data-ring="9")
    circle(r="3" cx="-56.26816100242556" cy="37.28463567483415" data-ring="9")
    circle(r="3" cx="-60.42352216646671" cy="30.087339014916353" data-ring="9")
    circle(r="3" cx="-63.66292432681121" cy="22.43394896487702" data-ring="9")
    circle(r="3" cx="-65.93726144877303" cy="14.440483116438585" data-ring="9")
    circle(r="3" cx="-67.21205689991487" cy="6.228114263772866" data-ring="9")
    circle(r="3" cx="-67.4679860806522" cy="-2.0786664525414764" data-ring="9")
    circle(r="3" cx="-66.70116936548504" cy="-10.35393670431128" data-ring="9")
    circle(r="3" cx="-64.92323091416529" cy="-18.47225182986559" data-ring="9")
    circle(r="3" cx="-62.16112246128441" cy="-26.310546447255838" data-ring="9")
    circle(r="3" cx="-58.45671475544961" cy="-33.74999999999998" data-ring="9")
    circle(r="3" cx="-53.866162841416156" cy="-40.67783795559979" data-ring="9")
    circle(r="3" cx="-48.45905480684985" cy="-46.989041352497544" data-ring="9")
    circle(r="3" cx="-42.31735689785219" cy="-52.58793878048276" data-ring="9")
    circle(r="3" cx="-35.53417099422154" cy="-57.389656661748944" data-ring="9")
    circle(r="3" cx="-28.212323279857912" cy="-61.32140584781786" data-ring="9")
    circle(r="3" cx="-20.462805502630488" cy="-64.32358502883307" data-ring="9")
    circle(r="3" cx="-12.403092452618523" cy="-66.35068422866338" data-ring="9")
    circle(r="3" cx="-4.155361164041153" cy="-67.37197468975049" data-ring="9")
    circle(r="3" cx="4.155361164041153" cy="-67.37197468975049" data-ring="9")
    circle(r="3" cx="12.403092452618353" cy="-66.35068422866338" data-ring="9")
    circle(r="3" cx="20.462805502630488" cy="-64.32358502883305" data-ring="9")
    circle(r="3" cx="28.212323279857912" cy="-61.321405847817864" data-ring="9")
    circle(r="3" cx="35.53417099422154" cy="-57.38965666174895" data-ring="9")
    circle(r="3" cx="42.31735689785211" cy="-52.58793878048277" data-ring="9")
    circle(r="3" cx="48.45905480684985" cy="-46.98904135249759" data-ring="9")
    circle(r="3" cx="53.866162841416156" cy="-40.67783795559981" data-ring="9")
    circle(r="3" cx="58.456714755449525" cy="-33.75000000000003" data-ring="9")
    circle(r="3" cx="62.16112246128432" cy="-26.31054644725586" data-ring="9")
    circle(r="3" cx="64.92323091416529" cy="-18.472251829865613" data-ring="9")
    circle(r="3" cx="66.70116936548504" cy="-10.353936704311302" data-ring="9")
    circle(r="3" cx="67.46798608065228" cy="-2.078666452541519" data-ring="9")
    circle(r="3" cx="67.21205689991478" cy="6.228114263772845" data-ring="9")
    circle(r="3" cx="65.93726144877303" cy="14.440483116438585" data-ring="9")
    circle(r="3" cx="63.66292432681121" cy="22.433948964876997" data-ring="9")
    circle(r="3" cx="60.423522166466796" cy="30.08733901491629" data-ring="9")
    circle(r="3" cx="56.26816100242564" cy="37.28463567483413" data-ring="9")
    circle(r="3" cx="51.259831874192685" cy="43.916735263786364" data-ring="9")
    circle(r="3" cx="45.47445594614271" cy="49.88310191239444" data-ring="9")
    circle(r="3" cx="38.99973362005687" cy="55.093291584044955" data-ring="9")
    circle(r="3" cx="31.93381508643074" cy="59.46832311429043" data-ring="9")
    circle(r="3" cx="24.383812467632765" cy="62.941875484794" data-ring="9")
    circle(r="3" cx="16.46417610731544" cy="65.46129318236314" data-ring="9")
    circle(r="3" cx="8.294959619868337" cy="66.98838440285564" data-ring="9")
    circle(r="3" cx="0" cy="-75" data-ring="10")
    circle(r="3" cx="8.250616574555977" cy="-74.54480079884621" data-ring="10")
    circle(r="3" cx="16.40108184047824" cy="-73.18472869705766" data-ring="10")
    circle(r="3" cx="24.35246019035128" cy="-70.9362931275476" data-ring="10")
    circle(r="3" cx="32.008232662230284" cy="-67.82678705231831" data-ring="10")
    circle(r="3" cx="39.27546854909082" cy="-63.893955662874525" data-ring="10")
    circle(r="3" cx="46.065953451725136" cy="-59.18553820472951" data-ring="10")
    circle(r="3" cx="52.29726008204972" cy="-53.75868848763384" data-ring="10")
    circle(r="3" cx="57.89374881872408" cy="-47.6792811157476" data-ring="10")
    circle(r="3" cx="62.787485869689704" cy="-41.02111185918202" data-ring="10")
    circle(r="3" cx="66.91906789637949" cy="-33.8650018733167" data-ring="10")
    circle(r="3" cx="70.23834308977905" cy="-26.297816639456585" data-ring="10")
    circle(r="3" cx="72.70501994544975" cy="-18.411411535559935" data-ring="10")
    circle(r="3" cx="74.2891563478127" cy="-10.301516836380607" data-ring="10")
    circle(r="3" cx="74.97152302687141" cy="-2.0665756776121498" data-ring="10")
    circle(r="3" cx="74.74383697550019" cy="6.1934509104249145" data-ring="10")
    circle(r="3" cx="73.60886199393138" cy="14.378297394280366" data-ring="10")
    circle(r="3" cx="71.58037514096316" cy="22.38861082512709" data-ring="10")
    circle(r="3" cx="68.68299949912932" cy="30.127156848972696" data-ring="10")
    circle(r="3" cx="64.95190528383284" cy="37.5" data-ring="10")
    circle(r="3" cx="60.432382924573346" cy="44.41764394987348" data-ring="10")
    circle(r="3" cx="55.179293300484915" cy="50.79611787193057" data-ring="10")
    circle(r="3" cx="49.256401803580104" cy="56.55799573326721" data-ring="10")
    circle(r="3" cx="42.7356043132699" cy="61.633336141893395" data-ring="10")
    circle(r="3" cx="35.69605447778059" cy="65.96053134048668" data-ring="10")
    circle(r="3" cx="28.22320289608774" cy="69.48705504111012" data-ring="10")
    circle(r="3" cx="20.4077598634002" cy="72.1701000231938" data-ring="10")
    circle(r="3" cx="12.344594271055144" cy="73.97709775520418" data-ring="10")
    circle(r="3" cx="4.131582026689955" cy="74.88611373249871" data-ring="10")
    circle(r="3" cx="-4.131582026689955" cy="74.88611373249871" data-ring="10")
    circle(r="3" cx="-12.344594271054973" cy="73.97709775520418" data-ring="10")
    circle(r="3" cx="-20.407759863400116" cy="72.1701000231938" data-ring="10")
    circle(r="3" cx="-28.223202896087656" cy="69.48705504111015" data-ring="10")
    circle(r="3" cx="-35.69605447778051" cy="65.9605313404867" data-ring="10")
    circle(r="3" cx="-42.7356043132699" cy="61.633336141893395" data-ring="10")
    circle(r="3" cx="-49.256401803580104" cy="56.557995733267234" data-ring="10")
    circle(r="3" cx="-55.17929330048483" cy="50.79611787193061" data-ring="10")
    circle(r="3" cx="-60.432382924573346" cy="44.41764394987352" data-ring="10")
    circle(r="3" cx="-64.95190528383284" cy="37.50000000000002" data-ring="10")
    circle(r="3" cx="-68.68299949912932" cy="30.12715684897274" data-ring="10")
    circle(r="3" cx="-71.58037514096307" cy="22.38861082512711" data-ring="10")
    circle(r="3" cx="-73.60886199393138" cy="14.378297394280409" data-ring="10")
    circle(r="3" cx="-74.74383697550027" cy="6.193450910424957" data-ring="10")
    circle(r="3" cx="-74.97152302687132" cy="-2.0665756776121285" data-ring="10")
    circle(r="3" cx="-74.2891563478127" cy="-10.301516836380586" data-ring="10")
    circle(r="3" cx="-72.70501994544975" cy="-18.411411535559914" data-ring="10")
    circle(r="3" cx="-70.23834308977914" cy="-26.297816639456563" data-ring="10")
    circle(r="3" cx="-66.91906789637957" cy="-33.865001873316686" data-ring="10")
    circle(r="3" cx="-62.787485869689704" cy="-41.021111859182" data-ring="10")
    circle(r="3" cx="-57.89374881872408" cy="-47.67928111574758" data-ring="10")
    circle(r="3" cx="-52.29726008204972" cy="-53.75868848763383" data-ring="10")
    circle(r="3" cx="-46.065953451725136" cy="-59.18553820472951" data-ring="10")
    circle(r="3" cx="-39.27546854909082" cy="-63.893955662874525" data-ring="10")
    circle(r="3" cx="-32.008232662230284" cy="-67.82678705231831" data-ring="10")
    circle(r="3" cx="-24.35246019035128" cy="-70.9362931275476" data-ring="10")
    circle(r="3" cx="-16.40108184047824" cy="-73.18472869705766" data-ring="10")
    circle(r="3" cx="-8.250616574555977" cy="-74.54480079884621" data-ring="10")
    circle(r="3" cx="0" cy="82.5" data-ring="11")
    circle(r="3" cx="-8.346386563963165" cy="82.07671917983137" data-ring="11")
    circle(r="3" cx="-16.607127907314407" cy="80.81122015333078" data-ring="11")
    circle(r="3" cx="-24.697457645301995" cy="78.71648865300403" data-ring="11")
    circle(r="3" cx="-32.53435804684875" cy="75.81401945866904" data-ring="11")
    circle(r="3" cx="-40.03741190881419" cy="72.13359583192803" data-ring="11")
    circle(r="3" cx="-47.129627745320334" cy="67.7129838996003" data-ring="11")
    circle(r="3" cx="-53.7382298245833" cy="62.59754512215525" data-ring="11")
    circle(r="3" cx="-59.79540494640236" cy="56.839770823744146" data-ring="11")
    circle(r="3" cx="-65.23899829736015" cy="50.49874356018218" data-ring="11")
    circle(r="3" cx="-70.01315124331691" cy="43.63953085197442" data-ring="11")
    circle(r="3" cx="-74.06887451458616" cy="36.33251750350482" data-ring="11")
    circle(r="3" cx="-77.36455090213414" cy="28.652683359697697" data-ring="11")
    circle(r="3" cx="-79.86636230646187" cy="20.678833911344427" data-ring="11")
    circle(r="3" cx="-81.5486367570692" cy="12.4927916441276" data-ring="11")
    circle(r="3" cx="-82.39411184161187" cy="4.178556429193783" data-ring="11")
    circle(r="3" cx="-82.39411184161187" cy="-4.178556429193762" data-ring="11")
    circle(r="3" cx="-81.5486367570692" cy="-12.492791644127536" data-ring="11")
    circle(r="3" cx="-79.86636230646187" cy="-20.678833911344448" data-ring="11")
    circle(r="3" cx="-77.36455090213414" cy="-28.652683359697676" data-ring="11")
    circle(r="3" cx="-74.06887451458616" cy="-36.33251750350484" data-ring="11")
    circle(r="3" cx="-70.013151243317" cy="-43.63953085197437" data-ring="11")
    circle(r="3" cx="-65.23899829736015" cy="-50.49874356018218" data-ring="11")
    circle(r="3" cx="-59.79540494640236" cy="-56.83977082374413" data-ring="11")
    circle(r="3" cx="-53.738229824583385" cy="-62.59754512215523" data-ring="11")
    circle(r="3" cx="-47.12962774532042" cy="-67.71298389960025" data-ring="11")
    circle(r="3" cx="-40.03741190881419" cy="-72.13359583192805" data-ring="11")
    circle(r="3" cx="-32.53435804684875" cy="-75.81401945866902" data-ring="11")
    circle(r="3" cx="-24.69745764530208" cy="-78.716488653004" data-ring="11")
    circle(r="3" cx="-16.607127907314407" cy="-80.8112201533308" data-ring="11")
    circle(r="3" cx="-8.346386563963165" cy="-82.07671917983134" data-ring="11")
    circle(r="3" cx="0" cy="-82.5" data-ring="11")
    circle(r="3" cx="8.346386563963165" cy="-82.07671917983136" data-ring="11")
    circle(r="3" cx="16.607127907314407" cy="-80.8112201533308" data-ring="11")
    circle(r="3" cx="24.697457645301995" cy="-78.71648865300405" data-ring="11")
    circle(r="3" cx="32.53435804684875" cy="-75.81401945866904" data-ring="11")
    circle(r="3" cx="40.03741190881419" cy="-72.133595831928" data-ring="11")
    circle(r="3" cx="47.12962774532042" cy="-67.71298389960027" data-ring="11")
    circle(r="3" cx="53.7382298245833" cy="-62.59754512215524" data-ring="11")
    circle(r="3" cx="59.79540494640236" cy="-56.83977082374417" data-ring="11")
    circle(r="3" cx="65.23899829736007" cy="-50.49874356018218" data-ring="11")
    circle(r="3" cx="70.013151243317" cy="-43.63953085197442" data-ring="11")
    circle(r="3" cx="74.06887451458624" cy="-36.33251750350489" data-ring="11")
    circle(r="3" cx="77.36455090213406" cy="-28.652683359697633" data-ring="11")
    circle(r="3" cx="79.86636230646195" cy="-20.678833911344448" data-ring="11")
    circle(r="3" cx="81.54863675706929" cy="-12.492791644127621" data-ring="11")
    circle(r="3" cx="82.39411184161179" cy="-4.178556429193804" data-ring="11")
    circle(r="3" cx="82.39411184161179" cy="4.178556429193762" data-ring="11")
    circle(r="3" cx="81.54863675706929" cy="12.492791644127578" data-ring="11")
    circle(r="3" cx="79.86636230646195" cy="20.678833911344405" data-ring="11")
    circle(r="3" cx="77.36455090213423" cy="28.65268335969759" data-ring="11")
    circle(r="3" cx="74.06887451458624" cy="36.33251750350486" data-ring="11")
    circle(r="3" cx="70.013151243317" cy="43.6395308519744" data-ring="11")
    circle(r="3" cx="65.23899829736024" cy="50.498743560182135" data-ring="11")
    circle(r="3" cx="59.79540494640236" cy="56.839770823744125" data-ring="11")
    circle(r="3" cx="53.7382298245833" cy="62.59754512215521" data-ring="11")
    circle(r="3" cx="47.12962774532042" cy="67.71298389960029" data-ring="11")
    circle(r="3" cx="40.03741190881419" cy="72.13359583192799" data-ring="11")
    circle(r="3" cx="32.53435804684875" cy="75.81401945866901" data-ring="11")
    circle(r="3" cx="24.697457645301995" cy="78.71648865300403" data-ring="11")
    circle(r="3" cx="16.607127907314407" cy="80.81122015333078" data-ring="11")
    circle(r="3" cx="8.346386563963165" cy="82.07671917983137" data-ring="11")
    circle(r="3" cx="0" cy="-90" data-ring="12")
    circle(r="3" cx="8.304152351697212" cy="-89.6160758665531" data-ring="12")
    circle(r="3" cx="16.537456603491307" cy="-88.46757897155116" data-ring="12")
    circle(r="3" cx="24.62966910648754" cy="-86.56430788555372" data-ring="12")
    circle(r="3" cx="32.51174995684369" cy="-83.92250064639202" data-ring="12")
    circle(r="3" cx="40.11645201988836" cy="-80.56469622195561" data-ring="12")
    circle(r="3" cx="47.37889465896194" cy="-76.51954221566527" data-ring="12")
    circle(r="3" cx="54.237117274133084" cy="-71.82155045522155" data-ring="12")
    circle(r="3" cx="60.632607928190055" cy="-66.51080254985932" data-ring="12")
    circle(r="3" cx="66.51080254985936" cy="-60.632607928190154" data-ring="12")
    circle(r="3" cx="71.82155045522165" cy="-54.23711727413306" data-ring="12")
    circle(r="3" cx="76.5195422156653" cy="-47.37889465896201" data-ring="12")
    circle(r="3" cx="80.5646962219555" cy="-40.11645201988844" data-ring="12")
    circle(r="3" cx="83.92250064639211" cy="-32.51174995684377" data-ring="12")
    circle(r="3" cx="86.56430788555366" cy="-24.629669106487466" data-ring="12")
    circle(r="3" cx="88.46757897155112" cy="-16.53745660349134" data-ring="12")
    circle(r="3" cx="89.6160758665531" cy="-8.30415235169717" data-ring="12")
    circle(r="3" cx="90" cy="0" data-ring="12")
    circle(r="3" cx="89.6160758665531" cy="8.30415235169717" data-ring="12")
    circle(r="3" cx="88.46757897155112" cy="16.53745660349135" data-ring="12")
    circle(r="3" cx="86.56430788555366" cy="24.629669106487455" data-ring="12")
    circle(r="3" cx="83.92250064639211" cy="32.51174995684377" data-ring="12")
    circle(r="3" cx="80.5646962219555" cy="40.11645201988844" data-ring="12")
    circle(r="3" cx="76.5195422156653" cy="47.378894658962025" data-ring="12")
    circle(r="3" cx="71.82155045522165" cy="54.23711727413306" data-ring="12")
    circle(r="3" cx="66.51080254985936" cy="60.63260792819016" data-ring="12")
    circle(r="3" cx="60.632607928190225" cy="66.51080254985932" data-ring="12")
    circle(r="3" cx="54.237117274133084" cy="71.82155045522157" data-ring="12")
    circle(r="3" cx="47.37889465896211" cy="76.51954221566525" data-ring="12")
    circle(r="3" cx="40.11645201988836" cy="80.56469622195559" data-ring="12")
    circle(r="3" cx="32.51174995684386" cy="83.92250064639202" data-ring="12")
    circle(r="3" cx="24.62966910648754" cy="86.5643078855537" data-ring="12")
    circle(r="3" cx="16.537456603491307" cy="88.46757897155116" data-ring="12")
    circle(r="3" cx="8.304152351697212" cy="89.6160758665531" data-ring="12")
    circle(r="3" cx="0" cy="90" data-ring="12")
    circle(r="3" cx="-8.304152351697212" cy="89.6160758665531" data-ring="12")
    circle(r="3" cx="-16.537456603491307" cy="88.46757897155116" data-ring="12")
    circle(r="3" cx="-24.62966910648737" cy="86.56430788555375" data-ring="12")
    circle(r="3" cx="-32.51174995684377" cy="83.92250064639202" data-ring="12")
    circle(r="3" cx="-40.11645201988836" cy="80.56469622195563" data-ring="12")
    circle(r="3" cx="-47.378894658962025" cy="76.51954221566525" data-ring="12")
    circle(r="3" cx="-54.237117274133084" cy="71.82155045522157" data-ring="12")
    circle(r="3" cx="-60.63260792819014" cy="66.51080254985932" data-ring="12")
    circle(r="3" cx="-66.51080254985928" cy="60.63260792819018" data-ring="12")
    circle(r="3" cx="-71.82155045522157" cy="54.237117274133084" data-ring="12")
    circle(r="3" cx="-76.5195422156653" cy="47.37889465896205" data-ring="12")
    circle(r="3" cx="-80.56469622195559" cy="40.11645201988842" data-ring="12")
    circle(r="3" cx="-83.92250064639202" cy="32.51174995684377" data-ring="12")
    circle(r="3" cx="-86.56430788555375" cy="24.629669106487476" data-ring="12")
    circle(r="3" cx="-88.46757897155112" cy="16.53745660349137" data-ring="12")
    circle(r="3" cx="-89.6160758665531" cy="8.30415235169717" data-ring="12")
    circle(r="3" cx="-90" cy="2.1316282072803006e-14" data-ring="12")
    circle(r="3" cx="-89.6160758665531" cy="-8.304152351697148" data-ring="12")
    circle(r="3" cx="-88.46757897155112" cy="-16.53745660349135" data-ring="12")
    circle(r="3" cx="-86.56430788555375" cy="-24.629669106487455" data-ring="12")
    circle(r="3" cx="-83.92250064639202" cy="-32.511749956843744" data-ring="12")
    circle(r="3" cx="-80.56469622195567" cy="-40.1164520198884" data-ring="12")
    circle(r="3" cx="-76.5195422156653" cy="-47.378894658962025" data-ring="12")
    circle(r="3" cx="-71.82155045522157" cy="-54.237117274133055" data-ring="12")
    circle(r="3" cx="-66.51080254985928" cy="-60.63260792819018" data-ring="12")
    circle(r="3" cx="-60.632607928190225" cy="-66.51080254985928" data-ring="12")
    circle(r="3" cx="-54.237117274133084" cy="-71.82155045522155" data-ring="12")
    circle(r="3" cx="-47.378894658962025" cy="-76.51954221566525" data-ring="12")
    circle(r="3" cx="-40.11645201988844" cy="-80.56469622195561" data-ring="12")
    circle(r="3" cx="-32.51174995684377" cy="-83.92250064639202" data-ring="12")
    circle(r="3" cx="-24.629669106487455" cy="-86.56430788555372" data-ring="12")
    circle(r="3" cx="-16.537456603491307" cy="-88.46757897155115" data-ring="12")
    circle(r="3" cx="-8.304152351697212" cy="-89.61607586655312" data-ring="12")
    circle(r="3" cx="0" cy="97.5" data-ring="13")
    circle(r="3" cx="-8.268577636362124" cy="97.14875513289633" data-ring="13")
    circle(r="3" cx="-16.477579981380302" cy="96.09755125890155" data-ring="13")
    circle(r="3" cx="-24.56786098504972" cy="94.35396232601614" data-ring="13")
    circle(r="3" cx="-32.481129987350585" cy="91.9305509324557" data-ring="13")
    circle(r="3" cx="-40.16037170378925" cy="88.8447778128432" data-ring="13")
    circle(r="3" cx="-47.55025702182934" cy="85.11887603321583" data-ring="13")
    circle(r="3" cx="-54.597541648415586" cy="80.77969080127461" data-ring="13")
    circle(r="3" cx="-61.251449736325156" cy="75.85848604604783" data-ring="13")
    circle(r="3" cx="-67.46403972531078" cy="70.39071916056614" data-ring="13")
    circle(r="3" cx="-73.19054976214065" cy="64.41578553053294" data-ring="13")
    circle(r="3" cx="-78.38972021077669" cy="57.97673468966795" data-ring="13")
    circle(r="3" cx="-83.02409092899788" cy="51.11996014683008" data-ring="13")
    circle(r="3" cx="-87.0602711695829" cy="43.89486511972318" data-ring="13")
    circle(r="3" cx="-90.46918016140964" cy="36.35350658358009" data-ring="13")
    circle(r="3" cx="-93.22625663707694" cy="28.550220199463652" data-ring="13")
    circle(r="3" cx="-95.31163579739939" cy="20.541228824583285" data-ring="13")
    circle(r="3" cx="-96.71029243774049" cy="12.384237425320663" data-ring="13")
    circle(r="3" cx="-97.41214920495642" cy="4.1380173116244805" data-ring="13")
    circle(r="3" cx="-97.41214920495642" cy="-4.138017311624459" data-ring="13")
    circle(r="3" cx="-96.71029243774049" cy="-12.384237425320684" data-ring="13")
    circle(r="3" cx="-95.31163579739939" cy="-20.541228824583264" data-ring="13")
    circle(r="3" cx="-93.22625663707694" cy="-28.55022019946363" data-ring="13")
    circle(r="3" cx="-90.46918016140964" cy="-36.35350658358007" data-ring="13")
    circle(r="3" cx="-87.0602711695829" cy="-43.89486511972316" data-ring="13")
    circle(r="3" cx="-83.02409092899788" cy="-51.11996014683007" data-ring="13")
    circle(r="3" cx="-78.38972021077669" cy="-57.976734689667936" data-ring="13")
    circle(r="3" cx="-73.19054976214065" cy="-64.41578553053293" data-ring="13")
    circle(r="3" cx="-67.46403972531078" cy="-70.39071916056614" data-ring="13")
    circle(r="3" cx="-61.251449736325156" cy="-75.85848604604786" data-ring="13")
    circle(r="3" cx="-54.5975416484155" cy="-80.77969080127463" data-ring="13")
    circle(r="3" cx="-47.55025702182934" cy="-85.11887603321587" data-ring="13")
    circle(r="3" cx="-40.16037170378925" cy="-88.84477781284325" data-ring="13")
    circle(r="3" cx="-32.481129987350585" cy="-91.93055093245572" data-ring="13")
    circle(r="3" cx="-24.56786098504972" cy="-94.35396232601614" data-ring="13")
    circle(r="3" cx="-16.477579981380302" cy="-96.09755125890158" data-ring="13")
    circle(r="3" cx="-8.268577636362124" cy="-97.14875513289633" data-ring="13")
    circle(r="3" cx="0" cy="-97.5" data-ring="13")
    circle(r="3" cx="8.268577636362124" cy="-97.14875513289633" data-ring="13")
    circle(r="3" cx="16.47757998138013" cy="-96.09755125890159" data-ring="13")
    circle(r="3" cx="24.56786098504972" cy="-94.35396232601613" data-ring="13")
    circle(r="3" cx="32.481129987350585" cy="-91.93055093245573" data-ring="13")
    circle(r="3" cx="40.16037170378917" cy="-88.84477781284326" data-ring="13")
    circle(r="3" cx="47.55025702182934" cy="-85.11887603321588" data-ring="13")
    circle(r="3" cx="54.597541648415586" cy="-80.77969080127464" data-ring="13")
    circle(r="3" cx="61.25144973632507" cy="-75.85848604604787" data-ring="13")
    circle(r="3" cx="67.46403972531078" cy="-70.39071916056615" data-ring="13")
    circle(r="3" cx="73.19054976214056" cy="-64.41578553053294" data-ring="13")
    circle(r="3" cx="78.38972021077677" cy="-57.97673468966793" data-ring="13")
    circle(r="3" cx="83.0240909289978" cy="-51.119960146830145" data-ring="13")
    circle(r="3" cx="87.0602711695829" cy="-43.89486511972318" data-ring="13")
    circle(r="3" cx="90.46918016140955" cy="-36.35350658358011" data-ring="13")
    circle(r="3" cx="93.22625663707686" cy="-28.550220199463663" data-ring="13")
    circle(r="3" cx="95.31163579739939" cy="-20.541228824583296" data-ring="13")
    circle(r="3" cx="96.71029243774058" cy="-12.384237425320727" data-ring="13")
    circle(r="3" cx="97.41214920495634" cy="-4.138017311624502" data-ring="13")
    circle(r="3" cx="97.41214920495634" cy="4.138017311624438" data-ring="13")
    circle(r="3" cx="96.71029243774058" cy="12.384237425320684" data-ring="13")
    circle(r="3" cx="95.31163579739939" cy="20.541228824583243" data-ring="13")
    circle(r="3" cx="93.22625663707703" cy="28.55022019946361" data-ring="13")
    circle(r="3" cx="90.46918016140972" cy="36.35350658358007" data-ring="13")
    circle(r="3" cx="87.0602711695829" cy="43.894865119723136" data-ring="13")
    circle(r="3" cx="83.0240909289978" cy="51.1199601468301" data-ring="13")
    circle(r="3" cx="78.38972021077677" cy="57.97673468966791" data-ring="13")
    circle(r="3" cx="73.19054976214056" cy="64.41578553053299" data-ring="13")
    circle(r="3" cx="67.46403972531078" cy="70.39071916056612" data-ring="13")
    circle(r="3" cx="61.25144973632507" cy="75.85848604604786" data-ring="13")
    circle(r="3" cx="54.597541648415586" cy="80.77969080127457" data-ring="13")
    circle(r="3" cx="47.55025702182934" cy="85.11887603321587" data-ring="13")
    circle(r="3" cx="40.16037170378934" cy="88.8447778128432" data-ring="13")
    circle(r="3" cx="32.481129987350585" cy="91.9305509324557" data-ring="13")
    circle(r="3" cx="24.56786098504972" cy="94.3539623260161" data-ring="13")
    circle(r="3" cx="16.477579981380302" cy="96.09755125890155" data-ring="13")
    circle(r="3" cx="8.268577636362124" cy="97.14875513289633" data-ring="13")
    circle(r="3" cx="0" cy="-105" data-ring="14")
    circle(r="3" cx="14.297498155105927" cy="-104.02202433381473" data-ring="14")
    circle(r="3" cx="28.328660971487466" cy="-101.10631517151893" data-ring="14")
    circle(r="3" cx="41.83211443385534" cy="-96.30718665807255" data-ring="14")
    circle(r="3" cx="54.55631475372047" cy="-89.7140374773813" data-ring="14")
    circle(r="3" cx="66.26423415423557" cy="-81.44968552396408" data-ring="14")
    circle(r="3" cx="76.73777624920297" cy="-71.66808003795867" data-ring="14")
    circle(r="3" cx="85.78183876609648" cy="-60.55143382206104" data-ring="14")
    circle(r="3" cx="93.22794793224938" cy="-48.306828961770975" data-ring="14")
    circle(r="3" cx="98.9373968224761" cy="-35.16235927795353" data-ring="14")
    circle(r="3" cx="102.80382920664397" cy="-21.362881370526562" data-ring="14")
    circle(r="3" cx="104.75522076500658" cy="-7.165453403290449" data-ring="14")
    circle(r="3" cx="104.75522076500658" cy="7.165453403290449" data-ring="14")
    circle(r="3" cx="102.80382920664397" cy="21.36288137052653" data-ring="14")
    circle(r="3" cx="98.9373968224761" cy="35.16235927795354" data-ring="14")
    circle(r="3" cx="93.22794793224938" cy="48.30682896177096" data-ring="14")
    circle(r="3" cx="85.78183876609648" cy="60.55143382206103" data-ring="14")
    circle(r="3" cx="76.73777624920297" cy="71.66808003795866" data-ring="14")
    circle(r="3" cx="66.26423415423557" cy="81.4496855239641" data-ring="14")
    circle(r="3" cx="54.55631475372047" cy="89.7140374773813" data-ring="14")
    circle(r="3" cx="41.83211443385534" cy="96.30718665807255" data-ring="14")
    circle(r="3" cx="28.328660971487636" cy="101.10631517151892" data-ring="14")
    circle(r="3" cx="14.297498155105927" cy="104.02202433381473" data-ring="14")
    circle(r="3" cx="0" cy="105" data-ring="14")
    circle(r="3" cx="-14.297498155105927" cy="104.02202433381473" data-ring="14")
    circle(r="3" cx="-28.32866097148755" cy="101.10631517151896" data-ring="14")
    circle(r="3" cx="-41.83211443385534" cy="96.3071866580726" data-ring="14")
    circle(r="3" cx="-54.55631475372056" cy="89.7140374773813" data-ring="14")
    circle(r="3" cx="-66.26423415423557" cy="81.44968552396406" data-ring="14")
    circle(r="3" cx="-76.73777624920305" cy="71.66808003795867" data-ring="14")
    circle(r="3" cx="-85.7818387660964" cy="60.55143382206107" data-ring="14")
    circle(r="3" cx="-93.22794793224938" cy="48.306828961771025" data-ring="14")
    circle(r="3" cx="-98.9373968224761" cy="35.16235927795356" data-ring="14")
    circle(r="3" cx="-102.80382920664388" cy="21.362881370526615" data-ring="14")
    circle(r="3" cx="-104.75522076500658" cy="7.165453403290492" data-ring="14")
    circle(r="3" cx="-104.75522076500658" cy="-7.165453403290471" data-ring="14")
    circle(r="3" cx="-102.80382920664388" cy="-21.362881370526594" data-ring="14")
    circle(r="3" cx="-98.9373968224761" cy="-35.16235927795354" data-ring="14")
    circle(r="3" cx="-93.22794793224938" cy="-48.306828961771004" data-ring="14")
    circle(r="3" cx="-85.7818387660964" cy="-60.55143382206103" data-ring="14")
    circle(r="3" cx="-76.73777624920305" cy="-71.66808003795863" data-ring="14")
    circle(r="3" cx="-66.26423415423557" cy="-81.44968552396405" data-ring="14")
    circle(r="3" cx="-54.55631475372064" cy="-89.71403747738125" data-ring="14")
    circle(r="3" cx="-41.83211443385534" cy="-96.30718665807257" data-ring="14")
    circle(r="3" cx="-28.32866097148755" cy="-101.10631517151892" data-ring="14")
    circle(r="3" cx="-14.297498155105927" cy="-104.02202433381473" data-ring="14")
  g
    line(x1="2" y1="-141.73" x2="2" y2="-118.73")
    polygon(points="2,-114.73 6,-118.73 -2,-118.73")
    line(x1="-52.24" y1="-130.94" x2="-43.43" y2="-109.69")
    polygon(points="-41.90,-105.99 -39.74,-111.22 -47.13,-108.16")
    line(x1="-98.22" y1="-100.22" x2="-81.95" y2="-83.95")
    polygon(points="-79.12,-81.12 -79.12,-86.78 -84.78,-81.12")
    line(x1="-128.94" y1="-54.24" x2="-107.69" y2="-45.43")
    polygon(points="-103.99,-43.90 -106.16,-49.13 -109.22,-41.74")
    line(x1="-139.73" y1="0" x2="-116.73" y2="0")
    polygon(points="-112.73,0 -116.73,-4 -116.73,4")
    line(x1="-128.94" y1="54.24" x2="-107.69" y2="45.43")
    polygon(points="-103.99,43.90 -109.22,41.74 -106.16,49.13")
    line(x1="-98.22" y1="100.22" x2="-81.95" y2="83.95")
    polygon(points="-79.12,81.12 -84.78,81.12 -79.12,86.78")
    line(x1="-52.24" y1="130.94" x2="-43.43" y2="109.69")
    polygon(points="-41.90,105.99 -47.13,108.16 -39.74,111.22")
    line(x1="2" y1="141.73" x2="2" y2="118.73")
    polygon(points="2,114.73 -2,118.73 6,118.73")
    line(x1="56.24" y1="130.94" x2="47.43" y2="109.69")
    polygon(points="45.90,105.99 43.74,111.22 51.13,108.16")
    line(x1="102.22" y1="100.22" x2="85.95" y2="83.95")
    polygon(points="83.12,81.12 83.12,86.78 88.78,81.12")
    line(x1="132.94" y1="54.24" x2="111.69" y2="45.43")
    polygon(points="107.99,43.90 110.16,49.13 113.22,41.74")
    line(x1="143.73" y1="0" x2="120.73" y2="0")
    polygon(points="116.73,0 120.73,4 120.73,-4")
    line(x1="132.94" y1="-54.24" x2="111.69" y2="-45.43")
    polygon(points="107.99,-43.90 113.22,-41.74 110.16,-49.13")
    line(x1="102.22" y1="-100.22" x2="85.95" y2="-83.95")
    polygon(points="83.12,-81.12 88.78,-81.12 83.12,-86.78")
    line(x1="56.24" y1="-130.94" x2="47.43" y2="-109.69")
    polygon(points="45.90,-105.99 51.13,-108.16 43.74,-111.22")


