svg.bg-img
  circle(r="3" cx="0" cy="0" data-ring="0")
  circle(r="3" cx="4.592425496802575e-16" cy="7.5" data-ring="1")
  circle(r="3" cx="-7.1329238722136505" cy="2.3176274578121063" data-ring="1")
  circle(r="3" cx="-4.408389392193549" cy="-6.0676274578121046" data-ring="1")
  circle(r="3" cx="4.408389392193547" cy="-6.067627457812107" data-ring="1")
  circle(r="3" cx="7.132923872213652" cy="2.3176274578121037" data-ring="1")
  circle(r="3" cx="9.18485099360515e-16" cy="-15" data-ring="2")
  circle(r="3" cx="8.109612261833965" cy="-12.618802992467717" data-ring="2")
  circle(r="3" cx="13.644479930317775" cy="-6.231225195028296" data-ring="2")
  circle(r="3" cx="14.847321628213992" cy="2.1347225740992757" data-ring="2")
  circle(r="3" cx="11.336243615313874" cy="9.822911009179277" data-ring="2")
  circle(r="3" cx="4.2259883526214495" cy="14.39239460421746" data-ring="2")
  circle(r="3" cx="-4.225988352621442" cy="14.392394604217461" data-ring="2")
  circle(r="3" cx="-11.336243615313872" cy="9.822911009179279" data-ring="2")
  circle(r="3" cx="-14.84732162821399" cy="2.1347225740992775" data-ring="2")
  circle(r="3" cx="-13.644479930317772" cy="-6.231225195028303" data-ring="2")
  circle(r="3" cx="-8.109612261833973" cy="-12.618802992467712" data-ring="2")
  circle(r="3" cx="1.3777276490407724e-15" cy="22.5" data-ring="3")
  circle(r="3" cx="-8.12793748921094" cy="20.980625161598006" data-ring="3")
  circle(r="3" cx="-15.158151982047539" cy="16.62770063746483" data-ring="3")
  circle(r="3" cx="-20.1411740554889" cy="10.029113004972114" data-ring="3")
  circle(r="3" cx="-22.40401896663828" cy="2.0760380879242915" data-ring="3")
  circle(r="3" cx="-21.64107697138843" cy="-6.157417276621864" data-ring="3")
  circle(r="3" cx="-17.955387613805392" cy="-13.559279318533264" data-ring="3")
  circle(r="3" cx="-11.844723664740512" cy="-19.129885553916314" data-ring="3")
  circle(r="3" cx="-4.134364150872825" cy="-22.116894742887794" data-ring="3")
  circle(r="3" cx="4.134364150872816" cy="-22.116894742887794" data-ring="3")
  circle(r="3" cx="11.844723664740506" cy="-19.129885553916317" data-ring="3")
  circle(r="3" cx="17.955387613805385" cy="-13.559279318533271" data-ring="3")
  circle(r="3" cx="21.641076971388426" cy="-6.157417276621872" data-ring="3")
  circle(r="3" cx="22.40401896663828" cy="2.0760380879242835" data-ring="3")
  circle(r="3" cx="20.14117405548891" cy="10.029113004972096" data-ring="3")
  circle(r="3" cx="15.158151982047551" cy="16.627700637464816" data-ring="3")
  circle(r="3" cx="8.127937489210945" cy="20.980625161598002" data-ring="3")
  circle(r="3" cx="1.83697019872103e-15" cy="-30" data-ring="4")
  circle(r="3" cx="8.451976705242894" cy="-28.78478920843492" data-ring="4")
  circle(r="3" cx="16.21922452366793" cy="-25.237605984935435" data-ring="4")
  circle(r="3" cx="22.67248723062775" cy="-19.645822018358555" data-ring="4")
  circle(r="3" cx="27.28895986063555" cy="-12.462450390056592" data-ring="4")
  circle(r="3" cx="29.69464325642798" cy="-4.2694451481985585" data-ring="4")
  circle(r="3" cx="29.694643256427984" cy="4.269445148198551" data-ring="4")
  circle(r="3" cx="27.28895986063555" cy="12.462450390056592" data-ring="4")
  circle(r="3" cx="22.67248723062775" cy="19.645822018358555" data-ring="4")
  circle(r="3" cx="16.21922452366792" cy="25.237605984935442" data-ring="4")
  circle(r="3" cx="8.451976705242899" cy="28.78478920843492" data-ring="4")
  circle(r="3" cx="1.83697019872103e-15" cy="30" data-ring="4")
  circle(r="3" cx="-8.451976705242885" cy="28.784789208434923" data-ring="4")
  circle(r="3" cx="-16.21922452366793" cy="25.237605984935435" data-ring="4")
  circle(r="3" cx="-22.672487230627745" cy="19.645822018358558" data-ring="4")
  circle(r="3" cx="-27.288959860635543" cy="12.462450390056613" data-ring="4")
  circle(r="3" cx="-29.69464325642798" cy="4.269445148198555" data-ring="4")
  circle(r="3" cx="-29.694643256427984" cy="-4.269445148198548" data-ring="4")
  circle(r="3" cx="-27.288959860635543" cy="-12.462450390056606" data-ring="4")
  circle(r="3" cx="-22.67248723062774" cy="-19.645822018358558" data-ring="4")
  circle(r="3" cx="-16.219224523667947" cy="-25.237605984935424" data-ring="4")
  circle(r="3" cx="-8.451976705242892" cy="-28.78478920843492" data-ring="4")
  circle(r="3" cx="2.296212748401287e-15" cy="37.5" data-ring="5")
  circle(r="3" cx="-8.344535023361788" cy="36.55979670681839" data-ring="5")
  circle(r="3" cx="-16.270640216908426" cy="33.78633254634072" data-ring="5")
  circle(r="3" cx="-23.380867569702506" cy="29.318680592551118" data-ring="5")
  circle(r="3" cx="-29.318680592551114" cy="23.38086756970251" data-ring="5")
  circle(r="3" cx="-33.78633254634072" cy="16.270640216908433" data-ring="5")
  circle(r="3" cx="-36.55979670681839" cy="8.344535023361795" data-ring="5")
  circle(r="3" cx="-37.5" cy="4.592425496802574e-15" data-ring="5")
  circle(r="3" cx="-36.55979670681839" cy="-8.344535023361786" data-ring="5")
  circle(r="3" cx="-33.78633254634072" cy="-16.270640216908426" data-ring="5")
  circle(r="3" cx="-29.318680592551118" cy="-23.380867569702502" data-ring="5")
  circle(r="3" cx="-23.380867569702517" cy="-29.318680592551114" data-ring="5")
  circle(r="3" cx="-16.270640216908436" cy="-33.78633254634072" data-ring="5")
  circle(r="3" cx="-8.344535023361797" cy="-36.55979670681839" data-ring="5")
  circle(r="3" cx="-6.8886382452038615e-15" cy="-37.5" data-ring="5")
  circle(r="3" cx="8.344535023361784" cy="-36.55979670681839" data-ring="5")
  circle(r="3" cx="16.270640216908422" cy="-33.786332546340724" data-ring="5")
  circle(r="3" cx="23.380867569702502" cy="-29.318680592551118" data-ring="5")
  circle(r="3" cx="29.318680592551114" cy="-23.380867569702517" data-ring="5")
  circle(r="3" cx="33.78633254634072" cy="-16.27064021690844" data-ring="5")
  circle(r="3" cx="36.55979670681838" cy="-8.3445350233618" data-ring="5")
  circle(r="3" cx="37.5" cy="-9.184850993605149e-15" data-ring="5")
  circle(r="3" cx="36.55979670681839" cy="8.34453502336178" data-ring="5")
  circle(r="3" cx="33.786332546340724" cy="16.270640216908422" data-ring="5")
  circle(r="3" cx="29.318680592551118" cy="23.380867569702502" data-ring="5")
  circle(r="3" cx="23.380867569702517" cy="29.318680592551114" data-ring="5")
  circle(r="3" cx="16.27064021690844" cy="33.78633254634072" data-ring="5")
  circle(r="3" cx="8.3445350233618" cy="36.55979670681838" data-ring="5")
  circle(r="3" cx="2.7554552980815448e-15" cy="-45" data-ring="6")
  circle(r="3" cx="8.268728301745664" cy="-44.23378948577558" data-ring="6")
  circle(r="3" cx="16.255874978421886" cy="-41.96125032319601" data-ring="6")
  circle(r="3" cx="23.689447329481013" cy="-38.259771107832634" data-ring="6")
  circle(r="3" cx="30.316303964095077" cy="-33.25540127492966" data-ring="6")
  circle(r="3" cx="35.91077522761078" cy="-27.11855863706653" data-ring="6")
  circle(r="3" cx="40.28234811097781" cy="-20.05822600994422" data-ring="6")
  circle(r="3" cx="43.28215394277686" cy="-12.314834553243733" data-ring="6")
  circle(r="3" cx="44.80803793327656" cy="-4.152076175848587" data-ring="6")
  circle(r="3" cx="44.80803793327656" cy="4.152076175848587" data-ring="6")
  circle(r="3" cx="43.28215394277686" cy="12.314834553243733" data-ring="6")
  circle(r="3" cx="40.28234811097781" cy="20.05822600994422" data-ring="6")
  circle(r="3" cx="35.91077522761078" cy="27.11855863706653" data-ring="6")
  circle(r="3" cx="30.31630396409508" cy="33.25540127492965" data-ring="6")
  circle(r="3" cx="23.689447329481023" cy="38.25977110783263" data-ring="6")
  circle(r="3" cx="16.255874978421897" cy="41.961250323196005" data-ring="6")
  circle(r="3" cx="8.268728301745664" cy="44.23378948577558" data-ring="6")
  circle(r="3" cx="2.7554552980815448e-15" cy="45" data-ring="6")
  circle(r="3" cx="-8.268728301745659" cy="44.23378948577558" data-ring="6")
  circle(r="3" cx="-16.255874978421893" cy="41.961250323196005" data-ring="6")
  circle(r="3" cx="-23.68944732948102" cy="38.259771107832634" data-ring="6")
  circle(r="3" cx="-30.316303964095077" cy="33.25540127492966" data-ring="6")
  circle(r="3" cx="-35.91077522761078" cy="27.118558637066535" data-ring="6")
  circle(r="3" cx="-40.28234811097781" cy="20.05822600994421" data-ring="6")
  circle(r="3" cx="-43.28215394277686" cy="12.314834553243738" data-ring="6")
  circle(r="3" cx="-44.80803793327656" cy="4.152076175848583" data-ring="6")
  circle(r="3" cx="-44.80803793327656" cy="-4.152076175848572" data-ring="6")
  circle(r="3" cx="-43.28215394277686" cy="-12.314834553243728" data-ring="6")
  circle(r="3" cx="-40.282348110977814" cy="-20.0582260099442" data-ring="6")
  circle(r="3" cx="-35.910775227610785" cy="-27.118558637066528" data-ring="6")
  circle(r="3" cx="-30.316303964095102" cy="-33.25540127492964" data-ring="6")
  circle(r="3" cx="-23.689447329481023" cy="-38.25977110783263" data-ring="6")
  circle(r="3" cx="-16.255874978421883" cy="-41.96125032319601" data-ring="6")
  circle(r="3" cx="-8.26872830174569" cy="-44.233789485775574" data-ring="6")
  circle(r="3" cx="3.2146978477618024e-15" cy="52.5" data-ring="7")
  circle(r="3" cx="-10.24224190584673" cy="51.491227221169595" data-ring="7")
  circle(r="3" cx="-20.09088019916721" cy="48.50367545684255" data-ring="7")
  circle(r="3" cx="-29.167437233529107" cy="43.65215464588363" data-ring="7")
  circle(r="3" cx="-37.12310601229374" cy="37.123106012293746" data-ring="7")
  circle(r="3" cx="-43.65215464588363" cy="29.167437233529114" data-ring="7")
  circle(r="3" cx="-48.50367545684255" cy="20.090880199167216" data-ring="7")
  circle(r="3" cx="-51.491227221169595" cy="10.242241905846752" data-ring="7")
  circle(r="3" cx="-52.5" cy="6.429395695523605e-15" data-ring="7")
  circle(r="3" cx="-51.491227221169595" cy="-10.242241905846738" data-ring="7")
  circle(r="3" cx="-48.50367545684256" cy="-20.09088019916721" data-ring="7")
  circle(r="3" cx="-43.652154645883634" cy="-29.167437233529107" data-ring="7")
  circle(r="3" cx="-37.12310601229375" cy="-37.12310601229374" data-ring="7")
  circle(r="3" cx="-29.167437233529114" cy="-43.65215464588363" data-ring="7")
  circle(r="3" cx="-20.09088019916724" cy="-48.503675456842544" data-ring="7")
  circle(r="3" cx="-10.242241905846754" cy="-51.491227221169595" data-ring="7")
  circle(r="3" cx="-9.644093543285406e-15" cy="-52.5" data-ring="7")
  circle(r="3" cx="10.242241905846736" cy="-51.491227221169595" data-ring="7")
  circle(r="3" cx="20.090880199167227" cy="-48.50367545684255" data-ring="7")
  circle(r="3" cx="29.167437233529093" cy="-43.652154645883634" data-ring="7")
  circle(r="3" cx="37.12310601229373" cy="-37.12310601229375" data-ring="7")
  circle(r="3" cx="43.65215464588363" cy="-29.167437233529114" data-ring="7")
  circle(r="3" cx="48.503675456842544" cy="-20.090880199167245" data-ring="7")
  circle(r="3" cx="51.491227221169595" cy="-10.242241905846758" data-ring="7")
  circle(r="3" cx="52.5" cy="-1.285879139104721e-14" data-ring="7")
  circle(r="3" cx="51.491227221169595" cy="10.242241905846733" data-ring="7")
  circle(r="3" cx="48.50367545684255" cy="20.090880199167223" data-ring="7")
  circle(r="3" cx="43.65215464588364" cy="29.167437233529093" data-ring="7")
  circle(r="3" cx="37.12310601229375" cy="37.12310601229373" data-ring="7")
  circle(r="3" cx="29.16743723352912" cy="43.65215464588363" data-ring="7")
  circle(r="3" cx="20.09088019916725" cy="48.503675456842544" data-ring="7")
  circle(r="3" cx="10.242241905846761" cy="51.491227221169595" data-ring="7")
