//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Extremism"
  - page.expert = "Lydia Khalil"
  - page.expertrole = "Research Fellow"

block intro-image
  img.bg-img(data-src="../../img/extremism.jpg")

block intro-caption
  :marked
    Photo: <a href="https://commons.wikimedia.org/wiki/File:Esben_rohde_kristensen_1999.jpg">Wikimedia Commons</a>

block intro-description
    :marked
      COVID 19 is accelerating the rise of right-wing extremism.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Times of crisis tend to bring out conspiracies, crazies and extremists. During the COVID-19 pandemic, this has been even more pronounced — particularly in Western democracies where trust in government has ebbed to an all-time low, mental health services are already strained and right-wing extremism is on the rise. Back-to-back emergencies in Australia, from bushfires in January to the COVID-19 pandemic in March, have spurred an increase in extremist narratives here.   

              Even before COVID-19, right-wing extremism was expanding at an alarming rate, with a 320 per cent global increase in just the past four years. A scroll through the internet shows how right-wing extremists are using the coronavirus to stoke extremist narratives and encourage mobilisation against outsider groups and government. The COVID-19 pandemic has struck a chord with right-wing extremist groups because it fits with an increasingly popular fringe theory among the far right — that of accelerationism. This is a strategy of hastening the collapse of society to promote its restructuring on completely different ideological grounds. 

              A leaked memo from within the US Department of Homeland Security revealed that white supremacists and neo-Nazis are encouraging infected members to spread the virus to law enforcement and minority communities.  Memes on right wing forums such as “What to Do if You Get Corona 19” urge followers to “visit your local mosque, visit your local synagogue, spend the day on public transport, spend time in your local diverse neighbourhood”.

              The risk extends beyond rhetoric to physical attacks. On March 24, FBI agents killed a known right-wing extremist during a sting operation after learning of his plans to bomb a hospital treating a number of COVID-19 patients. Dr Anthony Fauci, the leader of the US COVID-19 task force, has been forced by credible threats to take extra personal security measures.    

              Terrorism laws in the United States are already being invoked in an effort to deal with COVID-19-related extremist acts, expanding the interpretation of the law to bring terrorism charges against at least two people claiming to be infected for coughing in grocery stores. But these individuals have no known links to terrorist groups nor are acting on political or ideological motivations, which is how terrorism and terrorism offences have previously been defined. 

              This is a troubling expansion in the definition of the terrorist threat. Emergency government powers invoked to deal with the urgent public health crisis risk provoking right-wing extremism and accelerationism. Heavy-handed government responses also play into the narratives of right-wing extremist groups who welcome the prospect of martial law to promote their goals of accelerationism. 

              The public health threat posed by COVID-19 is severe. The already rapid rise of extremism is real, and is being stoked by COVID-19 conspiracy theorists to hasten the spread of accelerationist ideology. But over-done government responses to both threats may only proliferate right-wing extremism further.
