$color-cn: #dece00
$color-wo: #00effa
$axis-bottom-size: 60px
$axis-left-size: 76px
$axis-right-size: 60px

html, body
  height: 100%
  box-sizing: border-box

body
  padding: 32px 80px
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: #2d3440 !important
  color: #fff

#wrapper
  width: 100%
  max-width: 1600px
  margin: auto
  position: relative
  line-height: 1.2
  height: 100%
  min-height: 400px
  max-height: 720px
  z-index: 0
  overflow: hidden
  color: #9ba8ae

.country-name,
.axis-title,
.line-label,
#chart-logo,
svg
  position: absolute

svg
  overflow: visible
  fill: currentColor

text
  transform: translateY(0.35em)

.half
  width: 50%
  float: left
  position: relative
  height: 100%
  padding-left: 80px
  padding-right: 72px
  padding-bottom: 32px
  box-sizing: border-box

  + .half
    padding-left: 68px

  .fill
    position: relative
    height: 100%

#chart-title
  text-align: center
  letter-spacing: 0.05em
  z-index: 10
  margin: auto
  padding-bottom: 32px

.chart-title-main
  font-size: 20px
  margin: 0
  line-height: 1.2
  text-transform: uppercase
  font-weight: bold
  letter-spacing: 0.02em
  color: #fff

.chart-title-small
  display: block
  font-weight: bold
  margin-top: 4px
  font-weight: normal
  text-transform: none
  letter-spacing: 0

.chart-title-small,
.axis-y-label
  font-size: 16px

#chart-source
  right: 0
  bottom: 0
  text-transform: none
  font-size: 13px

#chart-logo
  bottom: 12px
  right: 0
  width: 120px
  display: block
  z-index: 10
  background: #2d3440

  img
    width: 100%
    opacity: 0.3

  &:hover img
    opacity: 1

.line-label
  text-transform: none
  width: 7.8em
  font-size: 16px
  line-height: 1.2em
  bottom: 100%
  margin-bottom: 0.5em

  .scenario-1 &
    left: 0
    text-align: left

  .scenario-2 &
    right: 0
    text-align: right

#countries
  position: relative
  flex: 1 0 50%
  z-index: 1

.txt-muted
  color: #7a8d95

.country,
.progress
  fill: none
  vector-effect: non-scaling-stroke
  stroke-linecap: round

.progress
  stroke: #7a8d95
  stroke-width: 1px
  stroke-dasharray: 0 2px

.country
  stroke-width: 3px

  .playing &
    transition: none

  &.scenario-2
    stroke-dasharray: 0 5px

  &.country-cn
    stroke: $color-cn

  &.country-wo
    stroke: $color-wo

.country-label
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  pointer-events: none

.country-label-text
  float: left
  padding: 0 8px 0 4px
  height: 28px
  line-height: 28px
  margin: -14px 0
  margin-left: 10px
  text-align: center
  color: #2d3440
  position: relative
  pointer-events: all

  $size: (1.4142135624 * 14px)

  &:after
    content: ""
    position: absolute
    display: block
    height: $size
    width: $size
    transform:  scale(0.85, 1) rotate(45deg)
    background-color: inherit
    left: -10px
    top: 4px
    z-index: -1

  .country-wo &
    background-color: $color-wo

  .country-cn &
    background-color: $color-cn

.txt-wo
  color: $color-wo
  fill: $color-wo

.txt-cn
  color: $color-cn
  fill: $color-cn

.country-name
  width: auto
  padding: 0 20px
  position: static
  text-align: center

.axis-label
  color: #7a8d95
  font-size: 14px

.stroke
  fill: none
  stroke: #71798a
  stroke-width: 1px
  stroke-linecap: square

#chart-footer
  padding: 0 72px 0 80px
  display: flex
  flex-flow: row
  justify-content: space-between
  align-items: center

@media (max-width: 960px)
  body
    padding: 24px 16px

  .chart-title-main
    font-size: 18px

  .half
    padding: 0 64px 44px 68px !important

  .axis-y .ticks g:nth-child(2n)
    display: none

  .line-label
    font-size: 14px

  .country-label-text
    padding: 0 4px 0 0

  #chart-source
    max-width: 19em
    text-align: right

  #wrapper
    padding: 0
    position: relative
    overflow: visible

  #chart-footer
    padding: 0 64px 0 68px

@media (max-width: 720px)
  body
    padding: 12px

  .half
    width: 100%
    height: 50%
    padding: 0 48px 44px 68px !important
    float: none

  #chart-title
    max-width: 380px
    margin: auto

  #chart-footer
    text-align: center
    padding: 0
    flex-flow: column
    padding: 0 48px 0 68px

  #chart-source
    max-width: none
    margin: auto
    text-align: center
    padding-top: 4px

  #chart-source,
  .line-label
    font-size: 13px

@media (max-width: 480px)
  .axis-label
    font-size: 12px

  .line-label
    line-height: 1
    margin-bottom: 0.3em

  #chart-title
    padding-bottom: 24px

  .half
    padding: 0 48px 40px 60px !important

  #chart-source
    max-width: 19em

  #chart-footer
    padding: 0

  .country-label-text
    line-height: 20px
    height: 20px
    font-size: 12px
    margin: -10px 0
    margin-left: 6px
    padding-right: 4px

    &:after
      left: -6px
      top:  5px
      transform: scale(0.5, 0.7) rotate(45deg)
      transform-origin: top center
