mixin nav-list
  ul.nav-list
    li: a.s-1(href="#overview") Overview
    li: a.s-2(href="#measuring-performance") Measuring performance
    li: a.s-3(href="#region") Regions
    li: a.s-4(href="#politics") Political systems
    li: a.s-5(href="#size") Population size
    li: a.s-6(href="#development") Economic development
    li: a.s-7(href="#country-compare") Country comparisons
    li: a.s-8(href="#rankings") Country rankings
    li: a.s-9(href="#methodology") Methodology
