mixin nav-list
  ul.nav-list
    li: a.s-1(href="#overview") Overview
    li: a.s-2(href="#region") Geography
    li: a.s-3(href="#politics") Politics
    li: a.s-4(href="#size") Population size
    li: a.s-5(href="#development") Development status
    li: a.s-6(href="#country-compare") Country comparisons
    li: a.s-7(href="#rankings") Country rankings
    li: a.s-8(href="#methodology") Methodology
