svg#noise.inset-0(viewBox='0 0 1 1' preserveAspectRatio="none")
  defs
    filter#noise-filter
      feTurbulence(type='fractalNoise' baseFrequency='3000' result='noisy')
      feColorMatrix(type='saturate' values='0')
      feBlend(in='SourceGraphic' in2='noisy' mode='multiply')
  rect.fill-dark(width='1' height='1' filter='url(#noise-filter)')
