//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[0]

block pullquote
  :marked
    “The most gripping sentence from the article here. One which is impossible to ignore.”

block content
  :marked
    The arguments are largely in consensus that China --- unlike the Soviet Union --- does *not*seek to overturn the international order. **Elizabeth Economy's** description of an "upending" of the order seems a possible exception, but even she views this as the *effect* of China's pursuit of its priorities, rather than its goal.
    
    I subscribe to **Daniel Tobin's** especially precise phrasing of Beijing's ultimate goal, that it aims to rewire the global order into one where international institutions and standards comport with China's authoritarian regime in terms of values and moral authority. I describe an intermediate goal in which the CCP seeks "legitimacy and acceptance of an authoritarian political system that provides security, stability, and development". But even that less-total outcome could threaten the order's liberal norms if the US and other democratic states fail to defend them.
    
    **Tanner Greer** asks, more provocatively, "whether a sustainable accommodation ... can be found ... or if the two powers are doomed to an ever more hostile contest over the contours of the international order"? He concludes that any such accommodation would mean sacrificing "the interests, rights, and livelihoods of a minority of our citizens [to Chinese extraterritorial surveillance] to allow for the ideological insecurities" of the CCP.
    
    I argue that a sustainable accommodation is possible, but only if democratic countries, especially the United States, defend liberal norms. And I warn that global volatility will align national priorities with what the CCP is selling: "stability, development, and ... government capacity to compel". Paradoxically, the answer to **Greer's** question may hinge on optimism about the capacity and will of democracies to defend their ideals.
    
    **Greer, Tobin**, and **Nadège Rolland** have done the external China analytic community tremendous service by translating and analysing what the CCP has authoritatively said for decades about its goals and intentions. This counters a reliance on traditional IR rational actor model explanations of Chinese behaviour. They remind us that when authoritarians tell us what they intend, we should believe them.
    
    But it remains important to distinguish the CCP's aspirations from its actual intentions. The Party's confident projections --- that it will remain in power and achieve lofty goals --- depend more on 'historical forces' than on its own agency. That ideological flexibility has, at multiple points, enabled the Party to rationalise major shifts in policy when it is confronted by contrary objective facts.
    
    The CCP acts according to how it sees the world and Communist China's rightful place in it. The party is an ideologically-driven rational actor, but its framework for rationality is highly subjective. The CCP's compulsion to reconcile theory with 'China's unique conditions' has enabled ideological flexibility. The appropriately humbled CCP that emerged from Mao's tumultuous Cultural Revolution and witnessed the collapse of the Soviet vanguard sustained, for decades, the tactic of 'maintaining a low profile'. More recently, the CCP has embraced such un-Marxist practices as State Capitalism, poorly funded social safety programs, and draconian racial policies.
    
    Key aspects of the CCP's highly 'Sinified' Marxism-Leninism are unrecognisable to Western Marxists. For many Western (and Chinese) observers, CCP ideology in the 1990s and 2000s seemed hollow, reduced to platitudes and self-justification of the Party's monopoly of power as it pursued economic growth to buttress its fragile legitimacy.
    
    The most troubling aspect of the CCP's subjective world view and current policies is that decades of relative success and impressive economic performance have produced a dangerous positive-feedback loop. Unlike the immediate post-Cold War period, the CCP now seems convinced that its ideological prognostications are correct, incentivising it to push forward.
    
    But the West should not operate under the assumption that Xi Jinping's version of China will last forever, even under continued CCP rule. The CCP has been hardening for the last decade, but 40 years of reform and opening also happened. China in the 1980s before Tiananmen, and for much of the next two decades, was freer and more open to personal expression than it has ever been. Since 1949 we have seen repeated cycles of the CCP's controls waxing and waning. And there is evidence that China's vast population --- including the CCP's 92 million members --- are now chafing under the new constraints and more assertive external policies.
    
    **John Culver** is a former Senior Intelligence Officer with 35 years' experience as a leading CIA analyst of East Asian affairs, including security, economic, and foreign policy dimensions. As National Intelligence Officer for East Asia from 2015--2018, he drove the Intelligence Community's support to top policymakers on East Asian issues and managed extensive relationships inside and outside government.
    
    **All statements of fact, opinion, or analysis expressed are those of the author and do not reflect the official position or views of the U.S. Government. Nothing in the contents should be construed as asserting or implying U.S. Government authentication of information or endorsement of the author's views.**
