extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/usa-rules-based-order/data").responses[4]

block content
  :marked

    Notwithstanding a range of political affinities, the responses to the question of the role of the so-called rules-based order in US foreign policy display remarkable consensus: there is no possibility of a return to the status quo ante. Whether couched as a deference to global governance or as a nostalgic restoration of the world as it was pre-Trump, most recognise that the analgesic foreign policy at the heart of traditional internationalism no longer offers even a veneer of harmony in an increasingly polarised world. Agreeing about the impossible is a fine place to begin to forge a path forward.

    At a moment when centrifugal forces hold sway, there is a question as to whether multilateral institutions, alliances, and the values and ideologies that bind them have even minimal worth. The more persuasive argument remains that they do; the tactical solitude of libertarian selfishness is unworkable, notwithstanding the [adjectivally rich denunciation](../../articles/a-dangerous-myth) of &quot;sinister&quot; and &quot;triumphalist&quot; &quot;plutocrats&quot; engaged in a &quot;bacchanal of waste and chaos&quot;. Even accepting a variant on the [offshore balancing](https://www.britannica.com/topic/offshore-balancing) conceits of enlightened isolationists requires a consensus about geostrategic and economic priorities. What are those priorities? How will we reach consensus on them devoid of ideological alliances and organisations?

    Similarly, fantastical thinking about realigning American priorities in order to rid itself of &quot;[free-riders](../../articles/using-rules-to-compete)&quot;, while diminishing already limp investments in national defence, appears unworkable. Intellectually honest assessments of US defence spending appreciate that a vast and growing bulk of what is nominally being spent on soldiers and weapons is actually being spent on education, healthcare, and retirement. Indeed, the Pentagon has become the largest experiment in cradle-to-grave care, with all the attendant hyperinflated costs. What is losing out is investment in research and development, next generation fighters, bombers, tankers, and ships, as well as modernised nuclear weapons and the vehicles to deliver them.

    Returning to former iterations of the rules-based order in the vain hope that more ambassadors or international confabs will vest the likes of the World Health Organization (WHO), the Joint Comprehensive Plan of Action (JCPOA), or the United Nations Convention on the Law of the Sea (UNCLOS) with better prospects for success is wishful thinking. These organisations have fallen of their own weight, or because malign parties have sought to dominate or mould them to their will. There is no intrinsic worth in an international institution purely by virtue of its articles of incorporation. And once tried against the real world threats they were meant to manage, most such organisations have proven impotent — at best, talk shops, and at worst, facilitators for the lies of rogue regimes.

    The right choice, is not to throw all the internationalist babies out with the bathwater, but to begin to empower new, parallel organisations that can reckon out an agenda and then steer the other, more recalcitrant institutions. The question is not whether to resurrect the alphabet soup of yesteryear — the CPTPP, UNCLOS, JCPOA, WHO, WTO, and others — the question is how to reconsider the fundamentals of these agreements and improve them in service of long-term principles and interests.

    It is all good and fine to pretend that the old days are done, that values are so twentieth century, that it is time to head off on our own. The reality is that the exigencies of the real world require those of like mind to stand together, and to forge an agenda to solve the challenges posed by those of unlike mind. Either we win and they lose, or the other way around. The choice — notwithstanding erudite insistence on the alternatives — is up to us.
    
    <hr>

    **Danielle Pletka** is a senior fellow in foreign and defence policy studies at the American Enterprise Institute (AEI), where she focuses on US foreign policy generally, and the Middle East specifically. Until January 2020, Ms Pletka was the senior vice president of foreign and defence policy studies at AEI. Concurrently, she also teaches US Middle East policy at Georgetown University&#39;s Walsh School of Foreign Service. She is also the co-host, with AEI&#39;s Marc Thiessen, of the podcast, [_What the Hell Is Going On?_](https://podcasts.apple.com/us/podcast/what-the-hell-is-going-on/id1467993804)

    <hr>
