//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Assisting Indonesia’s Economic Recovery"
  - page.expert = "Roland Rajah"
  - page.expertrole = "Director, International Economy Program"

block intro-image
  img.bg-img(data-src="../../img/economy.jpg")

block intro-caption
  :marked
    Photo:<br><a href="#">Attribution / Src</a>

block intro-description
    :marked
      Assisting Indonesia’s Economic Recovery

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Since the COVID-19 threat first emerged, economists have debated whether the shock to the global economy will be ‘temporary’ or ‘permanent’. In the more optimistic ‘temporary shock’ view, the virus will eventually pass, and economic life can then largely go back to normal. Massive fiscal and monetary expansion programs in Western countries will keep the economy afloat in the interim — with government balance sheets socialising the costs of economic hibernation. Government debt will be much higher in the aftermath. But incredibly low borrowing costs will keep this sustainable. Some longer-lasting damage is unavoidable (e.g. bankruptcies and job dislocation). But these would be relatively small or quickly recoverable.

              Three factors, however, make it more likely that the world economy will suffer a permanent shock. 

              First, the ‘virus economy’ may last much longer than people think, increasing the permanent costs. The crisis is, at its core, a global health crisis. Even countries that defeat the virus at home will not be able to fully return to normal until the rest of the world does so as well. Unless borders stay closed, reinfection from abroad will remain a threat. And if other countries are still in turmoil then world demand will stay depressed. Therefore, regardless of individual success, it is a concern for all countries that the global outlook for combatting the virus and mitigating its economic costs is highly uneven. 

              Second, the emerging world looks set to be hit mercilessly hard. These economies are now globally significant. But the great fear is that the realities of widespread poverty could make it incredibly difficult to contain the virus and too easy for it to overwhelm already weak healthcare systems. Worse, these countries cannot respond with massive fiscal and monetary expansion to mitigate the economic damage, owing to various combinations of high debt, collapsing export demand, vulnerable currencies, and reliance on external financing. Instead, the flood of capital already fleeing emerging markets threatens to make things much worse. The International Monetary Fund and World Bank have a critical role to play. But whether they will have the full resources, tools, and mandate needed is far from assured. A financial crisis in the emerging world is a distinct possibility. Yet, even if this is avoided, it could still take years for emerging economies to fully recover.

              Finally, globalisation will likely suffer greatly, even if it is not about to completely unravel. Many aspects are too deep-rooted and the commercial logic too powerful for this to spell the end of globalisation itself. But globalisation was already heading in reverse before the crisis and this will only be reinforced by the virus experience. Businesses will rethink long and complex supply chains, governments will feel compelled to ensure domestic capacity in more areas deemed critical to the national interest, protectionists will feel empowered, and domestic politics will demand more barriers to people’s ability to cross borders, whether temporarily or permanently. Some of this will be warranted, much will be lamentable. All of it will impose costs. 

              Of course, better outcomes are possible, especially with greater international cooperation. But on the present trajectory, the post-virus world economy will be one of subdued growth, more fragility, and greater division.
