//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Assisting Indonesia through the economic pandemic"
  - page.expert = "Roland Rajah"
  - page.expertrole = "Director, International Economy Program"

block intro-image
  img.bg-img(data-src="../../img/ind-economic.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://unsplash.com/photos/AWu6ySSfj-c">Hobi industri / Unsplash</a>

block intro-description
    :marked
      Assisting Indonesia through the economic pandemic

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Emerging economies everywhere are being especially hard hit by the economic pandemic unleashed by COVID-19. In Australia's region, the most consequential of the emerging economies is Indonesia, given its size, proximity, and general centrality to our economic, diplomatic, and security interests. 
              
              Indonesia now faces one of the most difficult outlooks in Asia. Its battle with the virus remains uncertain, while its reliance on foreign financing has left it exposed to capital flight and struggling to fund the fiscal response needed to keep its economy (and society) afloat through the pandemic. Without enough fiscal support, the economic damage from the virus will be far deeper and longer lasting — setting back its economic rise, leaving more people in poverty, and weakening its foundations for ongoing stability.
              
              Australia has a clear national interest in helping Indonesia avoid this situation and, if requested, Canberra should provide Jakarta with large-scale financial support. Importantly, this could be done at little to no cost to the Australian taxpayer — which is crucial, given Australia is itself dealing with a steep economic downturn and massive domestic calls on its own budget that will necessarily take precedence. 
              
              Indonesia could theoretically turn to the IMF for assistance. But the IMF is still politically toxic in Indonesia — a legacy of the last crisis in the late 1990s. As it stands, Indonesia would probably not turn to the IMF until it was too late.
              
              The Indonesian government has instead taken the unorthodox step of asking Bank Indonesia, the central bank, to help fund the budget deficit. This is feasible, if the required scale remains modest. But there is a good chance Bank Indonesia will have to go much further than that, especially as the deficit financing shortfall could prove much larger than expected, while Indonesia’s fiscal response to the virus (about 4 per cent of GDP so far) is one of the smallest in Asia, and ideally should be expanded. 
              
              Indonesia, therefore, faces a painful choice between unnerving the market with more central bank financing — risking more outflows of capital — or limiting fiscal support to a severely depressed economy. This is where well-calibrated Australian support could make a pivotal difference to lower the risks and help Indonesia finance the budget deficit needed to get through the pandemic. 
              
              Specifically, the Australian government should be willing to provide a large ‘standby loan’ facility — perhaps as much as US$10 billion (A$15 billion) — that would be readily available if Indonesia were unable to raise enough from the market to finance its budget deficit. Canberra has done similar things before, but on a smaller scale. To enable large-scale support, the loan terms could be anchored against Indonesia’s own sovereign borrowing costs during ‘normal’ times, instead of being a low interest loan as in the past. The cost to the Australian budget of extending the loan would then be minimal, since it would be implicitly priced for any risk of default. 
              
              An Indonesian default is extremely unlikely. If it did happen, it would mean an Indonesian crisis so deep that default would be the least of Australia’s concerns. Far more likely is that Australia will have helped a key partner get through an unprecedented crisis at little or no cost to itself.
              
              If Indonesia is interested, Australia should willingly oblige.
