extend /partials/layout

block append config
  - page.title = "Gender Splits across Australia’s IR Agencies"
  - var chart  = data.getOne("static/charts/apsed-agency-gender-splits/data")

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  .wrapper(data-view="apsed" data-souce="chart")
    .chart-nav
      label.fl-l.select-wrap
        select
          for k in chart.agencies
            option= k.name
        span.select-caret

      button.btn.btn-l.fl-l &larr;
      button.btn.btn-r.fl-l &rarr;
    svg.chart(width="100%" height="260")

block append css
  style
    include style.css
