//-
  This header appears at the top of each issue page, where it's included
  through the `include` keyword.

header.xs.txt-tu.strong.txt-center
      
  a.relative.z10.logo.txt-left.txt-bare.fl-l(href="https://www.lowyinstitute.org/")
    | Lowy Institute

  .header-title.pos-abs
    a.txt-bare(href="/features/china-rules-based-order/")
      | USA and the 
      span#title-long Rules-based order
      span#title-short RBO

  include social
