:marked
  
  President Donald Trump’s foreign policy was often criticised for the damage it did, not just to immediate US interests, but also to the very structures of post-war international relations.  

  After the Second World War, Washington drove the establishment of new international institutions, centred on the United Nations and what became the World Bank and International Monetary Fund. This thickening system of international organisations, rules, and norms — commonly referred to as the “rules-based order” — is widely credited with having improved international peace and security in subsequent decades.  

  Insofar as he was aware of this system, President Trump appeared, at best, uninterested in it. In pursuing unilateral policies, he undermined international institutions, withdrew from agreements, and disparaged America’s traditional alliances. 

  What should President Joe Biden do differently? The answer is more complex than some might expect. The Trump presidency has been just one part of a storm of change that is buffeting the rules-based order. Those changes include global power shifts, various manifestations of populist nationalism, the rapid emergence of new technologies, and transnational threats such as climate change and pandemics. 

  This turmoil can be compared to the post-war period and viewed as an opportunity to remake the international order. But the United States does not dominate the world as it did then. Its role in the future of the rules-based order is now up for debate.  

  In this Lowy Institute debate, a spectrum of foreign policy experts do just that. They were asked to discuss what role the rules-based order should play in President Biden’s foreign policy. They agree that his foreign policy should break with President Trump’s but, notably, none of them advocates a return to the status quo ante.  

  Although most of the authors argue for a renewed effort to strengthen the rules-based order, or at least some aspects of it, they put different weight on military capability and diplomatic skill; on the rehabilitation of old institutions and the creation of new ones; as well as on great power competition and the promotion of liberal values. 

  Danielle Pletka is the strongest advocate for a muscular and values-driven foreign policy. She argues that this should be minimally constrained by international norms. Before re-entering any international arrangements, President Biden should use the leverage bequeathed by President Trump to improve them. If that fails, she argues, the United States should develop parallel organisations. 

  Matthew Kroenig is similarly focused on countering the “revisionist autocratic powers”, and is equally sceptical about the Iran nuclear deal. But he argues that now is the “time to deepen and expand US leadership and the rules-based system”. This, he argues, should be centred on an alliance of democracies — the D-10 — that is now more relevant than old geographic alliances.  

  Rebecca Lissner likewise sees an “opportunity to remake the architecture of international cooperation” that would “renovate legacy institutions … while also building new, fit-for-purpose multilateral structures”. But, for her, realisation of this ambition depends on the ability of the United States to rebuild at home, restrain its military conduct, and step up its diplomacy.  

  Stacie Goddard urges Washington to jettison longstanding hopes of enmeshing illiberal rivals in a liberal order and, rather, to use international norms as tools to compete with those rivals. Like Kroenig, she supports a closer alignment of liberal democracies, but is warier of an ideologically-driven foreign policy and the use of military power.
