:marked

  President Donald Trump&#39;s foreign policy was often criticised for the damage it did, not just to immediate US interests, but also to the very structure of post-war international relations.

  After the Second World War, Washington drove the establishment of new international institutions, centred on the United Nations and what became the World Bank and International Monetary Fund. This thickening system of international organisations, rules, and norms — commonly referred to as the &quot;[rules-based order](https://interactives.lowyinstitute.org/features/rules-based-order/)&quot; — is widely credited with having improved international peace and security in subsequent decades.

  Insofar as President Trump was aware of this system, he appeared, at best, uninterested in it. In pursuing unilateral policies, he undermined international institutions, withdrew from agreements, and disparaged America&#39;s traditional alliances.

  Trump&#39;s weakening of the rules-based order was a particular challenge for Australia. In the years leading up to his presidency, Australian governments spoke [more often](http://interactives.lowyinstitute.org/features/rules-based-order#chart-mentions) about the importance of that order to our security. In the 2016 Defence White Paper, the order was described as a &quot;fundamental strategic interest&quot;. Official statements [consistently emphasised](https://interactives.lowyinstitute.org/features/rules-based-order/#us-dependent) the &quot;critical underpinning&quot; that the United States provided to the rules-based order.

  The Trump presidency is only the most recent addition to the storm of change that continues to buffet the rules-based order. This can be viewed, like the turmoil of the post-war period, as an opportunity to remake the international order. But the United States does not dominate the world as it did then. Its role in the future of the rules-based order is up for debate.

  In this Lowy Institute digital feature, a spectrum of foreign policy experts do just that. Their argument is not just an academic one. The Biden administration will — more than any of its recent predecessors — have to grapple with fundamental questions about the role of the United States in the international order. President Biden is staffing his administration with big thinkers. Over the coming months, they will thrash out many of the issues debated in this feature and produce new strategic documents to guide the vast US national security bureaucracy.

  Our experts were asked what role the rules-based order should play in President Biden&#39;s foreign policy. The authors responded with some bold new strategies for American foreign policy. Although most of them favour a renewed effort to strengthen at least some parts of the rules-based order, none of them advocate a return to the status quo ante. They put different weight on military capability and diplomatic skill; on the rehabilitation of old institutions and the creation of new ones; as well as on great power competition and the promotion of liberal values.

  [Danielle Pletka](./articles/use-trumps-leverage) is the strongest advocate for a muscular and values-driven foreign policy. She argues that this should be minimally constrained by international norms. Before re-entering any international arrangements, President Biden should use the leverage bequeathed by President Trump to improve them. If that fails, she argues, the United States should develop parallel organisations.

  [Matthew Kroenig](./articles/free-world-steering-body) is similarly focused on countering the &quot;revisionist autocratic powers&quot;, and is equally sceptical about the Iran nuclear deal. But he argues that now is the &quot;time to deepen and expand US leadership and the rules-based system&quot;. This, he argues, should be centred on an alliance of democracies — the D-10 — that is more relevant to today&#39;s challenges than old geographic alliances.

  [Rebecca Lissner](./articles/first-rebuild-at-home) likewise sees an &quot;opportunity to remake the architecture of international cooperation&quot; that would &quot;renovate legacy institutions … while also building new, fit-for-purpose multilateral structures&quot;. But, for her, realisation of this ambition depends on the ability of the United States to rebuild at home, restrain its military conduct, and step up its diplomacy.

  [Stacie Goddard](./articles/using-rules-to-compete) urges Washington to jettison longstanding hopes of enmeshing illiberal rivals in a liberal order and, rather, to use international norms as tools to compete with those rivals. Like Kroenig, she supports a closer alignment of liberal democracies, but she is warier of an ideologically-driven foreign policy and the use of military power.

  [Michael Mazarr](./articles/lead-from-behind) shares Goddard&#39;s concerns. The rules-based order has &quot;helped to lock in an alignment of world power that has been profoundly favourable to the United States&quot;, but America, and the order, over-reached. The United States should strengthen the order, argues Mazarr, by becoming more compliant with it, as well as letting others lead more often, and living &quot;with the resulting deals&quot;.

  Finally, in arguing for more _realpolitik_, [Patrick Porter](./articles/a-dangerous-myth) roundly rejects the entire rules-based order concept and the &quot;mythologised&quot; history on which it rests. Reversing the argument that the United States must strengthen democracy at home to support it abroad, he contends that aggressive promotion of democracy abroad has weakened it in America.

  But this summary is too simplistic. The authors&#39; analyses and recommendations diverge and converge in defiance of any simple taxonomy. For example, although Porter is the ostensible outlier, the other contributors (except for Kroenig) agree with him on at least one point: Goddard and Mazarr on the dangers of ideologically-driven foreign policy; Lissner on the &quot;misnomer&quot; of the rules-based order; and Pletka on the need for rule-breaking.

  That&#39;s just one example of the nuance that characterises this refreshingly non-partisan debate.

  To better understand the coming US foreign policy debate, read on!
