:marked
  
  President Donald Trump&#39;s foreign policy was often criticised for the damage it did, not just to immediate US interests, but also to the very structures of post-war international relations.

  After the Second World War, Washington drove the establishment of new international institutions, centred on the United Nations and what became the World Bank and International Monetary Fund. This thickening system of international organisations, rules, and norms — commonly referred to as the &quot;[rules-based order](https://interactives.lowyinstitute.org/features/rules-based-order/)&quot; — is widely credited with having improved international peace and security in subsequent decades.

  Insofar as he was aware of this system, President Trump appeared, at best, uninterested in it. In pursuing unilateral policies, he undermined international institutions, withdrew from agreements, and disparaged America&#39;s traditional alliances.

  What should President Joe Biden do differently? The answer is more complex than some might expect. The Trump presidency has been just one part of a storm of change that is buffeting the rules-based order. Those changes include global power shifts, various manifestations of populist nationalism, the rapid emergence of new technologies, and transnational threats such as climate change and pandemics.

  This turmoil can be compared to the post-war period and viewed as an opportunity to remake the international order. But the United States does not dominate the world as it did then. Its role in the future of the rules-based order is now up for debate.

  In this Lowy Institute debate, a spectrum of foreign policy experts do just that. They were asked to discuss what role the rules-based order should play in President Biden&#39;s foreign policy. They agree that his foreign policy should break with President Trump&#39;s but, notably, none of them advocates a return to the status quo ante.

  Although most of the authors argue for a renewed effort to strengthen the rules-based order, or at least some aspects of it, they put different weight on military capability and diplomatic skill; on the rehabilitation of old institutions and the creation of new ones; as well as on great power competition and the promotion of liberal values.

  Danielle Pletkais the strongest advocate for a muscular and values-driven foreign policy. She argues that this should be minimally constrained by international norms. Before re-entering any international arrangements, President Biden should use the leverage bequeathed by President Trump to improve them. If that fails, she argues, the United States should develop parallel organisations.

  Matthew Kroenig is similarly focused on countering the &quot;revisionist autocratic powers&quot;, and is equally sceptical about the Iran nuclear deal. But he argues that now is the &quot;time to deepen and expand US leadership and the rules-based system&quot;. This, he argues, should be centred on an alliance of democracies — the D-10 — that is now more relevant than old geographic alliances.

  Rebecca Lissner likewise sees an &quot;opportunity to remake the architecture of international cooperation&quot; that would &quot;renovate legacy institutions … while also building new, fit-for-purpose multilateral structures&quot;. But, for her, realisation of this ambition depends on the ability of the United States to rebuild at home, restrain its military conduct, and step up its diplomacy.

  Stacie Goddard urges Washington to jettison longstanding hopes of enmeshing illiberal rivals in a liberal order and, rather, to use international norms as tools to compete with those rivals. Like Kroenig, she supports a closer alignment of liberal democracies, but is warier of an ideologically-driven foreign policy and the use of military power.

  Michael Mazarr shares Goddard&#39;s concerns. The rules-based order has &quot;helped to lock in an alignment of world power that has been profoundly favourable to the United States&quot;, but America, and the order, over-reached. The United States should strengthen the order, argues Mazarr, by becoming more compliant with it, as well as letting others lead more often, and living &quot;with the resulting deals&quot;.

  Finally, in arguing for more _realpolitik_, Patrick Porter roundly rejects the entire rules-based order concept and the &quot;mythologised&quot; history on which it rests. Reversing the argument that the United States must strengthen democracy at home to support it abroad, he contends that aggressive democracy promotion abroad has weakened it in America.

  But this summary is too simplistic. Reflecting the complexity of the topic, the authors&#39; analyses and recommendations diverge and converge in defiance of any simple taxonomy. For example, although Porter is the ostensible outlier, the other contributors (except for Kroenig), agree with him on at least one point: Goddard and Mazarr on the dangers of ideologically-driven foreign policy; Lissner on the &quot;misnomer&quot; of the rules-based order; and Pletka on the need for rule-breaking.

  This refreshingly nuanced debate escapes the partisanship that has plagued much US public debate and outlines some bold new strategies for American foreign policy. Read on!
