//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[2]

block content
  :marked
    Reading the various responses to this project, I am reminded of [a story told by Admiral Timothy Keating](http://archive.indianexpress.com/news/china-proposed-division-of-pacific-indian-ocean-regions-we-declined-us-admiral/459851/) of a meeting he had with a senior PLAN (People's Liberation Army Navy) officer when he served as chief admiral of PACOM (United States Pacific Command). In Keating's words, the PLAN officer suggested,
    
    You, the US, take Hawaii east and we, China, will take Hawaii west and the Indian Ocean. Then you will not need to come to the western Pacific and the Indian Ocean, and we will not need to go to the eastern Pacific. If anything happens there, you can let us know and if something happens here, we will let you know.
    
    The proposal was made "somewhat tongue in cheek", but the scenario it envisions is not fantastic. As **Nadege Rolland** notes, there may not be any "possible compromise in [the military] domain" that both preserves the American alliance system and alleviates Chinese insecurities. However, this alliance system is not strictly necessary for American security. A retreat to "Hawaii east" leaves the United States flanked by vast oceans, armed with the world's largest nuclear arsenal, and endowed with the natural resources, population, and strategic depth of a continent-spanning nation. Taiwan, Japan, or Australia might suffer, but an America that has left Asia will remain a powerful and unconquerable nation.
    
    I do not believe such a retreat is *probable,* but in an age where American society is crippled by domestic crisis and division, it is certainly *possible.* If America's first democratic socialist president must choose between funding a Green New Deal or a military build-up in the West Pacific, it is unlikely she will choose the latter. The most likely form of compromise on security issues is American exhaustion and retreat.
    
    But there would still be the question of values and ideology --- the class of problems that **Daniel Tobin, Nadege Rolland, and John Culver** all agree is the most intractable source of conflict between the two powers. This is not because an ideological accommodation between them is inherently impossible. It is not difficult to imagine a scheme of mutual concessions that assuages each side's ideological concerns. We might call it an ideological disarmament agreement. On the American side, this would require bureaucratic changes at the federal level: dismantling government bodies such as the State Department's Bureau of Democracy, Human Rights, and Labor; defunding quasi-governmental organisations like NED (National Endowment for Democracy), banning former officials from working for NGOs such as Human Rights Watch; and formally ending even rhetorical support for democratisation and human rights outside of American borders. The PRC, for its part, would need to give up its policy of punishing foreign companies, organisations, and individuals for "offensive" opinions they have voiced outside of China; dismantle the foreign-facing offices of the United Front Work Department; and greatly reduce their capacity to spy on and coerce Chinese diaspora or dissident communities abroad.
    
    All of this is possible in theory, but incredibly difficult to accomplish in practice. Dismantling the democratisation bureaucracy would mean overturning [a forty-year policy consensus in Washington](https://www.google.com/books/edition/Making_the_Unipolar_Moment/bKA9DAAAQBAJ?hl=en&gbpv=1&bsq=%22American%20statecraft%20and%20the%20democratic%20revolution%22&dq=the%20unipolar%20moment%20brands&pg=PA119&printsec=frontcover) (and [repudiating a missionising impulse as old as the country itself](https://allthingsliberty.com/2018/02/expanding-blaze-american-revolution-ignited-world-1775-1848/)). The current universal rights regime was not engineered by national security officials, but rather forced onto them [by a transnational network of activists, opinion-makers, and legislators.](https://www.jstor.org/stable/2568613?seq=1) In a free and bitterly partisan democracy, there is no guarantee this would not happen again. There is little reason for Zhongnanhai to believe any deal would survive an American election season.
    
    Washington, in turn, would view PRC guarantees of non-interference with deserved suspicion. American officials are well aware of a PRC pattern: once Beijing has gained the economic leverage to [punish](https://www.reuters.com/article/us-norway-china/norway-china-normalize-ties-after-nobel-peace-prize-row-idUSKBN1480R4)  [entire countries](https://www.economist.com/asia/2020/05/21/china-punishes-australia-for-promoting-an-inquiry-into-covid-19) for crossing its ideological red lines, it does so. What guarantee can the Party give that they will not do the same to American companies and individuals again once it is too powerful and wealthy to be punished by Washington? At this point, even a return to 'hide and bide' is unlikely to be enough to allay American fears.
    
    <hr>
    
    **Tanner Greer** is a journalist and researcher who writes on security issues in the Asia--Pacific region and the military history of East and Southeast Asia. His writing on these topics has been published in Foreign Policy, Foreign Affairs, The L.A. Review of Books, and Tablet Magazine.
