.row
  .col-1-2.bg-dk.txt-ff
    .p-sm
      .txt-xxl.num-lf 193
      .txt-lg million voters
      .txt-sm.pv-xs.txt-tu go to the polls this&nbsp;april

  .col-1-2.bg-ff
    .p-xs.txt-right
      .sine-lt

      .txt-lg.pv-xs
        | The 
        span.txt-hl world’s 
        br
        span.txt-hl biggest
        |  direct
        br
        | presidential&nbsp;election 

      .sine-lt

.row
  .col-2-3.bg-hl.txt-ff
    .p-xs.txt-md
      | There is no compulsory voting but it’s a
      br
      | national holiday to encourage high
      br
      | turnout, in what Indonesians sometimes
      br
      | call a
      span.txt-dk  “festival of democracy”

  .col-1-3.bg-lt(data-view="spin" data-source="data/votes")
    .caption.num-lf
      strong 
        | 1 circle&ensp;=&ensp;1 million votes
