.row
  .col-fw.bg-ff
    .block
      .txt-lg It’s one of the world’s most complicated&nbsp;elections
      .txt-sm.p-md.txt-tu
        | India, with five times as many people,
        br
        | votes in rolling elections over two months
      .txt-lg.txt-hl This election is over in a single day

.row
  .col-fw.bg-lt
    .bg-img.of-hidden
      include ../../img/map.svg
