.row
  .col-1-2.bg-hl.txt-ff
    .block
      .txt-xl(data-view="counter") 20,538
      .txt-lg seats

  .col-1-2.bg-ff
    .block
      .txt-xl(data-view="counter") 245,662
      .txt-lg candidates
      
.row
  .col-fw.bg-dk.txt-ff
    .p-sm.txt-md.num-lf
      | With presidential, parliamentary and local legislative
      br
      | elections all occuring on April 17, there will be 20,538
      br
      | seats contested by around 300,000&nbsp;candidates.
      .txt-hl That’s twice the population of Darwin. 
