.row
  .col-1-2.bg-hl.txt-ff
    .block
      .txt-sm.txt-tu.pv-xs More than
      .txt-xl(data-view="counter") 20,000
      .txt-lg seats

  .col-1-2.bg-ff
    .block
      .txt-sm.txt-tu.pv-xs More than
      .txt-xl(data-view="counter") 245,000
      .txt-lg candidates
      
.row
  .col-fw.bg-dk.txt-ff
    .p-sm.txt-md.num-lf
      | With presidential, parliamentary and local legislative 
      br
      | elections all taking place on April 17, there will be more than 
      br
      | 20,000 seats contested by more than 245,000&nbsp;candidates.
      .txt-hl That’s greater than the population of Geneva.
