.row
  .col-fw.bg-dk.txt-ff
    .block
      .txt-sm.pv-xs.txt-tu This year, there will be around
      .txt-xl.pv-xs(data-view="counter") 80,000,000
      .txt-lg millennial voters
      
.row
  .col-1-2.bg-hl.txt-ff
    .p-sm.txt-lg.num-lf
      | Around 40% of all 
      br
      | voters are between
      br
      |  17 and 35 years old
  .col-1-2.bg-lt(style={
    "background": "url(./img/social.jpg)",
    "background-size": "cover",
    "background-position": "center bottom"
  })
    .p-sm.txt-md.num-lf
      | Social media platforms such 
      br
      | as Facebook, Twitter &amp; WhatsApp
      br
      | will be key to reaching millions
      br
      | of first-time voters

    .caption Photo: Seika / Flickr
