.row(style="height: 50%")
  .col-fw.bg-dk.txt-ff
    .block
      .txt-sm.pv-xs.txt-tu There will be around
      .txt-xl.pv-xs(data-view="counter") 810,000
      .txt-lg polling stations
      
.row(style="height: 50%")
  .col-fw.bg-hl.txt-ff
    .block
      .txt-sm.pv-xs.txt-tu And around
      .txt-xl.pv-xs(data-view="counter") 6,000,000
      .txt-lg election workers
      
      .txt-sm.p-sm.txt-dk.txt-tu
        | That’s more than the whole population of Denmark&nbsp;or&nbsp;Singapore
