.row.row-sm
  .col-1-2.bg-ff
    .p-xs.txt-center(style="max-width: 74%")
      .txt-lg Noken
      .pv-sm.hidden-sm
        .sine-lt
      .block.pv-xs
        :marked
          While Indonesia upholds the principle of secret ballots and one 
          person, one vote, some parts of Papua are still allowed to choose 
          candidates using the ‘noken’ communal voting&nbsp;system.

          Villagers are meant to put their choice for candidate into a 
          traditional noken bag held by the village head. But in practice, the 
          village head often decides where all the votes will&nbsp;go.
  
  .col-1-2.bg-lt
    .img-pan
      img.bg-img(data-src="./img/membuat-noken.jpg")
    .caption.txt-ff
      | Women weave traditional Noken bags
      br
      span.txt-nowrap Photo: Wikimedia Commons
