.row
  .col-1-2.bg-ff
    .p-xs.txt-center(style="max-width: 420px")
      .txt-lg Noken
      .pv-sm
        .sine-lt
      .block.pv-xs
        p The only place in Indonesia where one person one vote is not in place is Papua, where some areas are still allowed to vote using the “noken” communal voting system.

        p Villagers are meant to put their choice for candidate into a traditional noken bag held by the village head. But in practice, the village head often decides where all the votes will go.
  
  .col-1-2.bg-lt
    .img-pan
      img.bg-img(src="./img/membuat-noken.jpg")
    .caption.txt-ff
      | Women weave traditional Noken bags
      br
      | Photo: Wikimedia Commons
