.row.row-sm
  .col-1-2.bg-ff
    .block
      .pv-sm
        img#img-mascot(data-src="img/mascot.png" width="480")

      .caption
        div(style="max-width: 400px;margin: auto;")
          | The election mascot holds a nail to punch the ballot paper and
          | a finger dipped in indelible ink after voting

  
  .col-1-2.bg-lt
    .p-xs(style="max-width: 74%")
      .block.pv-sm
        .txt-lg Coblos
        .pv-sm.txt-center.hidden-sm
          .sine-ff

        .block.pv-xs
          :marked
            The Indonesian word for voting literally means ‘to punch’. Rather 
            than using a pen or pencil, voters punch a hole in the ballot 
            paper with a&nbsp;nail. 

            This is seen as being harder to manipulate. Votes are counted in 
            public at each polling station soon after polls close. Officers 
            hold each ballot paper up so observers can see light shining 
            through the&nbsp;hole. 
