.row
  .col-fw
    .block
      strong.txt-tu.txt-sm Sources
      .pv-sm
        ul.list-bare
          li Indonesian General Election Commission (KPU)
          li Indonesian General Election Oversight Body (Bawaslu)
          li The International Foundation for Electoral Systems
          li
            a(href="https://australiaindonesiacentre.org/app/uploads/2018/09/Guide-to-the-2019-Presidential-Elections-Kevin-Evans.pdf" target="_blank" rel="noreferrer")
              | Guide to the 2019 Indonesia Elections<br>
            .em Kevin Evans, Australia-Indonesia Centre
          li Indonesian Police
          li Lowy Institute research
          li
            a(href="https://theconversation.com/a-third-of-indonesian-voters-bribed-during-election-how-and-why-100166" target="_blank" rel="noreferrer")
              em A third of Indonesian voters bribed during election – how and why<br>
            .em Burhanuddin Muhtadi, The Conversation

        .txt-sm
          strong.txt-tu
            | With thanks to Evan Laksmana and&nbsp;Isach&nbsp;Karmiadji

      hr

      .pv-xs
        strong.txt-tu.txt-sm Share
      
      .social-share
        .ph-sm(style="margin: auto;")
          a.icon.icon-social-facebook(
            href=[
              "https://www.facebook.com/sharer.php?u=",
              encodeURIComponent(page.url),
            ].join("")
          )
            strong.txt-tu.txt-sm Facebook
          a.icon.icon-social-twitter(
            href=[
              "https://twitter.com/share?url=",
              encodeURIComponent(page.url),
              "&text=",
              encodeURIComponent(page.title),
              "&via=LowyInstitute"
            ].join("")
          )
            strong.txt-tu.txt-sm Twitter
