//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[4]

block content
  :marked
    Reaching a compromise requires that all parties must be willing to sacrifice some of their interests, demands, or preferences in the hope of resolving a dispute or avoiding conflict. Contributors to this discussion explore different venues and conditions for possible compromise in the context of China's rise and the existing international order.

    First, it is conceivable that compromise may be achieved if interests converge. The list that generally ensues includes transnational issues that arguably cannot be dealt with without international cooperation, such as maintaining global economic growth, and fighting against climate change, terrorism, proliferation of weapons of mass destruction, and pandemics. Just because cooperation is desirable, however, does not necessarily make it happen. As [Elizabeth Economy](../../articles/chinese-order) suggests, the list of past instances where China agreed to compromise is unimpressive and did not involve major sacrifices on its part. At this point, and as the current pandemic crisis amply shows, the degree to which the interests of both China and the United States converge in addressing these transnational challenges would appear to be extremely limited.
    
    Compromise may also be achieved if the contending parties share the same values and principles. But if, as [Daniel Tobin](../../articles/rewiring-the-global-order) writes, the Chinese Communist Party (CCP) strictly abides by the principles of a “Leninist species of socialism”, there is little to no room for compromise: power and control cannot be shared; everything revolves around the ‘who whom’ question (who will dominate whom?). If Washington wanted to assuage the CCP’s fundamental insecurity, it would also have little to no room to compromise, short of completely sacrificing its own values and principles since, as [Tanner Greer](../../articles/ideological-insecurities) argues, Beijing perceives liberal democratic values as existential threats.
    
    What is left, then, is not compromise but a balance of power. This could go in two directions. First, it could evolve in a situation of clear asymmetry of power, where the stronger party compels the weaker to conform to its preferences. [David Kelly](../../articles/hide-and-bide) hints at the possibility of a return to ‘hiding and biding’ now that China has suffered a massive loss of soft power. [John Culver](../../articles/counting-on-historical-forces) explains that a strong United States demonstrating performance, recuperative powers, and restored political legitimacy would naturally force China to ‘reassess’ its course. On the other hand, [Wu Xinbo](../../articles/can-washington-compromise) describes China as having become a “major player in cyberspace and outer space”, thereby gaining enough “voice” to reject rules that it does not like. If China’s power eventually surpasses that of the United States, there is no question that it will “push harder” on Taiwan, as [Wu](../../articles/can-washington-compromise) writes.
    
    The balance of power could also evolve towards an equilibrium, where coexistence, to use Wu's preferred terminology, rather than compromise, might prevail. In such circumstances, as the two powers' interests and values would remain irreconcilable, they might then look for ways to create sub-global systems over which each of them would exert a greater degree of control. China is already [trying to create such a subsystem](https://www.nbr.org/wp-content/uploads/pdfs/publications/sr83_chinasvision_jan2020.pdf) where it can shape the architecture and the norms according to its preferences. Without precluding the possibility of <cite data-graph="peacekeeping-participation">cooperation on transnational issues</cite>, the United States nevertheless should prepare to also delineate a safe space for liberal democracies, immune from China's mercantilist and authoritarian practices.
    
    <hr>
    
    **Nadège Rolland** is Senior Fellow, Political and Security Affairs, at the National Bureau of Asian Research (NBR), based in Seattle and Washington DC, and a Nonresident Fellow at the Lowy Institute. Her research focuses mainly on China's foreign and defence policy and the changes in global dynamics resulting from the rise of China.

    <hr>

  +infographic(6)
