//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Item 1"

block intro-image
  img.bg-img(data-src="../../img/asylum-seekers.jpg")

block intro-caption
  :marked
    *Caption text*

block intro-description
  :marked
    Item Description

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs Section 1

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            Section one content goes here, for example.
