block page

  #infographic-prc-organisations.wrapper.flex.flex-col
    svg.close(version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 24 24')
      path(stroke="white" stroke-width="2" d='M17.414 6.586c-.78-.781-2.048-.781-2.828 0l-2.586 2.586-2.586-2.586c-.78-.781-2.048-.781-2.828 0-.781.781-.781 2.047 0 2.828l2.585 2.586-2.585 2.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l2.586-2.586 2.586 2.586c.39.391.902.586 1.414.586s1.024-.195 1.414-.586c.781-.781.781-2.047 0-2.828l-2.585-2.586 2.585-2.586c.781-.781.781-2.047 0-2.828z')
    
    .flex.flex-grow.flex-col
      strong.txt-center.chart-title.txt-lg.txt-semi China-funded Multilateral Organisations
      
      .flex.flex-col.md.fw-4
        .row.flex
          .col
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 946 946' version='1.0')
              defs
                radialgradient#c(xlink:href='#a' gradientunits='userSpaceOnUse' gradienttransform='matrix(1 0 0 .52127 851 228)' cx='416.5' cy='561.1' fx='416.5' fy='561.1' r='288')
                  radialgradient#b(xlink:href='#a' gradientunits='userSpaceOnUse' gradienttransform='matrix(.24202 .56273 -.56346 .24233 -601 642)' cx='-227.7' cy='139.4' fx='-227.7' fy='139.4' r='316.5')
                    lineargradient#a
                      stop(offset='0' stop-color='#fff')
                      stop(offset='1' stop-color='#fff' stop-opacity='0')
              path(d='M943 473a470 470 0 11-940 0 470 470 0 11940 0z' style='marker:none' color='#000' fill='#a9cbca' fill-rule='evenodd' stroke='#2a9d98' stroke-width='6.100975' stroke-linejoin='round' overflow='visible' enable-background='accumulate')
              path(d='M472 158a317 317 0 00-307 391c76-41 205-58 312-27 120 36 205 78 312-64a317 317 0 00-317-300z' style='marker:none' color='#000' fill='#015ca3' fill-rule='evenodd' overflow='visible' enable-background='accumulate')
              g(fill='#7192c7' stroke='#fff' stroke-width='1.8')
                path(d='M494 236h-2l-8 3c-1 1 2 2 0 2l-4 1-1 1h-5c-2 1-5 2-7 1l-2-1h-4l-7 2-11 1-7 3-2 2c1 2 3 1 3 3l-3 2h-2c0-1 3-1 1-2l-4 1h-3l-13 1v2l1 3 3 1s1-1 2 1l2 1c2 1 2 1 1 2v3c1 1 2 2 0 2-1 1-2 1-1-1 0-1-1-2-2-1s-1 3-2 2l1-4 2-1c0-2-1-1-2-1-2 0-4 0-6-2-3-1-5-2-7-1-1 0-2 0-1 2h-5c-1-1-2 1-1 1l5 1c1 0 2 1 2 3l-2-1-5-1h-3c-1-1-2-2-1-3l1-3c0-2-1-1-2-1v3l-5 1s-2 1-1 2l3 4-2 3 1 4h10c1 1 2 0 3 2l1 3-2 1 4 1-1 1c-2 0-3 1-4-1v-4l-2-1h-7c-1 1 0 2 1 3l-1 3-2 1c0 2-1 2-2 3l-3 1-2 2-4-1c-2 0-4 0-5-2-1-1 1 0 1-1 2 0 3 2 5 1l2-1c-1-1 1-1 1-1 2-2 4-2 4-4 0-1 2-2 1-3l-3-3v-4c0-2 2-2 1-3 0-2-2-3-3-4l1-2 2-4-2-1-7 1-3-1-2 4-5 4-2 2 2 1v3c-1 0-2 0-1 1l2 1 2 2c1 2 2 2 3 1l-2 4-4-2c-2-2-4-2-7-3l-5-2-7-1h-4c-1 1-2 1 0 2 0 1 2 2 1 3l-4 1-2 1v-2h-5c-1 2-3 1-4 1l-5 1c-1 0-1 2-2 1h-3c-1 0-2 0-1-1l1-2h-2c-1-1-1 1-1 2l-2-1-9 3-6 2-2 3h-5l-2-1c-1 0-3-1-1-2l5-1-2-2c-1-2-2-2-3-1l-4-1v5 2l1 2-1 3-4-1h-3l-5 2-3 2 2 3c1 1 0 2-1 1h-3l-7-2c-1-1-1 0-2 1 1 1 2 3 3 2 1 0 2 0 2 2l-2 1h-3l-2-2-4-1-2-4 2-2c0-2-1-2-2-2l-5-3-2-2c1 0 3 0 4 2l6 1 8 2 9-1 4-3-1-3-2-2c-2-1-5 0-8-2-2-3-4-3-7-4h-9c-1 1 0-2-1-1-2 0-3-1-4-3l-2 1-3 2c-1-1-3 0-5 2l-1 2v2l4 3-3 3 3 5-1 4c0 2 2 3 3 4 0 2-1 2-2 3 2 1 4 1 5 3 1 1-1 3-2 4l-8 6v3l2 1c2-1 3 0 4 1h-3c-1-1-2 0-2 1h-2c-1-1-2 1 0 1l-1 1c0 1-2 1-2 3l1 2v2l-1 1 2 2-1 2c1-1 1 0 1 1l1 2 2 1h2c1 0-1 1 1 1h2l2 1v4l1 1 2 2c1 0 0 2 1 1l2 1v2l-3 1h-1l1 2v3h1l2-2h3l2 2 1 1v3h3l1 2 1 2h6l2 2h2l2 1 2 1c1 0 2-1 1 1 1 1 0 1-1 1-1 1 2 1 1 2-1-1-1 1-1 1v3h-2l-2 1-1 2h2s2 0 1 1l-4 2v1l1 2-2 2c0 2-1 1-2 1-1 1 0 2 1 2 0 2 1 1 2 1l2 2 5 5c0-1 1-2 2-1l3 1 3 1h2c1-1 1 1 2 1 0 0 2 0 1 1h4l2 1c1 0 2 0 1 1l2 2 2 1 2 2h2c1-1 2-1 2-3l-1-2-2-2v-5l-1 1v-1l-1-3c-1 0-2-1-1-2l2-2 1-3h2l2-1 1-2-2-1h2l-2-3-1-2-3-1c0 2-1-1-1-1l-2-1 1-4c2 0 0-1 0-2l1-2 2-2c1 0 2 3 3 2l1-2c-1-1 1-1 1-2l2-2 4-2h6l2 1s2-1 2 1l3 2c-1 1 1 1 0 0 0-2 2-1 2 0l2 1 3-2h4l3-1 2 2 2 1c1 0 1-2 2-1h3l1-3-2-1-2-1s-2-1 0-1l3-2-1-2c1-2 3 0 4-1s-1-1-2-1v-4h3l3-1h6l2-2 7-1c1 0 2 1 3-1l2-1h5c1 0 2 0 2 2 1 1 2 1 1 2 0 1-1 2 1 2l2-1c1-1 1 1 2 1h2l2 1c-1 0-2 1-1 2l3-1c1 1 1 0 2-1l3-1 2-2c2 0 2 2 1 2-1 1 1 1 1 2 3 1 5 3 6 6l4 6c0 1 1 3 2 1 1 0 1-2 2-1 1-1 0 1 1 1s1 2 2 1c2 1 3-1 5-1l3 2 1 2c2 0 2 2 3 3h3l2-1 2 2h2l3-1c3 0 4-2 6-3l5-3 6 1 2 1 2 2h10c1 0 2-1 2-3l-1-2 2-4 2-1 8 2 3 2c-1 1 0 2 1 3l3 2 6-1h5c1 1 3 3 5 3l3 2h9c2-1 4 0 6-2 1-2 3-3 5-3 1 0 1 2 3 2h4l3 2 6-3v-2c1-2 2-5 4-6l1-3-3-1 2-2 5-2c3 0 5-1 8 1h4l3 3 3 9 2 5 5 2 5 2 1 6h5l7-3s2 0 1 1v3c-2 1-2 3-2 4l-4 8-4-1-2 2v8l-2 2v2l4-4v1l2-1 2 2c1 1 2-1 3-1 2 0 4-2 6-4 0-2 2-2 3-5l5-6 3-4 2-4 3-4 1-4v-4l1-5 2-5v-4l-3-2c-1-3-3-3-5-3 0 0-2-1-1 1-1 2-2 2-3 2l-2-1v-1l-3 1 1-4h-5v-2l8-6 8-6c1-1 2-1 2-3l4-3c1-1 3-3 5-3 0 0 0 0 0 0s0 0 0 0v-1h1l4 1 1-1h2l1 1 3 1v2h-1l2 1h6v-1c-1 0-2 0-1-2s2-3 4-3l1-2 1-2h6c0 1 0 2 1 1h1l-1 3v2h2l4-3 1-1 1-2 2-1 3 2h-3l-1 2v2l-1 2-2 1-2 1-5 4-2 3-5 2-1 3-2 2-1 6v4 13l1 2 3-3 1-3 1-2h2v-3l2-2h3l1-2-1-2 2-4c1 0 2 0 1 1s0 1 1 1v-3l-1-2 2-2-2-1-1-2c0-2 1-2 2-3l1-1 1-2c-1-1 0-1 1-2 0 0 0 0 0 0s0 0 0 0h1c0 2 1 2 2 1l1-1h2l-1 2 1-1 4-1 3 1 1 3 1-2 2-1 2-1c0-1 1-2 2-1 0 0 1-2 2-1l2-1 2-1 3-1h1l1 1 2 1 2-2c-1 1-1 0-1-1l-1-2v-2c0-1 0-2-1-1v-1c-1 0-2 0-1-1l-2-1h-1c1 0 0-3 1-2l2 1s0 0 0 0l1 2 3-1h2l1-4 2-1v3h4c1 0 2 0 2 2l1 2 1 1 2 2h2l1-2s1 1 1-1l-1-3 1 2h3l-1-1 1 1c1-1 1-2 2-1v-1l-3-4-3-1s-1-2-2-1c-1-1-1 1-1 2v1l-1-2v-3l-1-2-5-4-5-4s0 0 0 0l-2-2-4-3-6-2h-2l-4-2c-1-1-1-1-2 1-1 1 0 0 1 1v3h-2l-2-1-2-3c-1 0-1-2-2-1h-3c-1-1-3 0-3-2h-6-1c-1 1-1-1-1-2l-2-1v-2l-1-2c-1-2-3-3-5-3l-8-1c-1 0-2 0-3-2l-1-2-5-3h2v-1l-5-2-3 1-2 1c-1-1 0-1 1-1l1-2h-2l2-1h-2l-4-2v-1h-7l-5 1c-1 0-2 2 0 1 0 0 2-1 1 1v3l-3-1-3 1c1 1 0 1-1 1l-4-1h-6c-2 1-4 0-6-1-1 0-1-2-2-1l-5 5h-4l-5-5-6-2c-1 0-3 0-2-1l8-3-1-1-7-1c-2 1-3 0-5-1-1-1-2 0-4 1-1-1 0 1-1 2 0 0-1 2-2 1h-5l-9-1-1-2-7-1-7 1c-1-1-2 0-3 1l-1-2h-7c-1-1-2-2-3-1v1l-6 2-8 1-4 2 3-3 8-2 11-5 5-2 2-1-1-1c1-1 2-2 1-3h-2l-3-1c-2-1-5-2-7-1h-5c-1-1-2 0-3 1h-3l-1-1 2-2h-10l3-2c2 0 0-1 0-1h-4z')
                path(d='M411 407l-2-1c-1 0-1-2-2-1l-3-1h-11c-1-1-3-2-4-1l-1 3-4-1h-4l-1 2-2 1-2 2-3 2c0 1-2 2-1 3l-2-1c1-1-1-2-1-2l-3 1-1-5c-1 0-2 1-2-1v-3l-1-1-2-2c-1-2-2 0-2 0h-9l-5-5-7-5-9 3v18l-2-1-2-2c-1-1-2-3-4-2l-4 3v-3-2l-2-1c-1-1-1-2-2-1l-1-2-1-3-2-1c0-2 1-1 2-1h2l-1-2 1-2h6s-2 0-1-1l1-3v-2c0-2-1-1-2-2h-3l-3 1-3 1-2 1-3-1h2l-1-3-2-2-3-1-1-1-2-1 1-3v-2l1-3 2-2c1-1 1 2 3 2l1-1 1-3 2-1 2-2c1-1 2-2 3-1h7c2 0 2 1 2 2l3 2c-1 1 1 1 0 0 0-2 2-1 2 0l2 1 3-3 3 1c1 1 1-1 2-1l2 1 3 1h7v-3l-3-1-1-1c-2-1 0-1 1-2 0 0 2 0 1-1s0-2 1-3h3c1-1-1-1-1-1l-1-1v-3h3l5-1h5l2-2 6-1 3-1c0-1 2 0 2-2l4 1h3l1 3v2h4c0 2 1 1 2 1h2v2h3l4-2 3-2 1 1c-1 2 1 2 1 2l5 5 4 7 2 3 2-2s2-1 2 1l1 1 5-1 3 1 2 3 2 1 2 2c1 0 2 1 3-1 1-1 1 1 1 1 0 2 2 1 2 2l-2 1c0 2-2 2-2 2-2 0-3 2-2 3v3c-1 2-3 1-4 1l-4-1c-2 1-2 4-3 6l1 2c0 1-1 3-2 2l-3-1-5 2c0 1 0 2 1 1l1 3 1 4-2 4v1z')
                path(d='M368 433l-2-1-2-1v-3c-1 0-2-2-3-1l-5-4-2-1-3-3-2-2-1-3c0-2-1-2-2-2h-3l-2-1v-2c0-2-1-2-2-2l-2-2-2 1h-1c0 1-1 2-2 1l-1 2c-1 1 1 3-1 3h-3v-18l9-3 9 7 3 3h6l4-1c1-1 1 2 2 2l1 2c1-1 1 0 1 2v2l2 2 1 3h4l1 2c1 1 1 0 1-1s2-1 2-3l3-2c1 0 1-2 2-1l2-1c1 1-1 1-1 2l-3 2h2l2 2 2-2s0 2 1 1c0 2 2 1 2 2 1 0 2 0 1 1l-2 1-2 1h-2-2v-2l-1-2-2 2-1-1-1 3h-2c1 1 2 0 1 1l-2 2h-2l-1 2c1 1 2 0 2 2l1 3c1 1-1 1-1 2l-1 3v1z')
                path(d='M392 432l-2-1-3 1h-2l-2 1-2 1-1-3v-3l-1-2-2 2-1 3h-2l-2 1c-2-1-3 2-4 1v-3l2-2c1-1-1-2-1-3s1-2-1-2l-1-2 2-1c1 0 2 1 2-1l1-1s-2-1 0-1c0 0 2 1 1-1l1-2c1 2 2 0 2 0h2c1 1 0 2-1 2l2 1-1 1-3-1c-1 0-1 3-1 1v2h3l2 1 2-1 1 1c1 0 1 2 2 1l3-1c1 0 2-1 2 1v3h2l1 3 1 2-1 2z')
                path(d='M379 417h2c1 1 2 0 2-1l2-1 2-1-3-1-1-1c-1-1-1-2-2 0l-2 1-1-2c-1 0-2 0-1-1l2-2c1 0 2-1 0-1l1-2h4l4 1c0-1 0-3 2-3 1-1 3 1 5 1h11l2 1c0 1 1 2 2 1 0 0 2 1 1 2l-5 2c-1 1-1 3-3 3h-3c-1 1-1 3-3 3h-2c0-2-1 0-2 0l-4 3-1 2h-4c-1 2-1 0-1 0-1 1-1 0-2-1l-2 1-2-1h-2c-1 0-2 1-2-1l1-1h3c1 1 1 0 2-1 0 0 0 0 0 0z')
                path(d='M513 524l-3-1v-5c1 0 2-2 3-1 0-2 1-1 1-1l3-1v2l-1 4-2 2-1 1zm-26-21l-2 2 1 4c-1 1-2 0-3-1h-1l-2-1c0-1-1-3-2-2l-1-2 1-3c-1-1-2 1-2-1l-1-4h-2l-2 1v-4l2-3c2-1 2-3 2-5v-5l-2-1-2-4c0 1 0 2-1 1h-3v-3c0-1-1-3-2-2s-2 2-3 1h-2l-3 3c-2 1-3 4-5 4l-2-1-4-1c-1-2-2 0-3 1l-2 3v-3h-5l-2-1h-2-1c-1-2-1-1-2-1-2 0 0-3-1-2s-2-1-3-1l-1-2c-1 1-1 1-2-1l-2-1-2-2-2-1c-1-1-1 0-1 1-1 1-1-1-2-1-1-1-2 0-2-2 0 0-1-2-2-1l-2-2c0 1-2 0-1-1l-1-3 1-2s0 2 1 1 2-1 1-2l-1-2c0-1-2 0-2-2l1-3-2-1-1-3-1-2-4-1-1-1c-1-1-2-1-1-2l-2-2c-1 1 0-1-1-1h-2c-1-2 1-1 1-2v-2-3l-2-1c-1 1-2 0-2-1l1-4c0-2 1-2 2-3l4-2c0 1 1 2 2 1l2-1c0-1 1-3 2-2s3 0 4-2 3-2 5-2c1 0 2-1 1-2l1-4 1-2-1-4-2-2 1-2 5-1 3 1v-2l1-4 2-4c2 1 5 2 7 1l1-3v-3c1-2 3 0 4-2l1-2 3-1 2 5 3 2c2 0 3 0 4 2l2 4c0 2 0 4-2 5 0 2 2 2 3 2 3 1 5 0 8 2l5 2 2 5 3 3 8 1h10l3 2c2 1 4 2 6 1l2 2 4-3c2-1 4-2 6-1h5l4-2c1-2 2-4 4-4 0 0 2-1 1-2s-2-2-1-4c0-1 2-2 3-1l3 1 3-1c1-1 2-3 3-2 1 0 3 0 4-2l2-3h3c1-1 3-2 5-1h2v-3c-1-1-2-3-4-3h-3-2-2c-1 0-2 2-3 0l1-3 3-7 2 1h4l3-2v-3c1-2 2-5 4-5l1-3-3-1 3-3 6-1c2 0 4-1 6 1h5l3 6 3 10c1 2 3 2 4 2l7 3 1 4c0 2 1 2 2 2l5-1 6-2 1 3-3 3-3 9c-1 2-2 0-3 0l-3 1s-2 0-1 2v7c-1 2-2 2-3 2 0 0-1-2-2-1l-1 3c-1 1-3 2-4 1-1 0-2 1-1 2s0 2-1 2l-3-2-2 2-6 5-1 2-5 1-4 4c-1 1-2 0-1-1l1-2c-1 1-2-1-1-1l3-3-2-2h-3l-3 3-3 3-2 1c0 2-1 1-1 0-2 0-2 2-2 3 0 2 1 2 2 3h3v4c1 1 2 0 3-1l3-2c1 1 2 3 4 2h2l-1 3c-2-1-3 0-5 1l-1 2c-1 2-1-1-1 0l-1 2-3 4 1 2c2 1 3 2 3 4l2 3v3l2 2 1 2c-2 1 0 1 0 2s0 3-1 2l-4 2c-1 1 0 1 1 2 1 0 2-2 3-1 0 1 1 2 2 1 0 2-2 2-2 3l1 2-1 3c0 2-1-1-2 1l-1 4-2 3c-1 0-2 0-1 1v4c-1 1-2 0-2 2l-2 2c0 2-1 1-2 1v3l-3 2-2 2-1 1-2 1c-1-1-2 1-3 1-1 1 0-1-1-1s-2 2-3 1h-1l-1 3c-1-2 0 1-1 1h-3c-1 0-1 2-2 1l-3 1-1 1 1 3-2 1v-5c0-1-1-2-2-1l-2-1c-1-2-1 1-1 1h-3l-3-3v-3c0-2-1-1-2-1l-3-2c-1 1-2 3-4 3l-4 1-2-1-1 1zM552 506l-2-3v-6l3-5s1-2 2-1v2l-1 3-1 6-1 4s0 0 0 0z')
              path(d='M472 158h-5v114c-40-1-79-8-115-22 28-34 64-66 110-92l-31 2c-33 24-63 53-89 86-19-8-37-17-54-29l-11 8c20 11 40 21 60 29-24 32-43 67-56 104-32-5-64-11-95-19l-4 8-1 2c32 8 64 14 96 19-11 32-17 66-19 101H156v11h102l1 36 11-2c-2-11-2-22-2-34h199v40l10 2 1 1v-43h197c1 23-1 47-5 72l13-5c3-23 4-45 4-67h84l9-11h-94c-1-36-8-69-18-101l96-18-5-11c-31 8-63 14-94 19-14-37-33-72-56-103 19-8 39-18 59-30l-10-8c-18 12-37 22-56 30-25-33-56-62-91-87l-28-2c38 20 77 52 109 93-37 14-76 21-114 21V158h-6zM346 258c40 15 81 23 121 25v90c-59 0-118-5-177-14 12-34 30-69 56-101zm253 1c22 29 41 63 54 101-58 8-117 13-175 13v-90c40 0 81-8 121-24zM286 369c60 9 120 14 181 14v86H268c1-30 7-65 18-100zm371 1c10 30 16 63 18 99H478v-86c59 0 119-5 179-13z' style='marker:none' color='#000' fill='#a9cbca' fill-rule='evenodd' overflow='visible' enable-background='accumulate')
              path(d='M-702 488a317 317 0 00-308 391c76-40 206-57 312-26 120 36 205 78 312-64a317 317 0 00-316-301z' style='marker:none' color='#000' fill='url(#b)' fill-rule='evenodd' overflow='visible' enable-background='accumulate' transform='translate(1175 -331)')
              g(color='#000' fill-rule='evenodd')
                path(style='marker:none' d='M791 489c-96 99-147 101-254 96-139-20-241-24-322 70 19 27 43 52 69 72 69-99 163-98 294-103 93-8 152-35 208-95l5-40zm-17 86c-56 66-118 83-215 89-109 10-178 34-212 99 30 14 64 23 98 26 20-77 217-88 302-155 11-19 20-38 27-59z' fill='#015ca3' overflow='visible' enable-background='accumulate')
                path(d='M1641 410c-96 100-147 102-253 96-140-19-242-23-323 70 19 28 43 52 70 72 68-99 162-98 293-102 93-9 152-36 208-95 3-14 4-27 5-41zm-16 86c-57 66-119 84-216 89-109 10-178 34-212 100 31 13 64 22 99 25 19-76 217-88 302-155 11-18 20-38 27-59z' style='marker:none' fill='url(#c)' overflow='visible' enable-background='accumulate' transform='translate(-850 79)')
              g(fill='#309d9b' fill-rule='evenodd')
                path(d='M140 278c13-31 34-49 69-39a68 68 0 01-69 39z')
                path(d='M117 249c-20 21-38 52-14 92 32 1 59-19 71-50-27-2-38 4-52 15 9-17 12-35-5-57z')
                path(d='M77 326c-14 24-21 60 12 93 31-6 50-37 54-65-27 4-34 14-45 28-2-17-2-39-21-56z')
                path(d='M55 404c-2 31-16 62 30 91 28-11 42-34 42-68-23 2-30 14-41 25-3-20-17-34-31-48z')
                path(d='M90 528c-12-20-25-30-39-39 4 26-9 51 46 79 16-19 37-43 23-81-19 15-24 28-30 41z')
                path(d='M120 641c-44-16-55-44-57-76 18 5 33 17 45 41 1-16 1-33 26-49 12 33 6 60-14 84z')
              g(fill='#309d9b' fill-rule='evenodd')
                path(d='M807 278c-13-31-34-49-69-39 10 25 37 41 69 39z')
                path(d='M830 249c20 21 38 52 13 92-31 1-59-19-70-50 27-2 37 4 52 15-9-17-12-35 5-57z')
                path(d='M870 326c14 24 21 60-12 93-31-6-50-37-54-65 27 4 34 14 45 28 2-17 2-39 21-56z')
                path(d='M892 404c2 31 16 62-30 91-28-11-42-34-42-68 22 2 30 14 40 25 4-20 18-34 32-48z')
                path(d='M857 528c12-20 25-30 39-39-4 26 9 51-46 79-17-19-37-43-23-81 19 15 24 28 30 41z')
                path(d='M827 641c44-16 55-44 57-76-18 5-33 17-45 41-2-16-1-33-26-49-12 33-6 60 14 84z')
              path(d='M162 648l2 4-43 21 6 10 43-21 2 4-43 21 5 11 43-22 2 4-48 24-17-32 48-24zM166 693l-6 2 1 4 6-2 3 3v6l-4 3-2 1-5-5-4-4h-5l-6 2c-3 1-5 3-6 6v6l3 4 6 1-4 3 2 4 4-3 10-6 8-5 7-4 3-5c0-2 0-4-2-6-1-3-3-4-6-5h-3zm-16 12l2 1 3 2 5 5-2 1-7 3-5-1-3-2v-4c0-2 1-3 3-4l3-1h1zM183 707l2 4-14 9 6 10 14-10 2 3-33 23-2-3 15-10-7-9-14 10-3-4 34-23zM163 750l22-7 10-19 3 3-5 9-2 5 5-2 10-4 3 4-20 7-11 20-3-3 6-12 2-3-17 6-3-4zM225 754l3 3-21 23 30-15 3 4-28 31-3-3 21-24-29 15-4-3 28-31zM245 751l2 2c-2 2-4 4-6 4-2 1-4 0-6-1-1-1-2-3-1-5l3-8 2 2c-2 3-2 6-1 7l3 1 4-2h0zM240 801l3 3c-3 4-7 6-10 7h-8c-3-2-4-5-4-9 0-5 3-10 7-16s8-9 12-11 8-2 11 0c2 1 3 3 4 6l-3 10-5-1c2-3 2-5 2-7 0-1 0-3-2-3-1-2-4-1-6 0-3 1-6 4-9 9-4 4-5 8-6 11l2 6h5l7-5h0zM261 783l4 2-11 15 3 1 6-5 6-5 2-1 3 2h1l-4 5-1-1h-1l-3 2-6 5-4 2c1 1 0 5-1 10l-4 13-4-2 4-14c1-2 2-4 1-5l-1-3-11 17-4-3 25-35zM296 808h-2l-6 8c-2 2-3 5-3 8 0 2 0 4 2 6l-6 3-9 9 4 2 7-7 5-4 3 1 1 1-8 14 3 2 21-38-8-5h-4zm-1 5l3 1 4 3-7 12-3-2c-2-1-3-2-3-4 0-1 0-3 2-5l3-4 1-1zM206 744l-6 4 2 3 6-3 4 2c1 2 2 3 1 5 0 2-1 3-3 5l-1 1-7-3-5-3-5 1-5 4c-3 2-4 5-5 7 0 3 1 5 3 7l4 2h6l-3 4 3 3 2-4 9-9 6-6 5-6 2-6c0-2-1-3-3-5s-5-4-7-3h-3zm-13 17h2l4 1 6 3-2 2c-2 2-4 4-6 4-1 1-3 2-4 1l-4-1c-1-1-2-3-1-4l2-4 3-2s0 0 0 0z' style='line-height:125%' font-size='49.5' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              path(d='M273 800l-5 4 2 3 5-4 5 1 2 5-2 5-1 2-7-2c-2-1-4-2-6-1l-5 1-4 5c-2 3-2 6-2 8 0 3 1 5 3 6l5 1 5-1-2 4 4 3 2-5 6-10 5-7 4-8v-5c0-2-2-4-4-5-3-2-5-2-8-2l-2 2zm-9 18h2l3 1 7 1-1 2-5 6-4 2-4-1c-2-1-2-2-2-3l1-5 2-2 1-1zM385 844l-3 7 3 1 3-5 4-1c2 0 3 2 4 3v8l-7 1-6 1-3 3-2 6v8a7 7 0 0010 4l4-3v5h4v-4l2-12 1-9 1-8-1-5c-1-2-3-3-5-3-3-1-6 0-7 1l-2 2zm-2 21l2-1 3-1 7-1-1 2-2 7-3 4-4 1-3-3v-4l1-3v-1zM405 844l3 1-1 16 9 2 1-17h3l-3 40h-3l1-18-9-1-1 18-3-1 3-40zM426 845l4 1-3 32 13-30h4l-4 42-3-1 2-31-12 30-4-1 3-42zM466 855l-1 6 4 1 1-6 4-1 5 2 1 6-1 2-6 2-5 2-3 4-1 6 2 8a7 7 0 0010 2l4-4 1 5h4l-1-5-1-12v-9-8l-3-5-5-2c-3 0-5 1-7 3l-2 3zm3 20l1-1 3-2 7-2v2l-1 8-3 4-3 1c-2 0-3 0-4-2l-1-4 1-3v-1zM510 848l3-1 3 32 8-32h4l4 42h-4l-3-32-7 32h-4l-4-41zM534 845l-2 3v9l4 8c1 2 3 3 6 3-2 1-2 3-3 7l-1 12 5-1 1-9 1-7c1-1 1-2 3-2h2l4 16 3-1-9-42-11 2-3 2zm3 6c0-1 1-2 3-2l5-1 3 14-4 1-5-1-3-5v-5l1-1z' style='line-height:125%' font-size='49.5' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              path(d='M343 811c-4-1-8-1-13 3-5 3-9 9-13 17-3 7-5 13-5 18 0 7 2 11 6 13s9 1 14-3l12-16c2-5 4-10 4-15v-11l-5-6zm-3 6l4 4v8l-4 12c-3 6-6 11-10 13-3 3-6 4-9 2-3-1-4-4-4-8s1-9 4-15c3-7 7-12 10-14 3-3 6-3 9-2zM362 828h-4l-4 4 1-5-3-1-20 57 4 2 7-21 1 5 3 3c2 0 5-1 9-4 3-3 6-8 8-15l3-12-1-9-4-4zm-2 6c2 0 3 2 3 5l-3 13-6 11-5 3c-2-1-3-3-3-6-1-3 0-7 2-12l6-12c2-2 4-3 6-2zM371 834l14 4-2 5-9-2-10 35-4-1 11-41zM451 871l1-6h3l2-2 1-4-1-4c-1-1-1-2-3-2s-4 2-5 7l-4-2c2-7 5-11 10-11 2 0 4 1 6 4l1 9c0 3-1 6-3 8 2 2 3 6 3 11 0 4-1 7-3 9s-4 3-7 3c-5 0-8-5-8-13l3-1 2 6c1 2 2 2 4 2l3-1 2-6-1-4-1-2-3-1h-2zM486 849h4l1 32 12-1-2-31 4-1 2 32h2l1 19-3 1-1-15-18 1-2-37zM592 853l4 1v15c-1 4-3 6-6 7-2 1-5 1-7-1-3-1-5-4-7-8a64 64 0 01-9-31c-1-5 0-9 1-12 2-2 3-4 6-5 2-1 5-1 7 2 3 2 6 5 8 10l-3 3c-4-7-7-10-11-9-1 1-3 2-3 4-1 2-2 5-1 9l2 12c2 8 5 13 7 17 3 3 5 4 8 3l4-5v-12h0zM601 826c-3 1-5 4-6 8s0 9 2 16 5 12 8 14c4 3 7 3 10 2s5-4 6-8 0-10-3-17c-2-6-5-11-8-13-3-3-6-4-9-2zm1 5c2-1 4 0 7 2 2 2 4 5 5 10 2 5 3 9 2 12 0 3-1 5-3 6s-4 0-6-2l-6-10c-2-5-2-9-2-12s2-5 3-6zM611 823l17-8 2 6-7 3 15 34-4 2-14-35-7 3-2-5zM676 854l-4-5 3-1 1-2 1-2-2-7-29-30 4-3 16 18 7 7-4-9-7-23 4-2 12 40 3 11v5l-2 2-3 1h0zM669 793c9 13 14 22 16 29l-2 1 10 13 2-2-6-8 13-9 6 9 2-2-9-13-2 1-19-27-11 8zm5 3l7-5 15 23-8 6c-2-6-7-14-14-24zM721 753l3-2 6 6 6 6 4 2 4-1 2-6-14-15 3-3 32 33-3 3-13-13-3 6c-2 2-5 2-8 1l-11-8-8-9zM744 730c-3 2-3 5-2 9 1 5 4 9 9 14s10 8 14 9c3 2 7 1 9-1s2-4 2-7-2-6-4-10l-4 3c3 4 4 8 2 10l-6 1-9-6 12-12-1-2c-5-5-9-8-13-9s-7-1-9 1zm4 4h6c2 0 4 2 6 4l-9 9-4-7c-1-3-1-5 1-6zM765 707l11-15 5 3-5 6 28 21-2 3-28-21-5 6-4-3zM777 691l37 22 5-10c2-2 2-5 1-7-2-3-4-5-7-6-4-3-8-4-11-2 0-3-3-5-6-7-2-2-5-3-7-3l-4 1-4 4-4 8zm7-1l2-4 4-3 4 1 3 3 1 2-1 4-3 3-10-6zm15 10l3-5 4-3c1-1 3 0 5 1s3 2 3 4c1 1 0 3-1 5l-2 4-12-6z' style='text-align:start;line-height:125%' font-size='56' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              path(style='line-height:125%' d='M794 672c1 1 2 3 5 4l2-3-4-4v-4c1-2 3-3 5-3l5 2 2 1-2 7v5l2 4 5 4c3 2 6 2 8 2a7 7 0 006-7l-1-6 4 2 2-4-4-1-11-5-8-4-7-4h-6l-4 4c-2 2-2 5-1 7l2 3zm19 7l-1-2v-3l1-7 2 2 7 4 2 4-1 4c0 1-1 2-3 2l-4-1-3-2v-1zM686 782l3-2 11 13 7-6-11-13 3-2 26 31-3 2-11-14-7 6 11 14-2 2-27-31zM702 769l3-3 22 24-13-30 3-2 28 31-3 2-21-23 13 29-3 3-29-31z' font-size='49.5' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              path(style='text-align:start;line-height:125%' d='M637 808l-2 3-1 6-2-5-3 2 26 51 3-2-9-18 4 2h3c2-1 3-4 3-8 0-5-1-10-5-16l-6-10c-2-3-4-4-6-5h-5zm2 5c2-1 3 0 5 2 3 1 5 5 7 10 3 4 4 8 4 11s0 5-2 6c-1 1-3 0-5-2l-7-9-4-12 2-6z' font-size='56' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              path(style='line-height:125%' d='M782 725l3-3c4 3 7 7 8 10s1 6-1 8c-2 3-5 4-9 4-4-1-9-3-15-7-6-5-10-9-12-13-1-4-1-7 1-10 1-2 3-4 6-4l10 3-1 4-7-2-4 2c-1 2-1 4 1 7 1 3 4 6 8 9l11 6 6-2 1-5-6-7h0z' font-size='49.5' font-weight='400' fill='#309d9b' stroke='#309d9b' font-family='Arial Narrow')
              g(font-weight='400' stroke='#3d9d9b')
                path(d='M221 149l4-3 1 1v2l11 14 17-13 1 1 1 2v1l-17 13 14 18 21-16h1l1 2v1l-40 31h-2l-1-2v-1l17-13-29-37v-1h0zM300 104a55 55 0 0113 3v1l-1 3a56 56 0 00-13-3l1-3v-1h0zM303 117a56 56 0 0111 3s0 0 0 0l-1 4a49 49 0 00-11-3v-3l1-1h0zM315 127s0 0 0 0l3 2v1a152 152 0 010 20 17 17 0 01-6-2v-1l2-5a80 80 0 001-15h0zM317 97h5l-1 1v3l24-9h1v3l-24 9v1l-1 5-1 4h-4s0 0 0 0l1-7a36 36 0 000-10s0 0 0 0h0z' font-size='12' fill='#309d9b' stroke-width='2.5' font-family='Academy Engraved LET')
                path(d='M322 109v2c1 4 3 7 3 11 0 0 0 0 0 0l-3 2v2l1 1 3-1a64 64 0 010 16h4v-2-2l21-7v1c0 2 0 3-2 4l-7 2h1l3 2h5c3-1 4-3 4-6l-1-5 4-1v-1l-1-1-1-1-2 1-1-4-2-5 3-2v-2l-1-1-3 1-4-11-1-1-23 8zm4 3l17-7 4 9-18 7-3-9zm4 13l18-7 1 5 1 4-20 8v-9-1z' font-size='12' fill='#309d9b' stroke-width='2.5' font-family='Academy Engraved LET')
                path(d='M332 111a43 43 0 0110 2v1l-1 2a45 45 0 00-9-2v-3s0 0 0 0h0zM336 123a48 48 0 0110 3s0 0 0 0l-1 3a51 51 0 00-10-3l1-2v-1h0zM422 67l4 2 1 1-1 1h-1l5 5 8 5 12 4h1l-1 1-2 2v1l-9-3-9-5-8-7a60 60 0 01-9 11 77 77 0 01-11 8h-1l-2-2-1-1h1l7-4a59 59 0 0012-12l3-6 1-1h0z' font-size='12' fill='#309d9b' stroke-width='2.5' font-family='Academy Engraved LET')
                path(d='M413 88l22-3 1 1v3l-23 2v-1l-1-2h1zM409 98l-1 1 2 21 1 1h2l1-1v-3l26-2 1 2 1 1h2l1-1-2-21-1-1-33 3zm3 3l27-2 1 12-27 3-1-13zM515 67l4 4s0 0 0 0l-2 1c-2 4-4 7-7 9l-4 38h-3l-1-1 4-32-7 6-1-1a341 341 0 01-2-2 280 280 0 0014-13l4-9h1z' font-size='12' fill='#309d9b' stroke-width='2.5' font-family='Academy Engraved LET')
                path(d='M528 69l4 3-1 1h-1l-3 5 23 3v3l-1 1-17-2-1 9 15 2v3l-1 1-15-2-1 9 15 2 1 1v2l-1 1-16-2-1 12-1 1-2-1h-1l5-39h-3l-2 2-7 7-1-1a215 215 0 01-2-2l5-5 6-7a46 46 0 004-7h0z' font-size='12' fill='#309d9b' stroke-width='2.5' font-family='Academy Engraved LET')
                path(d='M625 96h-1l-16 42-5-2h-1l-1 2 1 1 31 12 1-1v-1-1l-4-2 16-42-1-1-20-7zm2 4l14 5-4 10-14-5 4-10zm-5 14l14 5-5 11-13-6 4-10zm-5 14l13 5-4 11-14-5 5-11zM612 88l4 4h-1l-1 1a161 161 0 01-12 11l6 1 5-6h1l4 4h-1-1a157 157 0 01-17 14l12 1-2 3-17-1-1 1h-1l-1-5 5 1 11-9a140 140 0 01-9 0h-1l-1-6 4 1a115 115 0 0014-15h0z' font-size='58.2' fill='#3d9d9b' stroke-width='2.5' font-family='DFPHeiMedium-B5')
                path(d='M608 126v1l-1 2-1 1h-18l-1 1-1-1v-4l1-1a48 48 0 0021 1h0z' font-size='58.2' fill='#3d9d9b' stroke-width='2.5' font-family='DFPHeiMedium-B5')
                path(d='M715 151h-1l-13 20 1 1 18 12h1l13-20v-1l-19-12zm1 4l13 9-10 15-13-8 10-16zM703 155l1 5s0 0 0 0h-2l-15 6c2 2 5 3 9 4l-1 3-18-5h-2l2-5 5 1a305 305 0 0012-5l-10-3-2 1 2-5 3 1a252 252 0 0020-11l1 5h-1l-1-1-15 9 6 3 6-3h0zM691 179l-2 3a698 698 0 01-19-5l2-6 9 4 10 4h0zM713 185s0 0 0 0l-1 17-1 1-4-1 2-17h4zM702 177l1 4v1s0 0 0 0h-1l-7 4-8 4v-1a3700 3700 0 00-1-4h3l6-3a94 94 0 007-5h0z' font-size='58.2' fill='#3d9d9b' stroke-width='2.4' font-family='DFPHeiMedium-B5')
          .col The Shanghai Cooperation Organization (SCO)
            .xs.txt-mute Founded in 2001.
        .row.flex
          .col
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 178.4 178.4')
              defs
                style.
                  .axx{fill:#002b45}
              path.axx(d='M46.2 85.6a16.3 16.3 0 01-6.5 6l9 20.2H38.3l-7.5-18.5h-4.4v18.5h-9.7V61.6h15.9a17.5 17.5 0 018.3 1.9 14.8 14.8 0 015.7 5.4 15.2 15.2 0 012.1 8 15.7 15.7 0 01-2.5 8.7zm-19.8.6h5.7a6.5 6.5 0 005.1-2.3 9.3 9.3 0 001.9-5.9 9.1 9.1 0 00-1.9-5.9 6.5 6.5 0 00-5.1-2.3h-5.7zM63.2 109.1a21.9 21.9 0 01-7-9.2 33.6 33.6 0 01-2.5-13.1 35.3 35.3 0 012.5-13.2 21.9 21.9 0 017-9.2A16.3 16.3 0 0173.4 61a15.5 15.5 0 0111.4 4.6A25 25 0 0191 78.1l-9.4 1.5a17.2 17.2 0 00-3.1-7.5 6.2 6.2 0 00-5.1-2.9 6.8 6.8 0 00-5 2.4 17.3 17.3 0 00-3.5 6.3 31.4 31.4 0 00-1.2 8.9 27.7 27.7 0 001.3 8.9 14.8 14.8 0 003.5 6.2 7 7 0 004.9 2.3 6.3 6.3 0 005.2-2.8 18.5 18.5 0 003-7.4l9.4 1.5q-1.5 7.8-6 12.3a15.5 15.5 0 01-11.4 4.6 17.4 17.4 0 01-10.4-3.3zM98.1 61.6h26.5v8.3h-16.8v12.8h14.1v8.1h-14.1v12.8h17.4v8.2H98.1zM156.9 63.7a15.5 15.5 0 015.9 6 16.6 16.6 0 012.2 8.7 17.3 17.3 0 01-2.2 8.9 16.2 16.2 0 01-5.9 6 18.2 18.2 0 01-8.8 2.1h-5.8v16.4h-9.5V61.6h15.3a18.2 18.2 0 018.8 2.1zm-3.7 21.1a9.3 9.3 0 002.1-6.4 9.2 9.2 0 00-2.1-6.3 7.1 7.1 0 00-5.6-2.3h-5.3v17.4h5.3a6.8 6.8 0 005.6-2.4z')
              path(fill='none' d='M0 0h178.4v178.42H0z')
          .col Regional Comprehensive Economic Partnership (RCEP)
            .xs.txt-mute Free trade agreement, introduced in 2011.
        .row.flex
          .col
            svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 277 277')
              defs
                style.
                  .a{fill:#fefefe}.c{fill:#a9c539}.d{fill:#87ac3e}.e{fill:#759e3f}.f{fill:#5c8f40}.g{fill:#4c8440}.h{fill:#0f6e3d}.i{fill:#26763e}.j{fill:#fcfcfb}
              path.a(d='M0 277V0h277v277zM212 27c-8-18-33-27-48-12l-44 55c-11 13-30 12-46 7l-33-8a7 7 0 00-8 7v8c1 3-2 3-1 5s-2 3-1 5c-2 2-2 4-2 6a12 12 0 00-2 5c-5 12-10 25-17 38-10 15-2 38 16 43l59 10c8 1 16 2 24 6 31 16 24 85 44 65 2 1 3-1 5-2a5 5 0 004-2c18-5 38-7 58-8a29 29 0 0023-26c2-13-11-31-15-45-10-19-8-42 2-61l10-16 13-17c5-6 12-9 9-16-1-5-7-4-10-7-2 0-3-3-5-3-1-1-1-3-3-3a1 1 0 01-1 0l-4-4-27-30z')
              path(d='M153 267c-13 12-15-11-18-19l-18-63-21-71c-16-11-35-18-53-28-3-2-7-3-10-7-2-5 2-11 8-10l90 22c21 5 43 12 65 15 10-6 19-11 28-18 11-5 21-16 33-18 13 4 1 15-4 20-35 35-67 71-101 106-1 13 1 27 1 41 0 10 2 21 0 30zm-10-3c0 4 4 5 6 3 5-6 1-17 2-25 0-16-3-32-2-47l82-87 13-12 12-14c2-2 5-3 4-6s-3-5-6-3l-57 36C146 99 94 84 43 72c-4-1-9 0-8 5l1 2 61 32c17 49 30 103 46 153z' fill='#bed532')
              path.c(d='M33 79l4 4-1 1 1 1c78 50 43 8 80 100 4 15 9 29 12 44-7-14-13-29-21-42v-1l-27-54a7 7 0 00-4-3c-15-9-31-19-44-31-3-2-3-6-1-9v-4l1-6zm6 17c-2-1-3-4-5-1 65 52 34 9 77 91-8-21-17-42-27-62-15-9-31-18-45-28zm-3-6c71 50 40 12 78 96l-23-66c-17-12-37-20-54-32-1 1-2 1-1 2zM153 267a11 11 0 001-5l2 1v-47c1-7-3-16 2-22 17-19 35-38 51-58l44-46-13 17c-25 31-51 62-75 94l-1 49c-1 5 1 14-6 15-2 1-3 3-5 2zm6-11c-1 2 0 5 1 3a115 115 0 002-15c2-15 0-31 1-45l48-60h-1c-17 20-36 39-52 60l1 58z')
              path.d(d='M162 264l2-6c1 2 1 0 2-2 3-17 3-36 4-54 22-32 44-65 70-95l-10 16-18 29c-45 72-25 29-38 105-1-1-3 3-3 4l-5 1a5 5 0 01-4 2zm9-9c4-15 5-31 6-47a15 15 0 013-9l31-51-38 53-1 23-3 30c0 2-1 3 1 4z')
              path.c(d='M255 70l-5 2v-2l-1 1a2 2 0 00-2 1c-18 8-35 20-52 30-37-5-73-13-109-22l105 12c15-8 29-17 44-24 4-1 11-6 15-2l5 4zm-12 1c17-14-48 21-50 23-21 1-42-5-62-6l61 11c17-8 33-20 51-28z')
              path.d(d='M130 85l-36-4c31-2 62 0 93-4 16-8 31-16 48-20 4 0 7 1 9 4l3 3-5 1-2-1c-73 28-23 25-110 21zm104-25c-15 4-30 12-44 19l-7 2-54 1 57 3c8-1 15-8 23-11s18-9 28-12l1-1c0-2-2-1-4-1z')
              path.e(d='M212 151l18-28-36 84a152 152 0 01-5 35c-2 9-7 20-18 19 1-1 2-5 3-4 9-15 10-34 10-51 9-19 20-36 28-55zm-32 101l-2 5c10-9 13-34 13-48 6-18 15-35 22-53-9 17-19 34-26 52-1 15-2 30-7 44zM120 213l-23-26v-1c-12-14-24-30-38-42-12-8-24-17-32-29-2-3-2-7 0-10a12 12 0 012-5 32 32 0 003 4c-7 5 31 32 37 35 13 14 23 32 35 46 5 9 12 18 16 28zm-18-26h-1 1zm-74-76c9 15 23 26 37 35l36 40-30-42-22-16c-7-6-14-11-19-18a1 1 0 00-2 1zM128 80h-28l73-14c19-5 38-19 58-17a50 50 0 018 8h-4c0-2-1 0-2 0-3-5-43 12-48 16l-57 7zm99-26h2c2-8-42 8-46 12-17 5-35 7-52 11l53-6c13-7 28-14 43-17z')
              path.f(d='M98 187l18 20-7-5-20-15-37-29c-13-7-24-19-30-32-1-4-2-8 1-11l2-5 1 3c-1 1 1 8 3 9 7 12 18 22 30 29l38 35v1zm-72-64l-2-4c-1 15 18 31 30 38l39 30v-1c-13-11-25-26-40-36-10-7-21-16-27-27zM181 259l2-3c11-6 16-34 15-45 8-25 15-51 27-75l-16 71c-1 13-2 27-9 39-3 8-10 14-19 13zm10-7l-2 3 2-1v-2l1 1c10-12 14-28 14-42l9-45-14 43c0 15-3 30-10 43zM133 74l-25 5c9-5 18-8 28-12 15-6 30-12 44-20 11-6 24-7 36-9 0 2 2 1 3 2l5 1 7 8h-8c1-6-19 1-23 1a73 73 0 00-21 9l-46 15zm87-31c-15-3-31 2-44 9l-42 18c15-3 29-9 44-13 13-8 29-13 45-12v-1zm-86 27z')
              path.g(d='M90 188l19 14-29-14c-18-10-40-15-54-30-9-11-14-26-5-38l1 6c-3 11 13 29 23 34 15 8 29 18 44 27zm-71-55v-2c-2 14 9 28 21 35l45 21c-23-16-55-25-66-54zm66 55zm0 0zM224 41l-5-1a2 2 0 00-3-1c-8-6-25-2-33 2l-48 26-23 10c8-7 18-12 26-18 23-15 49-43 78-27l8 9zm-14-9c-29-9-51 18-74 31 26-12 49-35 79-28-1-1-1-2-3-1 0-2-1-2-2-2z')
              path.h(d='M97 198l-71-12c-22-6-25-33-13-49-3 17 1 36 19 41 22 7 45 11 65 20zm-29-7v-1c-24-7-57-7-59-40-5 14 4 32 19 34zM120 70l44-55c15-15 40-6 48 12-14-10-31-16-45-3-15 16-29 33-47 46zm81-53h1c-10-10-28-10-38 1l-23 29c19-16 31-42 60-30z')
              path.g(d='M217 172c2-7 2-14 5-21v55c3 21-5 52-31 52l3-4 3-1c12-9 16-26 16-40l4-41zm-12 79c22-18 12-50 14-75-5 25 2 56-17 77 1 0 2 0 3-2z')
              path.h(d='M223 169l20 52v8c-1 19-19 28-36 27l7-4c14-4 22-20 19-33-3-17-9-33-10-50zm-2 83c12-3 19-12 20-24s-7-22-11-33c6 22 14 41-9 57z')
              path.d(d='M32 104c-2-3-5-7-1-10 0 2 2 4 3 5-8 3 36 32 41 34 12 17 21 36 33 53v1l15 30-19-31-31-50c-15-9-29-19-41-32z')
              path.i(d='M13 144c0-5 0-9 3-13v8c-3 7 3 19 8 24s7 8 13 10l43 15 22 11-65-24c-14-5-21-16-24-31zM120 70c15-11 28-24 42-36 13-13 34-18 50-7l4 5c-3-1-6-2-8-5-7-3-15-4-22-3-17 3-34 24-48 34-7 5-13 11-20 14zM223 169c1 28 18 63-9 83a22 22 0 01-13 4c44-18 17-58 21-93l1 6z')
              path.g(d='M222 150z')
              path.h(d='M213 27h-1z')
              path.d(d='M240 107zM124 217z')
              path.e(d='M230 123v-1z')
              path.g(d='M109 202v1z')
              path.a(d='M108 88l87 21c5-1 8-5 13-7l-1 32-41 43-17 18v10c-7-4-17-3-25-5l-26-87c-1-3-4-3-6-5l16-20z')
              path.j(d='M207 139l-49 55c-4 5-1 12-2 17l-4-3c0-4-2-9 0-12l20-21 35-37zM131 91l45 8c18 4 16 5 32-5v5l-13 8-64-16z')
              path.d(d='M81 82l8 2c-11 3-23 1-35 5l-3-2 15-3c-4 0-12-1-17 2l-3-1c4-2 8-4 12-3-3-2-10-1-14 1l-2-1c12-7 26 0 39 0z')
              path.j(d='M117 185c-9-22-16-44-24-67-1-2-5-3-7-4 2-1 4-1 5-3 1 1 4 1 5 3l11 39 10 32z')
              path.c(d='M81 82l-27-3c-5-1-10-2-14 2l-2-1a27 27 0 018-5c-4-1-7 1-10 4l-1-3c5-6 12-3 19-1l27 7z')
              path.f(d='M65 94l-3-2c11-2 23-9 35-6L70 97a36 36 0 00-3-2l14-5v-1l-16 5zM150 232v3l-13-11 13 13v3l-10-10h-1v-1c-4-5-10-8-11-15l8 5 14 13z')
              path.e(d='M130 220l9 9v1h1c3 5 6 9 11 12v3c-4-2-7-6-10-9 3 4 5 9 10 11v3l-7-5-1-1c-4-8-11-15-13-24z')
              path.i(d='M127 211l-2-6c8 4 18 5 25 11v3c-6-5-13-7-19-9 6 4 13 6 19 11v3a47 47 0 00-17-9v-1l-6-3z')
              path.h(d='M128 206l-2-1-2-5 17 3c4 0 9 0 8 6-6-5-15-4-22-6 6 3 24 3 22 11-5-5-14-6-21-8z')
              path.g(d='M86 91l11-5 4 1-7 5-14 10-3-1 13-9c-5 1-10 5-15 7l-3-1 14-7z')
              path.h(d='M108 88l-16 20-2-1 11-13h-1l-12 12-2-1 11-12a59 59 0 017-6z')
              path.d(d='M131 226a183 183 0 0112 18l1 1c1 3 4 5 7 7v3l-8-6c1 4 5 6 8 8v2c-10-3-11-15-16-24l-4-9z')
              path.c(d='M134 233c6 9 6 25 17 28v3l-8-5c1 4 5 6 8 6l-2 2a16 16 0 01-6-3c-4-10-6-21-9-31z')
              path.h(d='M207 134l1-32 2-1c-1 8 2 28-3 33zM212 100l2-2c-1 9 2 26-3 32z')
              path.i(d='M218 123l-3 3 1-29 2-2v28z')
              path.e(d='M92 84c-9 2-27 9-36 6 11-4 23-4 33-6z')
              path.g(d='M220 95l2-2c-1 8 3 22-3 29l1-27zM127 211l6 3v1c6 4 12 6 17 11v4l-22-16zM224 92l2-2c-1 9 3 21-3 27l1-25z')
              path.i(d='M104 87a59 59 0 00-7 6l-13 11-2-1 12-11 7-5z')
              path.f(d='M230 110l-3 3 1-24 2-1v22zM232 87l2-2v21l-3 2 1-21z')
              path.e(d='M236 84l2-1c-1 7 3 16-3 22l1-21z')
              path.j(d='M212 100c-2 10 1 23-3 32l1-32z')
              path.d(d='M240 82l2-2c-1 7 3 15-3 20l1-18z')
              path.j(d='M216 97c-2 10 1 22-3 30l1-29zM220 95l-1 27-1 1V95z')
              path.d(d='M246 93l-2 3a89 89 0 000-17l2-1z')
              path.j(d='M224 92c-2 9 2 19-2 27V93z')
              path.d(d='M251 89l-3 2-1-14 3-2 1 14z')
              path.j(d='M232 87l-1 21-1 2V88zM228 89c-1 8 1 19-2 26V90z')
              path.c(d='M255 84l-3 3a29 29 0 00-1-12l2-2a41 41 0 012 11z')
              path.j(d='M149 211c-6-5-15-5-22-8 7 2 16 1 22 6zM236 84l-1 20-1 2V85zM128 206c7 2 16 2 21 8l1 2c-6-5-15-6-22-10zM240 82c-1 6 2 14-2 19V84zM150 221c-6-5-13-7-19-11 6 2 13 4 19 9zM244 79a89 89 0 010 17l-2 1V80zM248 77c-1 5 2 12-2 16V78zM150 226c-5-5-11-7-17-11a47 47 0 0117 9v2z')
              path.c(d='M259 80l-3 2c1-3 0-6-2-9a3 3 0 013-1 21 21 0 012 8z')
              path.j(d='M88 106l12-12h1l-11 13zM94 92l-12 11-2-1 14-10zM136 219l14 11v1l-14-12zM84 104l13-11-11 12zM75 100c5-3 10-7 15-8l-13 9zM86 91l-14 7-2-1c5-2 10-5 16-6zM251 75c1 4 3 10 0 13l-1-13zM65 94l16-5v1l-14 5zM150 237l-13-13 13 11zM60 91l17-3-15 4zM49 86c5-3 13-2 17-2l-15 3zM72 86l-16 4-2-1 18-3zM254 73c2 3 3 6 2 9a9 9 0 01-1 2 41 41 0 00-2-11zM40 81a13 13 0 0112-2c-4-1-7 1-10 3zM36 79c3-3 6-5 10-4a27 27 0 00-8 5 6 6 0 00-2-1zM44 83c4-2 11-3 14-1-4-1-8 1-12 3zM151 242c-5-3-8-8-11-12l10 10 1 2z')
              path.i(d='M76 108l-3-2 6-2 3 2z')
              path.h(d='M81 111l-3-2 6-2 2 1a23 23 0 01-5 3zM91 111c-1 2-3 2-5 2l-3-1 6-3z')
              path.g(d='M71 105l-3-1 6-2 3 1z')
              path.j(d='M152 261c-4-1-8-2-9-7a31 31 0 008 6l1 1zM151 247c-4-2-7-6-10-10h1a41 41 0 009 8z')
              path.h(d='M152 208l4 3v3l-4-3v-3z')
              path.g(d='M66 102l-3-1 6-2 2 2z')
              path.j(d='M143 249l8 6a11 11 0 000 2c-3-2-7-4-8-8zM143 260l8 4a3 3 0 010 1c-3 0-7-2-8-6z')
              path.h(d='M156 216v3l-4-3v-3z')
              path.i(d='M156 221v4l-4-4v-3z')
              path.f(d='M61 100l-3-2 5-2 3 2z')
              path.i(d='M216 89l2-1v4l-2 2v-5z')
              path.j(d='M151 252c-3-2-6-4-7-7l7 5a12 12 0 000 2z')
              path.h(d='M208 99v-5l3-2-1 5z')
              path.g(d='M156 226v4l-3-3-1-4z')
              path.j(d='M43 72a11 11 0 00-8 5c-1-5 4-6 8-5z')
              path.h(d='M212 91l2-1v5l-2 1v-5z')
              path.f(d='M57 97l-3-2 4-1 3 1z')
              path.g(d='M156 231v4l-3-3v-3z')
              path.j(d='M89 109l-6 3-2-1a23 23 0 006-3zM259 80a21 21 0 00-2-8c3 1 5 6 2 8z')
              path.g(d='M220 87l2-2v5l-2 1z')
              path.j(d='M84 107l-6 2-2-1 6-2z')
              path.e(d='M52 94l-3-1 4-2 3 2z')
              path.f(d='M156 236v4l-3-3v-3z')
              path.g(d='M224 84l2-1v4l-2 2z')
              path.j(d='M71 105l6-2 2 1-6 2zM66 102l5-1 3 1-6 2z')
              path.f(d='M228 82l2-1v4l-2 1zM156 241v3l-3-2v-3z')
              path.j(d='M61 100l5-2 3 1-6 2z')
              path.e(d='M47 92l-2-2 3-1 3 1z')
              path.j(d='M143 264a16 16 0 007 3c-3 2-7 1-7-3z')
              path.f(d='M232 80l2-2v4l-2 2v-4z')
              path.j(d='M57 97l4-2 2 1-4 2z')
              path.e(d='M156 246v3l-3-2v-3z')
              path.j(d='M52 94l4-2 2 2-4 1z')
              path.e(d='M236 78l2-2v4l-2 1v-3z')
              path.d(d='M43 89l-2-1 2-2 3 1z')
              path.j(d='M212 91v5l-2 1 1-5z')
              path.e(d='M156 251v3l-2-2v-3z')
              path.j(d='M47 92l4-2 2 1-4 2z')
              path.e(d='M239 75l3-1v3l-2 2z')
              path.j(d='M156 221l-4-3a11 11 0 000-2l4 3v2zM156 216l-4-3a12 12 0 010-2l4 3zM224 84v5a7 7 0 01-2 1v-5zM156 226l-4-3v-1l4 3zM43 89l3-2 2 1-3 2zM214 95v-5l2-1v5z')
              path.d(d='M243 74l2-2 1 3-3 1z')
              path.j(d='M156 231l-3-2v-2l3 3z')
              path.d(d='M39 87l-2-2 2-1 3 1z')
              path.j(d='M220 87v4l-2 1v-4zM156 236l-3-2a12 12 0 000-2l3 3z')
              path.d(d='M156 255v3l-2-1v-3z')
              path.j(d='M236 78v3l-2 1v-4zM228 82v4l-2 1v-4zM232 80v4l-2 1v-4zM156 241l-3-2v-2l3 3zM156 246l-3-2v-2l3 2zM39 87l3-2 1 1-2 1z')
              path.d(d='M247 72a2 2 0 012-1v1l-2 2z')
              path.j(d='M239 75l1 4-2 1v-4zM156 251l-2-2-1-2 3 2z')
              path.d(d='M156 259a22 22 0 00-1 3l-1-1v-3z')
              path.j(d='M243 74v2l-1 1v-3zM156 255l-2-1-1-2 3 2v1zM247 72v2l-1 1-1-3h2zM156 259l-2-1v-1l2 1zM39 84l-2 1-1-1 1-1z')
              path.i(d='M207 139v-1l2-2-2 3z')
              path.j(d='M249 72v-1l1-1v2zM154 261l1 1a4 4 0 001 1l-2-1zM117 186v-1z')
              path.c(d='M256 83a2 2 0 010-1 2 2 0 000 1z')
              path.f(d='M231 109v-1z')
              path.d(d='M243 96h1z')
              path.g(d='M224 89z')
              path.j(d='M143 264zM108 186l-32-52-17-11 5-2c5 4 13 6 17 11l27 54z')
              path.j(d='M73 118c4 3 9 4 12 7l26 61-29-57c-4-4-10-6-14-9z')
              path.j(d='M83 115c2 1 6 2 8 5l23 66-27-62c-2-4-7-5-10-7z')
              path.h(d='M83 115l-6 2-3-2 6-2zM73 118l-5 2-3-2 5-2zM72 114l-3-2 6-2 3 2zM64 121l-5 2-3-2 6-2zM63 117l-2-2 5-2 3 2z')
              path.i(d='M70 108l3 1-6 2-3-2z')
              path.h(d='M55 120l-3-2 5-2 3 2z')
              path.i(d='M61 111a23 23 0 013 1l-5 2-3-1z')
              path.g(d='M63 108l-3-1 5-2 3 1zM57 108l2 1-4 2-3-1z')
              path.i(d='M51 117l-3-2 5-1a22 22 0 003 1z')
              path.g(d='M58 106l-3-2 5-2 3 2z')
              path.f(d='M55 99l3 2-4 2-3-2z')
              path.g(d='M51 108l-3-1 4-2 3 2zM47 114l-2-1 4-2 2 1z')
              path.j(d='M72 114l6-2 2 1-6 2z')
              path.f(d='M49 100l-2-2 4-1 2 1z')
              path.j(d='M67 111l6-2 2 1-6 2z')
              path.f(d='M48 102l3 2-4 2-3-2z')
              path.g(d='M43 111l-2-1 4-2 2 2z')
              path.j(d='M63 117l6-2 1 1-5 2zM63 108l5-2 2 2-6 2zM59 114l5-2 2 1-6 2z')
              path.e(d='M45 97l-2-1 3-2 3 2z')
              path.j(d='M58 106l5-2 2 1-5 2z')
              path.f(d='M44 100l2 1-3 2-3-2z')
              path.j(d='M55 120l5-2 2 1-6 2z')
              path.f(d='M40 108l-2-1 3-2 3 2z')
              path.j(d='M55 111l5-1 1 1-5 2zM54 103l4-2 2 1-5 2zM51 117l5-2 1 1-5 2zM51 108l4-1 2 1-5 2z')
              path.e(d='M39 100l-2-2 3-1a19 19 0 002 2zM42 92l2 1-3 2-2-2z')
              path.f(d='M37 106l-2-2 3-2 2 2z')
              path.j(d='M47 114l4-1 2 1-4 1zM49 100l4-2 2 1-4 2zM47 106l4-2 1 1-4 2zM43 111l4-1 2 1-4 1zM45 97l4-1 2 1-4 1zM43 103l3-2 2 1-4 2z')
              path.d(d='M38 92l-2-2 2-1 2 2z')
              path.e(d='M36 97l-1-1 2-1 2 1zM34 103l-1-2 2-1 2 2z')
              path.j(d='M40 108l4-1 1 1-4 2zM41 95l3-2 2 1-3 2zM39 100l3-1 2 1-4 1zM37 106l3-2 1 1-3 2zM38 92l2-2 2 2-3 1zM36 97l3-1 1 1-3 1a9 9 0 00-1-1zM34 103l2-1h2l-3 2zM37 95l-2 1-1-1c1-1 2-2 3 0zM38 89l-2 1c-1-1 0-1 1-2zM35 100l-2 1c-2-1 0-1 1-2zM109 187h-1zM108 186zM108 187v-1zM210 145c-12 19-27 37-40 56l-1 21-4-3c1-6-1-13 1-20l44-54z')
              path.j(d='M159 213c0-5-2-10 0-15l49-57 1 1-46 57v18z')
              path.h(d='M159 213l4 4v3l-4-3zM165 219l5 3-1 3-4-3v-3zM159 222v-4l4 4v3zM169 227v3l-4-3v-3z')
              path.i(d='M163 227v3l-4-3v-4z')
              path.g(d='M163 231l-1 4-3-3v-4z')
              path.i(d='M169 232v2l-4-2v-3z')
              path.g(d='M159 237v-4l3 3v3zM169 236l-1 3-3-3v-3z')
              path.f(d='M162 241v3l-3-3v-3z')
              path.g(d='M168 241v2l-3-2v-3z')
              path.f(d='M162 245v3l-3-2v-3zM168 245l-1 3-3-2v-3zM167 249v3l-3-2v-3z')
              path.e(d='M162 250l-1 2-2-1v-3z')
              path.j(d='M163 222l-4-4v-1l4 3zM163 227l-4-4v-1l4 3v2z')
              path.e(d='M166 253v2l-2-1v-3z')
              path.j(d='M169 227l-4-3a10 10 0 000-2l4 3a9 9 0 010 2zM163 231l-4-2v-2l4 3z')
              path.e(d='M159 255v-3l2 2v2z')
              path.j(d='M162 236l-3-3v-1l4 3a8 8 0 01-1 1zM169 232l-4-3v-2l4 3v2zM162 241l-3-3v-1l3 2v2zM169 236l-4-3v-1l4 2a9 9 0 000 2z')
              path.d(d='M161 258c-1 4-3 2-2-1z')
              path.j(d='M168 241l-3-3v-1l3 2v2zM162 245l-3-2v-1l3 2z')
              path.e(d='M166 256c-1 2-1 4-2 2v-3z')
              path.j(d='M168 245l-4-2a8 8 0 001-2l3 2a6 6 0 010 2zM162 250l-3-2v-2l3 2v2zM167 249l-3-2a7 7 0 010-1l3 2a7 7 0 010 1zM161 254l-2-2v-1l2 2zM166 253l-2-2v-1l3 2zM161 258l-2-1v-2l2 1a4 4 0 010 2zM166 256l-2-1v-1l2 1z')
              path.i(d='M209 142l-1-1 2-2z')
              path.j(d='M212 152c-8 18-19 36-28 54a137 137 0 01-2 26l-4-2c2-9 0-19 2-27l32-51z')
              path.j(d='M172 224l1-23 38-53-31 51c-5 9-2 19-4 28z')
              path.h(d='M172 224l4 3v3l-4-3v-3zM175 232v3l-3-3v-3zM178 230l4 2-1 3-3-2z')
              path.i(d='M171 237v-3l4 2a23 23 0 00-1 3z')
              path.h(d='M181 237v2l-4-2a23 23 0 001-3z')
              path.g(d='M171 241v-3l3 2v3z')
              path.i(d='M180 241v2l-3-2v-3z')
              path.g(d='M170 245a26 26 0 011-3l3 2-1 3zM179 244a20 20 0 000 3l-3-2 1-3z')
              path.f(d='M170 249a29 29 0 000-2l3 1-1 3z')
              path.g(d='M178 248l-1 2-2-1a26 26 0 011-3z')
              path.f(d='M169 253v-2l3 1-1 3zM177 252a21 21 0 01-1 2l-2-1 1-3z')
              path.j(d='M175 232l-3-3v-2l4 3-1 2zM175 236l-4-3a8 8 0 011-1l3 3v1z')
              path.e(d='M171 255l-1 3c-2-1-1-2-1-4z')
              path.f(d='M174 257v-4l2 2a18 18 0 01-2 2z')
              path.j(d='M181 237l-3-3a6 6 0 000-1l3 2zM174 240l-3-2v-2l3 3a6 6 0 000 1zM180 241l-3-3a5 5 0 000-1l4 2zM174 245l-4-3v-1l4 2zM179 244l-2-2v-1l3 2a5 5 0 00-1 1zM173 248l-3-1v-2l3 2v1zM178 248l-2-2v-1l3 2zM172 252l-2-1v-2l2 2zM177 252l-2-2v-1l2 1v2zM171 255l-2-1v-1l2 2zM176 255l-2-2 2 1a3 3 0 010 1zM212 151v1zM130 85l58 3 20-11v5c-6 3-12 8-18 10l-60-7z')
              path.j(d='M208 91c-5 2-10 7-16 8l-61-11 58 7c7-1 13-7 19-10z')
              path.h(d='M208 91v-6l3-1v5zM212 83l3-1v5l-3 1v-5zM212 76l3-2v5l-3 1v-4z')
              path.i(d='M216 74l3-2v5l-3 1v-4z')
              path.h(d='M208 82v-5l3-1v5z')
              path.g(d='M222 82l-2 2v-5l3-1-1 4z')
              path.i(d='M219 84l-3 2v-5l3-1v4z')
              path.g(d='M220 72l3-2v5l-3 1zM224 77l2-1v4l-2 1zM224 70l2-1v4l-2 1v-4z')
              path.f(d='M228 75l2-1v3l-2 2v-4zM232 73l2-1v3l-2 2v-4zM228 68l2-1v4l-2 1z')
              path.e(d='M235 71l3-1v3l-3 2z')
              path.f(d='M231 67l3-1v3l-3 1z')
              path.j(d='M212 83v5l-1 1v-5z')
              path.e(d='M235 65h2a25 25 0 000 2l-2 1v-3zM239 70l2-1 1 2-3 1z')
              path.j(d='M211 81v-5h1v4zM216 81v5l-1 1v-5zM219 84v-4l1-1v5z')
              path.d(d='M242 68l3-1v2l-2 1z')
              path.j(d='M228 75v4l-2 1v-4z')
              path.e(d='M238 65l2-1 1 2-2 1z')
              path.j(d='M224 77v4l-1 1v-4zM216 74v4l-1 1v-5z')
              path.a(d='M220 72v4l-1 1v-5z')
              path.j(d='M232 73v4h-2v-3zM231 67v3l-1 1v-4z')
              path.a(d='M224 70v4l-1 1v-4z')
              path.j(d='M228 68v4l-2 1v-4zM239 70v2l-1 1v-3zM235 71v4h-1v-3zM235 65v3l-1 1v-3zM242 68l1 3h-2v-2zM238 65v2h-1a25 25 0 010-2zM245 69v-2l1 1-1 1zM241 66v-2l1 2zM128 80l56-6a134 134 0 0125-12v5l-25 11-56 2z')
              path.j(d='M209 74c-8 3-15 10-23 11l-57-3 53-1c10-1 18-8 27-11z')
              path.h(d='M209 74v-4l2-2v5zM213 68l2-1v4l-3 1 1-4zM209 67v-5l2-1v5z')
              path.i(d='M216 66l3-1v4l-3 1z')
              path.h(d='M213 61l2-1v4l-2 1v-4z')
              path.i(d='M216 60l3-1v3l-3 1zM220 65l2-1v4l-2 1z')
              path.g(d='M224 63h2v3l-2 1v-4z')
              path.i(d='M220 58h2l1 3-3 1z')
              path.f(d='M227 62l3-1v3l-2 2-1-4z')
              path.g(d='M224 57h2a28 28 0 000 3l-2 1z')
              path.f(d='M230 56c1 0 3-1 3 1 1 0 2-2 3 0a41 41 0 01-5 1zM234 63l-3 1v-3l2-1a25 25 0 011 3z')
              path.j(d='M213 68l-1 4-1 1v-4z')
              path.f(d='M227 57l3-1a21 21 0 000 3l-3 1v-3z')
              path.j(d='M213 61v4l-2 1v-5zM220 65v4h-1v-4z')
              path.e(d='M237 62l-2 1-1-3h3z')
              path.j(d='M216 66v5h-1v-4zM220 58v4h-1v-3zM216 60v3l-1 1v-4zM224 63v4l-2 1v-4zM224 57v4h-1l-1-3zM227 62l1 4h-2v-3zM227 57v3h-1a28 28 0 010-3zM231 61v3l-1 1v-4zM234 60l1 3h-1a25 25 0 00-1-3zM230 59a21 21 0 010-3l1 2zM237 62v-2l1 1zM184 235c2-11 1-21 4-31l25-47c-7 17-16 34-22 52a91 91 0 01-4 28z')
              path.j(d='M214 162l-15 46c-1 11-2 23-6 33l-3-2c2-10 4-21 4-32l20-45z')
              path.h(d='M184 235l3 2v3l-3-3zM183 241v-3l4 3-1 3zM190 239l3 2-1 3-3-2a27 27 0 011-3z')
              path.i(d='M182 245l1-3 2 3a18 18 0 000 2z')
              path.h(d='M191 245l-1 2-2-2a24 24 0 011-2z')
              path.g(d='M184 248a24 24 0 00-1 2l-2-1 1-3z')
              path.i(d='M190 248a25 25 0 01-1 2l-2-1a23 23 0 000-3z')
              path.f(d='M181 254a6 6 0 01-3 3l2-4z')
              path.g(d='M183 251l-2 2-1-1 1-2zM188 251a24 24 0 01-1 2l-2-1 1-2z')
              path.j(d='M187 241l-3-2a6 6 0 010-2l3 3a5 5 0 010 1z')
              path.g(d='M186 254l-3 2 2-3z')
              path.j(d='M185 245l-2-3a5 5 0 000-1l3 3a5 5 0 00-1 1zM191 245l-2-2a4 4 0 010-1l3 2zM184 248l-2-2a5 5 0 010-1l3 2zM190 248l-2-2v-1l2 2zM183 251l-2-1v-1l2 1zM188 251l-2-1a4 4 0 001-1l2 1a3 3 0 01-1 1zM180 252l2 1-1 1-1-1a3 3 0 000-1zM186 254l-1-1v-1l2 1z')
              path.d(d='M174 257z')
              path.j(d='M97 186l-38-35a80 80 0 01-23-20l4-1c8 8 20 14 28 23l29 33z')
              path.j(d='M101 186l-36-40a126 126 0 01-22-17l4-2c8 6 17 10 24 17l30 42z')
              path.j(d='M56 124l18 12 30 49c-13-14-22-32-35-46-6-5-13-8-18-13z')
              path.h(d='M56 124l-5 2-3-2 5-2zM49 119l3 2-5 2-2-2zM48 127l-5 2a18 18 0 00-2-2l4-2z')
              path.i(d='M46 117a18 18 0 002 1l-5 2-1-2z')
              path.h(d='M40 130l-5 1-1-2 4-1zM42 122a18 18 0 012 2l-4 2-2-2z')
              path.g(d='M42 114l2 1-4 2-2-2z')
              path.i(d='M37 123l-2-2 3-2 3 2z')
              path.h(d='M33 128l-2-2 4-1 2 2z')
              path.g(d='M38 111l2 1-3 2-2-2zM34 120l-2-2 3-2 2 2z')
              path.j(d='M47 123l5-2 1 1-5 2z')
              path.i(d='M30 125l-1-2 3-1 2 2z')
              path.f(d='M35 108l2 2-3 1-1-2z')
              path.j(d='M43 120l5-2 1 1-4 2zM40 126l4-2 1 1-4 2z')
              path.g(d='M27 119c-1-1-2-5-1-6s1 1 1 2l-1 1 1-1a20 20 0 002 3zM32 116l-2-2 3-1 1 2zM29 122l-2-3h3l1 2z')
              path.j(d='M40 117l4-2 2 1-4 2zM37 123l4-2 1 1-4 2z')
              path.f(d='M33 105l1 2-2 1-1-2z')
              path.j(d='M33 128l4-1 1 1-4 1zM37 114l4-1 1 1-4 1zM34 120l3-2 1 1-3 2a5 5 0 00-1-1z')
              path.f(d='M30 110l2 2-2 1-2-2z')
              path.j(d='M30 125l4-1 1 1-4 1zM34 111l3-1 1 1-3 1zM32 116l2-1 1 1-3 2zM29 122l2-1 1 1-3 1v-1zM32 108l2-1 1 1-2 1zM30 113l2-1a4 4 0 001 1l-3 1a8 8 0 010-1zM30 119l-3 1v-1l2-1zM33 105l-2 1c-2 0 0-1 1-2zM30 110l-2 1a1 1 0 012-1zM104 185l1 2z')
              path.f(d='M27 115h-1 1z')
              path.j(d='M97 187v-1zM98 187h-1zM102 187zM101 187zM101 186zM133 74l46-15c9-6 20-9 30-11v4c-12 3-23 11-36 14l-40 8z')
              path.j(d='M209 59a192 192 0 00-25 12l-53 6 50-10c9-5 18-10 28-12z')
              path.h(d='M209 59v-4l3-1-1 4zM213 54l2-1v4l-2 1zM209 52v-4h3v4z')
              path.i(d='M219 56l-3 1 1-4h2z')
              path.h(d='M213 48l2-1v4h-2z')
              path.i(d='M220 52h3v3l-3 1v-4zM216 47h3v3h-2z')
              path.g(d='M226 54l-2 1v-3h2z')
              path.i(d='M220 47h2v2h-2a24 24 0 000-2z')
              path.j(d='M213 54v4h-1v-4z')
              path.f(d='M227 52c1 0 3-1 2 2h-2z')
              path.j(d='M217 53l-1 4h-1v-4zM213 48v3l-1 1v-4zM216 47v3l-1 1v-4zM220 52v4h-1v-3zM224 52v3h-1v-3zM227 52v2h-1v-2zM220 47a24 24 0 010 3h-1v-3zM222 49v-2c2 1 1 1 1 2zM89 187l-40-25c-12-5-21-15-26-26l3-1c8 11 19 19 31 27s22 16 32 25z')
              path.j(d='M33 132c6 7 12 13 20 18 15 10 27 25 40 36v1l-39-30a66 66 0 01-25-23z')
              path.h(d='M33 132l-4 2-1-3 3-1zM29 127l1 2-3 1-1-2zM26 135l-3 1-1-3 3-1z')
              path.i(d='M26 124l2 2-3 1-1-2z')
              path.h(d='M22 132l-1-2 2-1 1 2z')
              path.g(d='M24 124a6 6 0 010-5l2 4z')
              path.j(d='M27 130l3-1 1 1-3 2zM25 127l3-1 1 1-3 1a6 6 0 01-1-1zM22 132l2-1a4 4 0 011 1l-3 1z')
              path.i(d='M21 129l1-3 1 2z')
              path.j(d='M24 124l2-1v1l-2 1zM21 129l2-1a3 3 0 000 1l-2 1a5 5 0 000-1zM89 187zM90 188l-1-1zM195 243c4-11 6-22 6-34l14-43a7087 7087 0 00-18 79zM217 172l-4 41a53 53 0 01-12 36l-1-2c5-11 9-23 8-35l9-40z')
              path.h(d='M195 243l2 2-1 3-2-2zM193 249l1-2 2 1-2 2zM200 247l1 2-1 2-2-2z')
              path.i(d='M192 253a3 3 0 01-1-1l1-2 2 1a16 16 0 01-2 2z')
              path.h(d='M199 251a3 3 0 01-2 2l-1-1 2-2z')
              path.g(d='M191 252v2l-2 1 2-3z')
              path.j(d='M196 248l-2-1v-1l2 2zM194 251l-2-1a4 4 0 001-1l1 1zM199 251l-1-1v-1l2 2z')
              path.i(d='M197 253l-3 1 2-1z')
              path.g(d='M197 253h-1v-1zM192 253z')
              path.j(d='M209 46a95 95 0 00-31 11c-15 4-29 10-44 13l42-18a68 68 0 0134-10l-1 4z')
              path.j(d='M136 67l38-22a54 54 0 0136-9v3c-11 2-21 3-30 8-14 8-29 14-44 20z')
              path.h(d='M209 46l1-4h2v3zM213 42h3l-1 3h-2zM210 39v-3l2 1v2z')
              path.i(d='M216 42l3 1v2h-2a23 23 0 00-1-3z')
              path.h(d='M213 37c1 0 2 0 3 2s-2 0-3 0z')
              path.g(d='M220 43l3 1v1l-3-1z')
              path.j(d='M213 42v3h-1v-3z')
              path.i(d='M216 39a2 2 0 013 1l-3-1z')
              path.j(d='M216 42a23 23 0 011 3h-2l1-3zM213 37v2h-1v-2zM220 43v1l-1 1v-2zM134 70zM135 67h1zM21 137c12 26 41 34 63 50-23-13-59-19-65-50z')
              path.j(d='M80 188l-43-15c-6-2-10-6-13-10s-11-17-8-24c7 30 41 36 64 49z')
              path.h(d='M21 137h-2l-1-2 2-1zM18 134l1-3v2z')
              path.j(d='M18 134l1-1a8 8 0 011 1l-2 1zM85 188zM80 189v-1zM84 187h1-1zM85 188zM210 34c-28-3-49 17-73 29v-1c22-13 44-39 73-30v2z')
              path.j(d='M138 59c14-11 31-32 48-35 7-1 18-1 23 5-28-8-49 17-71 30z')
              path.h(d='M210 34v-2s2 0 3 2c1-1 1 0 2 1z')
              path.j(d='M137 63v-1zM137 59h1zM13 144c4 32 37 35 62 45l-43-10c-14-3-23-21-19-35z')
              path.j(d='M68 191l-40-7c-15-2-24-20-19-34 2 33 35 33 59 40zM206 24c-29-12-46 14-66 29l27-29c9-10 28-10 39 0z')
              path.j(d='M201 17c-28-12-41 14-60 30l23-29a19 19 0 019-6c10-4 20-2 29 5zM202 17h-1zM204 251c16-22 10-50 15-75-2 25 8 57-14 75z')
              path.j(d='M222 183l5 34c1 14-6 31-19 35 20-18 12-46 14-69z')
              path.h(d='M204 251h1c-1 2-2 2-3 2z')
              path.j(d='M214 252c22-16 14-40 11-63 3 14 13 30 7 45-3 8-9 16-18 18z')
              path.j(d='M221 252c23-16 15-35 9-57 4 11 11 22 11 33s-8 21-20 24zM214 253v-1zM139 230v-1zM139 230v-1zM139 230zM140 230h-1zM137 224zM137 224zM144 245l-1-1zM141 237v-1zM141 236l1 1h-1v-1zM133 214h-1zM133 215v-1zM94 92zM97 93h1zM143 249v1zM143 259z')
          .col New Development Bank (NDB)
            .xs.txt-mute Founded in 2014. Formerly referred to as the BRICS Development Bank.
        .row.flex
          .col
            svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox="0 0 59 49")
              g(fill='none' fill-rule='evenodd')
                g
                  g(transform='translate(7.921811 .137472)')
                    mask#b(fill='#fff')
                      path#a(d='M39.887177.08938H.044543v10.442852h39.842634V.08938z')
                    path(d='M7.056251 10.532232c3.38714-3.162088 7.92498-5.103032 12.909156-5.103032 4.983951 0 9.52247 1.940944 12.90961 5.103032h7.01216C35.493514 4.226432 28.204769.089334 19.965407.089334c-8.23823 0-15.52788 4.137097-19.920864 10.442898h7.011708z' fill='#860C14' mask='url(#b)')
                  path(d='M40.796895 38.467473c-3.387592 3.16186-7.925885 5.103259-12.909609 5.103259-4.984403 0-9.521564-1.941398-12.908704-5.10326H7.966874c4.392305 6.305348 11.682408 10.443126 19.920412 10.443126 8.239136 0 15.52788-4.137778 19.921543-10.443125h-7.011934zM7.154821 27.16476h5.339753l-2.633436-8.222472-2.706317 8.222473zm.287449-12.999745h4.92895l7.376338 20.89714h-4.72389l-1.375905-4.296575H5.969718l-1.412572 4.296574H.000068L7.44227 14.165015z' fill='#860C14')
                  mask#d(fill='#fff')
                    path#c(d='M0 48.91062h54.836811V.226852H0z')
                  path(fill='#860C14' mask='url(#d)' d='M21.721831 35.061995h4.327799V14.165083h-4.327799zM29.770391 35.061995h4.328251V14.165083h-4.328251zM41.894541 25.861247v5.571255h5.061585c.903539 0 1.6079-.122727 2.111728-.369088.913498-.45325 1.369568-1.323 1.369568-2.607435 0-1.087074-.442037-1.834324-1.32747-2.240616-.494773-.22776-1.188724-.345722-2.083436-.354116h-5.131975zm0-8.067078v4.60736h5.06747c.904896 0 1.640493-.172634 2.204073-.517222.564486-.344814.847408-.95686.847408-1.836139 0-.973875-.373004-1.616319-1.119692-1.92824-.644156-.217324-1.465082-.32576-2.464135-.32576H41.89454zm11.320947-1.40308c.637366.887899.956502 1.951607.956502 3.189084 0 1.275588-.3214 2.301639-.965782 3.076111-.359877.435556-.889054.832547-1.5907 1.1912 1.064465.38769 1.867737 1.00223 2.40891 1.844078.542304.84094.812551 1.860866.812551 3.060685 0 1.239746-.309856 2.349732-.928889 3.332908-.392922.651745-.885432 1.198912-1.476399 1.643768-.665432.510417-1.449691.86045-2.355041 1.048736-.905803.190102-1.887428.284472-2.946687.284472h-9.39391V14.164993H47.81236c2.541543.03743 4.342963.780143 5.403128 2.226097z')          
          .col Asian Infrastructure Investment Bank (AIIB)
            .xs.txt-mute Founded in 2016.
          
block append css
  style
    :sass
      
      $red: #b90000
    
      #infographic-prc-organisations
        position: relative
        height: 450px
        max-width: 600px
        color: black
        box-shadow: 0 0 20px 5px #aaa
        background: white
        padding: 30px 40px
        
        .flex-row-end
          align-items: flex-end
          
        .chart-title
          margin-bottom: 1em
          
        .md
          font-size: 18px
        
        .row
            width: 100%
            margin: 0.5em auto

        .col
          &:first-child
            width: 12.5%
            flex-basis: 12.5%
            margin: auto
          &:last-child
            width: 85%
            flex-basis: 85%
            margin: auto 0 auto 15px
        
        .sm
          font-size: 16px
          margin: 0 auto 0.75em
          max-width: 460px
        
        .close
          position: absolute
          top: 0
          right: 0
          fill: #B90000
          cursor: pointer
          transition: 300ms
          
          &:hover
            fill: lighten(#b90000,20)
        

        @media (max-width: 450px)
            
          padding: 20px
          height: 480px
          
          .md
            font-size: 16px
          
