extend ../../partials/issue

block append config
  - page.title = "Pacific Step-up"

block intro-image
  img.bg-img.bg-img-abs(data-src="../../img/pacific.jpg")
  img.bg-img-abs(data-src="../../img/pam-mask.png" width="100%" height="100%")

block intro-caption
  :marked
    [The Pacific Aid Map][1] tracks all aid spending in the Pacific

    [1]: https://pacificaidmap.lowyinstitute.org/

block intro-description
  :marked
    The Pacific Islands is a region unique to Australia’s national interest. It
    is Australia’s immediate region. In no other part of the world does
    Australia wield more influence and agency, or carry the most baggage. The
    Pacific is unique for its development challenges. Small size and
    remoteness, compounded by climate change and rapid population growth, will
    ensure the need for Australia’s support for years to come. The entrance of
    new partners, particularly China, has put the Pacific back in the centre of
    Australian foreign policy thinking.

block scroller 
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .row
          .col-fw
            .p-md
              .pv-xs.txt-sm.txt-tu.txt-hl= page.title
              .txt-xxl.pv-xs The Government


      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            To reassert Australia’s position as the ‘partner of choice’, and
            signal to China to steer clear of investments that threaten
            Australia’s position in the region, the government has announced
            more resources for the Pacific. In the last six months they have
            committed to sizable aid increases, allocating $1.4 billion in
            foreign aid in 2019-20 to the Pacific. More investment includes a
            $2 billion infrastructure lending facility and a $1 billion capital
            guarantee to Australia’s Export Finance and Insurance Corporation.
            The government will also open new diplomatic missions, and a
            Pacific office within DFAT.
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        .txt-xl.p-md(style="max-width: 440px")
          .bg-bar.bg-ff(style="width: 43%")
          .block
            | Tonga’s debt to China is valued at nearly 
            span(data-view="counter") 43% of the island nation’s GDP.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Speaking at the Lowy Institute in 2018, opposition leader Bill
            Shorten affirmed that the Pacific is crucial to Australia’s future
            and that Labor supported an increased focus on the region. It is
            unlikely that any of the recent announcements will be reversed or
            markedly changed. Climate change policy, both domestically and in
            the Pacific, will stand out as a major point of difference. The
            ALP’s commitments will remain larger the same as the Coalition,
            although it will push for a Pacific Bank instead of an
            infrastructure lend facility.
 
    .row
      .col-fw.bg-lt.frame
        img.bg-img.bg-img-abs(data-src="../../img/port-moresby.jpg")
        .txt-lg.p-md(style="max-width: 612px")
          span.bg-ff.bg-ffs.pv-xs(style="line-height: 1.5")
            | During the 2018 Asia Pacific Economic Cooperation Summit China’s
            | Xi Jinping spent four full days in Papua New Guinea. US
            | Vice-President Mike Pence spent just one day.

        .caption.hidden-sm
          | Port Moresby Airport<br>
          | Photo: Jialiang Gao / Wikimedia Commons
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | The new geostrategic focus on the
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | region ruffles feathers among
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | Pacific pundits and politicians

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              The Pacific has vaulted back to the centre of Australian foreign
              policy thinking. The spectre of China is the driving force behind
              this, but Pacific politicians and analysts have been talking
              about China in the region for more than a decade. We have reached
              a tipping point, and attention focused on the region in the last
              six months is both unprecedented and welcome.
              
              The new geostrategic focus on the region ruffles feathers among
              Pacific pundits and politicians who say that too much talking is
              being done over the heads of Pacific Islanders, and that Pacific
              agency to manage its own affairs is underestimated. These are
              legitimate concerns.
              
              There are also clear risks for Australia. The breakneck pace of
              new announcements will make implementation challenging in a part
              of the world where Australia struggles to manage what it is
              already doing. Another will be consistency. The Pacific has seen
              this kind of attention from Australia before, only for it to fade
              away very quickly. Scott Morrison said, “to step up you’ve got to
              show up”. Will that carry through to the next government?
              
              And there is the elephant in the room for Australia in the
              Pacific: climate change. The Boe Declaration on security calls
              climate change, (not China), the ‘single greatest threat’ to the
              Pacific. Australia has far too often been on the wrong side of
              the table from the Pacific instead of championing their cause on
              climate.
              
              Despite these risks and frustrations, the renewed focus on the
              region is likely to continue into the 46th parliament, no matter
              who forms government.

          .txt-sm.txt-tu
            | Jonathan Pryke<br>
            span.txt-mt Director, Pacific Islands Program
