extend ../../partials/issue

block append config
  - page.title = "Migration Policy"

block intro-image
  img.bg-img(data-src="../../img/migration-policy.jpg")

block intro-caption
  :marked
    Photo: Ryan Pierse/Getty

block intro-description
  :marked
    Australia is a growing nation with a culturally diverse population. At the
    last census in 2016, more than a quarter (26%) of Australians were born
    overseas, and almost half (49%) had at least one overseas-born parent.
    Migration has made a steadily increasing contribution to Australia's
    population growth, and the challenge for government is to balance the
    economic and social benefits of migration with the effects of population
    growth on infrastructure and service&nbsp;delivery.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Liberal–National Coalition has pledged to cap permanent
            migration at 160,000 a year for the next four years; a decrease
            from the previous cap of 190,000. The Coalition has also pledged to
            introduce a new skilled worker visa program for 23,000 migrants,
            requiring them to spend 3 years in regional Australia to earn
            permanent residency, in a policy designed to distribute population
            growth to regional Australia and reduce congestion in major cities.
            
          //- 
            The Coalition’s migration polices were outlined in this media
            release.

          a.txt-sm.txt-tu.source Read more
 
    .row
      .col-fw.bg-hl.txt-ff.frame.p-md
        img.bg-img.bg-img-abs.bg-img-top(data-src="../../img/migration-sources.png")
        .block
        .pv-xs.txt-xl The top five birthplaces of migrants to Australia are
        .pv-xs.txt-xl
          .bg-ff.txt-hl.ph-sm.pv-xs
            | India, China, The United Kingdom, The Philippines &amp; Iraq

  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            The Australian Labor Party seeks to balance the need for skilled
            migrants with the demands of the existing domestic workforce. It
            states that permanent migrants provide a "stable, effective and
            targeted source of skilled workers”. Labor has also pledged to
            progressively increase the annual refugee intake to 27,000, with a
            potential expansion to 32,000 through a community sponsorship
            program.
 
    .row
      .col-1-2.bg-lt.frame.txt-lg
        .p-md(style="max-width: 528px")
          :marked
            Between September 2017 and September 2018 the Australian population
            grew 1.6% (396,000 people), with net overseas migration making up
            60% of that growth. The population has increased by 18% (3.8
            million people) in the last decade.

      .col-1-2.bg-ff.frame.txt-lg
        include ../../img/australian-migration-population.svg

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | Australians have been generally
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | positive about the benefits of 
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | immigration to Australia
  
      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              Australia's annual population growth is high in comparison with
              the majority of developed nations. Australians' reactions to
              this population growth, which migration has increasingly
              contributed to, have fluctuated significantly, with opposition to
              immigration peaking in the early 1990s before easing steadily
              around the turn of the century. Since then, the number of
              Australians opposing the level of immigration has remained
              relatively stable.

              In the last two years, however, there are signs of rising
              opposition among Australians to current levels of immigration.

              For the first time in 2018, a majority of Australians in the Lowy
              Institute annual poll expressed the view that the 'total number
              of migrants coming to Australia each year is too high'. This
              result represented a significant rise in opposition to the
              migration rate – up 14 points since 2017, and 17 points since the
              Lowy Institute first asked this question in 2014. This concern
              may reflect the current political debate about whether population
              growth causes overcrowding in Australian cities and places
              pressure on things such as public transport, roads, housing and
              other services.

              However, aside from the overall size of the intake, Australians
              have been generally positive about the benefits of immigration to
              Australia – whether economic or cultural. In 2016, most
              Australians agreed that 'overall, immigration has a positive
              impact on the economy of Australia', with 72% agreeing both that
              'accepting immigrants from many different countries makes
              Australia stronger', and that 'immigrants strengthen our country
              because of their hard work and talents'. Few agreed that
              'immigrants take away jobs from other Australians' (35%) or that
              'immigrants are a burden on our social welfare system' (40%).

          .txt-sm.txt-tu
            | Alex Oliver<br>
            span.txt-mt Director of Research
