.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/1989.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-sm(
          data-view="type, in-viewport"
          data-duration=300
          style="transform: translate3d(0, 180px, 0)"
        )
          span.line.bg-ff.hide.txt-mono 1989

        .type.txt-lg.txt-ff.pv-sm(
          data-view="type, in-viewport"
          data-duration=3000
          data-delay=1000
        )
          span.line.bg-dk.hide.txt-mono “Political turbulence
          span.line.bg-dk.hide.txt-mono and an anti-revolutionary
          span.line.bg-dk.hide.txt-mono riot, supported by foreign
          span.line.bg-dk.hide.txt-mono enemies to subvert the
          span.line.bg-dk.hide.txt-mono socialist system.”
