.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/cultural-revolution.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 160px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Cultural Revolution
          span.line.bg-ff.hide.txt-mono 1966–1976

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=5500
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “Mao mistakenly believed that revisionist
          span.line.bg-dk.hide.txt-mono and capitalist agents had infiltrated the CCP,
          span.line.bg-dk.hide.txt-mono government and the military at all levels.
          span.line.bg-dk.hide.txt-mono The Gang of Four manipulated Mao’s mistake
          span.line.bg-dk.hide.txt-mono to commit severe crimes that caused a severe
          span.line.bg-dk.hide.txt-mono internal chaos to the CCP and the country.”
