.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/fall-of-bo-xilai-and-zhou-yongkang.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 120px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Fall of Bo Xilai and Zhou Yongkang
          span.line.bg-ff.hide.txt-mono 2012–2013

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=4000
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “They were ambitious conspiracists and disloyal
          span.line.bg-dk.hide.txt-mono double-faced people who caused losses to the Party
          span.line.bg-dk.hide.txt-mono and the country. In China, no one can be above the law
          span.line.bg-dk.hide.txt-mono and no party members can be above party discipline.”
