.slide.bg-lt
  .slide-inner(data-view="in-viewport")
    .fw.fh.flex.flex-col.pv-sm
      .type.txt-lg.txt-ff.mx-auto(
        data-view="type, in-viewport"
        data-duration=800
      )
        span.line.hide.txt-mono.bg-dka Foreign CCP Members
      .flex-ch.flex-grow
        .ph-md.fade-in.delay-1
          .bg-ff
            .posa.txt-mono.p-xs.bg-dk.txt-ff.z1 Sam Walton
            img(data-src="./img/business/sam-walton.jpg" width=284)
            .p-sm.flex-ch
              img(data-src="./img/business/walmart.png" width=200)
        .ph-md.fade-in.delay-2
          .bg-ff
            .posa.txt-mono.p-xs.bg-dk.txt-ff.z1 Mickey Mouse
            img(data-src="./img/business/mickey-mouse.png" width=284)
            .p-sm.flex-ch
              img(data-src="./img/business/disney.png" width=200)
        .ph-md.fade-in.delay-3
          .bg-ff
            .posa.txt-mono.p-xs.bg-dk.txt-ff.z1 Dieter Zetsche
            img(data-src="./img/business/dieter-zetsche.jpg" width=284)
            .p-sm.flex-ch
              img(data-src="./img/business/daimler-benz.png" width=200)
