.slide.bg-hl
  .slide-inner.flex-ch.flex-col.flex.flex-evenly(
    data-view="in-viewport, page" data-pages=2
  )
    .posa.fh.fade-in(
      data-attributes=[
        {style: ""},
        {style:"transform: translate3d(0, -10px, 0)"}
      ]
    )
      .block-row.flex-ch.flex-row.ph-sm.pv-md.item-1
        .block.block-down.flex-cv.bg-dk.ph-md(style="width: auto")
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | The Party

    .p-sm.txt-center.flex-ch.flex-col.fade-in(
      data-attributes=[
        {style: ""},
        {style:"transform: translate3d(0, 60px, 0);opacity:0.6"}
      ]
    )
      .block-row.flex-ch.flex-row.ph-sm.pv-md.fade-in
        .block.block-down.flex-cv.bg-dk.ph-md(style="width: auto")
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | National People’s Congress
      .block-row.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-4
        .block.block-down.flex-cv.bg-dk.ph-md(style="width: auto")
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | State Council
      .block-row.block-sm.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-8
        .block.block-up.flex-cv.bg-dk
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | Finance Ministry
        .block.block-up.flex-cv.bg-dk.fade-in.delay-9
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | Education Ministry
        .block.block-up.flex-cv.bg-dk.fade-in.delay-11
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | Water Resources Ministry
        .block.block-up.flex-cv.bg-dk.fade-in.delay-13
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | Health Ministry
        .block.block-up.flex-cv.bg-dk.fade-in.delay-15
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | Foreign Ministry
        .block.block-up.flex-cv.bg-dk.fade-in.delay-17
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | People’s Bank of China
        .block.block-up.flex-cv.bg-dk.fade-in.delay-19
          strong.txt-sans.txt-tu.txt-ff.fade-in.ph-xs
            | State Security Ministry
