.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/great-leap-forward.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-dk.pv-md(
          data-view="type, in-viewport"
          data-duration=1200
          style="transform: translate3d(0, 160px, 0)"
        )
          span.line.bg-ff.hide.txt-mono Great Leap Forward
          span.line.bg-ff.hide.txt-mono 1958–1961

        .type.txt-md.txt-ff.pv-md(
          data-view="type, in-viewport"
          data-duration=4000
          data-delay=2000
        )
          span.line.bg-dk.hide.txt-mono “With Mao Zedong and other prominent
          span.line.bg-dk.hide.txt-mono leaders feeling arrogant, the campaign
          span.line.bg-dk.hide.txt-mono greatly disrupted the national economy,
          span.line.bg-dk.hide.txt-mono wasted manpower and resources and
          span.line.bg-dk.hide.txt-mono severely damaged the construction
          span.line.bg-dk.hide.txt-mono of a socialist society.”
