.slide.bg-dk
  .slide-inner.flex(data-view="in-viewport")
    .mx-auto
      .type.txt-md.txt-ff.pv-sm(
        data-view="type, in-viewport"
        data-duration=5000
      )
        span.line.bg-hl.hide.txt-mono To dismiss the history of the Soviet Union
        span.line.bg-hl.hide.txt-mono and the Soviet Communist Party, to dismiss
        span.line.bg-hl.hide.txt-mono Lenin and Stalin, and to dismiss everything
        span.line.bg-hl.hide.txt-mono else is to engage in historic nihilism, and
        span.line.bg-hl.hide.txt-mono it confuses our thoughts and undermines the
        span.line.bg-hl.hide.txt-mono party’s organizations on all levels.

        cite.txt-roman.txt-sm.txt-sans(
          style="margin-top: 3em"
        )
          strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-26
            | Xi Jinping
          strong.txt-sans.pv-xs.ph-sm.bg-lta.txt-tu.txt-ff.fade-in.delay-28
            | 2012

