.slide.bg-dk
  .posr.fw.fh(data-view="in-viewport")
    .flex.posa.fw.fh.flex-row.txt-center
      .fade-in.delay-1.box
        img(src="./img/ideology/marx.png" style="max-width:100%")
        img(src="./img/ideology/marx.png" style="max-width:100%")
        img(src="./img/ideology/marx.png" style="max-width:100%")
      .fade-in.delay-3.box(style="margin-top: -240px;")
        img(src="./img/ideology/engels.png" style="max-width:100%")
        img(src="./img/ideology/engels.png" style="max-width:100%")
        img(src="./img/ideology/engels.png" style="max-width:100%")
      .fade-in.delay-5.box
        img(src="./img/ideology/lenin.png" style="max-width:100%")
        img(src="./img/ideology/lenin.png" style="max-width:100%")
        img(src="./img/ideology/lenin.png" style="max-width:100%")
      .fade-in.delay-7.box(style="margin-top: -240px;")
        img(src="./img/ideology/stalin.png" style="max-width:100%")
        img(src="./img/ideology/stalin.png" style="max-width:100%")
        img(src="./img/ideology/stalin.png" style="max-width:100%")

    .flex.posa.fw.fh
      .flex.mx-auto
        .type.txt-lg.txt-ff.fh(
          data-view="type, in-viewport"
          data-duration=1000
          data-delay=500
        )
          span.line.hide.txt-mono.bg-hl.fade-in(
            style="height: 100%; margin: 0; line-height: 100px;height: 100px;padding-left:20px"
          ) Ideology
