.slide.bg-dk
  .flex-cv.fw.fh(data-view="in-viewport")
    .flex-ch.flex-col.txt-center
      .p-md
        .txt-hl
          strong.txt-tu.txt-sans.fade-in.delay-2 Richard McGregor
          br
          strong.txt-sans.fade-in.delay-3 @mcgregorrichard
      .p-md.fade-in.delay-4(style="border-top: 2px solid")
        .txt-ff
          strong.txt-tu.txt-sans.fade-in.delay-5 Lowy Institute
          br
          strong.txt-sans.fade-in.delay-6 @lowyinstitute
