.slide.bg-lt
  .slide-inner(data-view="in-viewport")
    .type.txt-lg.txt-left(
      data-view="type, in-viewport"
      data-duration=1200
      style="margin: auto"
    )
      span.line.txt-mono Standing Politburo Members
    
    .flex-ch.txt-center.pv-lg
      .member.fade-in.delay-2
        img(data-src="./img/politburo-members/han-zheng.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono Han Zheng
        .member-role.pv-xs
          .txt-cn.txt-muted.pv-xs 韩正
          .pv-xs Vice Premier, HK, Macau, Finance, Housing, Environment

      .member.fade-in.delay-4
        img(data-src="./img/politburo-members/li-zhanshu.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Li Zhanshu
        .member-role.pv-xs
          .txt-cn.txt-muted.pv-xs 栗战书
          .pv-xs National People’s Congress

      .member.fade-in.delay-6
        img(data-src="./img/politburo-members/li-keqiang.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Li Keqiang
        .member-role.pv-xs.ph-xs
          .txt-cn.txt-muted.pv-xs 李克强
          .pv-xs Premier, Head of Government

      .member.member-xi.fade-in.delay-8
        img(data-src="./img/politburo-members/xi-jinping.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Xi Jinping
        .member-role.pv-xs.ph-xs
          .txt-cn.txt-muted.pv-xs 习近平
          .pv-xs General Secretary of CCP, President of China

      .member.fade-in.delay-6
        img(data-src="./img/politburo-members/wang-huning.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Wang Huning
        .member-role.pv-xs.ph-xs
          .txt-cn.txt-muted.pv-xs 王沪宁
          .pv-xs Ideology, Party&nbsp;Affairs 

      .member.fade-in.delay-4
        img(data-src="./img/politburo-members/zhao-leji.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Zhao Leji
        .member-role.pv-xs.ph-xs
          .txt-cn.txt-muted.pv-xs 赵乐际
          .pv-xs Anti&#8209;corruption

      .member.fade-in.delay-2
        img(data-src="./img/politburo-members/wang-yang.png")
        .txt-sm
          .member-name.bg-dk.txt-ff.pv-xs
            .txt-mono  Wang Yang
        .member-role.pv-xs.ph-xs
          .txt-cn.txt-muted.pv-xs 汪洋
          .pv-xs Relations with non&#8209;CCP groups

