.slide.bg-hl
  .slide-inner.flex-ch.flex-col.flex.flex-evenly(data-view="in-viewport")
    .type.txt-lg.txt-center(
      data-view="slide, in-viewport"
      data-duration=1200
    )
      span.line.txt-mono.bg-ff.txt-dk Party structure

    .p-sm.txt-center.flex-ch.flex-col(style="margin: 12px 0 -44px")
      .block-row.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-5
        .block.block-down.flex-cv.bg-dk
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | General Secretary
      .block-row.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-8
        .block.block-up.flex-cv.bg-dk
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Military
        .block.block-up.block-down.flex-cv.bg-dk.fade-in.delay-11
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Politburo
      .block-row.flex-ch.flex-row.ph-sm.pv-md.fade-in.delay-14
        .block.block-up.flex-cv.bg-dk
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | United Front
        .block.block-up.flex-cv.bg-dk.fade-in.delay-17
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Anti-corruption
        .block.block-up.flex-cv.bg-dk.fade-in.delay-20
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Organisation
        .block.block-up.flex-cv.bg-dk.fade-in.delay-23
          strong.txt-sans.txt-tu.txt-ff.fade-in
            | Propaganda
