.slide.bg-hl
  .posr.fw.fh
    .flex-cv.fw.fh.txt-center(data-view="in-viewport")
      .flex.bg-hl
        .type.txt-md.txt-ff.mx-auto.undo(
          data-view="type, in-viewport"
          data-duration=3000
          style="transform: translate(0, 120px);transition-delay: 500ms"
        )
          span.line.bg-dk.hide.txt-mono All major business and management decisions
          span.line.bg-dk.hide.txt-mono must be discussed by the party organ before being
          span.line.bg-dk.hide.txt-mono presented to the board of directors or management.

      .txt-sans.txt-ff.pv-lg.fade-in.delay-28
        span(style="opacity: 0.5")
          | Source: Central Committee, SCMP, Jan. 2020

      .flex.fade-in.delay-19
        .type.txt-md.txt-dk.mx-auto(
          data-view="type, in-viewport"
          data-duration=2000
          data-delay=4000
        )
          span.line.bg-ff.hide.txt-mono The party secretary and chairman of the board
          span.line.bg-ff.hide.txt-mono of a state firm must be the same person.
