.slide.bg-dk
  .posr.fw.fh.flex-cv(data-view="in-viewport")
    img.fade-in.posa.fw.fh(data-src="./img/party-constitution.jpg")
    .slide-inner.flex.flex-jc
      .mx-auto
        .type.undo.txt-lg.txt-ff.pv-sm(
          data-view="type, in-viewport"
          data-duration=300
          style="transform: translate3d(0, 180px, 0)"
        )
          span.line.bg-hl.hide.txt-mono Party Constitution

        .type.txt-md.txt-ff.pv-sm(
          data-view="type, in-viewport"
          data-duration=5000
          data-delay=1200
        )
          span.line.bg-dk.hide.txt-mono The realization of communism is the highest
          span.line.bg-dk.hide.txt-mono ideal and ultimate goal of the Party. The
          span.line.bg-dk.hide.txt-mono Communist Party of China uses Marxism-Leninism,
          span.line.bg-dk.hide.txt-mono Mao Zedong Thought, Deng Xiaoping Theory,
          span.line.bg-dk.hide.txt-mono the Theory of Three Represents, the Scientific
          span.line.bg-dk.hide.txt-mono Outlook on Development, and Xi Jinping Thought
          span.line.bg-dk.hide.txt-mono on Socialism with Chinese Characteristics for
          span.line.bg-dk.hide.txt-mono a New Era as its guides to action.
