.slide.bg-hl
  .slide-inner.flex(data-view="in-viewport")
    .mx-auto
      .type.undo.txt-lg.txt-ff(
        data-view="type, in-viewport"
        data-duration=600
        style="transform: translate3d(0, 200px, 0);margin-bottom: 40px"
      )
        span.line.bg-dka.hide.txt-mono History

      .type.txt-lg.txt-ff.pv-sm(
        data-view="type, in-viewport"
        data-duration=4000
        data-delay=1200
      )
        span.line.bg-dk.hide.txt-mono Who controls the past
        span.line.bg-dk.hide.txt-mono controls the future.
        span.line.bg-dk.hide.txt-mono Who controls the present
        span.line.bg-dk.hide.txt-mono controls the past.

        cite.txt-roman.txt-sm.txt-sans(
          style="margin-top: 3em"
        )
          strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-26
            | George Orwell
