.slide.bg-dk
  .mx-auto
    .type.txt-lg.txt-ff(
      data-view="type, in-viewport"
      data-duration=600
      style="margin: 0 auto 60px"
    )
      span.line.txt-mono.bg-lta State Business

    .type.txt-md.txt-ff.txt-center(
      data-view="type, in-viewport"
      data-duration=3000
      data-delay=600
    )
      span.line.bg-hl.hide.txt-mono The same individual who is chairing a party
      span.line.bg-hl.hide.txt-mono committee on a Monday night might well be
      span.line.bg-hl.hide.txt-mono chairing a board meeting later in the week.

      cite.txt-roman.txt-sm.txt-sans.txt-center.fade-in.delay-10(
        style="margin-top: 60px"
      )
        strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-18
          | Rodium Group
        strong.txt-sans.pv-xs.ph-sm.bg-lta.txt-tu.txt-ff.fade-in.delay-21
          | November 18
