.slide.bg-hl
  .mx-auto
    .type.txt-ff(
      data-view="type, in-viewport"
      data-duration=3000
      style="font-size: 40px"
    )
      span.line.bg-dk.hide.txt-mono There is no such thing as the separation
      span.line.bg-dk.hide.txt-mono between the party and the government.
      span.line.bg-dk.hide.txt-mono There is only the division of functions.

      cite.txt-roman.txt-sm.txt-sans.txt-center(
        style="margin-top: 60px"
      )
        strong.txt-sans.pv-xs.ph-sm.bg-dka.txt-tu.txt-ff.fade-in.delay-18
          | Wang Qishan
        strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-21
          | 2015
