.slide.bg-dk
  .slide-inner.flex
    .type.txt-lg.txt-ff.mx-auto(
      data-view="type, in-viewport"
      data-duration=3000
    )
      span.line.bg-hl.hide.txt-mono Stay close to the
      span.line.bg-hl.hide.txt-mono government, but far
      span.line.bg-hl.hide.txt-mono away from politics

      cite.txt-roman.txt-sm.txt-sans(
        style="margin-top: 3em"
      )
        strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-18
          | Wang Jianlin
        span.ph-sm.pv-xs.bg-lta.txt-ff.fade-in.delay-21(
          style="top: 37px;position: relative"
        )
          | Chairman of Wanda Group
