.slide.bg-hl
  .type.txt-lg.txt-ff(
    data-view="type, in-viewport"
    data-duration=5000
  )
    span.line.bg-dk.hide.txt-mono The answer to most questions
    span.line.bg-dk.hide.txt-mono about the party congress,
    span.line.bg-dk.hide.txt-mono unless you’re a member of the
    span.line.bg-dk.hide.txt-mono Politburo, is ‘I don’t know.’

    cite.txt-roman.txt-sm.txt-sans(style="margin-top: 3em")
      strong.txt-sans.ph-sm.pv-xs.txt-bold.bg-ff.txt-dk.txt-tu.fade-in.delay-26
        | Jeff Bader
      span.ph-sm.pv-xs.bg-dka.txt-ff.fade-in.delay-28(
        style="top: 37px;position: relative"
      )
        | Former director for Asia on the U.S. National Security Council
