.slide.bg-bk
  video.paused(width=1280 height=720 data-view="in-viewport, video")
    source(src="./img/clip.mp4")

  .posa.p-sm.video-title
    .type.txt-md(data-view="slide, in-viewport")
      .line.txt-mono.txt-dk.bg-ff In the Name 
      .line.txt-mono.txt-dk.bg-ff of the People
