.slide.bg-hl
  .slide-inner.flex-ch(data-view="in-viewport")
    .flex.flex-evenly.flex-col.fh
      .type.txt-lg.txt-center(
        data-view="slide, in-viewport"
        data-duration=1200
      )
        span.line.txt-mono.bg-ff.txt-dk Xi Features

      .features.flex-ch.txt-ff
        .feature.posr.ph-sm.fade-in.delay-4
          img.feature-icon.posa(data-src="./img/xi-features/economic-reform.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Economic Control
        .feature.posr.ph-sm.fade-in.delay-6
          img.feature-icon.posa(data-src="./img/xi-features/belt-and-road.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Belt and Road
        .feature.posr.ph-sm.fade-in.delay-8
          img.feature-icon.posa(data-src="./img/xi-features/military-reform.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Military Reform
        .feature.posr.ph-sm.fade-in.delay-10
          img.feature-icon.posa(data-src="./img/xi-features/poverty-alleviation.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Poverty Alleviation
        .feature.posr.ph-sm.fade-in.delay-12
          img.feature-icon.posa(data-src="./img/xi-features/anti-corruption.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Anti-corruption
        .feature.posr.ph-sm.fade-in.delay-14
          img.feature-icon.posa(data-src="./img/xi-features/xinjiang.png")
          .feature-name.bg-dk.pv-xs.ph-sm
            span.txt-tu.txt-sans.txt-bold Xinjiang
