.slide.bg-dk
  .slide-inner.flex-ch.flex-col(data-view="in-viewport")
    .flex.flex-evenly.flex-col.fh
      .type.txt-lg.txt-hl(
        data-view="type, in-viewport"
        data-duration=800
        style="margin: 0 auto"
      )
        span.line.hide.txt-mono One party under Xi

      .type.txt-lg.txt-ff.txt-center(
        data-view="type, in-viewport"
        data-duration=3000
        data-delay=600
        data-underline=JSON.stringify([{"row":3,"start":6,"end":34}])
      )
        span.line.txt-mono East, west, south,
        span.line.txt-mono north, and the
        span.line.txt-mono middle, the party
        span.line.txt-mono leads e​​v​​e​​r​​y​​t​​h​​i​​n​​g

      .p-sm.txt-center
        strong.txt-sans.pv-xs.ph-sm.bg-hl.txt-tu.txt-ff.delay-20.fade-in
          | Mao Zedong, 1962
        strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.delay-25.fade-in
          | Xi Jinping, 2016
