.slide.bg-dk
  .slide-inner.flex(data-view="in-viewport")
    .mx-auto
      .flex.flex-row.pv-md.txt-center
        .p-xs.fade-in.delay-1.box
          img(src="./img/ideology/marx.png" style="max-width:100%")
        .p-xs.fade-in.delay-3.box
          img(src="./img/ideology/engels.png" style="max-width:100%")
        .p-xs.fade-in.box
          .type.txt-lg.txt-ff.fh(
            data-view="type, in-viewport"
            data-duration=1000
            data-delay=500
          )
            span.line.hide.txt-mono.bg-hl(
              style="height: 100%; margin: 0; line-height: 172px;padding-left:20px"
            ) Ideology
        .p-xs.fade-in.delay-5.box
          img(src="./img/ideology/lenin.png" style="max-width:100%")
        .p-xs.fade-in.delay-7.box
          img(src="./img/ideology/stalin.png" style="max-width:100%")

.slide.bg-dk
  .slide-inner.flex(data-view="in-viewport")
    .mx-auto
      .type.txt-md.txt-ff.pv-sm(
        data-view="type, in-viewport"
        data-duration=5000
      )
        span.line.bg-hl.hide.txt-mono To dismiss the history of the Soviet Union
        span.line.bg-hl.hide.txt-mono and the Soviet Communist Party, to dismiss
        span.line.bg-hl.hide.txt-mono Lenin and Stalin, and to dismiss everything
        span.line.bg-hl.hide.txt-mono else is to engage in historic nihilism, and
        span.line.bg-hl.hide.txt-mono it confuses our thoughts and undermines the
        span.line.bg-hl.hide.txt-mono party’s organizations on all levels.

        cite.txt-roman.txt-sm.txt-sans(
          style="margin-top: 3em"
        )
          strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-26
            | Xi Jinping

