.slide.bg-dk
  .mx-auto
    .type.txt-lg.txt-ff.txt-left.pv-sm(
      data-view="type, in-viewport"
      data-duration=600
      style="margin: 0 0 40px"
    )
      span.line.txt-mono.bg-hl Membership
    .type.txt-lg.txt-dk.txt-left.pv-sm(
      data-view="type, in-viewport"
      data-duration=2000
      data-delay=600
    )
      span.line.bg-ff.txt-mono Entry to the party
      span.line.bg-ff.txt-mono is increasingly
      span.line.bg-ff.txt-mono competitive
