.slide.bg-dk
  .type.txt-lg.txt-dk.txt-left(
    data-view="type, in-viewport"
    data-duration=2000
  )
    span.line.bg-ff.txt-mono Entry to the party
    span.line.bg-ff.txt-mono is increasingly
    span.line.bg-ff.txt-mono competitive
