.slide.bg-hl
  .mx-auto
    .type.txt-lg.txt-dk.txt-left(
      data-view="type, in-viewport"
      data-duration=600
      style="margin: 0 auto 60px"
    )
      span.line.txt-mono.bg-ff Business

    .type.txt-lg.txt-ff(
      data-view="type, in-viewport"
      data-duration=2000
      data-delay=400
    )
      span.line.bg-dk.hide.txt-mono Let some people
      span.line.bg-dk.hide.txt-mono get rich first.

      cite.txt-roman.txt-sm.txt-sans.txt-center.fade-in.delay-10(
        style="margin-top: 60px"
      )
        strong.txt-sans.pv-xs.ph-sm.bg-dka.txt-tu.txt-ff Deng Xiaoping
