.slide.bg-hl
  .type.txt-lg.txt-ff(
    data-view="type, in-viewport"
    data-duration=5000
  )
    span.line.bg-dk.hide.txt-mono The answer to most questions
    span.line.bg-dk.hide.txt-mono about the party congress,
    span.line.bg-dk.hide.txt-mono unless you’re a member of the
    span.line.bg-dk.hide.txt-mono Politburo, is ‘I don’t know.’

    cite.txt-sm.txt-sans
      strong.name.p-xs.txt-bold.bg-ff.txt-dk.txt-tu Jeff Bader
      span.role.p-xs.bg-dka.txt-ff
        | Former director for Asia on the U.S. National Security Council
