//- .slide.bg-hl
  .type.txt-lg.txt-ff(
    data-view="type, in-viewport"
    data-duration=6000
  )
    span.line.bg-dk.hide.txt-mono In the past, the Communist
    span.line.bg-dk.hide.txt-mono party loved the poor; now they
    span.line.bg-dk.hide.txt-mono love the rich. So long as you
    span.line.bg-dk.hide.txt-mono can lead people to become rich,
    span.line.bg-dk.hide.txt-mono you’re a good party member.

.slide.bg-hl
  .type.txt-lg.txt-ff(
    data-view="type, in-viewport"
    data-duration=2000
  )
    span.line.bg-dk.hide.txt-mono Let some people
    span.line.bg-dk.hide.txt-mono get rich first.

    cite.txt-roman.txt-sm.txt-sans.txt-center.fade-in.delay-10(
      style="margin-top: 3em"
    )
      strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk Deng Xiaoping
