.slide.bg-dk
  .type.txt-lg.txt-ff(
    data-view="type, in-viewport"
    data-duration=3000
  )
    span.line.bg-hl.hide.txt-mono Stay close to the 
    span.line.bg-hl.hide.txt-mono government, but far 
    span.line.bg-hl.hide.txt-mono away from politics

    cite.txt-roman.txt-sm.txt-sans(
      style="margin-top: 3em"
    )
      strong.txt-sans.pv-xs.ph-sm.bg-ff.txt-tu.txt-dk.fade-in.delay-18
        | Wang Jianlin
      span.ph-sm.pv-xs.bg-lta.txt-ff.fade-in.delay-21(
        style="top: 37px;position: relative"
      )
        | Chairman of Wanda Group

.slide.bg-lt
  .flex-ch.fw(data-view="in-viewport")
    .p-md.fade-in.delay-1
      .bg-ff
        .posa.txt-mono.p-xs.bg-dk.txt-ff.z1 Jack Ma
        img(data-src="./img/business/jack-ma.jpg" width=284)
        .p-sm.flex-ch
          img(data-src="./img/business/alibaba.png" width=200)
      //- .txt-muted.txt-xs.pv-xs UNClimateChange / Flickr
    .p-md.fade-in.delay-3
      .bg-ff
        .posa.txt-mono.p-xs.bg-dk.txt-ff.z1.delay-6 Ma Huateng
        img(data-src="./img/business/ma-huateng.jpg" width=284)
        .p-sm.flex-ch
          img(data-src="./img/business/tencent.png" width=200)
      //- .txt-muted.txt-xs.pv-xs TechCrunch / Flickr
    .p-md.fade-in.delay-5
      .bg-ff
        .posa.txt-mono.p-xs.bg-dk.txt-ff.z1.delay-9 Ren Zhengfei
        img(data-src="./img/business/ren-zhengfei.jpg" width=284)
        .p-sm.flex-ch
          img(data-src="./img/business/huawei.png" width=200)
      //- .txt-muted.txt-xs.pv-xs HM Treasury / Flickr

.slide.bg-lt
  .flex-ch.fw(data-view="in-viewport")
    .p-md.fade-in.delay-1
      .bg-ff
        img(data-src="./img/business/donald-duck.png" width=284)
        .p-sm.flex-ch
          img(data-src="./img/business/disney.png" width=200)
