extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/china-rules-based-order/data").articles[3]

block content
  :marked
    The closure of consulates in Houston and Chengdu in July raised the question: has the scariest drop in the rollercoaster of Sino--US relations been reached?
    
    US Secretary of State Mike Pompeo's speech at the Nixon Library in July, in which he argued that "Securing our freedoms from the Chinese Communist Party is the mission of our time", hinted at the pressure tactics to come. His narrative was met with fury in the [People&rsquo;s Daily](https://policycn.us2.list-manage.com/track/click?u=3fd756a9629015f7becc6e127&id=fbbdb75022&e=7a502d800d) and the [Global Times](https://policycn.us2.list-manage.com/track/click?u=3fd756a9629015f7becc6e127&id=ef8c670d46&e=7a502d800d). But debate in China about the merits of a return to 'hiding and biding' --- the Deng Xiaoping-era maxim that China, in its dealings with the world, should hide its capacities and bide its time --- may provide a different insight into China's approach to the global order.

    Beijing is now gaming out a potential Joe Biden electoral victory in November. Not everything will be reset, it is agreed, but in recent weeks some parts of the irrepressible Chinese commentariat have argued for a revival of the Deng-era policy of 'hide and bide' despite explicit 'transcendence' of this concept by President Xi Jinping and his close advisers. By hiding and biding, China can oppose the current hegemon --- the United States --- yet <cite data-graph="peacekeeping-contributions">avoid bidding</cite> to undertake the hegemon's responsibilities.

    Yet the 'hide and bide' debate is not the only indication of a new mood. Several other observations can be made about recent shifts in China's view of its external environment and, potentially, its approach to the global order.

    First, China's self-confidence is largely for show and its relations with the outside world are largely tense. Australia is seen (perhaps with Canada) as the number one proxy for the United States. It is threatened with retaliation from Beijing for its ban on Huawei's 5G technology, and more seriously for its actions regarding Hong Kong. Australian participation in US exercises in the South China Sea demonstrated a reset in Canberra that Beijing had not anticipated.

    Second, China's efforts to reshape the international order have been set back by a massive loss of soft power --- especially in the developing world. The recognition that China under-priced the risks of its external ventures is a notable subtext in Chinese policy statements and in re-assessments of the Belt and Road Initiative, the <cite data-graph="prc-organisations">Asian Infrastructure Investment Bank</cite>, and the BRIC economies, along with the internationalising of China's RMB.

    Third, whereas China once saw no risk of decoupling, it now fears a 'Chinaless' Western economic system. China's long-standing belief in Western decline suddenly lost relevance when holes in China's economic picture were made visible by COVID-19. Erstwhile economic partners are re-costing their exposure to China.

    The concept of decoupling helps frame an answer to the question: under what circumstances would China compromise on its objectives? New Chinese measures to open up financially and technologically are not mere gambits; they reflect real anxiety. China's desire to build defences for elements of 'the global commons' similarly reflects a genuine need. [China regards itself](https://www.csis.org/analysis/seven-chinas) as a 'herald of the high frontiers' and, increasingly, as a generator of international public goods in space, the polar regions, and cyber space.

    Beijing and, above all, the leadership in Zhongnanhai, remains at least partially in its so-called 'wolf warrior' mode of aggressive and nationalist diplomacy. Losing face is not an option and China's global image must be maintained at all costs. But other signals are appearing on our radars. The debate about a possible return to 'hide and bide' is only one indication that China, having met resistance, is <cite data-graph="un-leadership">reassessing</cite> its approach to the world order.
    
    <hr>
    
    **David Kelly** has researched and taught Chinese studies at ANU, Australian Defence Force Academy, the East Asia Institute (Singapore), Peking University, and the University of Technology, Sydney. He is now a principal with China Policy, a Beijing-based information and advisory firm.

    <hr>

  +infographic(7)
  +infographic(5)
  +infographic(2)
