extend /partials/layout

block append config
  - page.includeFonts = false
  - page.url = "https://interactives.lowyinstitute.org/features/covid-recovery/"
  - page.class = "page-0 page-menu"
  - page.title = "Australia's COVID-19 Recovery"
  - page.metaTitle = `${page.title} - Lowy Institute`
  - page.description = ""
  - page.image = "http://interactives.lowyinstitute.org/features/covid-recovery/img/thumbnail.jpg"
  - page.feature = data.getOne("static/features/covid-recovery/data")

block page
  include partials/header

  #scroller
    #scroll-item-intro.scroll-item
      .row
        .col-1-2.num-lf.pv-md 
          .txt-center
            .txt-sm.txt-tu.ph-sm.pv-xs.hidden-sm Lowy Institute

            .txt-xxl.ph-sm.pv-sm
              | Managing Australia's <br>
              | COVID-19 Recovery

            .pv-sm.active
              .stripe-lt

            .ph-md.intro-description.txt-sans.mxw.pv-xs.txt-md
              :marked
                To guide the national recovery from COVID-19,<br>
                Lowy Institute experts offer new policy recommendations<br>
                to the Australian government.
                
              .txt-sm
                :marked
                  <br>This follows the Lowy Institute's [World After COVID-19](http://interactives.lowyinstitute.org/features/covid-recovery) feature, published 10 April.
              

        .col-1-2.bg-dk.txt-ff.pv-md
          .block
            .txt-sm.txt-tu.ph-sm.pv-sm.txt-hl Topics
            .block
              ul.list-bare.txt-links
                for issue in page.feature.issues
                  li
                    a.txt-bare(href=`issues/${issue.href}`)
                      != issue.title

  .container
    footer#footer

block append css
  style
    include:sass _styles.sass
