nav.nav-bar.clearfix.p-h-sm
  .wrapper.p-v-md
    a(href="https://www.lowyinstitute.org/")
      img#logo.fl-l(alt="Lowy Institute" src="/img/lowyinstitute-logo.png")

    a.txt-bare(href="https://www.lowyinstitute.org/publications/gender-australia-ir-sector")
      h1 Gender diversity &amp; Australia's international&nbsp;relations

    +social(
      "https://www.lowyinstitute.org/publications/gender-australia-ir-sector", 
      "Gender diversity & Australia's international relations"
    )
