.nav-bar {
  background: #002a45;
  text-align: center;
  color: #fff;
}

.nav-bar #logo {
  width: 172px;
  margin-right: 12px;
  position: absolute;
  left: 0;
  top: 36px;
}

.nav-bar h1 {
  font-size: 20px;
  line-height: 24px;
}

.nav-bar a {
  transition: color 300ms;
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #539ed4;
}

.social {
  position: absolute;
  right: 0;
  top: 24px;
  text-align: center;
  margin: 0 -4px;
}

.social a {
  float: left;
  margin: 0 4px;
}

.social .icon {
  font-size: 24px;
  display: inline-block;
  padding: 8px;
  line-height: 1;
  height: 24px;
  width: 24px;
  border: 1px solid;
  border-radius: 50%
}

.wrapper {
  margin: 0px auto !important;
  position: relative;
}

.crumbs {
  background: #f5f6f7;
  padding-bottom: 2px;
}

rect {
  transform-origin: center;
  transition: opacity 300ms;
}

text {
  font-size: 16px;
  fill: #869096;
}

text.label {
  fill: currentColor;
}

line {
  stroke: rgba(0, 41, 71, 0.22);
  pointer-events: none
}

.bg-lt {
  background: #f5f6f7;
  display: block;
}

.chart-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

.chart-col {
  display: flex;
  flex-direction: column;
}

.question-btn {
  transition: background 300ms;
}

.question-btn:hover {
  background: #e4e6e8;
  color: inherit;
}

.group-hover rect:nth-child(1),
.group-hover rect:nth-child(2) {
  opacity: 0.5;
}
.group-hover rect:nth-child(3),
.group-hover rect:nth-child(4) {
  opacity: 0.4;
}

.group-hover .rect-hover {
  opacity: 1 !important;
}

@media (max-width: 1000px) {
  .nav-bar #logo {
    position: static;
    margin: 0 auto 20px;
    float: none;
  }

  .social {
    position: static;
    margin: 12px auto -8px;
  }

  .social a {
    float: none;
  }
}
