extend /partials/layout

block append config
  - page.title = "Current Heads of Mission"
  - var chart  = data.getOne("static/charts/gender-diversity-and-australias-international-relations/current-heads-of-mission/data")

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  .wrapper(data-view="chart" data-source="chart")
    svg.chart(width="320" height="200")

block append customScripts
  script(type="text/javascript")
    include:coffee chart.coffee
