//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Stepping up in Southeast Asia"
  - page.expert = "Ben Bland"
  - page.expertrole = "Director, Southeast Asia Program"

block intro-image
  img.bg-img(data-src="../../img/asean.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://commons.wikimedia.org/wiki/File:%E4%BA%8C%E5%A4%A9%E4%B8%80%E6%B5%81%E3%83%A1%E3%83%A2%E3%83%AA%E3%82%A2%E3%83%AB.jpg">Salacca / Wikimedia Commons</a>

block intro-description
    :marked
      Stepping up in Southeast Asia

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Australia should step up in Southeast Asia to help this vital region emerge from the pandemic and support the economic recovery of our second-biggest trading partner. This mission has become even more critical because of shifting geopolitics, with China intensifying its engagement in Southeast Asia and the reputation of the United States badly damaged. 
              
              There are three specific areas in which Australia and the region would benefit from further cooperation: tackling the pandemic, limiting the negative economic impacts of the health crisis, and mitigating social and governance challenges.
              
              Canberra’s Partnerships for Recovery policy sets out an ambitious vision for what Australia can do to help maintain stability, security, and prosperity in Southeast Asia as well as the Pacific. However, it is based on a redirection of the existing development budget, which has been shrinking in recent years. Australia cannot keep getting ‘more for less’. The government should expand its budget for Southeast Asia, because this crisis is an important test of Australia’s commitment to the region. 
              
              There are limits to what Australia can do alone in a diverse region of more than 650 million people. Therefore Canberra’s response should be targeted and pragmatic. Australia should capitalise on its existing web of bilateral, minilateral, and multilateral relationships, not just with governments but with development banks, the private sector, and civil society.
              
              The focus should be on working with committed partners to tackle specific challenges, from air travel protocols and trade facilitation to vaccine development and national stockpiles of medical equipment. Bilateral engagement should be high-level but low-key. The real value Australia can add is not in handing over containers of face masks at public ceremonies, but in providing technical assistance and building trusted partnerships behind the scenes. Australia should work bilaterally and with the Association of Southeast Asian Nations (ASEAN) to improve the region’s own pandemic response capabilities, in expectation of future waves of the novel coronavirus and other diseases.
              
              On the economic front, Australia should work bilaterally and through the World Bank, Asian Development Bank, and IMF to ensure governments have the necessary policy support, as well as possible emergency funds, to emerge from the crisis as soon as possible. A particular priority should be given to assisting vulnerable groups, including those in poverty, children whose education has been interrupted, and the millions of documented and undocumented migrant workers who are often overlooked by governments. Australia should consider adapting the successful Prospera program — which provides wide-ranging technical support to the Indonesian government — to other countries in the region.
              
              Canberra should also intensify efforts to deepen private sector economic engagement with Southeast Asia, building on the recently ratified Indonesia–Australia Comprehensive Economic Partnership (IA-CEPA) and the proposed Enhanced Economic Engagement Strategy with Vietnam. Although the pandemic will hit economic growth in the short term, it will present new opportunities for investment in health, technology, and education across Southeast Asia. 
              
              While other development partners bring more financial heft, Australia should leverage its own strengths, including its track record of cooperation with civil society. The pandemic has prompted a further spike in authoritarian behaviour by the region’s governments, while the accompanying economic crisis has badly affected the finances of NGOs that were already struggling. Australia should support civil society organisations through this difficult time because governments alone cannot build resilient societies. 
              
              This proposed step-up is not just about Australia demonstrating its commitment to Southeast Asia. The relationship goes both ways. Australia can only truly thrive again when Southeast Asia is back on its feet.
