extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/china-rules-based-order/data").responses[3]

block content
  :marked
    My colleagues' analyses contain few errors of fact or judgement. This is a joyless finding, for they are in many regards counsels of despair. For all their mastery of nuance and their precise angles of vision, they come up with few answers to the question: what is to be done?

    What is needed is not appeals to the better angels of each other's nature, but a least-worst strategy that aims for a chess-like draw. The least-worst would eliminate some risky options, including threats of decoupling, or stepped-up pressure on supply chains.
        
    Let us focus on some positive sums and see where they lead, beginning with [Tanner Greer](../../articles/ideological-insecurities)&rsquo;s view that,
    
    > The threats identified are not military … but are instead concepts like ‘independent judiciaries’, ‘universal human rights’, and ‘Western freedoms’. Any scheme of mutual accommodation that neglects this acute ideological insecurity will not last.&rdquo;
    
    This, to my mind, hits the mark and points to some pluses. Even under [Daniel Tobin](../../articles/rewiring-the-global-order)&rsquo;s "Leninist species of socialism", pens are mightier than swords. Chinese strongman leaders struggle without establishment intellectuals lending support or intellectual legitimacy. The conceptual issues Greer lists are curated by these same intellectuals. The famous campuses of Beijing, Shanghai, and elsewhere nurtured liberalism right through the Maoist era. To achieve a draw, the West should aim not to be feared by this intellectual class, but to be respected for its creativity and ability to refresh its frames of reference. China’s establishment intellectuals only recently began to question this ability, so they could be convinced to change their minds again. All is not lost.
    
    One of [Greer](../../articles/ideological-insecurities)&rsquo;s [sources](https://www.theatlantic.com/ideas/archive/2018/09/shield-of-the-republic-a-democratic-foreign-policy-for-the-trump-age/570010/) writes:
    
    > America has expanded its commitments overseas on the implicit assumption that ordinary Americans benefit as America’s global footprint grows. But many ordinary Americans disagree.&rdquo;
    
    There are many who likewise doubt that ordinary Chinese benefit as China’s global footprint grows.

    A least-worst strategy might also consider engaging with China's sense of itself as a '[champion of plurality'](https://www.csis.org/analysis/seven-chinas). Driven by a desire to dissolve the putative world leadership ('hegemony') of the United States, this theme features strongly in Beijing's current external policy. It shores up relations with Russia, and Beijing would like it to do as much with Europe.

    A least-worst strategy would see the United States and others take the demand for plurality (which Washington can read as multilateralism) seriously. China is gaming out a potential Joe Biden election victory. The Biden camp may not reverse the impasses of the Donald Trump era, but it should consider working to supply more multilateralism in its approach to China.

    But the most promising avenue of approach is to take seriously China's sense of itself as a ['herald of the high frontier'](https://www.csis.org/analysis/seven-chinas) or protector of the global commons. There is a self-serving aspect to this: China, for example, works with Russia to keep the Antarctic open to extractive industries, dismissing global opinion. Yet the United States and others would do well, once again, to encourage China's proposals for the global commons.

    <hr>
    
    **David Kelly** has researched and taught Chinese studies at ANU, Australian Defence Force Academy, the East Asia Institute (Singapore), Peking University, and the University of Technology, Sydney. He is now a principal with China Policy, a Beijing-based information and advisory firm.

    <hr>
