extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/usa-rules-based-order/data").responses[1]

block content
  :marked

    In my first round contribution, I argued that the United States should revitalise and adapt the US-led, rules-based international system for a new era and defend that system from autocratic challengers. There is much agreement among the contributors on this central contention.

    Consistent with my arguments, [Michael Mazarr](../../articles/lead-from-behind) argues that &quot;Support for a reformed rules-based order may be the cornerstone of US foreign policy.&quot; [Rebecca Lissner](../../articles/first-rebuild-at-home) maintains that we need to &quot;renovate legacy institutions…for contemporary challenges, while also building new, fit-for-purpose multilateral structures where needed&quot;. [Danielle Pletka](../../articles/use-trumps-leverage) correctly points out that the greatest challenge to the system emanates from revisionist autocratic powers — China, Russia, Iran, and North Korea — and that their &quot;predations have chewed away at the post-World War, post-Cold War order in ways that many are only beginning to appreciate&quot;. I fully agree with [Stacie Goddard](../../articles/using-rules-to-compete) when she writes that &quot;investing in rules and norms is not ancillary to great power politics; it provides the essential infrastructure that enables the United States to protect its vital interests&quot;.

    My most serious disagreements are with my friend [Patrick Porter](../../articles/a-dangerous-myth). Porter points to the coercive exercise of American power as inconsistent with the idea of a liberal, rules-based system. But in reality, American power is the bedrock of the rules-based international system. US military alliances, forward deployed forces, and extended nuclear deterrence have maintained a historic peace in Europe and Asia, providing the geopolitical stability that helped countries in these regions become more democratic and prosperous participants in a liberal international system.

    The United States and like-minded allies and partners have employed their power, including crippling economic sanctions and military force, against states that violate the system&#39;s core rules, such as by pursuing weapons of mass destruction or supporting international terrorism. The use of force is a necessary (if sometimes unsavoury) part of enforcing an effective rules-based system.

    It is on this point that I also part ways with Goddard. She claims that the United States need not invest in its military as part of its competition with China. But Washington and its allies must maintain a favourable military balance of power over Beijing if they are to continue to guarantee a free and open Indo–Pacific.

    Porter also points to Washington&#39;s hypocrisy and the continuation of war, economic hardship, and human rights abuses around the world as evidence against the idea of a rules-based system. But Porter makes the mistake of comparing the rules-based system over the past 75 years to some imaginary ideal, instead of the real, historical record that preceded it. Let us compare the past 75 years to any other period in world history. This era is unique in the dense set of formal rules that characterise international relations among states. These rules are infused with, and inspired by, liberal principles. The results of this system have been remarkable. The world has by almost any measure been safer, richer, and freer in this period than any other. It is hard to imagine that if Russia or China had emerged victorious from the Second World War or the Cold War, that they would have established a similar system or produced comparable results.

    Proponents of a rules-based international system should not see every international agreement as desirable, or pursue cooperation for its own sake. The Paris accord is harmless, but also toothless. The United States made more progress in reducing its greenhouse gas emissions when outside the treaty than did China and Europe while they were members. And the treaty permits China, the world&#39;s worst polluter, to increase its emissions for decades. The United States can rejoin this agreement, or not, but it will not matter much either way.

    The Iran nuclear deal is more pernicious. It is contrary to the principles of a rules-based system. There are already clear rules to guide Iran&#39;s nuclear behaviour. But after Iran was repeatedly [caught cheating](https://www.nytimes.com/2005/08/08/international/chronology-of-irans-nuclear-program.html) on the Treaty on the Non-Proliferation of Nuclear Weapons (NPT) beginning in 2003, the international community rewarded Tehran with an ad hoc arrangement based on a [double standard](https://www.tabletmag.com/sections/israel-middle-east/articles/obama-iran-nonproliferation). The deal allows Tehran to enrich uranium even as this technology is denied to other states, including close democratic allies. The Biden administration should use the leverage built by the Trump administration to renegotiate a new nuclear deal with Iran more consistent with established non-proliferation standards.

    In sum, building an effective rules-based system requires establishing positive platforms for international cooperation. But we must not overlook the necessary corollary of working collectively (and occasionally employing hard power tools) to defend the system from revisionist challengers. This includes addressing China&#39;s environmental degradation and Iran&#39;s illegal pursuit of a nuclear weapons capability.

    <hr>
    
    **Professor Matthew Kroenig** is Professor of Government and Foreign Service at Georgetown University; Deputy Director of the Scowcroft Center for Strategy and Security at the Atlantic Council; and Director of its Global Strategy Initiative. His research focuses on great power competition with China and Russia, emerging technology, and strategic deterrence and weapons non-proliferation. His most recent book is [_The Return of Great Power Rivalry: Democracy versus Autocracy from the Ancient World to the US and China_](https://www.amazon.com.au/Return-Great-Power-Rivalry-Democracy/dp/0190080248/ref=sr_1_1).

    <hr>
