block page

  #infographic-peacekeeping-participation.wrapper.flex.flex-col
    svg.close(version='1.2' baseprofile='tiny' xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewbox='0 0 24 24')
      path(stroke="white" stroke-width="2" d='M17.414 6.586c-.78-.781-2.048-.781-2.828 0l-2.586 2.586-2.586-2.586c-.78-.781-2.048-.781-2.828 0-.781.781-.781 2.047 0 2.828l2.585 2.586-2.585 2.586c-.781.781-.781 2.047 0 2.828.39.391.902.586 1.414.586s1.024-.195 1.414-.586l2.586-2.586 2.586 2.586c.39.391.902.586 1.414.586s1.024-.195 1.414-.586c.781-.781.781-2.047 0-2.828l-2.585-2.586 2.585-2.586c.781-.781.781-2.047 0-2.828z')
    
    .flex.flex-grow.flex-col
      strong.txt-center.chart-title.txt-lg.txt-semi China's Peacekeeping
      
      .flex.flex-col
        .row.flex.flex-row-end
          .col-2-5
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 873.7 886.5"><defs><style>.b{stroke-miterlimit:10}.b,.f{fill:#565862}.b{stroke:#fff;stroke-width:.5px}.c{fill:#b90000}</style></defs><ellipse cx="332.2" cy="544.4" rx="330.7" ry="340.5" stroke-width="3" stroke-miterlimit="10" fill="#fbfafb" stroke="#000"/><path class="b" d="M204 262l-7 3-6 5h-6l-7 7-10 3-2 6-4 4-2-1h-13l-5 4-3-1-4 3-8 5-5-1-3-4 2-6-7 4-14 15-3 1 8-11 6-4 1-2 6-6 19-15 10-3 3-3 11-7 19-8 4 3 7-3v7h7l2 4z"/><path class="b" d="M100 308l14-15 7-4-2 6 3 4 5 1 8-5 1 5-8 4-2-1-6 5h-2l-3 6-5 5h-2l-1-9 3-4v-5zM436 513l10 4 10 4 7 7 1 3 9 4 1 4h-5l1 4 5 4 3 7 5 5v3l-10-2-7-8-2-5-8-3-8 3v5l-4 1-9-1zm57 22l-6 3h-3l-7-4 14-1 8-6-2 6zm19-1l6 8-2 2-4-7z"/><path class="b" d="M436 513l-1 39-5-5-6-2-2 2h-7l3-5 3-2-1-6-3-5-11-6h-5l-9-6-4 3-1-5-5-3 2-3-3-4-5-1-3-3 8-1 4-2 9 2 3 12 6 4 5-6 7-4 5 1 9 4 7 2zM340 549l1 3-4 4-5 2 2-7 6-2zM297 471l-3 5 4 6-1 3 7 5-7 1-2 4v5l-6 5v6l-3 7-7 3-2-4-7-2-7 2-3-2h-8l-1-8-3-2-3-5v-11l3-4 1 4 4 3 8-1 6-4 6 2 5-2 3-8 2-2 2-7 12 1zM366 512l4 4-12-1 1-3h7zM358 482l4 4v8l-3-1-3 4-1-8 3-7zM327 490h7l-2 4-6-1-15 1-1 4 5 6 4-3h8l-3 3-5 3 6 7-1 2 5 7v4l-3 2-6-5v-4l-5-3 1-6-4 2 1 16-7-1 2-6-1-6-5-4 3-4 1-5 4-11 5-5 5 2 7 1zM312 557l-8-4 6-1 5 3-3 2zM318 547v2l-8-1 4-3 4 2zM300 546l-6 4-1-3 7-1zM242 536l1 2h11l1-2 11 2 3 4 8 1 8 3-7 3-6-2h-12l-12-3h-7l-10-2-1-2h-5l3-6h7l7 2zM218 505l3 8h4l3 4-1 7v9l-6 1-5-5-8-4-6-8-7-13-5-4-4-10-4-3-3-5-9-9v-3h11l4 6 7 6 5 6 6-1 5 4 3 5 4 2-2 5 5 2zM2 553v-26l1-8 3-9 4-20 2-10 2-11 3-4-6 30-7 39zM405 242l4 6 9 9-6-2-2 8-4-13-3-3-2-4z"/><path class="c" d="M340 549l1-2 9-1 2 1-11 5z"/><path class="b" d="M16 610l5 18 1 5 6 24 8 26-3 3-6-11-3-9-2-8-5-14-2-8 1-4zM40 395l4-2 8-12v2l-2 4h-1l-6 13-5 1zM51 368l-4 6v-1z"/><path class="b" d="M61 350l-10 17v1l-4 5zM43 400l6-13h1l2 5-1 6-9 16-1 4-4 3-5 9-5 5 3-12 7-8 5-12zM211 428l-1-7 4-4 8-2 5 1 4 1 3-4 5 2 1 4-2 7-9 4 2 4-6 1-5 2h-5z"/><path class="b" d="M227 416l-6-1-7 2-3 4v7l-5-2h-4l1-4h-5l-1 6-5 14v4h3l3 10 2 3 6 4-1 2-10-3-3-5-5-5 1-9 7-12-2-5v-6l-3-7 4-6-6-11 2-2 4-6h3l7-4 2 5h3l-3 10 6-4 5 1 5-2 4 4-1 6 4 4z"/><path class="b" d="M239 415l-5-2-3 4-4-2 2-7-4-4 1-6-4-4-5 2-5-1-6 4 3-11h-3l-2-4 6-6 3 1v-6l3-1 4 9 7-1 1 5-5 4 6 2 6 11 4 4 1 4z"/><path class="b" d="M204 384l-7 4h-3l-4 6-2 1 6 12-4 6 3 7v6l2 5-6 12-1-5 2-4-1-3 1-7-2-2-1-14-1-4-10 7-6-1 3-7v-5l-7-12 3-8 3-1 3-9h3l9-14 7-4 3 1 2-6 3-1 3 4-2 8-6 5-2 6 5-2 1 10 9 3zM220 437l5-2 6-1-2-3 9-5 2-7-1-4 1-5-1-4-4-4-6-11-6-2 5-4-1-5-7 1-4-9 3-1 9-1 5-3 7 2 1 5 5 1-7 5-5 5-2 4 8 12 4 4 3 4 2 10-1 10-12 8-5 5-7 6-2-4 2-4zM366 278l1 1-5 2v3l-9 4 4 5-11 3-6-1 3-5-5-2 8-5 3-3 13-2zM347 296l10-3 5 8 1 4-2 3-8 2-5 1v-6l-2-4zM205 261l18-6 7 2h7l11-8 9 2 4 3 12-1 4 2h8l9-1 7-3 8 1-6 6 7 1 3-1 7 3-10 2-7 3-11 4-6-1-2 5-7 4-19 3-6 2h-6l-5-2-22 1v-6l-6-2h-8l4-6-4-3z"/><path class="b" d="M199 345l-2 6-4-1-6 4-9 14-3-1-3 10-3 1-1-10 3-5h-10l1-4-5-1-3 3v8l-2 3v8l-1 2-9 2v4l-4 3-7 5-6 7-9 8-1 3-8 4-2 5-1 12-3 5-1 10-3 1-9 15-3-5-1-13-2-8 1-10-2-7 2-18 3-11-6 4h-2l-2-6 2-2-2-5 4-4 7-2v-12l6-6 4-1 15-16 5-9 2-7 2-2 8-1 6-5 1 5-4 8-4 5 6 5-7 8 10 5h5l1 2h12l2-7 2 2 3 3 11-2v-4l3-1 12-8 3 1 4-2z"/><path class="b" d="M169 378l-3 8-2-11h-4l-2 6-6-1v-8l2-3v-8l3-3 5 1-1 4h11l-4 5zM173 350v4l-11 2-3-3 7-5zM157 351l-2 7h-12l-1-2h-5l-10-5 7-8h4l5 5 5 2zM135 320l-5 5-9 1-2 2-2 7-5 9-15 16-4 1-6 6v12l-7 2-4 4-1-1v-7l-14 5 4-6 5-4 2-7v-7l2 2 7-3 4-3 6-7 6-3 9-12 3-1 10-12 12-4-1 4z"/><path class="b" d="M108 319h2l12-6h9v1l-12 5-10 12-2 1-10 12-6 3-5 7-5 3-7 3-2-2 5-5v-3l5-10 8-10h3l6-5 4-4z"/><path class="b" d="M110 319l5-5 3-6h2l5-5 3 1 5 2 1 3-3 4h-8zM135 295l4-3 3 1 5-4 13-1 2 2-10 6-4 1-13 6-2 2-5-1 8-4zM97 309l3-1 10-7v5l-3 4 1 9-5 2-3 4-7 5h-3l2-7-2-1-8 6 8-12z"/><path class="b" d="M51 367l10-17 10-15 10-12-3 4 1-1v1l3 1 8-6 2 1-2 7-8 10-5 10v3l-5 5v7l-2 7-5 4-3 6h-8l-3-2-2-4z"/><path class="b" d="M79 326l-1 1 3-4 4-5 2-2zM553 634l4 7-2 1-5-5-4-8 2-2zM551 743l-6 6 1-8-3-2 5-3 4-7 1-5v-8l4 1-2 11 2 4h6l-6 7h-2zm-32 14l7-5 8-7 4 5-12 9-4 2-7 7-6 3-3-1-4-4 11-7zM443 735h2l-2 6-8 8-3-1-3-12 1-2 6 2zm-96-49l-10 4-3 5-7 1-5-1-7 1-9 6h-7l-8-4 2-4 1-7-4-9-2-7-5-7-5-14h4l-5-8 2-7 4-8 11-7h4l10-5 9-1 7-9 1-6 4-5 4-2 11-11 8-3 8 7h7l-1-3 7-11 4-2 8-1 3-4 3 3 10 3 7-3 2 3-9 14v2l9 6 12 9 5 2 4-2 6-13-1-8 2-8 5-10 1 6 4 7v5l1 5 4-2 4 5-1 3 1 8 3 6v7l5 4 7 6 3 11 5 1v6l7 12 1 4-2 7 1 5-1 5-4 8-3 7-3 4-4 3-13 18-1 5-3 2h-5l-11 5-7-5-5 4-12-5-3-4-1-6-6-3-3-5 3-6-8 2-2 4-4-2 1-3-4-7-6-4h-4l-5-3-9 1-13 3zM106 465l-1 7-6 3-2-4v-8l3-10 3 3zM252 393l-4-2v-4l3-3 6-2 4 2-4 6zm-90-103l4-4 2-6 10-3 7-7h6l6-5 7-3 1-1v4l4 3-4 6h8l6 2v6l22-1 5 2 6 1 6-3 19-3 7-4 2-5 6 1 11-4 7-3 10-1-7-4-3 2-7-2 6-6 5 2 12-8 1-4 10-1 8 2 7 9 7 2 5 2 2 3h6l9-2-5 11-6-1-3 2 1 7-2 2h-4l-13 2-3 3-8 5-7 1-4 2-3-3 2-4-10 4-3 3h-5v4l7 4 6-3 7 2 1 2-7 1-7 5-3 3 5 2 2 4 6 8v9l-2 7-3 1-9 12-6 6-15 9-7 1-3 2-13 4-6 1-2 6h-3v-5l-7-2-3 1-5-1-1-5-7-2-5 3-9 1-3 1-3 1v6l-3-1-9-3-1-10-5 2 2-7 5-4 2-8-2-4-3 1-4-6-4 3-3-1-12 8-4 1-6-2-7 5-2-2-9-1-5-2-5-5h-4l-6-5 4-5 3-8v-5l-5-1 1-4v-2l2-4v-3l2-3 12-6 5-1zM323 358l-7 13-2-4-1-4 4-5 4-4z"/><path class="b" d="M91 313l1-2-13 15 8-10zM326 437l2-6 7-2-1 6-6 7zm22 8l1 7h-4l-3 3 2 4-2 3-7-4-1-4 1-2-3-3-2 2-8 2 2-5 7-4 2 2 5-1 1-3 8-2zm-23-54l1 6-2 4-3 2-1 5 1 4h6l7 3-1 3h-7l-3-3-6 1-6-7 3-15 2-5zm-2 37l6 2-7 4zM195 462l9 3 2-2 5 3 2 4v12l2 2 2 7-4 1-11-9-4-6-2-8zm102 9l-12-1-2 7-2 2-3 8-5 2-6-2-6 4-8 1-4-3-1-4 5 2 4-1 1-5 10-3 7-9 7 1 1-6 4-5 4-4h2l3 5 9 3-3 6z"/><path class="b" d="M283 464l-1 6-7-1zM419 292l-3 4 1 10-1 3-6 2h-9l-6 5-4-2v-4l-9 1-5 2-4 11-3 2-3-2 1-4-5-4 5-2 2-2 8-5 10-2 5 1 4-7 3 2 9-5 2-5-2-5 1-2 5-1 3 6zm6-18l-3 7-8-3-1 5h-5l-1-4 1-3h4v-8l6 4zm-47 41l2-2 5-2v4l-4 4zM30 423l-2 12-4 7-5 7-4 9-4 5 4-17 3-7 3-2 4-10z"/><path class="b" d="M47 374l-6 18v2l-3 7 5-1-1 3-5 12-7 8-5 4-4 10-3 2-3 7zM10 490l-5 22-3 9 5-40-1 6zM10 468l1-1-1 7-1 3z"/><path class="b" d="M14 470l-2 11-2 10-3-4 1-9 1-3h2z"/><g><path fill="none" stroke="#b90000" stroke-width="3" stroke-miterlimit="10" d="M354 542l347-376"/><g opacity=".5"><path class="f" d="M790 10l1 3v1l-8 1-8 4-3 4-3 5-10-2-9-1-4-1h-5l-5 1-8 5h-2l1-7 2-4 8-9 7 2h8l10-1 6-5 9-2 8 6zM648 40l1 4 5-2 5-1 11 1h8l5 2v8l-2 2-42 5-4-2-1-1 4-6-2-3 2-4 5-3zM670 91l-1 6 2 1 2 1 8-4 2 1 1 2v5l-3 4h-8l-1 2v2l1 3 2 2 2 3 2 9-4 3-2 6-8 6-9 10-7 5-5 6-6 4-6 1-10 1-13 7-7 4h-7l-7-3-2-2 1-4 2-3 2-2 2-3-7-4-1-3 3-9 2-8 3-6 10-10 7-5 4-2 1 2 2 2 1 1 2-1 9 1 3-1 3-4 3-2 1-5v-3l9-2 4-3 4-3 12-6zM855 37l11 3h6l2 2-6 5-13-4-3-4zM544 217h-6l-2-1v-6l2-3 13-4 6-4 7-7 5-2 1-1h1l1 6 2 3v2l-7 3-6 7-13 5zM629 52l-3 4-3 7-3 2-5 1-3-7-6 1 3-6 3-3h3l2 3h1l8-10h2l1 1 1 1zM606 48l-9 2-5 8h-5l-2 4-1 1 1 2-1 1-1 1-4-2-4 3h-1l-6-3h-6l6-6 8-5 2-2-4-1-2-1v-1l5-1h4l3 2h2l11-7 4 2 3 2zM568 54l-2 3-17-1v-3l5-4 2-2 5-1 8 2zM829 7l-4 2 1-5V0l7 1v3l-1 1zM574 178l-6 2v-5l4-5 5-2 2 2v1l-6 2zM546 66l-2 4-4-2 1-3 2-2 5-3 5-1 3 1 1 1-8 2zM546 41l-4-3-4-1-4 2-2 4 10 2-4 6-7 3-9 3-3 2-3 2-2 3-1 3-2 2-7 2h-4l-2-1-2 8h14l4-1 5-2 5-3 10-2 2-1 2-2-3-5 6-4 1-3 3-1 3-2-2-11z"/></g><path class="c" d="M679 128l-2-9-2-3-2-2-1-3v-2l1-2h8l3-4v-5l-1-2-2-1-8 4-2-1-2-1 1-6 6-5 6-10 4-4 9-3 4-1 27-6h24l22-1 6-1 7-2 7-3 4-2 4-2 6 2 10 2 3 1 2 2-11 10-13 9-8 2-8 2-6 3-5 5-7 3-7 1-7 2-6 3-8 5h-7l-6 2-21 7-13 9zM613 117l11-6 15-4v3l-2 5-2 2-4 4-2 1-9-1-2 1-1-1-3-2zM716 40l-4 11-5-2 5-6 2-2z"/><text transform="translate(735 157)" font-size="32.1" font-family="Antipode-MediumSemiCondensed,Antipode" font-weight="500" fill="#b90000"><tspan letter-spacing="0em">E</tspan><tspan x="17.8" y="0">A</tspan><tspan x="37.5" y="0" letter-spacing="0em">S</tspan><tspan x="54" y="0">T</tspan><tspan x="0" y="38.6">TIMOR</tspan></text></g></svg>
          .col-3-5
            .sm
              span.xs.txt-tu.txt-red.fw-5 In East Timor,
              | &ensp;China supported the establishment of the International Force in East Timor (INTERFET) and the United Nations Transitional Administration in East Timor (UNTAET) – China also deployed to these missions.
        .row
          .sm China also participated in United Nations Mission in Liberia (UNMIL), the UN-AU Hybrid Mission in Darfur (UNAMID), the UN Mission in Sudan (UNMIS), the UN Interim Force in Lebanon (UNIFIL) and the UN Organization Mission in the Democratic Republic of Congo (MONUC).

block append css
  style
    :sass
      
      $red: #b90000
    
      #infographic-peacekeeping-participation
        position: relative
        height: 480px
        max-width: 600px
        color: black
        box-shadow: 0 0 20px 5px #aaa
        background: white
        padding: 30px 40px
        
        .flex-row-end
          align-items: flex-end
          
        .chart-title
          margin-bottom: 1em
        
        .row:last-child
          .sm
            margin-top: 1.4em
        
        .sm
          font-size: 16px
          margin: 0 auto 0.75em
          max-width: 460px
        
        .close
          position: absolute
          top: 0
          right: 0
          fill: #B90000
          cursor: pointer
          transition: 300ms
          
          &:hover
            fill: lighten(#b90000,20)
        
        hr
          margin: 20px 0
          

        @media (max-width: 600px)
            
          padding: 20px
          
          svg
            margin-bottom: 10px
          
          .sm
            font-size: 15px
          
          .flex-row-end
            flex-direction: column
            align-items: center
            
          .col-2-5
            flex-basis: 33%
            width: 33%
          .col-3-5
            flex-basis: 100%
            width: 100%
            
          .row:last-child
            .sm
              margin-top: 0

          
