$bg-color: #fff
$txt-color: #2d3440
$stroke-color: #ced3de

$bg-light: #f1f4f9

$highlight-blue: #0056fa
$highlight-red: #fa0051
$highlight-grey: #002a45

$g: transparent
$steps: 10
@for $i from 1 to $steps
  $g: append($g, rgba($bg-color, $i/$steps) percentage($i / $steps), comma)
  $g: append($g, rgba($bg-color, $i/$steps) percentage(($i + 1) / $steps), comma)

$g: append($g, $bg-color)

html, body
  height: 100%
  box-sizing: border-box

body
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: $bg-color
  color: $txt-color

  &.embed-false
    padding: 20px

  // record
    height: 840px
    border: solid red
    border-width: 10px 0

body, h1, h2, h3
  font-family: Wide, sans-serif

#wrapper
  max-width: 1280px
  max-height: 720px
  width: 100%
  height: 100%
  margin: auto
  position: relative
  line-height: 20px
  text-transform: uppercase
  z-index: 0
  overflow: hidden

#controls,
#chart-title,
#chart-year,
#chart-source,
#chart-logo,
#map-wrapper,
#map-scale,
#map-timeline,
#map-scale-min,
#map-scale-max
  position: absolute

#map-wrapper
  left: 0
  top: 0
  bottom: 96px
  right: 0

#map
  margin: 0

.country,
.background
  fill: $bg-light

.country
  transition: opacity 600ms


  &#country-USA,
  &#country-CHN
    opacity: 1 !important

  &#country-USA
    fill: $highlight-blue !important

  &#country-CHN
    fill: $highlight-red !important

#map-scale
  bottom: 12px
  left: 0
  z-index: 10
  max-width: 304px
  line-height: 16px

  .map-legend-label
    min-width: 44px

.map-legend-label-no-data
  margin-bottom: 16px
  text-align: left

  &:before
    content: ""
    display: block
    float: left
    width: 1em
    height: 1em
    border: 1px solid
    margin-top: -1px
    margin-right: 0.5em
    background: $bg-light

#map-scale-canvas-wrap
  margin: 3px 0 6px
  height: 12px
  position: relative

  &:after
    content: ""
    position: absolute
    left: 50%
    margin-left: -0.5px
    border: 1px solid rgba(#000, 0.2)
    top: 0
    bottom: -4px

#map-scale-canvas
  width: 100%
  height: 100%
  display: block
  image-rendering: pixelated

#map-scale-min,
#map-scale-max
  color: #fff
  background: $highlight-grey
  padding: 4px 8px
  bottom: 0

#map-scale-min
  left: 0

#map-scale-max
  right: 0

#map-timeline
  left: 0
  right: 0
  bottom: 0
  height: 96px

#map-timeline-minimap
  cursor: ew-resize
  width: 100%
  height: 100%
  display: block
  user-select: none
  box-sizing: border-box
  background: white
  image-rendering: pixelated

#controls
  bottom: 8px
  left: 50%
  margin-left: -48px
  overflow: hidden
  color: $highlight-grey

.btn
  padding: 8px
  width: 16px
  cursor: pointer
  float: left
  position: relative
  z-index: 100

  &:focus,
  &:hover
    outline: none

    .btn-icon
      fill: $txt-color

#btn-pause
  display: none

  .playing &
    display: block

#btn-play
  .playing &
    display: none

.btn-icon
  width: 16px
  height: 16px
  display: block
  transition: fill 300ms
  fill: currentColor

#chart-year
  left: 50%
  bottom: 108px
  width: 2.8em
  line-height: 1em
  margin: 0 -1.4em
  font-weight: 600
  font-size: 32px
  pointer-events: none

#chart-title
  left: 50%
  bottom: 48px
  text-align: center
  letter-spacing: 0.05em
  font-weight: bold
  z-index: 10
  width: 480px
  margin-left: -240px

.chart-title-main
  font-size: 24px
  line-height: 1.2
  margin: 0
  letter-spacing: 0.03em

.chart-title-sub
  font-size: 75%
  letter-spacing: 0.05em

#chart-source
  right: 0
  bottom: 112px
  color: #a2acb1
  text-transform: none
  line-height: 16px

#chart-logo
  bottom: 2px
  right: 12px
  opacity: 0.5
  width: 120px
  display: none

  img
    width: 100%

  &:hover
    opacity: 1

#map-scale,,
#map-timeline,
#chart-source
  font-size: 14px

@media (max-width: 1080px)
  #chart-source
    font-size: 14px

  #chart-title
    top: -40px
    bottom: auto

  #chart-year
    bottom: 12px
    left: auto
    right: 104px
    margin: 0
    font-size: 28px

  #map-wrapper
    top: 40px

  #map-scale
    left: 0

  #map-timeline
    bottom: 24px
    height: 72px

  #controls
    bottom: 12px
    right: -4px
    left: auto

  #chart-source
    bottom: 0

@media (max-width: 800px)
  #map-wrapper
    top: 0

  #chart-title
    top: 0

@media (max-width: 600px)
  body.embed-false
    padding: 12px

  #map-scale
    right: 0
    max-width: none
    text-align: center

  .btn
    color: #fff
    background: #002a45
    border-radius: 50%
    padding: 12px

    &:hover
      background: #fff

  #btn-play .btn-icon
    margin-left: 1px

  #controls
    right: 50%
    bottom: -56px
    margin-right: -20px

  #btn-reset,
  #btn-end
    display: none

  #chart-year
    right: 50%
    margin-right: -40px
    bottom: 80px

  #chart-title
    width: 100%
    margin: 0
    left: 0

    br
      display: none

  #map-legend
    left: 12px
    right: 12px
    width: auto
    bottom: 0

  #chart-source
    font-size: 13px

  #wrapper
    padding: 0
    position: relative
    overflow: visible

  #chart-legend
    bottom: 2px

  .chart-title-label
    font-size: 10px
