extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/usa-rules-based-order/data").articles[3]

block content
  :marked

    Support for a reformed rules-based order may be the cornerstone of US foreign policy. But the word &quot;reformed&quot; is crucial in that statement. The US approach to strengthening global order [will have to change](https://www.rand.org/pubs/research_reports/RR2397.html) in ways that will sit uneasily with the expectations and habits of the world&#39;s leading power.

    The benefits to the United States of the post-war, rules-based order are obvious and [well documented](https://www.rand.org/pubs/research_reports/RR2226.html). Centred on the first global governance institution (the United Nations), a deepening trade regime, and muscular economic organisations, the order [incorporates](https://www.rand.org/pubs/research_reports/RR1994.html) thousands of subsidiary groups, standard-setting bodies, coalitions, business and professional associations, and non-state actors into the most densely institutionalised system the world has seen.

    The resulting mosaic of institutions, norms, rules, agreements, and processes is not built on naïve assumptions about peace and harmony. It has [long](https://www.amazon.com/After-Hegemony-Cooperation-Political-Princeton/dp/0691122482) been [established](https://www.cambridge.org/core/journals/world-politics/article/cooperation-under-the-security-dilemma/C8907431CCEFEFE762BFCA32F091C526) that states can [pursue](https://journals.sagepub.com/doi/full/10.1177/0047117812438451) hard-headed, selfish [interests through cooperation](https://muse.jhu.edu/article/447360/summary). Coordination on trade and finance protects national economies; shared technological standard-setting improves efficiency; on some issues, like climate and counter-terrorism, coordinated action is imperative.

    The post-war order has also moulded the shape of world politics. By gathering together a [predominant set](https://www.tandfonline.com/doi/abs/10.1080/0163660X.2017.1328917?scroll=top&amp;needAccess=true&amp;journalCode=rwaq20) of status-quo-oriented, democratic, trading nations, the order has helped to lock in an alignment of world power that has been profoundly favourable to the United States.

    For similar reasons, a revalidated order could help address challenges from revisionist states. A rules-based system highlights the importance of [legitimacy](https://www.jstor.org/stable/2601393?seq=1) in world politics, distinguishing between countries that follow the rules and those that flout them. It sets the terms of a particular form of competition for influence, which rule-breakers will be [hard-pressed to win](https://ndupress.ndu.edu/Media/News/News-Article-View/Article/2383026/the-essence-of-the-strategic-competition-with-china/).

    The real question is not, therefore, _whether_ to place a rules-based order at the core of US foreign policy, but _how_ to go about it.

    Like the broader trend of neoliberal economics, the post-war order started to accelerate out of control. Global and regional institutions grabbed too much authority from democratically accountable national governments. Leading democracies became gratuitous with interventions to promote worthy goals. The United States, at times, wielded its leadership role too coarsely.

    To help revalidate the existing rules-based order, the United States could return to many institutions it has recently scorned — from the Paris climate agreement to the Open Skies Treaty to the World Trade Organization Appellate Body. It could recommit itself to key alliances and partnerships. It could fashion new multilateral institutions and processes to tackle urgent shared challenges — most notably, cybersecurity and the danger of future pandemics.

    But such an agenda also highlights the need to mitigate the excesses of the current order. A new approach to trade and capital flows could return more authority to nations. Liberal interventions would only be pursued when true global consensus is achieved. Leading institutions of the order could offer a greater voice to more actors.

    This course would require a complex, multi-pronged approach to solving problems. It would often call on Washington to [step aside and let others lead](https://www.npr.org/2020/12/02/940807637/opinion-with-biden-america-is-back-but-not-at-the-head-of-the-table) — and live with the resulting deals, imperfect as they may be. It would demand a nuanced approach to undemocratic states who flout some values of the order but who are essential to multilateral action.

    Such an agenda would pose the toughest test for US foreign policy since 1945. But it would be grounded in a single, essential strategic insight: a deepening rules-based order dominantly influenced by a guiding coalition of value-sharing democracies represents the safest possible world for US interests and values.
    
    <hr>

    **Dr Michael Mazarr** is a senior political scientist at the RAND Corporation. He was previously Professor and Associate Dean of Academics at the US National War College; President of the Henry L Stimson Center; Senior Fellow at the Center for Strategic and International Studies; Senior Defence Aide on Capitol Hill; and Special Assistant to the Chairman of the Joint Chiefs of Staff. His primary interests are US defence policy and force structure, East Asian security, nuclear weapons and deterrence, and judgment and decision making under uncertainty. His most recent book is [_Leap of Faith: Hubris, Negligence, and America&#39;s Greatest Foreign Policy Tragedy_](https://www.amazon.com/Leap-Faith-Negligence-Americas-Greatest/dp/1541768361).

    <hr>
