//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "China"
  - page.expert = "Richard McGregor"
  - page.expertrole = "Lowy Institute Senior Fellow"

block intro-image
  img.bg-img(data-src="../../img/china-2.jpg")

block intro-caption
  :marked
    Photo: <br><a href="https://unsplash.com/photos/EElid51KYQ0">Jeffrey Lee / Unsplash</a>

block intro-description
    :marked
      Xi is turning China’s COVID failure into success, but is not out of the woods yet.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              In early April, Chinese leaders and most citizens stopped for a moment’s silence, to commemorate what the official media called the “martyrs” who had died in the coronavirus outbreak in the preceding months.

              The event, which stopped traffic and public transport, had the feeling both of finality and victory, in stark contrast to many countries, especially the US, which are now bunkered down and watching death tallies rise.

              The possibility that China looks to have beaten COVID-19 will be an immense relief to Xi Jinping and the ruling communist party, which only a month ago seemed to be on its knees fighting the spread of the virus.

              Barely pausing for breath, the CCP is so confident about the outcome that it has rapidly turned its attention abroad. Beijing, along with some of the country’s richest businessmen, have dispatched masks to first world nations like the US and European states, and organised teleconferences with poorer Pacific nations to teach them how to take on a similar challenge.

              Beijing’s global propaganda efforts seem to be bearing fruit. This is remarkable, given the way the crisis started earlier this year, with a cover-up in Wuhan (a city of 11m people in central China) allowing the virus to spread to the rest of China and then the world. 

              COVID-19 is being played out on multiple levels, as a crisis within nations and between nations, politically and economically, and as a vector of soft power. As a result, it is feeding into the big seismic shifts underway in the world, notably of US-China rivalry and the debate over the decoupling the world’s major economies into separate and warring camps.

              In that context, it is difficult to answer definitively the big questions about what COVID-19 means for the ruling communist party and its seemingly impregnable leader, Xi.

              Xi has earned himself many enemies in his ruthless accumulation of power in the past seven years, but his firm control over the party has allowed him to shunt aside his critics. 

              COVID-19 threatened Xi’s position, as the economy went into a downwards spiral and the CCP’s reputation for competency at the outset of the crisis took a hit.

              The brutal quarantine imposed by the party-state, however, has for the moment stabilised the situation inside China. The propaganda campaign, contrasting China’s situation with that of other countries, is being leveraged to boost Xi and the CCP’s standing with its citizens.

              But Xi and China aren’t out of the woods yet.

              China has not experienced a genuine recession since 1989-90, in the aftermath of the military suppression of protesters in Beijing and elsewhere.

              By the accounting of one long time China economist, Andy Rothman, of Matthews Asia, Beijing “published the worst macro data since the Tang Dynasty” in mid-March. (The Tang Dynasty lasted from 618 to 907).

              Despite signs of a reboot, China is not on track to a V-shaped economic recovery, especially while its major overseas export markets are in free fall.

              Economic growth, competent government and nationalism are the three pillars of enduring CCP rule. The first two have been damaged. The third is being bolstered by China’s progress in the cornering of the virus.

              Xi is safe for the moment, but the longer-term verdict is yet to come.
