//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "China"
  - page.expert = "Richard McGregor"
  - page.expertrole = "Senior Fellow"

block intro-image
  img.bg-img(data-src="../../img/china.jpg")

block intro-caption
  :marked
    Photo: <br><a href="https://unsplash.com/photos/EElid51KYQ0">Jeffrey Lee / Unsplash</a>

block intro-description
    :marked
      After initially failing to handle COVID&#8209;19, Xi Jinping senses an opportunity.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              In early April, Chinese leaders and most citizens stopped for a moment’s silence, to commemorate what the official media called the “martyrs” who had died in the coronavirus outbreak in the preceding months. The event, which stopped traffic and public transport, had the feeling both of finality and victory, in stark contrast to many countries, especially the United States, which are now bunkered down and watching death tallies rise.

              The possibility that China looks to have beaten COVID-19 will be an immense relief to President Xi Jinping and the ruling Communist Party (CCP), which only a month ago seemed to be on its knees fighting the spread of the virus.

              Chinese leaders have navigated their way through many peaks and troughs in recent decades that have crippled other nations, most recently the global financial crisis. If they get through COVID-19, the CCP will feel bullet proof, and emboldened to press forward with Xi’s assertive foreign policy, at the expense of the West.   

              The CCP has become so confident about the outcome that, barely moments after its own infections stabilised, Beijing rapidly turned its attention abroad. The Chinese government, along with some of the country’s richest businesspeople, have dispatched masks to first world nations like the United States and European states, and organised teleconferences with poorer Pacific nations to teach them how to take on the challenge of dealing with the virus.

              Beijing’s global propaganda efforts seem to be bearing fruit. This is remarkable, given the way the crisis started earlier this year, with a cover-up in Wuhan (a city of 11 million people in central China) allowing the virus to spread to the rest of China and then the world. 

              Xi has earned himself many enemies in his ruthless accumulation of power in the past seven years, but his firm control over the party has allowed him to shunt aside his critics. 

              COVID-19 threatened Xi’s position, as the economy went into a downwards spiral and the CCP’s reputation for competency at the outset of the crisis took a hit.

              The brutal quarantine imposed by the party-state, however, has for the moment stabilised the situation inside China. The propaganda campaign, contrasting China’s situation with that of other countries, is being leveraged to boost Xi and the CCP’s standing with its citizens.

              But Xi and China aren’t out of the woods yet.

              China has not experienced a genuine recession since 1989−90, in the aftermath of the military suppression of protesters in Beijing and elsewhere.

              By the accounting of one long time China economist, Andy Rothman, of Matthews Asia, Beijing “published the worst macro data since the Tang Dynasty” in mid-March. (The Tang Dynasty lasted from 618 to 907 CE.)

              Despite signs of a reboot, China is not on track to a V-shaped economic recovery, especially while its major overseas export markets are in free fall.

              Economic growth, competent government and nationalism are the three pillars of enduring CCP rule. The first two have been damaged. The third is being bolstered by China’s progress in the cornering of the virus.

              Xi is safe for the moment, but the longer-term verdict is yet to come.
