mixin infographic(id)
  .fixed.top-0.z10.display-none.article-w.mx-auto
    case id
      when 1
        include ../../charts/wto/index
      when 2
        include ../../charts/un-leadership/index
      when 3
        include ../../charts/who/index
      when 4
        include ../../charts/unsc/index
      when 5
        include ../../charts/chinese-peacekeepers/index
