extend ../../partials/issue

block append config
  - page.title = "Relations with China"

block intro-image
  img.bg-img(data-src="../../img/xi.jpg")

block intro-caption
  :marked
    Photo: [United Nations / Flickr ](https://www.flickr.com/photos/un_photo/21766728656)

block intro-description
  :marked
    Australia’s relationship with China is strained. A decision to bar the
    influential Chinese tech company Huawei from future Australian 5G
    infrastructure has angered Beijing. In response, some Chinese ports banned
    imports of Australian coal. The People’s Republic of China (PRC) is our
    most important trade partner, and its influence in our region is likely to
    increase. Whichever party wins the upcoming election will be keen to reset
    the relationship.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Liberal–National Coalition anticipates increasing China–US
            competition and tension, particularly in the Pacific. However, it
            also calls for a continued partnership with China, while
            recognising that the PRC is altering the balance of world power
            more than any other nation. The Coalition has also announced a $44
            million national foundation for Australia–China relations in a bid
            to improve strained relations with the PRC.

        .txt-source
          :marked
            Scott Morrison's address on Asia *[→][1]*

            [1]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/made-in-china.jpg")
        .txt-highlight.txt-lg.txt-dk
          span.bg-ff.p-xs
            | Nearly one-third of all Australia’s 
          span.bg-ff.p-xs
            | exports go to China, while almost one-fifth 
          span.bg-ff.p-xs
            | of our imports come from the PRC.
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Australian Labor Party stresses the importance of the
            relationship with China, particularly given how many Australians
            “claim some Chinese identity”. It concedes that the different
            styles of government between the two countries are likely to affect
            the nature of interactions but doesn’t want to pre-emptively frame
            China as only a threat or an opponent.
 
        .txt-source
          :marked
            Bill Shorten's foreign policy vision *[→][1]*

            [1]: https://www.lowyinstitute.org/publications/foreign-policy-next-labor-government
    .row
      .col-1-2.bg-lt.frame.p-md
        img.bg-img.bg-img-abs(data-src="../../img/grads.jpg")
        .txt-highlight.txt-lg
          span.bg-ff.p-xs
            | The Australia-China trade relationship
          span.bg-ff.p-xs
            | is much deeper than just materials –
          span.bg-ff.p-xs
            | service exports are also important,
          span.bg-ff.p-xs
            | particularly education and tourism.

      .col-1-2.bg-ff
        .p-md.txt-lg(style="max-width: 400px")
          :marked
            In 2015 Australia and several other nations joined the Chinese-led
            Asian Infrastructure Investment Bank, a potential rival to the
            World Bank. Seventy nations are now members of the AIIB.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | The bigger unknown is Bill Shorten,  
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | who has had little to say
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | on foreign policy

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              Superficially, the Coalition and Labor policies on China and the
              region are broadly similar. After partisan tussles in 2017, both
              major parties supported the anti-foreign interference laws and
              related bills. Both have been critical of China’s policies on the
              South China Sea and, to a lesser extent, the situation in
              Xinjiang. Both support vigorous economic engagement, as would be
              expected for a country that is such a valuable trade partner.
              They also back the revamped Trans-Pacific Partnership and related
              trade liberalisation deals, although Labor wants to modify parts
              of those agreements. Both parties support the US alliance.

              Labor, however, has been critical of the Coalition’s handling of
              China policy and promises to be more disciplined in its public
              utterances. That will be tested in office. Shadow Foreign
              Minister Penny Wong and Shadow Defence Minister Richard Marles
              have managed to work out a joint position on core issues in their
              portfolios after early tensions between the pair. Shadow
              Treasurer Chris Bowen, who remains close to Paul Keating, has a
              vision of much greater engagement with Asia, including China,
              something that will be difficult to push forward in office if
              relations with Beijing remain tense. The bigger unknown is Bill
              Shorten, who has had little to say on foreign policy. Mr Shorten
              is well-schooled in the US alliance while having relatively
              little interaction with Beijing. Ultimately, he would set the
              tone and direction of foreign policy as prime minister, should he
              be elected. Shorten is also a dealmaker, which, is fraught
              territory when it comes to China.

          .txt-sm.txt-tu
            | Richard McGregor<br>
            span.txt-mt Senior Fellow
