extend ../../partials/issue

block append config
  - page.title = "Relations with China"

block intro-image
  img.bg-img(data-src="../../img/xi.jpg")

block intro-caption
  :marked
    Photo: [United Nations / Flickr ](https://www.flickr.com/photos/un_photo/21766728656)

block intro-description
  :marked
    -

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Liberal Party envisions increasing China-US competition and
            tension, particularly in the Pacific. However, it also calls for a
            continued partnership with China, while recognising that the PRC is
            altering the balance of world power more than any other nation.
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img(data-src="../../img/import-export.png")
        .flags-caption.txt-sans.txt-ff.bg-hl.txt-right
          | Nearly one third of all Australia’s exports go to China, while 
          | almost one fifth of our imports come from the PRC. 
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Labor Party stresses the importance of the relationship with
            China, particularly given how many Australians “claim some Chinese
            identity”.  It concedes that the different styles of government
            between the two countries are likely to affect the nature of
            interactions but doesn’t want to pre-emptively frame China as only
            a threat or an opponent.
 
    .row
      .col-1-2.bg-lt.frame.p-md
        img.bg-img.bg-img-abs(data-src="../../img/grads.jpg")
        .txt-highlight.txt-lg
          span.bg-ff.p-xs
            | The Australia-China trade relationship
          span.bg-ff.p-xs
            | is much deeper than just materials –
          span.bg-ff.p-xs
            | service exports are also important,
          span.bg-ff.p-xs
            | particularly education and tourism.

      .col-1-2.bg-ff
        .p-md.txt-lg(style="max-width: 400px")
          | In 2015 Australia and several other nations joined the Chinese led 
          | Asian Infrastructure Investment Bank, a potential rival to the 
          | World&nbsp;Bank.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              This is where our expert will have the opportunity to give their
              impression of the issue and where they think we should be headed.
              This text is 160 words long, which is all we need.

              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat. Duis autem vel eum iriure dolor in hendrerit
              in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.

              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
