.container
  footer#footer
    .scroll-prompt.txt-sm.txt-tu.txt-lt Scroll down to start

    include social

    nav.pager
      .pager-page
        span.pager-page-start
        span.pager-page-middle
        span.pager-page-end

      ul.pager-list
        for item, i in new Array(12)
          li.pager-item
            a.pager-link(href=`#scroll-item-${i + 1}` tabindex="0")

#controls
  #btn-prev &uarr;
  #btn-next &darr;
