.container
  header#header.txt-tu.txt-sm.num-lf
    a.txt-bare.header-logo(href="https://www.lowyinstitute.org/")
      | Lowy Institute

    .header-page
      .pager-index 1
      .pager-total 12

    .header-title
      a.txt-bare(href="#scroll-item-intro")= page.title

    include social
