svg.bg-img
  g
    circle(r="3" cx="20" cy="0")
    circle(r="3" cx="25.806199942674372" cy="3.168602928533834")
    circle(r="3" cx="30.98432918077246" cy="7.657999636982032")
    circle(r="3" cx="35.325221624025595" cy="13.311322234217961")
    circle(r="3" cx="38.657303954714806" cy="19.94651962579014")
    circle(r="3" cx="40.84811569317795" cy="27.364151433745164")
    circle(r="3" cx="41.804466224463155" cy="35.354845925811496")
    circle(r="3" cx="41.47139276455411" cy="43.70623195665636")
    circle(r="3" cx="39.8300993469155" cy="52.20919755718559")
    circle(r="3" cx="36.895064773983485" cy="60.66336910800033")
    circle(r="3" cx="32.71050811130133" cy="68.88174383371349")
    circle(r="3" cx="27.346394791677145" cy="76.69444376632481")
    circle(r="3" cx="20.894155859283142" cy="83.9515907183796")
    circle(r="3" cx="13.462278421717613" cy="90.52532878719686")
    circle(r="3" cx="5.17190804663641" cy="96.31104329755983")
    circle(r="3" cx="-3.8474153805963445" cy="101.227842881661")
    circle(r="3" cx="-13.46178704326867" cy="105.21838474503342")
    circle(r="3" cx="-23.536650970150674" cy="108.24813235446942")
    circle(r="3" cx="-33.940137342214115" cy="110.3041401867423")
    circle(r="3" cx="-44.54598145956689" cy="111.3934622497112")
    circle(r="3" cx="-55.23600004644752" cy="111.54128034141038")
    circle(r="3" cx="-65.90211634075474" cy="110.78884500225122")
    circle(r="3" cx="-76.44793916462565" cy="109.19131743110621")
    circle(r="3" cx="-86.78991274647282" cy="106.81559490900935")
    circle(r="3" cx="-96.85806336922235" cy="103.73819619770822")
    circle(r="3" cx="-106.59637590053616" cy="100.0432777603624")
    circle(r="3" cx="-115.96283786889697" cy="95.82084751228271")
    circle(r="3" cx="-124.92919088158459" cy="91.16524160529907")
    circle(r="3" cx="-133.48042857652501" cy="86.17393380489445")
    circle(r="3" cx="-141.61407633269525" cy="80.94676048251193")
    circle(r="3" cx="-149.33927917021538" cy="75.58567529104735")
    circle(r="3" cx="-156.6757071887119" cy="70.19521395226987")
    circle(r="3" cx="-163.65225382430313" cy="64.88399393745078")
    circle(r="3" cx="-170.30542690954414" cy="59.76791261077562")
    circle(r="3" cx="-176.67713682203166" cy="54.97661581080778")
    circle(r="3" cx="-182.810940509202" cy="50.66782769882352")

  g
    circle(r="3" cx="18.477590650225736" cy="7.653668647301796")
    circle(r="3" cx="22.629248094437393" cy="12.803012562690144")
    circle(r="3" cx="25.695197972576985" cy="18.932258565014372")
    circle(r="3" cx="27.542226757954097" cy="25.816435222995988")
    circle(r="3" cx="28.08148931169364" cy="33.22169099047302")
    circle(r="3" cx="27.266930636156516" cy="40.91307655328816")
    circle(r="3" cx="25.09257692271245" cy="48.661495148915314")
    circle(r="3" cx="21.5889200989902" cy="56.24970807604585")
    circle(r="3" cx="16.818618642295586" cy="63.47732816144218")
    circle(r="3" cx="10.87172888628161" cy="70.16477511709928")
    circle(r="3" cx="3.8606667844974285" cy="76.15620281009232")
    circle(r="3" cx="-4.084918547824738" cy="81.32143907473517")
    circle(r="3" cx="-12.823199941126209" cy="85.55700366707707")
    circle(r="3" cx="-22.205020041469467" cy="88.78628935422336")
    circle(r="3" cx="-32.07842063545512" cy="90.95900518058734")
    circle(r="3" cx="-42.292766688070074" cy="92.04999003505414")
    circle(r="3" cx="-52.70240214244148" cy="92.05750923834827")
    circle(r="3" cx="-63.16979693170297" cy="91.00114753523074")
    circle(r="3" cx="-73.56816519183617" cy="88.9194092167259")
    circle(r="3" cx="-83.78355300287161" cy="85.86713074505816")
    circle(r="3" cx="-93.71640991215295" cy="81.91280384963984")
    circle(r="3" cx="-103.2826719096263" cy="77.13589824674183")
    circle(r="3" cx="-112.4143944358674" cy="71.62426354578545")
    circle(r="3" cx="-121.05998250480533" cy="65.47168018496372")
    circle(r="3" cx="-129.1840712938078" cy="58.775620064333495")
    circle(r="3" cx="-136.76711485277426" cy="51.635269680843955")
    circle(r="3" cx="-143.80474325713087" cy="44.14986298201721")
    circle(r="3" cx="-150.3069500386002" cy="36.41736922642402")
    circle(r="3" cx="-156.29717272154517" cy="28.53358511709672")
    circle(r="3" cx="-161.81133077955064" cy="20.59169443067867")
    circle(r="3" cx="-166.89688908336225" cy="12.682390412656446")
    circle(r="3" cx="-171.61202452423885" cy="4.894724055548879")
    circle(r="3" cx="-176.02499726315497" cy="-2.6820122213699342")
    circle(r="3" cx="-180.2138881405131" cy="-9.954714158127372")
    circle(r="3" cx="-184.26703061086806" cy="-16.81964302514988")
    circle(r="3" cx="-188.28502446985897" cy="-23.14774922020007")

  g
    circle(r="3" cx="14.142135623730951" cy="14.14213562373095")
    circle(r="3" cx="16.007198358467114" cy="20.48827959377477")
    circle(r="3" cx="16.494205800606316" cy="27.324252747874542")
    circle(r="3" cx="15.566177538891377" cy="34.39122997564094")
    circle(r="3" cx="13.230522480301621" cy="41.43916105723515")
    circle(r="3" cx="9.534602565121965" cy="48.233356645555546")
    circle(r="3" cx="4.56057024925499" cy="54.559872853148775")
    circle(r="3" cx="-1.5802699475969582" cy="60.229676045730834")
    circle(r="3" cx="-8.753344289456223" cy="65.08161097653189")
    circle(r="3" cx="-16.806729171888907" cy="68.98423015989019")
    circle(r="3" cx="-25.576926063214703" cy="71.8365702663322")
    circle(r="3" cx="-34.89434006829922" cy="73.56798246469802")
    circle(r="3" cx="-44.5883397930961" cy="74.1371383836316")
    circle(r="3" cx="-54.491805492350814" cy="73.53034221678654")
    circle(r="3" cx="-64.44510056740586" cy="71.75928307030563")
    circle(r="3" cx="-74.29942765216997" cy="68.8583606408478")
    circle(r="3" cx="-83.91955426389279" cy="64.88171245352386")
    circle(r="3" cx="-93.18591394603871" cy="59.900062931209774")
    circle(r="3" cx="-101.99610678807942" cy="53.99750424991469")
    circle(r="3" cx="-110.26583810128845" cy="47.26830697194849")
    circle(r="3" cx="-117.92934591010452" cy="39.813845513177526")
    circle(r="3" cx="-124.93937694000964" cy="31.739710221824737")
    circle(r="3" cx="-131.2667771932715" cy="23.153064811184624")
    circle(r="3" cx="-136.89976733825546" cy="14.160295655016068")
    circle(r="3" cx="-141.84297542043348" cy="4.8649885784865425")
    circle(r="3" cx="-146.11630036566095" cy="-4.633740132697825")
    circle(r="3" cx="-149.75368007771044" cy="-14.242537967755982")
    circle(r="3" cx="-152.80183858813402" cy="-23.874717492900103")
    circle(r="3" cx="-155.319089157109" cy="-33.450743247185926")
    circle(r="3" cx="-157.37427693858564" cy="-42.89827043405072")
    circle(r="3" cx="-159.04596055763426" cy="-52.151673439906155")
    circle(r="3" cx="-160.42196679282665" cy="-61.15094320784551")
    circle(r="3" cx="-161.59953053926515" cy="-69.83970633198857")
    circle(r="3" cx="-162.68641854505302" cy="-78.16182593616416")
    circle(r="3" cx="-163.8039393739918" cy="-86.05526368097232")
    circle(r="3" cx="-165.09442026297697" cy="-93.43929115531756")

  g
    circle(r="3" cx="7.653668647301797" cy="18.477590650225736")
    circle(r="3" cx="6.948197778034681" cy="25.054391783424197")
    circle(r="3" cx="4.782120315841252" cy="31.556377144838773")
    circle(r="3" cx="1.2203188972832186" cy="37.73027172177063")
    circle(r="3" cx="-3.634671463731375" cy="43.34789449996363")
    circle(r="3" cx="-9.649282315064914" cy="48.21054542500389")
    circle(r="3" cx="-16.665741902979274" cy="52.15200450196935")
    circle(r="3" cx="-24.508878219845215" cy="55.04022182082624")
    circle(r="3" cx="-32.9926899024019" cy="56.77780848671725")
    circle(r="3" cx="-41.92651506701868" cy="57.30146150444141")
    circle(r="3" cx="-51.12066377321453" cy="56.58047109965405")
    circle(r="3" cx="-60.39141463135554" cy="54.61446741983229")
    circle(r="3" cx="-69.56530910587382" cy="51.43056583611117")
    circle(r="3" cx="-78.48270752646859" cy="47.08006703105598")
    circle(r="3" cx="-87.00059813426044" cy="41.63486061209074")
    circle(r="3" cx="-94.99467428221581" cy="35.18367004166595")
    circle(r="3" cx="-102.36071498132013" cy="27.828263101838417")
    circle(r="3" cx="-109.01532029450348" cy="19.67973674133471")
    circle(r="3" cx="-114.89606572284796" cy="10.854968749648888")
    circle(r="3" cx="-119.96114891109556" cy="1.4733119506293577")
    circle(r="3" cx="-124.1886080254254" cy="-8.34640988925777")
    circle(r="3" cx="-127.57519440954876" cy="-18.488560963175544")
    circle(r="3" cx="-130.13498305929843" cy="-28.842978157863914")
    circle(r="3" cx="-131.8978035939374" cy="-39.30686552500802")
    circle(r="3" cx="-132.90757234907218" cy="-49.7862933172037")
    circle(r="3" cx="-133.2206036954369" cy="-60.19730501599527")
    circle(r="3" cx="-132.90397662694892" cy="-70.4666416208665")
    circle(r="3" cx="-132.03403236474045" cy="-80.5320948987832")
    circle(r="3" cx="-130.69508223955225" cy="-90.34249918382714")
    circle(r="3" cx="-128.97841603509383" cy="-99.85736249898574")
    circle(r="3" cx="-126.98172629222907" cy="-109.04611776734001")
    circle(r="3" cx="-124.80911884595683" cy="-117.88693370252597")
    circle(r="3" cx="-122.57200019416436" cy="-126.36493825207633")
    circle(r="3" cx="-120.39141648216503" cy="-134.46950825413646")
    circle(r="3" cx="-118.4031832538333" cy="-142.1897505342745")
    circle(r="3" cx="-116.76968715570304" cy="-149.50554804132153")

  g
    circle(r="3" cx="1.2246467991473533e-15" cy="20")
    circle(r="3" cx="-3.1686029285338315" cy="25.806199942674375")
    circle(r="3" cx="-7.65799963698203" cy="30.98432918077246")
    circle(r="3" cx="-13.31132223421796" cy="35.325221624025595")
    circle(r="3" cx="-19.946519625790135" cy="38.657303954714806")
    circle(r="3" cx="-27.364151433745164" cy="40.84811569317795")
    circle(r="3" cx="-35.3548459258115" cy="41.80446622446315")
    circle(r="3" cx="-43.70623195665637" cy="41.4713927645541")
    circle(r="3" cx="-52.20919755718559" cy="39.8300993469155")
    circle(r="3" cx="-60.66336910800034" cy="36.895064773983464")
    circle(r="3" cx="-68.88174383371349" cy="32.71050811130132")
    circle(r="3" cx="-76.69444376632482" cy="27.346394791677117")
    circle(r="3" cx="-83.95159071837962" cy="20.89415585928311")
    circle(r="3" cx="-90.52532878719686" cy="13.462278421717581")
    circle(r="3" cx="-96.31104329755983" cy="5.171908046636373")
    circle(r="3" cx="-101.227842881661" cy="-3.8474153805964058")
    circle(r="3" cx="-105.21838474503342" cy="-13.461787043268735")
    circle(r="3" cx="-108.24813235446939" cy="-23.536650970150763")
    circle(r="3" cx="-110.30414018674227" cy="-33.94013734221421")
    circle(r="3" cx="-111.39346224971115" cy="-44.545981459567")
    circle(r="3" cx="-111.54128034141033" cy="-55.23600004644762")
    circle(r="3" cx="-110.78884500225118" cy="-65.90211634075483")
    circle(r="3" cx="-109.19131743110614" cy="-76.44793916462575")
    circle(r="3" cx="-106.81559490900926" cy="-86.7899127464729")
    circle(r="3" cx="-103.73819619770815" cy="-96.85806336922245")
    circle(r="3" cx="-100.0432777603623" cy="-106.59637590053626")
    circle(r="3" cx="-95.82084751228261" cy="-115.96283786889705")
    circle(r="3" cx="-91.16524160529897" cy="-124.92919088158467")
    circle(r="3" cx="-86.17393380489429" cy="-133.48042857652513")
    circle(r="3" cx="-80.94676048251176" cy="-141.61407633269533")
    circle(r="3" cx="-75.5856752910471" cy="-149.33927917021552")
    circle(r="3" cx="-70.19521395226953" cy="-156.67570718871204")
    circle(r="3" cx="-64.8839939374505" cy="-163.65225382430324")
    circle(r="3" cx="-59.767912610775326" cy="-170.30542690954425")
    circle(r="3" cx="-54.976615810807466" cy="-176.67713682203177")
    circle(r="3" cx="-50.66782769882313" cy="-182.81094050920214")

  g
    circle(r="3" cx="-7.653668647301794" cy="18.477590650225736")
    circle(r="3" cx="-12.803012562690142" cy="22.629248094437393")
    circle(r="3" cx="-18.93225856501437" cy="25.695197972576988")
    circle(r="3" cx="-25.81643522299598" cy="27.542226757954104")
    circle(r="3" cx="-33.22169099047302" cy="28.08148931169364")
    circle(r="3" cx="-40.913076553288164" cy="27.26693063615651")
    circle(r="3" cx="-48.66149514891533" cy="25.092576922712432")
    circle(r="3" cx="-56.249708076045856" cy="21.58892009899018")
    circle(r="3" cx="-63.47732816144219" cy="16.81861864229556")
    circle(r="3" cx="-70.1647751170993" cy="10.87172888628157")
    circle(r="3" cx="-76.15620281009232" cy="3.8606667844973828")
    circle(r="3" cx="-81.32143907473517" cy="-4.084918547824805")
    circle(r="3" cx="-85.55700366707705" cy="-12.82319994112628")
    circle(r="3" cx="-88.78628935422333" cy="-22.20502004146954")
    circle(r="3" cx="-90.9590051805873" cy="-32.078420635455196")
    circle(r="3" cx="-92.04999003505411" cy="-42.29276668807015")
    circle(r="3" cx="-92.05750923834822" cy="-52.70240214244156")
    circle(r="3" cx="-91.0011475352307" cy="-63.16979693170304")
    circle(r="3" cx="-88.91940921672584" cy="-73.56816519183626")
    circle(r="3" cx="-85.86713074505809" cy="-83.7835530028717")
    circle(r="3" cx="-81.91280384963977" cy="-93.71640991215303")
    circle(r="3" cx="-77.13589824674179" cy="-103.28267190962634")
    circle(r="3" cx="-71.62426354578542" cy="-112.41439443586742")
    circle(r="3" cx="-65.47168018496367" cy="-121.05998250480536")
    circle(r="3" cx="-58.77562006433339" cy="-129.18407129380785")
    circle(r="3" cx="-51.63526968084391" cy="-136.76711485277428")
    circle(r="3" cx="-44.14986298201722" cy="-143.80474325713087")
    circle(r="3" cx="-36.417369226424036" cy="-150.3069500386002")
    circle(r="3" cx="-28.53358511709666" cy="-156.29717272154517")
    circle(r="3" cx="-20.591694430678608" cy="-161.81133077955064")
    circle(r="3" cx="-12.682390412656307" cy="-166.89688908336228")
    circle(r="3" cx="-4.894724055548661" cy="-171.61202452423888")
    circle(r="3" cx="2.68201222137008" cy="-176.02499726315497")
    circle(r="3" cx="9.954714158127521" cy="-180.2138881405131")
    circle(r="3" cx="16.81964302515003" cy="-184.26703061086803")
    circle(r="3" cx="23.147749220200307" cy="-188.28502446985894")

  g
    circle(r="3" cx="-14.14213562373095" cy="14.142135623730951")
    circle(r="3" cx="-20.48827959377477" cy="16.007198358467118")
    circle(r="3" cx="-27.32425274787454" cy="16.494205800606323")
    circle(r="3" cx="-34.39122997564094" cy="15.566177538891386")
    circle(r="3" cx="-41.43916105723515" cy="13.230522480301623")
    circle(r="3" cx="-48.233356645555546" cy="9.534602565121967")
    circle(r="3" cx="-54.559872853148775" cy="4.560570249254981")
    circle(r="3" cx="-60.229676045730834" cy="-1.580269947596968")
    circle(r="3" cx="-65.08161097653189" cy="-8.753344289456233")
    circle(r="3" cx="-68.98423015989019" cy="-16.806729171888932")
    circle(r="3" cx="-71.83657026633219" cy="-25.57692606321473")
    circle(r="3" cx="-73.56798246469799" cy="-34.89434006829924")
    circle(r="3" cx="-74.13713838363158" cy="-44.588339793096125")
    circle(r="3" cx="-73.53034221678651" cy="-54.49180549235084")
    circle(r="3" cx="-71.7592830703056" cy="-64.44510056740589")
    circle(r="3" cx="-68.85836064084774" cy="-74.29942765217002")
    circle(r="3" cx="-64.88171245352379" cy="-83.91955426389283")
    circle(r="3" cx="-59.90006293120969" cy="-93.18591394603877")
    circle(r="3" cx="-53.997504249914606" cy="-101.99610678807946")
    circle(r="3" cx="-47.2683069719484" cy="-110.2658381012885")
    circle(r="3" cx="-39.81384551317738" cy="-117.92934591010457")
    circle(r="3" cx="-31.739710221824577" cy="-124.93937694000968")
    circle(r="3" cx="-23.153064811184457" cy="-131.26677719327154")
    circle(r="3" cx="-14.160295655015894" cy="-136.8997673382555")
    circle(r="3" cx="-4.864988578486298" cy="-141.84297542043348")
    circle(r="3" cx="4.63374013269801" cy="-146.11630036566095")
    circle(r="3" cx="14.242537967756105" cy="-149.75368007771044")
    circle(r="3" cx="23.87471749290023" cy="-152.801838588134")
    circle(r="3" cx="33.45074324718599" cy="-155.319089157109")
    circle(r="3" cx="42.89827043405079" cy="-157.3742769385856")
    circle(r="3" cx="52.15167343990629" cy="-159.04596055763423")
    circle(r="3" cx="61.15094320784571" cy="-160.4219667928266")
    circle(r="3" cx="69.8397063319887" cy="-161.5995305392651")
    circle(r="3" cx="78.1618259361643" cy="-162.68641854505293")
    circle(r="3" cx="86.05526368097244" cy="-163.80393937399174")
    circle(r="3" cx="93.43929115531776" cy="-165.09442026297683")

  g
    circle(r="3" cx="-18.477590650225736" cy="7.653668647301798")
    circle(r="3" cx="-25.054391783424197" cy="6.948197778034682")
    circle(r="3" cx="-31.556377144838773" cy="4.782120315841261")
    circle(r="3" cx="-37.73027172177063" cy="1.2203188972832293")
    circle(r="3" cx="-43.34789449996363" cy="-3.634671463731373")
    circle(r="3" cx="-48.21054542500389" cy="-9.649282315064912")
    circle(r="3" cx="-52.152004501969344" cy="-16.66574190297928")
    circle(r="3" cx="-55.04022182082624" cy="-24.508878219845226")
    circle(r="3" cx="-56.77780848671725" cy="-32.99268990240189")
    circle(r="3" cx="-57.30146150444142" cy="-41.92651506701867")
    circle(r="3" cx="-56.58047109965406" cy="-51.12066377321453")
    circle(r="3" cx="-54.61446741983229" cy="-60.39141463135554")
    circle(r="3" cx="-51.43056583611117" cy="-69.56530910587382")
    circle(r="3" cx="-47.08006703105598" cy="-78.48270752646859")
    circle(r="3" cx="-41.63486061209071" cy="-87.00059813426046")
    circle(r="3" cx="-35.18367004166587" cy="-94.99467428221584")
    circle(r="3" cx="-27.82826310183833" cy="-102.36071498132016")
    circle(r="3" cx="-19.679736741334622" cy="-109.01532029450351")
    circle(r="3" cx="-10.854968749648794" cy="-114.89606572284798")
    circle(r="3" cx="-1.4733119506292585" cy="-119.96114891109556")
    circle(r="3" cx="8.346409889257927" cy="-124.18860802542538")
    circle(r="3" cx="18.488560963175704" cy="-127.57519440954873")
    circle(r="3" cx="28.842978157864078" cy="-130.1349830592984")
    circle(r="3" cx="39.306865525008185" cy="-131.89780359393734")
    circle(r="3" cx="49.78629331720393" cy="-132.9075723490721")
    circle(r="3" cx="60.19730501599544" cy="-133.22060369543684")
    circle(r="3" cx="70.46664162086661" cy="-132.90397662694886")
    circle(r="3" cx="80.5320948987833" cy="-132.0340323647404")
    circle(r="3" cx="90.3424991838272" cy="-130.6950822395522")
    circle(r="3" cx="99.85736249898578" cy="-128.9784160350938")
    circle(r="3" cx="109.04611776734012" cy="-126.98172629222898")
    circle(r="3" cx="117.88693370252612" cy="-124.80911884595666")
    circle(r="3" cx="126.36493825207643" cy="-122.57200019416426")
    circle(r="3" cx="134.46950825413654" cy="-120.39141648216493")
    circle(r="3" cx="142.18975053427462" cy="-118.40318325383319")
    circle(r="3" cx="149.50554804132165" cy="-116.76968715570291")

  g
    circle(r="3" cx="-20" cy="2.4492935982947065e-15")
    circle(r="3" cx="-25.806199942674375" cy="-3.16860292853383")
    circle(r="3" cx="-30.98432918077246" cy="-7.657999636982021")
    circle(r="3" cx="-35.325221624025595" cy="-13.311322234217949")
    circle(r="3" cx="-38.65730395471481" cy="-19.94651962579013")
    circle(r="3" cx="-40.84811569317795" cy="-27.364151433745164")
    circle(r="3" cx="-41.80446622446315" cy="-35.3548459258115")
    circle(r="3" cx="-41.47139276455411" cy="-43.70623195665636")
    circle(r="3" cx="-39.8300993469155" cy="-52.20919755718559")
    circle(r="3" cx="-36.8950647739835" cy="-60.663369108000325")
    circle(r="3" cx="-32.71050811130132" cy="-68.88174383371349")
    circle(r="3" cx="-27.34639479167712" cy="-76.69444376632482")
    circle(r="3" cx="-20.894155859283078" cy="-83.95159071837962")
    circle(r="3" cx="-13.462278421717546" cy="-90.52532878719686")
    circle(r="3" cx="-5.171908046636293" cy="-96.31104329755983")
    circle(r="3" cx="3.8474153805964892" cy="-101.227842881661")
    circle(r="3" cx="13.46178704326882" cy="-105.2183847450334")
    circle(r="3" cx="23.536650970150852" cy="-108.24813235446936")
    circle(r="3" cx="33.9401373422143" cy="-110.30414018674225")
    circle(r="3" cx="44.545981459567095" cy="-111.3934622497111")
    circle(r="3" cx="55.236000046447764" cy="-111.54128034141026")
    circle(r="3" cx="65.90211634075497" cy="-110.7888450022511")
    circle(r="3" cx="76.4479391646259" cy="-109.19131743110606")
    circle(r="3" cx="86.78991274647304" cy="-106.81559490900916")
    circle(r="3" cx="96.85806336922262" cy="-103.73819619770796")
    circle(r="3" cx="106.59637590053637" cy="-100.04327776036217")
    circle(r="3" cx="115.96283786889714" cy="-95.82084751228251")
    circle(r="3" cx="124.92919088158474" cy="-91.16524160529887")
    circle(r="3" cx="133.48042857652513" cy="-86.17393380489429")
    circle(r="3" cx="141.61407633269533" cy="-80.94676048251176")
    circle(r="3" cx="149.3392791702155" cy="-75.5856752910471")
    circle(r="3" cx="156.67570718871204" cy="-70.19521395226954")
    circle(r="3" cx="163.65225382430324" cy="-64.88399393745051")
    circle(r="3" cx="170.30542690954422" cy="-59.76791261077534")
    circle(r="3" cx="176.67713682203174" cy="-54.97661581080748")
    circle(r="3" cx="182.81094050920214" cy="-50.667827698823146")

  g
    circle(r="3" cx="-18.477590650225736" cy="-7.653668647301793")
    circle(r="3" cx="-22.629248094437393" cy="-12.80301256269014")
    circle(r="3" cx="-25.695197972576988" cy="-18.932258565014365")
    circle(r="3" cx="-27.542226757954104" cy="-25.81643522299598")
    circle(r="3" cx="-28.08148931169366" cy="-33.22169099047301")
    circle(r="3" cx="-27.266930636156527" cy="-40.91307655328815")
    circle(r="3" cx="-25.092576922712457" cy="-48.661495148915314")
    circle(r="3" cx="-21.588920098990208" cy="-56.24970807604585")
    circle(r="3" cx="-16.818618642295593" cy="-63.47732816144218")
    circle(r="3" cx="-10.871728886281637" cy="-70.16477511709928")
    circle(r="3" cx="-3.860666784497489" cy="-76.15620281009232")
    circle(r="3" cx="4.084918547824692" cy="-81.32143907473517")
    circle(r="3" cx="12.823199941126198" cy="-85.55700366707707")
    circle(r="3" cx="22.205020041469457" cy="-88.78628935422336")
    circle(r="3" cx="32.078420635455146" cy="-90.95900518058733")
    circle(r="3" cx="42.292766688070145" cy="-92.04999003505411")
    circle(r="3" cx="52.70240214244155" cy="-92.05750923834822")
    circle(r="3" cx="63.16979693170303" cy="-91.0011475352307")
    circle(r="3" cx="73.56816519183624" cy="-88.91940921672584")
    circle(r="3" cx="83.7835530028717" cy="-85.86713074505809")
    circle(r="3" cx="93.71640991215305" cy="-81.91280384963973")
    circle(r="3" cx="103.2826719096264" cy="-77.1358982467417")
    circle(r="3" cx="112.41439443586746" cy="-71.62426354578531")
    circle(r="3" cx="121.05998250480543" cy="-65.47168018496357")
    circle(r="3" cx="129.1840712938079" cy="-58.77562006433328")
    circle(r="3" cx="136.7671148527743" cy="-51.6352696808438")
    circle(r="3" cx="143.8047432571309" cy="-44.1498629820171")
    circle(r="3" cx="150.30695003860023" cy="-36.41736922642391")
    circle(r="3" cx="156.29717272154517" cy="-28.533585117096667")
    circle(r="3" cx="161.81133077955064" cy="-20.59169443067862")
    circle(r="3" cx="166.89688908336225" cy="-12.682390412656318")
    circle(r="3" cx="171.61202452423888" cy="-4.8947240555486715")
    circle(r="3" cx="176.02499726315497" cy="2.6820122213700692")
    circle(r="3" cx="180.2138881405131" cy="9.95471415812751")
    circle(r="3" cx="184.26703061086803" cy="16.819643025150018")
    circle(r="3" cx="188.28502446985894" cy="23.147749220200293")

  g
    circle(r="3" cx="-14.142135623730955" cy="-14.14213562373095")
    circle(r="3" cx="-16.00719835846711" cy="-20.488279593774774")
    circle(r="3" cx="-16.494205800606313" cy="-27.324252747874546")
    circle(r="3" cx="-15.566177538891358" cy="-34.391229975640954")
    circle(r="3" cx="-13.23052248030159" cy="-41.439161057235154")
    circle(r="3" cx="-9.534602565121927" cy="-48.23335664555556")
    circle(r="3" cx="-4.560570249254937" cy="-54.55987285314878")
    circle(r="3" cx="1.5802699475970177" cy="-60.229676045730834")
    circle(r="3" cx="8.753344289456287" cy="-65.08161097653189")
    circle(r="3" cx="16.806729171888957" cy="-68.98423015989017")
    circle(r="3" cx="25.576926063214792" cy="-71.83657026633217")
    circle(r="3" cx="34.89434006829931" cy="-73.56798246469796")
    circle(r="3" cx="44.58833979309621" cy="-74.13713838363151")
    circle(r="3" cx="54.491805492350935" cy="-73.53034221678645")
    circle(r="3" cx="64.44510056740602" cy="-71.75928307030549")
    circle(r="3" cx="74.29942765217014" cy="-68.85836064084762")
    circle(r="3" cx="83.91955426389295" cy="-64.88171245352365")
    circle(r="3" cx="93.18591394603887" cy="-59.900062931209526")
    circle(r="3" cx="101.99610678807956" cy="-53.99750424991443")
    circle(r="3" cx="110.26583810128858" cy="-47.26830697194821")
    circle(r="3" cx="117.92934591010464" cy="-39.81384551317718")
    circle(r="3" cx="124.93937694000974" cy="-31.739710221824364")
    circle(r="3" cx="131.2667771932716" cy="-23.153064811184237")
    circle(r="3" cx="136.89976733825551" cy="-14.16029565501566")
    circle(r="3" cx="141.8429754204335" cy="-4.864988578486056")
    circle(r="3" cx="146.11630036566095" cy="4.633740132698261")
    circle(r="3" cx="149.7536800777104" cy="14.242537967756363")
    circle(r="3" cx="152.80183858813396" cy="23.874717492900494")
    circle(r="3" cx="155.31908915710892" cy="33.45074324718625")
    circle(r="3" cx="157.37427693858552" cy="42.89827043405106")
    circle(r="3" cx="159.04596055763412" cy="52.15167343990657")
    circle(r="3" cx="160.42196679282648" cy="61.150943207845984")
    circle(r="3" cx="161.59953053926498" cy="69.83970633198898")
    circle(r="3" cx="162.68641854505282" cy="78.16182593616459")
    circle(r="3" cx="163.80393937399157" cy="86.05526368097273")
    circle(r="3" cx="165.09442026297668" cy="93.43929115531805")

  g
    circle(r="3" cx="-7.6536686473018065" cy="-18.47759065022573")
    circle(r="3" cx="-6.948197778034684" cy="-25.054391783424197")
    circle(r="3" cx="-4.782120315841262" cy="-31.556377144838773")
    circle(r="3" cx="-1.2203188972832149" cy="-37.73027172177063")
    circle(r="3" cx="3.6346714637313893" cy="-43.34789449996363")
    circle(r="3" cx="9.64928231506493" cy="-48.210545425003886")
    circle(r="3" cx="16.6657419029793" cy="-52.15200450196934")
    circle(r="3" cx="24.508878219845247" cy="-55.040221820826225")
    circle(r="3" cx="32.992689902401914" cy="-56.777808486717234")
    circle(r="3" cx="41.92651506701867" cy="-57.30146150444142")
    circle(r="3" cx="51.1206637732145" cy="-56.58047109965408")
    circle(r="3" cx="60.3914146313555" cy="-54.61446741983232")
    circle(r="3" cx="69.56530910587382" cy="-51.43056583611118")
    circle(r="3" cx="78.48270752646859" cy="-47.080067031056")
    circle(r="3" cx="87.00059813426046" cy="-41.63486061209072")
    circle(r="3" cx="94.99467428221584" cy="-35.18367004166588")
    circle(r="3" cx="102.36071498132016" cy="-27.82826310183834")
    circle(r="3" cx="109.01532029450351" cy="-19.679736741334626")
    circle(r="3" cx="114.89606572284798" cy="-10.854968749648801")
    circle(r="3" cx="119.96114891109556" cy="-1.473311950629266")
    circle(r="3" cx="124.18860802542538" cy="8.34640988925792")
    circle(r="3" cx="127.57519440954873" cy="18.488560963175697")
    circle(r="3" cx="130.1349830592984" cy="28.84297815786407")
    circle(r="3" cx="131.89780359393734" cy="39.30686552500818")
    circle(r="3" cx="132.9075723490721" cy="49.78629331720392")
    circle(r="3" cx="133.22060369543684" cy="60.19730501599543")
    circle(r="3" cx="132.90397662694886" cy="70.4666416208666")
    circle(r="3" cx="132.0340323647404" cy="80.5320948987833")
    circle(r="3" cx="130.6950822395522" cy="90.34249918382717")
    circle(r="3" cx="128.9784160350938" cy="99.85736249898578")
    circle(r="3" cx="126.981726292229" cy="109.04611776734012")
    circle(r="3" cx="124.80911884595668" cy="117.88693370252612")
    circle(r="3" cx="122.57200019416426" cy="126.36493825207643")
    circle(r="3" cx="120.39141648216493" cy="134.46950825413654")
    circle(r="3" cx="118.4031832538332" cy="142.1897505342746")
    circle(r="3" cx="116.76968715570291" cy="149.50554804132165")

  g
    circle(r="3" cx="-3.673940397442059e-15" cy="-20")
    circle(r="3" cx="3.16860292853384" cy="-25.806199942674372")
    circle(r="3" cx="7.657999636982033" cy="-30.984329180772455")
    circle(r="3" cx="13.311322234217977" cy="-35.32522162402558")
    circle(r="3" cx="19.946519625790163" cy="-38.65730395471479")
    circle(r="3" cx="27.364151433745196" cy="-40.848115693177924")
    circle(r="3" cx="35.35484592581154" cy="-41.80446622446312")
    circle(r="3" cx="43.70623195665639" cy="-41.471392764554075")
    circle(r="3" cx="52.209197557185625" cy="-39.83009934691546")
    circle(r="3" cx="60.663369108000346" cy="-36.89506477398345")
    circle(r="3" cx="68.88174383371349" cy="-32.71050811130133")
    circle(r="3" cx="76.69444376632482" cy="-27.346394791677124")
    circle(r="3" cx="83.95159071837962" cy="-20.894155859283085")
    circle(r="3" cx="90.52532878719686" cy="-13.462278421717551")
    circle(r="3" cx="96.31104329755983" cy="-5.1719080466362986")
    circle(r="3" cx="101.227842881661" cy="3.847415380596483")
    circle(r="3" cx="105.2183847450334" cy="13.461787043268815")
    circle(r="3" cx="108.24813235446938" cy="23.536650970150845")
    circle(r="3" cx="110.30414018674225" cy="33.94013734221429")
    circle(r="3" cx="111.39346224971112" cy="44.54598145956709")
    circle(r="3" cx="111.54128034141026" cy="55.23600004644776")
    circle(r="3" cx="110.7888450022511" cy="65.90211634075496")
    circle(r="3" cx="109.19131743110606" cy="76.4479391646259")
    circle(r="3" cx="106.81559490900916" cy="86.78991274647304")
    circle(r="3" cx="103.73819619770799" cy="96.85806336922262")
    circle(r="3" cx="100.04327776036217" cy="106.59637590053637")
    circle(r="3" cx="95.82084751228253" cy="115.96283786889713")
    circle(r="3" cx="91.16524160529889" cy="124.92919088158474")
    circle(r="3" cx="86.1739338048943" cy="133.48042857652513")
    circle(r="3" cx="80.94676048251178" cy="141.61407633269533")
    circle(r="3" cx="75.58567529104711" cy="149.3392791702155")
    circle(r="3" cx="70.19521395226954" cy="156.67570718871204")
    circle(r="3" cx="64.88399393745053" cy="163.65225382430324")
    circle(r="3" cx="59.76791261077535" cy="170.30542690954422")
    circle(r="3" cx="54.97661581080749" cy="176.67713682203174")
    circle(r="3" cx="50.66782769882315" cy="182.8109405092021")

  g
    circle(r="3" cx="7.6536686473018" cy="-18.477590650225732")
    circle(r="3" cx="12.80301256269016" cy="-22.629248094437383")
    circle(r="3" cx="18.93225856501439" cy="-25.695197972576974")
    circle(r="3" cx="25.816435222996013" cy="-27.542226757954072")
    circle(r="3" cx="33.22169099047305" cy="-28.081489311693602")
    circle(r="3" cx="40.9130765532882" cy="-27.26693063615646")
    circle(r="3" cx="48.66149514891536" cy="-25.092576922712375")
    circle(r="3" cx="56.249708076045884" cy="-21.588920098990112")
    circle(r="3" cx="63.47732816144221" cy="-16.818618642295483")
    circle(r="3" cx="70.16477511709931" cy="-10.871728886281517")
    circle(r="3" cx="76.15620281009234" cy="-3.8606667844973583")
    circle(r="3" cx="81.32143907473517" cy="4.084918547824832")
    circle(r="3" cx="85.55700366707704" cy="12.823199941126346")
    circle(r="3" cx="88.78628935422331" cy="22.20502004146961")
    circle(r="3" cx="90.95900518058727" cy="32.07842063545531")
    circle(r="3" cx="92.04999003505404" cy="42.2927666880703")
    circle(r="3" cx="92.05750923834815" cy="52.70240214244171")
    circle(r="3" cx="91.00114753523059" cy="63.16979693170319")
    circle(r="3" cx="88.91940921672571" cy="73.5681651918364")
    circle(r="3" cx="85.86713074505795" cy="83.78355300287183")
    circle(r="3" cx="81.91280384963956" cy="93.71640991215318")
    circle(r="3" cx="77.13589824674153" cy="103.28267190962653")
    circle(r="3" cx="71.62426354578513" cy="112.4143944358676")
    circle(r="3" cx="65.47168018496336" cy="121.05998250480553")
    circle(r="3" cx="58.77562006433306" cy="129.18407129380802")
    circle(r="3" cx="51.635269680843564" cy="136.7671148527744")
    circle(r="3" cx="44.14986298201685" cy="143.80474325713098")
    circle(r="3" cx="36.41736922642365" cy="150.3069500386003")
    circle(r="3" cx="28.533585117096404" cy="156.29717272154522")
    circle(r="3" cx="20.59169443067834" cy="161.81133077955067")
    circle(r="3" cx="12.68239041265603" cy="166.8968890833623")
    circle(r="3" cx="4.8947240555483775" cy="171.61202452423888")
    circle(r="3" cx="-2.682012221370371" cy="176.02499726315497")
    circle(r="3" cx="-9.954714158127818" cy="180.2138881405131")
    circle(r="3" cx="-16.819643025150334" cy="184.267030610868")
    circle(r="3" cx="-23.147749220200616" cy="188.2850244698589")

  g
    circle(r="3" cx="14.142135623730947" cy="-14.142135623730955")
    circle(r="3" cx="20.488279593774774" cy="-16.007198358467114")
    circle(r="3" cx="27.324252747874542" cy="-16.494205800606316")
    circle(r="3" cx="34.391229975640954" cy="-15.56617753889136")
    circle(r="3" cx="41.439161057235154" cy="-13.230522480301593")
    circle(r="3" cx="48.23335664555556" cy="-9.53460256512193")
    circle(r="3" cx="54.55987285314878" cy="-4.5605702492549405")
    circle(r="3" cx="60.229676045730834" cy="1.5802699475970141")
    circle(r="3" cx="65.08161097653189" cy="8.753344289456283")
    circle(r="3" cx="68.98423015989019" cy="16.806729171888954")
    circle(r="3" cx="71.83657026633217" cy="25.576926063214785")
    circle(r="3" cx="73.56798246469796" cy="34.89434006829931")
    circle(r="3" cx="74.13713838363151" cy="44.58833979309621")
    circle(r="3" cx="73.53034221678645" cy="54.491805492350935")
    circle(r="3" cx="71.7592830703055" cy="64.44510056740602")
    circle(r="3" cx="68.85836064084762" cy="74.29942765217014")
    circle(r="3" cx="64.88171245352365" cy="83.91955426389293")
    circle(r="3" cx="59.90006293120954" cy="93.18591394603887")
    circle(r="3" cx="53.997504249914435" cy="101.99610678807954")
    circle(r="3" cx="47.26830697194822" cy="110.26583810128858")
    circle(r="3" cx="39.813845513177185" cy="117.92934591010464")
    circle(r="3" cx="31.739710221824375" cy="124.93937694000974")
    circle(r="3" cx="23.153064811184244" cy="131.2667771932716")
    circle(r="3" cx="14.16029565501567" cy="136.89976733825551")
    circle(r="3" cx="4.864988578486065" cy="141.8429754204335")
    circle(r="3" cx="-4.633740132698253" cy="146.11630036566095")
    circle(r="3" cx="-14.242537967756354" cy="149.7536800777104")
    circle(r="3" cx="-23.87471749290062" cy="152.80183858813393")
    circle(r="3" cx="-33.45074324718652" cy="155.31908915710886")
    circle(r="3" cx="-42.898270434051184" cy="157.3742769385855")
    circle(r="3" cx="-52.15167343990656" cy="159.04596055763412")
    circle(r="3" cx="-61.15094320784598" cy="160.42196679282648")
    circle(r="3" cx="-69.8397063319891" cy="161.59953053926492")
    circle(r="3" cx="-78.16182593616472" cy="162.68641854505273")
    circle(r="3" cx="-86.05526368097287" cy="163.8039393739915")
    circle(r="3" cx="-93.43929115531819" cy="165.0944202629766")

  g
    circle(r="3" cx="18.47759065022573" cy="-7.653668647301808")
    circle(r="3" cx="25.054391783424197" cy="-6.948197778034685")
    circle(r="3" cx="31.556377144838773" cy="-4.782120315841264")
    circle(r="3" cx="37.73027172177063" cy="-1.2203188972832173")
    circle(r="3" cx="43.34789449996363" cy="3.6346714637313866")
    circle(r="3" cx="48.210545425003886" cy="9.649282315064927")
    circle(r="3" cx="52.15200450196934" cy="16.6657419029793")
    circle(r="3" cx="55.040221820826225" cy="24.508878219845244")
    circle(r="3" cx="56.77780848671724" cy="32.992689902401914")
    circle(r="3" cx="57.30146150444142" cy="41.92651506701867")
    circle(r="3" cx="56.58047109965408" cy="51.120663773214496")
    circle(r="3" cx="54.61446741983232" cy="60.3914146313555")
    circle(r="3" cx="51.43056583611118" cy="69.56530910587382")
    circle(r="3" cx="47.080067031056" cy="78.48270752646859")
    circle(r="3" cx="41.63486061209072" cy="87.00059813426046")
    circle(r="3" cx="35.183670041665884" cy="94.99467428221584")
    circle(r="3" cx="27.828263101838346" cy="102.36071498132016")
    circle(r="3" cx="19.679736741334633" cy="109.01532029450351")
    circle(r="3" cx="10.854968749648808" cy="114.89606572284798")
    circle(r="3" cx="1.4733119506292733" cy="119.96114891109556")
    circle(r="3" cx="-8.346409889257911" cy="124.18860802542538")
    circle(r="3" cx="-18.48856096317569" cy="127.57519440954874")
    circle(r="3" cx="-28.84297815786406" cy="130.1349830592984")
    circle(r="3" cx="-39.30686552500805" cy="131.89780359393737")
    circle(r="3" cx="-49.7862933172038" cy="132.90757234907215")
    circle(r="3" cx="-60.197305015995425" cy="133.22060369543684")
    circle(r="3" cx="-70.4666416208666" cy="132.90397662694886")
    circle(r="3" cx="-80.53209489878341" cy="132.03403236474034")
    circle(r="3" cx="-90.34249918382741" cy="130.69508223955205")
    circle(r="3" cx="-99.85736249898588" cy="128.97841603509372")
    circle(r="3" cx="-109.0461177673401" cy="126.981726292229")
    circle(r="3" cx="-117.88693370252611" cy="124.80911884595668")
    circle(r="3" cx="-126.36493825207653" cy="122.57200019416416")
    circle(r="3" cx="-134.46950825413663" cy="120.39141648216481")
    circle(r="3" cx="-142.1897505342747" cy="118.40318325383308")
    circle(r="3" cx="-149.50554804132173" cy="116.76968715570278")
