svg.bg-img(id="votes" width="120")
  <style type="text/css"> #votes circle {fill:#1C0A13;}</style>
  g
    circle(r="3" cx="0" cy="0" data-ring="0")
    circle(r="3" cx="0" cy="7.5" data-ring="1")
    circle(r="3" cx="-7.132923872213652" cy="2.317627457812115" data-ring="1")
    circle(r="3" cx="-4.4083893921935555" cy="-6.067627457812094" data-ring="1")
    circle(r="3" cx="4.4083893921935555" cy="-6.067627457812115" data-ring="1")
    circle(r="3" cx="7.132923872213652" cy="2.317627457812094" data-ring="1")
    circle(r="3" cx="0" cy="-15" data-ring="2")
    circle(r="3" cx="8.109612261833945" cy="-12.618802992467707" data-ring="2")
    circle(r="3" cx="13.644479930317786" cy="-6.231225195028294" data-ring="2")
    circle(r="3" cx="14.847321628214019" cy="2.1347225740992712" data-ring="2")
    circle(r="3" cx="11.336243615313862" cy="9.822911009179286" data-ring="2")
    circle(r="3" cx="4.225988352621457" cy="14.392394604217465" data-ring="2")
    circle(r="3" cx="-4.225988352621414" cy="14.392394604217465" data-ring="2")
    circle(r="3" cx="-11.336243615313862" cy="9.822911009179286" data-ring="2")
    circle(r="3" cx="-14.847321628214019" cy="2.1347225740992712" data-ring="2")
    circle(r="3" cx="-13.644479930317743" cy="-6.231225195028294" data-ring="2")
    circle(r="3" cx="-8.109612261833945" cy="-12.618802992467707" data-ring="2")
    circle(r="3" cx="0" cy="22.5" data-ring="3")
    circle(r="3" cx="-8.127937489210922" cy="20.980625161598006" data-ring="3")
    circle(r="3" cx="-15.158151982047514" cy="16.62770063746484" data-ring="3")
    circle(r="3" cx="-20.141174055488875" cy="10.02911300497211" data-ring="3")
    circle(r="3" cx="-22.404018966638276" cy="2.0760380879242817" data-ring="3")
    circle(r="3" cx="-21.641076971388415" cy="-6.157417276621864" data-ring="3")
    circle(r="3" cx="-17.955387613805414" cy="-13.559279318533271" data-ring="3")
    circle(r="3" cx="-11.844723664740485" cy="-19.129885553916314" data-ring="3")
    circle(r="3" cx="-4.134364150872827" cy="-22.11689474288779" data-ring="3")
    circle(r="3" cx="4.134364150872827" cy="-22.11689474288779" data-ring="3")
    circle(r="3" cx="11.844723664740485" cy="-19.129885553916314" data-ring="3")
    circle(r="3" cx="17.955387613805414" cy="-13.559279318533271" data-ring="3")
    circle(r="3" cx="21.641076971388415" cy="-6.157417276621864" data-ring="3")
    circle(r="3" cx="22.404018966638276" cy="2.0760380879242817" data-ring="3")
    circle(r="3" cx="20.141174055488918" cy="10.02911300497209" data-ring="3")
    circle(r="3" cx="15.158151982047556" cy="16.62770063746482" data-ring="3")
    circle(r="3" cx="8.127937489210922" cy="20.980625161598006" data-ring="3")
    circle(r="3" cx="0" cy="-30" data-ring="4")
    circle(r="3" cx="8.451976705242913" cy="-28.78478920843492" data-ring="4")
    circle(r="3" cx="16.219224523667933" cy="-25.237605984935435" data-ring="4")
    circle(r="3" cx="22.672487230627723" cy="-19.64582201835855" data-ring="4")
    circle(r="3" cx="27.288959860635572" cy="-12.462450390056588" data-ring="4")
    circle(r="3" cx="29.694643256427952" cy="-4.269445148198564" data-ring="4")
    circle(r="3" cx="29.694643256427995" cy="4.2694451481985425" data-ring="4")
    circle(r="3" cx="27.288959860635572" cy="12.462450390056588" data-ring="4")
    circle(r="3" cx="22.672487230627723" cy="19.64582201835855" data-ring="4")
    circle(r="3" cx="16.21922452366789" cy="25.237605984935435" data-ring="4")
    circle(r="3" cx="8.451976705242913" cy="28.78478920843493" data-ring="4")
    circle(r="3" cx="0" cy="30" data-ring="4")
    circle(r="3" cx="-8.451976705242913" cy="28.78478920843493" data-ring="4")
    circle(r="3" cx="-16.219224523667933" cy="25.237605984935435" data-ring="4")
    circle(r="3" cx="-22.672487230627723" cy="19.64582201835855" data-ring="4")
    circle(r="3" cx="-27.288959860635572" cy="12.46245039005661" data-ring="4")
    circle(r="3" cx="-29.694643256427952" cy="4.269445148198564" data-ring="4")
    circle(r="3" cx="-29.694643256427995" cy="-4.2694451481985425" data-ring="4")
    circle(r="3" cx="-27.288959860635572" cy="-12.46245039005661" data-ring="4")
    circle(r="3" cx="-22.672487230627723" cy="-19.64582201835856" data-ring="4")
    circle(r="3" cx="-16.219224523667975" cy="-25.237605984935424" data-ring="4")
    circle(r="3" cx="-8.451976705242913" cy="-28.78478920843492" data-ring="4")
    circle(r="3" cx="0" cy="37.5" data-ring="5")
    circle(r="3" cx="-8.344535023361772" cy="36.559796706818375" data-ring="5")
    circle(r="3" cx="-16.270640216908433" cy="33.78633254634072" data-ring="5")
    circle(r="3" cx="-23.38086756970253" cy="29.318680592551125" data-ring="5")
    circle(r="3" cx="-29.318680592551104" cy="23.38086756970251" data-ring="5")
    circle(r="3" cx="-33.78633254634072" cy="16.270640216908433" data-ring="5")
    circle(r="3" cx="-36.559796706818375" cy="8.344535023361793" data-ring="5")
    circle(r="3" cx="-37.5" cy="0" data-ring="5")
    circle(r="3" cx="-36.559796706818375" cy="-8.344535023361793" data-ring="5")
    circle(r="3" cx="-33.78633254634072" cy="-16.270640216908433" data-ring="5")
    circle(r="3" cx="-29.318680592551146" cy="-23.3808675697025" data-ring="5")
    circle(r="3" cx="-23.38086756970253" cy="-29.318680592551114" data-ring="5")
    circle(r="3" cx="-16.270640216908433" cy="-33.78633254634072" data-ring="5")
    circle(r="3" cx="-8.344535023361772" cy="-36.55979670681839" data-ring="5")
    circle(r="3" cx="0" cy="-37.5" data-ring="5")
    circle(r="3" cx="8.344535023361772" cy="-36.55979670681839" data-ring="5")
    circle(r="3" cx="16.270640216908433" cy="-33.78633254634072" data-ring="5")
    circle(r="3" cx="23.38086756970253" cy="-29.318680592551125" data-ring="5")
    circle(r="3" cx="29.318680592551104" cy="-23.38086756970251" data-ring="5")
    circle(r="3" cx="33.78633254634072" cy="-16.270640216908433" data-ring="5")
    circle(r="3" cx="36.559796706818375" cy="-8.344535023361793" data-ring="5")
    circle(r="3" cx="37.5" cy="0" data-ring="5")
    circle(r="3" cx="36.559796706818375" cy="8.344535023361772" data-ring="5")
    circle(r="3" cx="33.78633254634072" cy="16.270640216908433" data-ring="5")
    circle(r="3" cx="29.318680592551146" cy="23.38086756970251" data-ring="5")
    circle(r="3" cx="23.38086756970253" cy="29.318680592551104" data-ring="5")
    circle(r="3" cx="16.270640216908433" cy="33.78633254634072" data-ring="5")
    circle(r="3" cx="8.344535023361772" cy="36.559796706818375" data-ring="5")
    circle(r="3" cx="0" cy="-45" data-ring="6")
    circle(r="3" cx="8.268728301745654" cy="-44.23378948577558" data-ring="6")
    circle(r="3" cx="16.255874978421886" cy="-41.96125032319601" data-ring="6")
    circle(r="3" cx="23.689447329481013" cy="-38.25977110783263" data-ring="6")
    circle(r="3" cx="30.31630396409507" cy="-33.25540127492966" data-ring="6")
    circle(r="3" cx="35.910775227610785" cy="-27.11855863706653" data-ring="6")
    circle(r="3" cx="40.28234811097779" cy="-20.05822600994422" data-ring="6")
    circle(r="3" cx="43.28215394277683" cy="-12.314834553243728" data-ring="6")
    circle(r="3" cx="44.80803793327655" cy="-4.152076175848585" data-ring="6")
    circle(r="3" cx="44.80803793327655" cy="4.152076175848585" data-ring="6")
    circle(r="3" cx="43.28215394277683" cy="12.314834553243728" data-ring="6")
    circle(r="3" cx="40.28234811097779" cy="20.05822600994422" data-ring="6")
    circle(r="3" cx="35.910775227610785" cy="27.118558637066542" data-ring="6")
    circle(r="3" cx="30.31630396409507" cy="33.25540127492966" data-ring="6")
    circle(r="3" cx="23.689447329481013" cy="38.25977110783263" data-ring="6")
    circle(r="3" cx="16.255874978421886" cy="41.96125032319601" data-ring="6")
    circle(r="3" cx="8.268728301745654" cy="44.23378948577558" data-ring="6")
    circle(r="3" cx="0" cy="45" data-ring="6")
    circle(r="3" cx="-8.268728301745654" cy="44.23378948577558" data-ring="6")
    circle(r="3" cx="-16.255874978421886" cy="41.96125032319601" data-ring="6")
    circle(r="3" cx="-23.689447329481013" cy="38.25977110783263" data-ring="6")
    circle(r="3" cx="-30.31630396409507" cy="33.25540127492966" data-ring="6")
    circle(r="3" cx="-35.910775227610785" cy="27.118558637066542" data-ring="6")
    circle(r="3" cx="-40.282348110977836" cy="20.05822600994422" data-ring="6")
    circle(r="3" cx="-43.28215394277683" cy="12.314834553243728" data-ring="6")
    circle(r="3" cx="-44.80803793327655" cy="4.152076175848585" data-ring="6")
    circle(r="3" cx="-44.80803793327655" cy="-4.152076175848563" data-ring="6")
    circle(r="3" cx="-43.28215394277683" cy="-12.314834553243728" data-ring="6")
    circle(r="3" cx="-40.282348110977836" cy="-20.0582260099442" data-ring="6")
    circle(r="3" cx="-35.910775227610785" cy="-27.11855863706652" data-ring="6")
    circle(r="3" cx="-30.316303964095113" cy="-33.25540127492964" data-ring="6")
    circle(r="3" cx="-23.689447329481013" cy="-38.25977110783263" data-ring="6")
    circle(r="3" cx="-16.255874978421886" cy="-41.96125032319601" data-ring="6")
    circle(r="3" cx="-8.268728301745696" cy="-44.23378948577558" data-ring="6")
    circle(r="3" cx="0" cy="52.5" data-ring="7")
    circle(r="3" cx="-8.421592245032414" cy="51.82013878849044" data-ring="7")
    circle(r="3" cx="-16.62506967457729" cy="49.798163202225155" data-ring="7")
    circle(r="3" cx="-24.39796653229783" cy="46.48644134679353" data-ring="7")
    circle(r="3" cx="-31.538968872493854" cy="41.97074507868381" data-ring="7")
    circle(r="3" cx="-37.86312848555025" cy="36.36802855925397" data-ring="7")
    circle(r="3" cx="-43.20665295941697" cy="29.823399203385684" data-ring="7")
    circle(r="3" cx="-47.43114781704509" cy="22.50635947366034" data-ring="7")
    circle(r="3" cx="-50.42720086064702" cy="14.60641685561378" data-ring="7")
    circle(r="3" cx="-52.11721589014782" cy="6.3281757134044625" data-ring="7")
    circle(r="3" cx="-52.45742240400739" cy="-2.1139618557442716" data-ring="7")
    circle(r="3" cx="-51.439009232219036" cy="-10.501348923242332" data-ring="7")
    circle(r="3" cx="-49.08835274098429" cy="-18.61675656973312" data-ring="7")
    circle(r="3" cx="-45.46633369868306" cy="-26.24999999999998" data-ring="7")
    circle(r="3" cx="-40.66676049595188" cy="-33.2033822187573" data-ring="7")
    circle(r="3" cx="-34.813939557641746" cy="-39.2968142789828" data-ring="7")
    circle(r="3" cx="-28.05945587170956" cy="-44.37247949104921" data-ring="7")
    circle(r="3" cx="-20.578247017653922" cy="-48.29892079208827" data-ring="7")
    circle(r="3" cx="-12.56407237509677" cy="-50.97444541486773" data-ring="7")
    circle(r="3" cx="-4.224494857628116" cy="-52.32975867704602" data-ring="7")
    circle(r="3" cx="4.224494857628073" cy="-52.32975867704602" data-ring="7")
    circle(r="3" cx="12.56407237509677" cy="-50.974445414867745" data-ring="7")
    circle(r="3" cx="20.578247017653922" cy="-48.298920792088275" data-ring="7")
    circle(r="3" cx="28.05945587170956" cy="-44.37247949104923" data-ring="7")
    circle(r="3" cx="34.813939557641746" cy="-39.2968142789828" data-ring="7")
    circle(r="3" cx="40.66676049595188" cy="-33.2033822187573" data-ring="7")
    circle(r="3" cx="45.466333698683016" cy="-26.25000000000002" data-ring="7")
    circle(r="3" cx="49.08835274098425" cy="-18.61675656973314" data-ring="7")
    circle(r="3" cx="51.439009232219036" cy="-10.501348923242354" data-ring="7")
    circle(r="3" cx="52.45742240400739" cy="-2.113961855744293" data-ring="7")
    circle(r="3" cx="52.11721589014786" cy="6.3281757134044625" data-ring="7")
    circle(r="3" cx="50.42720086064702" cy="14.606416855613737" data-ring="7")
    circle(r="3" cx="47.43114781704509" cy="22.506359473660318" data-ring="7")
    circle(r="3" cx="43.20665295941697" cy="29.823399203385662" data-ring="7")
    circle(r="3" cx="37.86312848555025" cy="36.36802855925397" data-ring="7")
    circle(r="3" cx="31.538968872493896" cy="41.97074507868381" data-ring="7")
    circle(r="3" cx="24.39796653229783" cy="46.48644134679353" data-ring="7")
    circle(r="3" cx="16.625069674577333" cy="49.79816320222513" data-ring="7")
    circle(r="3" cx="8.421592245032457" cy="51.82013878849044" data-ring="7")
    circle(r="3" cx="0" cy="-60" data-ring="8")
    circle(r="3" cx="10.713413687918177" cy="-59.035775315917775" data-ring="8")
    circle(r="3" cx="21.082489444880565" cy="-56.17409223838423" data-ring="8")
    circle(r="3" cx="30.773956644354342" cy="-51.506927616111966" data-ring="8")
    circle(r="3" cx="39.47632355638274" cy="-45.18428796021665" data-ring="8")
    circle(r="3" cx="46.9098889480818" cy="-37.409388111524" data-ring="8")
    circle(r="3" cx="52.83573191140431" cy="-28.432119748379918" data-ring="8")
    circle(r="3" cx="57.06339097770922" cy="-18.541019662496847" data-ring="8")
    circle(r="3" cx="59.4569857060761" cy="-8.053995949059335" data-ring="8")
    circle(r="3" cx="59.939583992478845" cy="2.691889821030891" data-ring="8")
    circle(r="3" cx="58.4956747309094" cy="13.35125603737886" data-ring="8")
    circle(r="3" cx="55.171666353087005" cy="23.58150189923542" data-ring="8")
    circle(r="3" cx="50.074395223278145" cy="33.05381888712614" data-ring="8")
    circle(r="3" cx="43.36769182964349" cy="41.463758939211885" data-ring="8")
    circle(r="3" cx="35.2671151375484" cy="48.541019662496836" data-ring="8")
    circle(r="3" cx="26.033024347053484" cy="54.05813207414516" data-ring="8")
    circle(r="3" cx="15.962210734000536" cy="57.83777164175119" data-ring="8")
    circle(r="3" cx="5.378358534206001" cy="59.75845763971435" data-ring="8")
    circle(r="3" cx="-5.378358534206001" cy="59.75845763971435" data-ring="8")
    circle(r="3" cx="-15.96221073400045" cy="57.83777164175121" data-ring="8")
    circle(r="3" cx="-26.033024347053484" cy="54.05813207414516" data-ring="8")
    circle(r="3" cx="-35.26711513754836" cy="48.541019662496836" data-ring="8")
    circle(r="3" cx="-43.36769182964349" cy="41.463758939211885" data-ring="8")
    circle(r="3" cx="-50.074395223278145" cy="33.05381888712616" data-ring="8")
    circle(r="3" cx="-55.17166635308705" cy="23.58150189923542" data-ring="8")
    circle(r="3" cx="-58.4956747309094" cy="13.35125603737886" data-ring="8")
    circle(r="3" cx="-59.93958399247889" cy="2.6918898210309123" data-ring="8")
    circle(r="3" cx="-59.4569857060761" cy="-8.053995949059313" data-ring="8")
    circle(r="3" cx="-57.06339097770922" cy="-18.541019662496836" data-ring="8")
    circle(r="3" cx="-52.83573191140431" cy="-28.432119748379918" data-ring="8")
    circle(r="3" cx="-46.9098889480818" cy="-37.409388111524" data-ring="8")
    circle(r="3" cx="-39.47632355638274" cy="-45.18428796021665" data-ring="8")
    circle(r="3" cx="-30.773956644354385" cy="-51.50692761611195" data-ring="8")
    circle(r="3" cx="-21.082489444880565" cy="-56.17409223838423" data-ring="8")
    circle(r="3" cx="-10.71341368791822" cy="-59.035775315917775" data-ring="8")
