//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Developing Nations"
  - page.expert = "Annmaree O’Keeffe"
  - page.expertrole = "Nonresident Fellow"
  
block intro-image
  img.bg-img(data-src="../../img/developing-nations.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://unsplash.com/photos/XWKX7mki3zs">Ankit Manoharan / Unsplash</a>

block intro-description
    :marked
      COVID-19 has the world’s poor in its sights.

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Every viral pandemic has its prime targets. For HIV/AIDS, it has been the marginalised and stigmatised, killing 35 million in the past 35 years. For COVID-19, it is initially the aged and physically vulnerable. But when the frontline shifts it will be the world’s poor in developing countries who will suffer the most.  

              Thanks to their existing ill health, the poor in developing nations already live 18 fewer years than people in high-income countries. They have sub-standard health systems unable to provide even basic services, weak and mismanaged national economies, limited access to financial and skilled human resources, and under-educated populations. 
              
              COVID-19 will therefore disproportionately hit the world’s poorer countries both as a health cataclysm and as a destablising social and economic crisis. This will take some into the realm of fragile states and already fragile states will be driven deeper into dysfunctionality. 

              The UN Development Program estimates that “income losses are expected to exceed US$220 billion across developing countries”, hitting those least able to cope. That forecast takes on a razor edge when considering that up to 75 per cent of people in least developed countries lack access to the primary means of infection prevention — soap and water.  Many of those least developed countries are in our neighbourhood, including Cambodia, Nepal, and four Pacific countries — Solomon Islands, Vanuatu, Tuvalu, and Kiribati.

              Even in the more prosperous parts of the developing world, the World Bank has estimated that if regional growth slows to 2.1 per cent, 24 million fewer people will escape poverty compared with pre-COVID projections. In a lower growth scenario, millions more will descend into poverty.

              The World Bank acknowledges the perils of making predictions in this fast-moving crisis. Just as the world’s richer countries face varying degrees of success and failure according to their response to this viral blitzkrieg, so too will developing countries. What is clear is that there must be a multi-pronged program of support, including direct assistance for health systems as well as support for failing economies. No single response fits all. Instead, this is the time to apply the fragile states principles, which were developed in the early 2000s to help failed states emerge from conflict — RAMSI (Regional Assistance Mission to Solomon Islands) was an example. These include focusing on the context, prioritising prevention, agreeing on practical co-ordination mechanisms between international actors, and staying engaged long enough to give success a chance. 

              The wealthier countries and international organisations have already started galvanising resources for the poorer nations. At the G20 meeting last month, commitments were made to strengthen capacity building and technical assistance and mobilise development and humanitarian assistance. Separately, the World Bank has put together a US$160 million package of immediate and longer-term support; the International Monetary Fund will engage with the private sector to help companies continue operating and sustain jobs; and the Asian Development Bank has put together a US$6.5 billion package for developing country members. So far, Australia’s international focus is largely on the Pacific with existing aid programs being redirected to focus support on health services and mitigate the economic shock.

              The forecast for the Pacific is grim. The big challenge for its development partners will be funding the scale of resources needed to deal with it. Despite the commitments to date, as the developed world goes into deeper debt to save itself, governments will be forced by their electorates to make some very tough decisions about their foreign aid budgets. 
