//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[3]

block content
  :marked
    My colleagues' analyses contain few errors of fact or judgement. This is a joyless finding, for they are in many regards counsels of despair. For all their mastery of nuance, their precise angles of vision, they come up with few answers to 'what is to be done?'
    
    What is needed is not appeals to the better angels of each other's nature, but a least-worst strategy that aims for a chess-like draw. The least-worst would eliminate some risky options: threats of decoupling, stepped-up pressure on supply chains, etc.
    
    Unhappily, 'national rejuvenation' under Chairman Xi ultimately rejuvenates some Mao era zero-sum thinking. The buzz-term 'baseline thinking' (*dixian siwei*) at first glance looks like a least-worst formula.
    
    But as we know, Xi himself harks back, not to Confucius and his golden rule, still less to Marx and his class justice, but to Qin dynasty Legalism. There is little to be gained from confronting this with facts and logic --- blatant tactics of domination. But engaging with it conforms to a least-worst approach.
    
    Let us focus on some positive sums and see where they lead, beginning with **Tanner Greer's** view that,
    
    The threats identified are not military... but are instead concepts like independent judiciaries, universal human rights, and Western freedom. Any scheme of mutual accommodation that neglects this acute ideological insecurity will not last.
    
    This, to my mind, hits the mark, covers a lot of territory, and points to some pluses.
    
    1. Even under **Daniel Tobin's** 'Leninist species of socialism', pens are mightier than swords; Chinese strongman leaders struggle without establishment intellectuals lending support, 'intellectual legitimacy'.
    
    2. The conceptual issues **Greer** lists are curated by these same intellectuals; the famous campuses of Beijing, Shanghai, and elsewhere nurtured classic-sense liberalism right through the Maoist era, as was revealed later.
    
    3. To achieve a draw, the West should not be feared, but respected for its creativity and ability to refresh its frames of reference. The establishment intellectuals only recently began to question this ability, so not all is lost.
    
    One of **Greer's** sources writes,
    
    America has expanded its commitments overseas on the implicit assumption that ordinary Americans benefit as America's global footprint grows. But many ordinary Americans disagree.
    
    There are many who likewise doubt that ordinary Chinese benefit as China's global footprint grows --- zero-sum thinking and Legalism are deemed far from satisfactory. Two of Beijing's dominant narratives, deeper than 'baseline thinking', address the need to offer the world public goods. They can be phrased more or less instrumentally (guided by baseline thinking), but a least-worst strategy might do well to begin with them.
    
    **Champion of plurality**
    
    Dissolving the putative world leadership (hegemony) of the United States, this blends the themes of multipolarity and multilateralism. It features hugely in Beijing's current external policy. It shores up relations with Russia; Beijing would like it to do as much with Europe.
    
    A least-worst strategy would see the United States and others take the demand for multilateralism seriously. China is gaming out a potential Biden election victory. The Biden camp may not reverse the impasses of the Trump era, but they should consider working to supply multilateralism with a draw --- now a positive outcome.
    
    **Herald of the high frontier**
    
    This remains the most promising avenue of approach. It has an instrumental face: China for example works with Russia to keep the Antarctic open to extractive industries, dismissing global opinion. Not letting up under Xi even in the COVID-19 era, the 'ecological civilisation' theme launched by Hu Jintao displays weaknesses and duplicities. The fact remains that Beijing is powerfully non-denialist of climate change. The United States and others would do well, once again, to work to supply China's proposals for the global commons with positive sums. This is the narrative with the most points on its side, with prospects for yielding a draw.\
    
    **David Kelly** has researched and taught Chinese studies at ANU, Australian Defence Force Academy, the East Asia Institute (Singapore), Peking University, and the University of Technology Sydney. He is now a principal with China Policy, a Beijing-based information and advisory firm.
