extend /partials/layout

block append config
  - page.title = "Covid Performance - Lowy Institute"
  - page.metaTitle = "Covid Performance - Lowy Institute"
  - page.description = ""
  - page.url = "https://interactives.lowyinstitute.org/features/covid-performance/"
  - page.image = "https://interactives.lowyinstitute.org/features/covid-performance/img/thumbnail.jpg"
    
block page
  
  include partials/_nav-list
  include partials/_header
  include partials/_social
  
  nav
    +nav-list
    include partials/_social
    
  //#controls.p-xs.txt-ff
    #pager-progress
      span#pager-index 1
      span &ensp;/&ensp;
      span#pager-total
    #btn-prev.btn.icon.icon-up
    #btn-next.btn.icon.icon-down
    //- #btn-fs.btn.icon.icon-expand
      
  #scroller.inset-0(
    data-view="scroller"
    data-pager=".slide-wrap"
    data-index="0"
  )
    #scroller-inner
      include slides/_slides

  #modal
    .absolute.btn-close Collapse
    #modal-inner
      h3.name.txt-bold Title
      .text 

block append css
  style
    //include:sass _style.sass
    include:sass style/_vars.sass
    include:sass style/_base.sass
    include:sass style/_controls.sass
    include:sass style/_colors.sass
    include:sass style/_layout.sass
    include:sass style/_chart.sass
    include:sass style/_scroll.sass
    include:sass style/_sandbox.sass
    include:sass style/_transitions.sass
    include:sass style/_table.sass
    include:sass style/_ui.sass

block append customScripts

  script(type="text/javascript")
    include:coffee coffee/base.coffee
    include:coffee coffee/scroller.coffee
    include:coffee coffee/methods.coffee
    include:coffee coffee/line.coffee
    include:coffee coffee/path.coffee
    include:coffee coffee/data-text.coffee
    include coffee/choices.js
