extend /partials/layout

block append config
  - page.title = "Gender Splits across Australia’s IR Agencies"
  - var chart  = data.getOne("static/charts/gender-diversity-and-australias-international-relations/apsed-agency-gender-splits/apsed")

block page
  script
    != `window.chart = ${JSON.stringify(chart)};`
  .wrapper(data-view="apsed-3" data-souce="chart")
    .chart-nav
      label.fl-l.select-wrap
        select
          for k, i in chart.agencies
            option(value=i)= k.name
        span.select-caret

      button.btn.btn-l.fl-l &larr;
      button.btn.btn-r.fl-l &rarr;
    svg.chart(width="100%" height="528")

block append css
  style
    include style.css
