//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").responses[6]

block pullquote
  :marked
    “The most gripping sentence from the article here. One which is impossible to ignore.”

block content
  :marked
    Still to come
