extend ../../partials/issue

block append config
  - page.title = "Australia’s Diplomatic Footprint"

block intro-image
  img.bg-img(data-src="../../img/embassy.jpg")

block intro-caption
  :marked
    Photo: [Jason Wong/Flickr](https://www.flickr.com/photos/jasewong/3690602038)

block intro-description
  :marked
    Australia’s diplomatic footprint is comprised of the diplomats and
    officials posted overseas and the ‘soft power’ the country can bring to
    bear. A larger footprint provides greater influence and access for
    Australian officials, businesses and citizens. DFAT has been struggling
    with low funding for several years, and this has affected the size of 
    our&nbsp;footprint.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            Since 2013, the Coalition government has increased the nation’s
            diplomatic footprint by eight new posts (7%), and in late 2018
            promised to open five new posts in the Pacific as part of its ‘step
            up’ in the region.<sup>[1]</sup>

            [1]: https://foreignminister.gov.au/releases/Pages/2018/mp_mr_181114.aspx

        .txt-source
          :marked
            Scott Morrison announces new diplomatic posts *[→]*

            [→]: https://www.pm.gov.au/media/address-australia-and-pacific-new-chapter 

    .row
      .col-fw.bg-hl.txt-ff.frame
        .caption.hidden-sm
          | Photo: 
          a(href="https://www.flickr.com/photos/93527318@N05/28759639086")
            | Trish_of_Wgtn / Flickr
            
        img.bg-img.bg-img-abs(data-src="../../img/nuie.jpg")
        .p-md.txt-lg(style="text-shadow: 0 0 12px #0371b3;max-width:22em")
          | Australia has committed to opening five diplomatic missions in the
          | Pacific region — in Palau, the Marshall Islands, French Polynesia,
          | Niue and the Cook Islands. The population of Niue is 
          | approximately&nbsp;1600.


  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Australian Labor Party has committed to establishing four new diplomatic posts, one likely to be in Indonesia and three others elsewhere in the Indo-Pacific region. It has also said that it will appoint ‘geoeconomic counsellors’ at key posts in the diplomatic network.<sup>[2]</sup>

            [2]: https://www.pennywong.com.au/speeches/australian-foreign-policy-futureasia-and-the-pacific-apec-study-centre-melbourne/ 

        .txt-source
          :marked
            Penny Wong's speech on 'FutureAsia and the Pacific' *[→]*

            [→]: https://www.pennywong.com.au/speeches/australian-foreign-policy-futureasia-and-the-pacific-apec-study-centre-melbourne/

          //- 
            The Shadow Minister for Foreign Affairs gave a speech on the 
            matter here.

    .row
      .col-fw.bg-hl
        .map-caption.txt-sans.txt-ff.bg-hl.txt-left
          :marked
            Australia’s diplomatic footprint is small in comparison with other
            nations of its size and economic weight. In 2017, the Lowy
            Institute [Global Diplomacy Index] ranked Australia’s diplomatic
            network at 28th among all 60 G20, OECD and Asian nations.

            [Global Diplomacy Index]: https://globaldiplomacyindex.lowyinstitute.org

        img.fill(data-src="../../img/posts.png")

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                
                .txt-xxl.pv-xs What Our Expert Says
                
                .txt-sm.txt-tu.txt-expert-author
                  | Alex Oliver<br>
                  span.txt-mt Director of Research

          .row.bg-hl
            .col-fw.txt-lg.p-md
              .mx-320
                span.bg-ff.bg-ffs.txt-dk
                  | Australia has one of the 
                  | smallest diplomatic networks 
                  | in the developed&nbsp;world

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            Australia is a globally engaged trading nation, geographically
            distant from its largest trading and security partners including
            the United States, Europe and China. Diplomacy — building
            relationships with important partners and neighbours around the
            world — is therefore critical to its success. Yet Australia remains
            a disproportionately small diplomatic power for a country of its
            economic weight and wealth. It has one of the smallest diplomatic
            networks in the developed world, ranking behind Belgium, Hungary,
            Portugal, Chile and Greece — all far smaller nations with economies
            and populations a fraction the size of Australia’s.

            The Coalition government has made a concerted effort to increase
            Australia’s diplomatic footprint, adding eight new posts and
            increasing Australia’s network to 118 posts worldwide. However,
            according to the Lowy Institute’s 2017 Global Diplomacy Index, this
            remains well below the G20 average of 194 posts and the OECD
            average of 132 posts.<sup>[3]</sup>

            Since its 2009 report on Australia’s ‘diplomatic deficit’, the Lowy
            Institute has consistently argued that this thinned-out diplomatic
            network is the result of decades of government neglect and
            under-resourcing of Australia’s diplomacy. Despite the small
            increase in the network, the number of staff at those overseas
            posts (869) is almost 10 per cent smaller than 30 years ago (948),
            and DFAT funding has largely stagnated. It is continually asked to
            do more with less. For Australia to achieve its international aims,
            this needs to change.

            [3]: https://globaldiplomacyindex.lowyinstitute.org/country_rank.html
