extend ../../partials/issue

block append config
  - page.title = "Australia’s Diplomatic Footprint"

block intro-image
  img.bg-img(data-src="../../img/embassy.jpg")

block intro-caption
  :marked
    Photo: [Jason Wong/Flickr](https://www.flickr.com/photos/jasewong/3690602038)

block intro-description
  :marked
    Australia’s diplomatic footprint is comprised of the diplomats and
    officials we have posted overseas and the ‘soft power’ our country can
    bring to bear. A larger footprint provides greater influence and access for
    Australian officials, businesses and citizens. The Department of Foreign
    Affairs and Trade has been struggling with low funding for several years,
    and this has impacted the size of our footprint.

block scroller
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            Since 2013, the Coalition Government has increased the nation's
            diplomatic footprint by eight new posts (seven per cent), and in
            late 2018 promised to open five new posts in the Pacific as part of
            its 'step up' in the region.

        .txt-source
          :marked
            Scott Morrison announces new diplomatic posts *[→][1]*

            [1]: https://www.pm.gov.au/media/address-australia-and-pacific-new-chapter

    .row
      .col-fw.bg-hl.txt-ff.frame
        .caption.hidden-sm
          | Photo: 
          a(href="https://www.flickr.com/photos/93527318@N05/28759639086")
            | Trish_of_Wgtn / Flickr
            
        img.bg-img.bg-img-abs(data-src="../../img/nuie.jpg")
        .p-md.txt-xl(style="text-shadow: 0 0 12px #0371b3;")
          | Australia has committed to opening a diplomatic mission on<br>
          | Niue whose population is 
          span.txt-nowrap(data-view="counter") only around 1,700.


  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-lg.txt-border.ph-md.txt-left(style="max-width: 420px")
          :marked
            The Australian Labor Party has committed to establishing four new
            posts in the Indo&#8209;Pacific, with Indonesia a priority
            location, as well as establishing ‘geo&#8209;economic counsellors’
            at key posts in the diplomatic network.

        .txt-source
          :marked
            Penny Wong's speech on 'FutureAsia and the Pacific' *[→][1]*

            [1]: https://www.pennywong.com.au/speeches/australian-foreign-policy-futureasia-and-the-pacific-apec-study-centre-melbourne/

          //- 
            The Shadow Minister for Foreign Affairs gave a speech on the 
            matter here.

    .row
      .col-fw.bg-lt
        .map-caption.txt-sans.txt-ff.bg-hl.txt-left
          :marked
            Australia’s diplomatic footprint is relatively small for its size –
            a 2017 Lowy [Global Diplomacy Index] rated our footprint as just
            below Pakistan’s. The Department of Foreign Affairs and Trade has
            been underfunded for several years with limited government
            investment.

            [Global Diplomacy Index]: https://globaldiplomacyindex.lowyinstitute.org

        img.fill(data-src="../../img/posts.png")

  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg.p-md
              .txt-highlight
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | Australia has one of the 
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | smallest diplomatic networks 
                span.pv-xs.ph-sm.bg-ff.txt-dk
                  | in the developed world

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              Australia is a globally-engaged trading nation, geographically
              distant from its largest trading and security partners including
              the United States, Europe and China. Diplomacy – building
              relationships with important partners and neighbours around the
              world is therefore critical to its success. Yet Australia
              remains a disproportionately small diplomatic power for a country
              of its economic weight and wealth. It has one of the smallest
              diplomatic networks in the developed world, ranking behind
              Belgium, Hungary, Portugal, Chile and Greece – all far smaller
              nations with economies and populations a fraction the size of
              Australia's.
              
              The current Coalition Government has made a concerted effort to
              increase Australia's diplomatic footprint, adding eight new posts
              and increasing Australia's network to 118 posts worldwide.
              However, this remains well below the G20 average of 194 posts and
              the OECD average of 132 posts (from the latest data in the 2017
              [Global Diplomacy Index][1]).
              
              Since its 2009 report on Australia's '[diplomatic deficit][2]',
              the Lowy Institute has [consistently][3] [argued][4] that this
              thinned-out diplomatic network is the result of [decades of
              government neglect][5] and under-resourcing of Australia's
              diplomacy. Despite the small increase in the network, the number
              of staff at those overseas posts (869) is almost 10 per cent
              smaller than it was thirty years ago (948), and  DFAT funding has
              [largely stagnated][6]. It is continually asked to do more with 
              less.


              [1]: https://globaldiplomacyindex.lowyinstitute.org
              [2]: https://archive.lowyinstitute.org/publications/australia-diplomatic-deficit
              [3]: http://www.lowyinterpreter.org/post/2015/10/15/DFAT-not-perfect-but-in-our-national-interest.aspx
              [4]: https://www.lowyinstitute.org/publications/hearings-joint-standing-committee-foreign-affairs-defence-and-trade
              [5]: https://www.lowyinstitute.org/the-interpreter/australia-s-flatlining-foreign-affairs-budget
              [6]: https://www.lowyinstitute.org/the-interpreter/australia-s-flatlining-foreign-affairs-budget
 
          .txt-sm.txt-tu
            | Alex Oliver<br>
            span.txt-mt Director of Research
