//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Forming a coalition of competent middle powers to lead on global health problems"
  - page.expert = "Hervé Lemahieu with Alyssa Leng"
  - page.expertrole = "ASIAN POWER AND DIPLOMACY PROGRAM"

block intro-image
  img.bg-img(data-src="../../img/middle-powers.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://unsplash.com/photos/jJyX8IJIY0k">Maria Stewart / Unsplash</a>

block intro-description
    :marked
      “COVID-19 has shown that there are opportunities for creative diplomacy in a more horizontal world. Change will have to come not from a single power source, but from a networked grid of competent middle powers.”

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              The coronavirus is a powerful reminder that legitimacy and leadership on the world stage start with the capacity of leaders to govern competently at home. The reputations of both China and the United States have diminished as a result of their handling of the emergency. Both have written themselves out of global crisis leadership. 
              
              By contrast, recent Lowy Institute research reveals that a larger proportion of small and middle powers have done better at handling COVID-19 than their great power counterparts.
              
              <iframe width="100%" height="550px" src="https://interactives.lowyinstitute.org/charts/pandemic-response/chart-power-v2/"></iframe>
              
              This places Australia and many of its regional counterparts in a unique position to carve out constructive roles for themselves in global pandemic response and recovery efforts. 
              
              Countries such as Australia, New Zealand, Taiwan, South Korea, and Denmark slowed the spread of the virus through bold policy interventions at an earlier point on the curve than the global average. 
              
              The major dividing line in effective crisis response, according to Francis Fukuyama, has not been regime type, “but whether citizens trust their leaders, and whether those leaders preside over a competent and effective state.” This plays to the strengths of countries with smaller populations, greater political cohesion, and capable institutions.    
              
              Australian government agencies, research institutes, and scientists are now at the forefront of what Lowy Institute Executive Director Michael Fullilove has termed “coalitions of the competent”. These informal groupings have sprung up across international jurisdictions and in a multitude of policy areas: from the resumption of international travel through shared ‘travel bubbles’, to cross-border collaboration on the development of a vaccine and therapies to treat the virus. 
              
              Middle powers have also shown that, when they work together, they can forge global consensus even in a multipolar and dislocated international system. When Australia and the European Union successfully steered a resolution through the World Health Assembly, they did so with the largest number of co-sponsors in the 72-year history of the WHO. 
              
              The net result is the global health body’s handling of the pandemic will be open to scrutiny, but the organisation's centrality to global health policy has not been undermined. 
              
              Now that the vote is won, other things become possible. 
              
              Creative diplomacy will be required to strengthen global health security. The pandemic has shown the need for reliable information to be shared equitably and rapidly between member states. To address this, middle powers should consider establishing an enhanced global monitoring facility, based in the WHO, but with independent accountability.
              
              In the interim, a middle power grouping can also consider activating a dispute settlement mechanism under the International Health Regulations to clarify the application and interpretation of existing procedures. This may help improve the openness and transparency of the WHO Emergency Committee process, provide clarification for a stepped-up level of emergency alerts, and reassess the WHO Secretariat’s role in providing travel advice during a pandemic.
              
              Finally, with the loss of US funding all but certain, the race is on for middle powers to fill the WHO’s most egregious financing gaps. 
              
              Australia is already pivoting its aid program to work with the WHO on capacity building in its near abroad. This regional approach can be enhanced by working with a consortium of donors on a coordinated global funding strategy.
              
              Similar foresight and coordination will be required to replace the loss of a US voice at the World Health Assembly — particularly when the time comes to appoint the next Director-General of the WHO.
              
              COVID-19 has shown that there are opportunities for creative diplomacy in a more horizontal world. Change will have to come not from a single power source, but from a networked grid of competent middle powers. 
