//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "How middle power coalitions can work to solve global problems"
  - page.expert = "Alyssa Leng and Hervé Lemahieu"
  - page.expertrole = "ASIAN POWER AND DIPLOMACY PROGRAM"

block intro-image
  img.bg-img(data-src="../../img/truth.jpg")

block intro-caption
  :marked
    Photo:<br><a href="#">Attribution / Src</a>

block intro-description
    :marked
      How middle power coalitions can work to solve global problems

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              After a decade of democratic backsliding and populism, 2020 is the macabre finale. Propaganda and misinformation are deepening the disconnect between publics and political elites during COVID-19. Both truth and trust are falling victim.

              Trust in government was already at a low point prior to COVID-19. And governments in the early stages of the virus did not inspire confidence. China covered up the outbreak. The United States underestimated it. The United Kingdom surrendered to it. And most of Europe failed to control its spread.

              Most governments are attempting to rectify early missteps. But doubts about the competence of these systems — democratic or authoritarian — continue to mount. Citizens are told to turn to authoritative sources, but once-trusted institutions have not stepped up: the World Health Organization has been damaged by allegations that it is beholden to China.

              Misinformation in a pandemic is not new but in COVID-19 it is unprecedented. In this contested information environment, there is no single source of truth. Even the data on COVID-19 cases, coded in the simplicity of 1s and 0s, tells a different story depending on which university publishes it.

              The authority of legacy media has been undermined by perceptions of entrenched ideological bias and the loss of advertising alike. For many newspapers, COVID-19 will be an extinction event. 

              Social media and fringe news have filled the vacuum. In the crisis, social media has had its benefits — citizen journalists and outspoken doctors have been empowered. But malign actors thrive in environments of distrust and confusion, and dangerous misinformation, disinformation and flawed amateur analysis abound. Make way for the armchair epidemiologists. One Medium.com post that claimed the public health response to COVID-19 was based on hysteria, rather than evidence, was viewed and shared by more than two million people before it was removed as dangerous. Truth, and one of its emissaries, science, has been politicised. If this pandemic does signal the return of science, then to gain traction, the scientists will need to be propagandists too. 

              Worse still, political leaders have been complicit: suppressing information and at times outright lying during the outbreak. Suspicion has been rightly levelled at China, where the instinct to suppress and censor bad news had tragic costs. But the White House under President Trump has also had a tenuous relationship with the truth. For many, neither system looks particularly appealing. Government incompetence has driven people towards mistruths and emotion rather than fact and science.

              Conspiracy theories have also flourished, aided in part by governments. Some Chinese officials claimed the virus was brought to China by the US military. United States elected officials argue COVID-19 was a misfired Chinese bioweapon. The truth has been obscured in this unedifying war of words. Pew polling has found a third of Americans say COVID-19 originated in a lab. 

              Stepping into the void, technology companies have become gatekeepers. Twitter deletes posts by Venezuela’s President Maduro or Brazil’s President Bolsonaro that promote untested COVID-19 treatments, but turns a blind eye when the same message is shared by President Trump. Even for the free-speech extremists of Silicon Valley, information is political.

              The information age was meant to make truth more accessible and governments more accountable. Instead, propaganda and misinformation spew from an endlessly expanding array of new sources, while governments and once-trusted institutions disassemble truth to serve their own political prerogatives.  

              Some governments are rebuilding public trust through competent and honest responses. But distrust and deception in public life is accelerating. And the truth, already undervalued in recent history, has become another casualty of the war against COVID-19.
