//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Revaluing Australia's diplomacy"
  - page.expert = "Alex Oliver"
  - page.expertrole = "Director of Research"

block intro-image
  img.bg-img(data-src="../../img/diplomacy.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://www.flickr.com/photos/157637683@N08/45792296892/">Australian Embassy Ireland / Flickr</a>

block intro-description
    :marked
      Revaluing Australia's diplomacy

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              
              <iframe width="100%" height="550px" src="https://interactives.lowyinstitute.org/charts/pandemic-response/dfat-defence-oda/"></iframe>
              
              The story this picture tells has been told with monotonous regularity by the Lowy Institute in research projects since 2009. The "diplomatic deficit" — the title of the Institute’s 2009 investigation into the instruments of Australia's international relations and their fitness for the twenty-first century — has become global shorthand for the underfunding and undervaluing of diplomacy worldwide. 
              
              The predicament the world finds itself in at the turn of the decade shows just how important diplomacy is. Of course, national responses have been critical in suppressing the spread of COVID-19 within borders. But COVID has also revealed the limits of sovereign control. Globalisation has melted borders, making the job of containing the spread of the virus virtually impossible. Almost every aspect of national responses has involved diplomacy in some way — whether in closing borders, helping evacuate stranded citizens, engaging with the World Health Organization, or delivering assistance to vulnerable neighbours. From Australia's perspective, one of the most recent demonstrations of the value of diplomacy has been our work behind the scenes with the European Union to establish an investigation into the origins and global response to the pandemic. A less conspicuous example of several years of diligent diplomacy was the ‘Quad-Plus’ meeting in late March between officials from the United States, Japan, India and Australia (the Quad countries), along with representatives from New Zealand, South Korea and Vietnam. The goal was to discuss pandemic response coordination as well as plans for reviving regional economies. If there is a revised G7+ grouping, as mooted by President Trump, that will also require a concerted effort from Australian diplomats to ensure it does useful work. 
              
              This strenuous diplomatic agenda requires a diplomatic corps operating at peak ability. Yet for decades, Australian diplomacy has been sapped by increasingly strained budgets, relentless 'efficiency dividends' and workforce cuts. In real terms, its budget has not just flatlined, it is declining, and in 2022 will be smaller than it was 15 years earlier, in 2007. Australia has the world's thirteenth largest GDP and defence expenditure, but only the twenty-seventh largest diplomatic network. There are fewer Australian diplomats posted overseas today than there were 30 years ago. That number, now 860 diplomats, is dispersed across 84 countries and must manage the full spectrum of Australia's foreign and trading relations, including providing consular assistance to Australians abroad — a very public function that has been scrutinised closely in the COVID crisis. Since March, DFAT has facilitated the evacuation and repatriation of more than 26 000 Australians; the biggest consular operation in its history.
              
              With an increasingly assertive China and a weaker America embroiled in internal discord and external competition, the deft management of Australia's international relations is becoming ever more crucial. Diplomacy must be valued, and it must be funded accordingly. In 2008, US Secretary of Defense Robert Gates took the highly unusual step of publicly calling for the proper funding of US diplomacy and international development assistance. Attesting to the need to properly value diplomacy and Australia's diplomats, Sir Angus Houston, former Chief of the Australian Defence Force and Lowy Institute Board member, cites Australia's response to the MH17 downing. As the prime minister's special envoy, Sir Angus relied heavily on the knowledge and expertise of Australia's highly-experienced diplomats on the ground. Their relationships with key players enabled access to the crash site and working with like-minded partners in securing an investigation. 
              
              In strategically uncertain times, Australia has rightly invested in its defence, expanding its capability with significant purchases of materiel and increasing its operating expenditure. But Australia's diplomacy must also be re-funded, and its diplomatic corps valued and strengthened. This requires more diplomats posted abroad, boosting numbers at small posts, adding posts where there are gaps, building teams everywhere else, and valuing their advice. This must not be done by reducing the teams at headquarters that provide leadership, strategic thinking, coordination, and regional expertise. The defence of Australia and the preservation of its prosperity requires the wielding of pen, word, and sword in better balance.
