- text = data.getOne("static/features/covid-performance/data/text")

#type-wrap(
    data-view="slide, in-viewport"
    data-duration=1800
  )
  each p,i in text
    .context
      h1.capitalise!= p.name
      p.txt-lite!= p.body
