.type-wrap(data-view="in-viewport")
  
  if cat == "politics"
  
    h1#politics.rise-in Political systems
    
    .rise-in.delay-1
        
      :marked
        
        The tools to contain the spread of COVID-19 — stay-at-home orders, lockdowns, and border closures — have been common to most countries. But how governments convinced or compelled their citizens to adhere to these measures often reflected the nature of their political systems. 
        
        Despite initial differences, the performance of all regime types in managing the coronavirus converged over time. On average, countries with authoritarian models had no prolonged advantage in suppressing the virus. Indeed, despite a difficult start and some notable exceptions, including the United States and the United Kingdom, democracies found marginally more success than other forms of government in their handling of the pandemic over the examined period. By contrast, many hybrid regimes, such as Ukraine and Bolivia, appeared least able to meet the challenge.
  
  else if cat == "region"
  
    h1#region.rise-in Regions      
    
    .rise-in.delay-1
      
      :marked
        
        Although the coronavirus outbreak started in China, countries in the Asia–Pacific, on average, proved the most successful at containing the pandemic. By contrast, the rapid spread of COVID-19 along the main arteries of globalisation quickly overwhelmed first Europe and then the United States. However, Europe also registered the greatest improvement over time of any region — with most countries there at one point exceeding the average performance of countries in the Asia–Pacific — before succumbing to a second, more severe, wave of the pandemic in the final months of 2020. Synchronous lockdowns across the highly integrated European continent successfully quelled the first wave, but more open borders left countries vulnerable to renewed outbreaks in neighbouring countries. 
        
        Meanwhile, the spread of the pandemic only accelerated in much of the Americas (North and South), making it the worst affected continent globally. Many countries in the Middle East and Africa managed to halt the initial progress of the pandemic with robust preventative measures. The regional situation eventually worsened there, before stabilising again in the second half of 2020. 

  
  else if cat == "size"
  
    h1#size.rise-in Population size      
    
    .rise-in.delay-1
      
      :marked
        
        Categorising countries based on their population size revealed the greatest differences in experiences with the COVID-19 challenge. These results stand even after taking into account per capita indicators to evaluate performance, minimising the likelihood of a methodological bias against countries with more infections because they have larger populations. The fact that internal borders are often more open and porous than international borders may have facilitated the spread of the virus within countries with larger populations.

        At the outset of the global pandemic, there was little discernible difference in country performance by population size. However, experiences between large, medium, and small populations diverged markedly less than a month after countries recorded their hundredth COVID-19 case. Smaller countries with populations of fewer than 10 million people consistently outperformed their larger counterparts throughout 2020, although this lead narrowed slightly towards the end of the examined period.

  
  else if cat == "income"
  
    h1#development.rise-in Development status
    
    .rise-in.delay-1
      
      :marked
        
        It is perhaps unsurprising that countries with higher per capita incomes had more resources available to fight the COVID-19 pandemic and performed better on average than developing countries for most of the crisis to date. More surprising is that many developing countries were able to cope with the initial outbreak of the pandemic and that advanced economies, as a grouping, lost their lead by the end of 2020 — with infections surging again in many places that had achieved apparent success in suppressing first waves of the pandemic.

        Richer countries were quickly overwhelmed when the virus first emerged. International air travel accelerated virus transmission from abroad in these countries. By contrast, many governments in developing countries had more lead time — and often a greater sense of urgency — to put in place preventative measures after the scale and severity of the global crisis became known. 
        
        The relatively ‘low-tech’ nature of the health measures used to mitigate the spread of the virus to date, including large-scale lockdowns, may have created a more level playing field between developed and developing countries in the management of COVID-19. Despite this, the uneven deployment of the first vaccines against COVID-19 could give richer countries a decisive upper hand in crisis recovery efforts, and leave poorer countries fighting against the pandemic for longer.

  
  else if cat == "rankings"
  
    h1#rankings.rise-in Country rankings
    
    .rise-in.delay-1
      
      :marked
        
        This table provides a ranked comparison of the average performance over time of countries in managing the COVID-19 pandemic in the 36 weeks following their hundredth confirmed case of the virus. In total, 98 countries were evaluated, based on the availability of data across the six indicators used to construct this Index. *

        Results can be sorted by rank or alphabetically.
   

      
    
