.slide-wrap
  h1 Credits
  p Options to the far right of the chain always have the highest priority. If two options in the chain conflict with each other, the option on the right will have precedence. For example, the command lorem_nowrap_wrap40 will insert Lorem Ipsum text with a word wrap width of 40 characters and the command lorem_wrap40_nowrap will insert Lorem Ipsum text with no word wrapping
