.credits.txt-center.flex.items-center
  .col-1-2
    h3.txt-lite Research
    p 
      a(href="https://twitter.com/AlyssaLeng" target="_blank" rel="nofollow") Alyssa Leng
      |  and 
      a(href="https://twitter.com/HerveLemahieu" target="_blank" rel="nofollow") Hervé Lemahieu
    p Power and Diplomacy Program
  .col-1-2
    h3.txt-lite Design / Dev
    p: a(href="https://twitter.com/__brodysmith" target="_blank" rel="nofollow") Brody Smith
    p Data Visualisation Specialist
