.slide-wrap
  .type-wrap
    h1#credits Credits
    p Research: Alyssa Leng and Hervé Lemahieu, Power and Diplomacy Program, Lowy Institute 
    p Design: Brody Smith, Data Visualisation Specialist, Lowy Institute
