.slide-wrap
  
  h1 Introduction

  p Table of contents. Introduction.
  
  //ul
    li: a(href="#anchor-region") Geography
    li: a(href="#anchor-politics") Politics
    li: a(href="#anchor-size") Population size
    li: a(href="#anchor-development") Development status
    li: a(href="#") Country explorer
    li: a(href="#") Country rankings
    li: a(href="#") Methods
    li: a(href="#") Credits
