.slide-wrap.intro.flex-cv.txt-center
  
  .top-img.absolute.flex
    img.spin.mx-auto(width="200px" src="assets/covid-base.png" style="vertical-align: bottom;")
    
  h1 The Covid Challenge
  h2 Deconstructing national responses to the&nbsp;coronavirus
  
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 4.1" preserveAspectRatio="none")
    path.line.red(
      d="M100,2.05H53c-1.5,0-1.5,2-2.25,2s-0.75-4-1.5-4c-0.75,0-0.75,2-2.25,2H0"
    )
    

  p Options to the far right of the chain always have the highest priority. If two options in the chain conflict with each other, the option on the right will have precedence. For example, the command lorem_nowrap_wrap40 will insert Lorem Ipsum text with a word wrap width of 40 characters and the command lorem_wrap40_nowrap will.
