.slide-wrap
  
  h1 Introduction

  p Table of contents. Introduction.
  
  ul
    li: a(href="#region") Geography
    li: a(href="#politics") Politics
    li: a(href="#size") Population size
    li: a(href="#development") Development status
    li: a(href="#country-explore") Country explorer
    li: a(href="#rankings") Country rankings
    li: a(href="#methodology") Methodology
    li: a(href="#credits") Credits
