include ../partials/_nav-list

.slide-wrap
  
  .type-wrap(data-view="in-viewport")
    
    h1#toc.capitalise.rise-in Table of contents
    
    +nav-list
  
    h1#introduction.capitalise.rise-in Introduction
    
    .rise-in.delay-1
    
      :marked
    
        Coronavirus continues to spread worldwide with more than 90 million confirmed cases across 190 countries and two million deaths as of mid-January 2021. For nearly a year, governments and societies have been turned inwards to fight an invisible enemy, exposing competing structures, vulnerabilities, and political priorities. The pandemic has also given rise to an ‘infodemic’ of narratives and counter-narratives about what kinds of states are inherently better suited to combatting the virus. 
        
        This Interactive explores how almost 100 countries with publicly available and comparable data on the virus have managed the pandemic following their hundredth confirmed case of COVID-19. Countries have been sorted into broad categories — by regions, political systems, population size, and development status — to determine whether significant variations exist between different types of states in the handling of the pandemic.  
        
        Some countries have managed the pandemic better than others – but most countries outcompeted each other only by degrees of underperformance. The severity of the pandemic in many countries has also changed significantly over time, with infections surging again in many places that had apparent success in suppressing initial outbreaks.
        
        No single type of country emerged the unanimous winner in the period examined. Variations between individual countries were far more substantial than those between broad categories of countries. Nor did a single theory convincingly explain the differences observed in national outcomes, despite some health measures proving far more effective than others.
        
        However, certain structural factors appear to be more closely associated with positive outcomes. For example, smaller countries (with populations of fewer than 10 million people) proved more agile than the majority of their larger counterparts in handling the health emergency for most of 2020. 
        
        On the other hand, levels of economic development or differences in political systems between countries had less of an impact on outcomes than often assumed or publicised. There may be some truth in the argument put forward by the American political scientist Francis Fukuyama that the dividing line in effective crisis response has not been regime type, “but whether citizens trust their leaders, and whether those leaders preside over a competent and effective state”. In general, countries with smaller populations, cohesive societies, and capable institutions have a comparative advantage in dealing with a global crisis such as a pandemic.
        
        Systemic factors alone — a society’s regional provenance, political system, development status, or size — cannot account fully for the differences observed in global crisis responses. The results point to some of the strengths and vulnerabilities stemming from the way different countries are set up to deal with a public policy challenge of this scale. But policy choices and political circumstances of the day appear to be just as important in shaping national responses to the pandemic.
        
        To gauge the relative performance of countries at different points in the pandemic, this Interactive tracked six measures of COVID-19 in the 98 countries for which data was available in the 36 weeks that followed their hundredth confirmed case of COVID-19 using data available to 9 January 2021. Fourteen-day rolling averages of new daily figures were calculated for the following indicators:
        
        - Confirmed cases
        - Confirmed deaths 
        - Confirmed cases per million people
        - Confirmed deaths per million people 
        - Confirmed cases as a proportion of tests
        - Tests per thousand people
          
        An average across those indicators was then calculated for individual countries in each period and normalised to produce a score from 0 (worst performing) to 100 (best performing). Collectively, these indicators point to how well or poorly countries have managed the pandemic in the 36 weeks that followed their hundredth confirmed case of COVID-19.
        
        Further information on methodology, choice of indicators, and individual country scores and rankings can be found at the end of the Interactive.
