.slide-wrap
  
  .type-wrap(data-view="in-viewport")
  
    h1#methodology.rise-in Methodology
    
    .rise-in.delay-1
      
      :marked
        
        In approaching the task of measuring the comparative effectiveness of countries’ handling of the COVID-19 pandemic, a number of criteria are relevant. Fewer reported cases and deaths, both in aggregate and per capita terms, point towards a better response to the virus. More tests conducted on a per capita basis reveal a more accurate picture of the extent of the pandemic at the national level. Lower rates of positive tests, meanwhile, indicate greater degrees of control over the transmission of COVID-19. 

        To gauge the relative performance of countries at different points in the pandemic, this Interactive tracked six measures of COVID-19 prevalence in countries with publicly available and comparable data. In total, 98 countries were evaluated in this Interactive in the 36 weeks that followed their hundredth confirmed case of COVID-19, using data available to 9 January 2021. Data was extracted from the [Our World in Data](https://ourworldindata.org/about) series, which is maintained by researchers at the University of Oxford and the non-for-profit Global Change Data Lab.

        Fourteen-day rolling averages of new daily figures were calculated for the following indicators: 
        
        - Confirmed cases
        - Confirmed deaths 
        - Confirmed cases per million people
        - Confirmed deaths per million people 
        - Confirmed cases as a proportion of tests 
        - Tests per thousand people 
        
        Collectively, these indicators point to how well or poorly countries have managed the pandemic. An average of the rankings across the six indicators was normalised for each country to produce a score between 0 (worst performing) and 100 (best performing) on any given day in the 36 weeks that followed their hundredth confirmed case of COVID-19.

        A score of 100 indicates that a country achieved the best average score across the six indicators compared to all other countries examined at a comparable point in time. Conversely, a score of 0 indicates that a country had the worst average score at a given moment during the pandemic. 

        Performance by types of countries was calculated by taking the average score of all countries that fell into the relevant category, where categories were determined based on the criteria set out below. 
        
        Regions were determined on the basis of commonly classified geographical groupings. The designation of political systems is based on The Economist Intelligence Unit Democracy Index 2019, with democracies comprising full and flawed democracies. Countries were considered to have a large, medium, or small population size if they had populations of over 100 million, between 10–100 million, or fewer than 10 million, respectively. The categorisation of advanced and developing economies follows the designations used by the International Monetary Fund’s World Economic Outlook.
