.slide-wrap.sandbox
  
  h1 Sandbox
  p.inline 
    label(for="country-input")  Search for countries to reveal on the chart.
    input#country-input(type="text" name="country-input" placeholder="e.g. Australia")
  
  .pv-sm
    
  .active-country-list
    .txt-tu.txt-sm Active countries
    ul
      li USA
      li Australia
      li India

    
  - cat="politics"  
  include _chart
