include _intro

each slide, i in ["politics", "region", "size", "income"]
  .slide-wrap
    - cat = slide
    include _context
    include _chart

include _sandbox
include _methodology
include _credits
