include _title
include _chart-defs

include _introduction

each slide, i in ["region", "politics", "size", "income"]
  .slide-wrap
    - cat = slide
    include _context
    include _chart

include _sandbox
include _rankings
include _methodology
include _credits
