.slide-wrap.intro.flex-cv.txt-center
  
  .top-img.absolute.flex
    img.spin.mx-auto(width="200px" src="assets/covid-base-400w.png" style="vertical-align: bottom;")
    
  h1 Covid Performance Index
  h2 Deconstructing global crisis&nbsp;responses
  
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 4.1" preserveAspectRatio="none")
    path.line.red(
      d="M100,2.05H53c-1.5,0-1.5,2-2.25,2s-0.75-4-1.5-4c-0.75,0-0.75,2-2.25,2H0"
    )
    
  p What impact have geography, political systems, population size, and development status had on COVID-19 outcomes around the world?
