extend ../../partials/issue

block append config
  - page.title = "Relations with the US"

block intro-image
  img.bg-img(data-src="../../img/trump-morrison.jpg")

block intro-caption
  :marked
    Photo: [WikiCommons](https://commons.wikimedia.org/wiki/File:President_Donald_J._Trump_at_the_G20_Summit_%2846120553691%29.jpg)

block intro-description
  :marked
    Australia’s alliance with the US is deep and enduring. In 2016, an Obama
    Administration official said [“Our allies all give us headaches, except for
    Australia. You can always count on Australia.”][1]

    President Trump is suspicious of alliances, and he had a testy early phone
    call with Prime Minister Turnbull. But historian James Curran says [“there
    is nothing new in leaders of the United States and Australia adopting
    contrasting positions and policies on how to approach challenges in
    Asia.”][2]

    [1]: https://www.theatlantic.com/international/archive/2016/03/obama-goldberg-world-leaders/473367/
    [2]: https://interactives.lowyinstitute.org/archive/the-prime-ministers-in-america/

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 450px")
          :marked
            Prime Minister Scott Morrison’s position on the alliance is very
            much in the tradition of his Liberal predecessors: [“A strong
            America – centrally engaged in the affairs of our region – is
            critical to Australia’s national interests.”][1]
            Morrison has also said that [Asia is entering a period of 
            heightened competition between the US and China][2].
            The Turnbull-Morrison Government was disappointed by the Trump
            Administration’s decision to withdraw from the Trans Pacific
            Partnership trade deal, and has worked to revive it without the US.

            [1]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
            [2]: https://www.lowyinstitute.org/the-interpreter/scott-morrison-gets-ready-asia-summit-season
 
    .row
      .col-1-2.bg-lt
        .txt-lg.ph-md(style="max-width: 480px")
          | Robertson Barracks in Darwin hosts the American Marine Rotational Force, part of the United States Marine Corps Forces Pacific.

      .col-1-2.bg-hl.txt-ff.frame
        .img-pan
          img.bg-img(data-src="../../img/robertson-barracks.jpg")
        .caption
          | U.S. troops attend an indigenous ceremony<br>
          | at Robertson Barracks in Darwin<br>
          | Photo: 
          a(href="https://www.flickr.com/photos/us-pacific-command/33878565894")
            | U.S. Indo-Pacific Command / Flickr
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .block
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left(style="max-width: 450px")
          :marked
            Bill Shorten describes the US as “our closest ally” but has noted
            that President Trump’s America first policy means we may not always
            see eye to eye with American policy. Shorten was also highly
            critical of Trump during the US presidential election campaign. Yet
            Shorten’s position is consistent with the Labor Party’s traditional
            support of the alliance: “Australia’s interests are always best
            served when the United States is engaged in our region – and the
            ANZUS alliance helps anchor that engagement.”
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/wtc.jpg")
        .txt-lg.ph-md(style="max-width: 640px")
          span.bg-ff.bg-ffs.txt-dk.pv-xs(style="line-height: 1.5")
            | While the ANZUS treaty has underpinned Australia-US relations for
            | decades, it only formally commits the two countries to “consult
            | together” and “act to meet the common danger”. The agreement has
            | been invoked only once, by Prime Minister Howard after the 9/11
            | attacks.
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .block
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title
                .txt-xxl.pv-xs What Our Expert Says
          .row.bg-hl
            .col-fw.txt-lg
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg
        .block.txt-sans.txt-left
          .pv-md
            :marked
              This is where our expert will have the opportunity to give their
              impression of the issue and where they think we should be headed.
              This text is 160 words long, which is all we need.

              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat. Duis autem vel eum iriure dolor in hendrerit
              in vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.

              Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat.

          .txt-sm.txt-tu
            | Expert<br>
            span.txt-mt Expert Position
