extend ../../partials/issue

block append config
  - page.title = "Relations with the US"

block intro-image
  img.bg-img(data-src="../../img/trump-morrison.jpg")

block intro-caption
  :marked
    Photo: [Wikimedia Commons](https://commons.wikimedia.org/wiki/File:President_Donald_J._Trump_at_the_G20_Summit_%2846120553691%29.jpg)

block intro-description
  :marked
    Australia’s alliance with the United States is deep and enduring. In 2016,
    an Obama administration official said: “our allies all give us headaches,
    except for Australia. You can always count on Australia.”  President Trump
    is suspicious of alliances, and he had a testy early phone call with Prime
    Minister Turnbull. However, historian James Curran says, “there is nothing
    new in leaders of the United States and Australia adopting contrasting
    positions and policies on how to approach challenges in Asia.”

block scroller  
  +item(1)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Government

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Scott Morrison’s position on the alliance is very much in the
            tradition of his Liberal predecessors: “A strong America –
            centrally engaged in the affairs of our region – is critical to
            Australia’s national interests.”   Mr Morrison has also said that
            Asia is entering a period of heightened competition between the
            United States and China. The Turnbull–Morrison government was
            disappointed by the Trump Administration’s decision to withdraw
            from the Trans–Pacific Partnership trade deal, and worked to revive
            it without the United States.

        .txt-source
          :marked
            Scott Morrison’s foreign policy *[→][1]*

            [1]: https://www.pm.gov.au/media/keynote-address-asia-briefing-live-beliefs-guide-us
 
    .row
      .col-1-2.bg-lt
        .txt-lg.p-md(style="max-width: 450px")
          :marked
            The Robertson Barracks in Darwin currently hosts a Marine
            Rotational Force, part of the United States Marine Corps Forces,
            Pacific.

      .col-1-2.bg-hl.txt-ff.frame
        .img-pan
          img.bg-img(data-src="../../img/robertson-barracks.jpg")
        .caption
          | U.S. troops attend an indigenous ceremony<br>
          | at Robertson Barracks in Darwin<br>
          | Photo: 
          a(href="https://www.flickr.com/photos/us-pacific-command/33878565894")
            | U.S. Indo-Pacific Command / Flickr
 
  +item(2)
    .row
      .col-1-2.bg-dk.txt-ff
        .p-md
          .pv-xs.txt-sm.txt-tu.txt-hl= page.title
          .txt-xxl.pv-xs The Opposition

      .col-1-2.p-md.bg-dk.txt-ff
        .txt-md.txt-border.ph-md.txt-left
          :marked
            Bill Shorten describes the United States as “our closest ally” but
            has called for a more independent foreign policy in response to
            President Trump’s America First policy. Bill Shorten was also
            highly critical of Trump during the United States presidential
            election campaign. Yet Mr Shorten’s position is consistent with
            Labor’s traditional support of the alliance: “Australia’s interests
            are always best served when the United States is engaged in our
            region – and the ANZUS alliance helps anchor that engagement.”

        .txt-source
          :marked
            Bill Shorten’s foreign policy *[→][1]*

            [1]: https://www.lowyinstitute.org/the-interpreter/globalised-homebody-bill-shortens-view-world
 
    .row
      .col-fw.bg-hl.txt-ff.frame
        img.bg-img.bg-img-abs(data-src="../../img/wtc.jpg")
        .txt-lg.p-md(style="max-width: 640px")
          span.bg-ff.bg-ffs.txt-dk.pv-xs(style="line-height: 1.5")
            | While the ANZUS Treaty has underpinned Australia–US relations for
            | decades, it only formally commits the two countries to “consult
            | together” and “act to meet the common danger”. The agreement has
            | been invoked only once, by Prime Minister Howard after the 
            | 9/11&nbsp;attacks.

        .txt-source.txt-source-border
          :marked
            ABC factcheck on the ANZUS Treaty *[→][1]*

            [1]: https://www.abc.net.au/news/2014-07-08/does-anzus-commit-us-to-come-to-australias-aid-fact-check/5559288
 
  +item(3)
    .row
      .col-1-2
        .fill
          .row
            .col-fw.bg-dk.txt-ff
              .p-md
                .pv-xs.txt-sm.txt-tu.txt-hl= page.title

                .txt-xxl.pv-xs What Our Expert Says

                .txt-sm.txt-tu.pv-sm.txt-expert-author
                  | Sam Roggeveen<br>
                  span.txt-mt Director, International Security Program

          .row.bg-hl
            .col-fw.txt-lg.p-md
              ul.txt-highlight
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | This is essentially a pull quote
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Or three separate, snappy lines of text
                li.pv-xs.ph-sm.bg-ff.txt-dk
                  | Whatever works best for the piece

      .col-1-2.p-lg.txt-expert-content
        .block.txt-sans.txt-left
          :marked
            An illustration of the importance of the Australia-US alliance is
            that both major Australian political parties claim its
            authorship. The Australian Labor Party dates the alliance to the
            aftermath of Pearl Harbour when Prime Minister John Curtin said
            that “Australia looks to America.” In contrast, the Coalition
            emphasises the Menzies Government’s negotiation of the 1951 ANZUS
            Treaty.
            
            The alliance is remarkably popular: [three quarters][1] of
            Australians say it is very or fairly important for Australia’s
            security.
            
            Donald Trump has complicated the picture. Scott Morrison had a
            ‘pull-aside’ meeting with President Trump on the sidelines of the
            G20 summit last November. The president’s first question was:
            “What happened to Malcolm?”
            
            Mr Shorten had some strong words for Donald Trump in 2016, so his
            first meeting with the president would be a point of curiosity.
            On the other hand, at this point, which democratic leader has not
            said something blunt about Mr Trump? At the Lowy Institute, Mr
            Shorten said he would work with Mr Trump “[professionally][2]”.
            
            The result of the US presidential election in November 2020 will
            have important ramifications for the alliance, depending on which
            combination of the Rubik’s cube clicks into place. For example, a
            Morrison-Trump relationship would be very different from a
            Shorten-Sanders one.
            
            China is the other piece of the puzzle. In Asia’s changing
            diplomatic geometry, Australia, the United States and China form
            a strategic triangle. The condition of the Australia-China and
            US-China sides of the triangle will inevitably affect the
            strength of the US-Australia alliance.

            [1]: https://lowyinstitutepoll.lowyinstitute.org/australia-us-relations/
            [2]: https://www.youtube.com/watch?v=WgFEpvGbnD0&t=56m28s
