@import app/static/features/covid-performance/style/_vars.sass

html, body
  height: 100%
  overflow: hidden !important

body
  font-family: Sans, sans-serif
  color: white
  
*
  box-sizing: border-box

::-webkit-scrollbar
  display: none
      
.absolute
  position: absolute
.relative
  position: relative
.inline
  display: inline
