@import app/static/features/covid-performance/style/_vars.sass


.line-chart
  width: 100%
  height: 100%
  z-index: 20
  pointer-events: none
  
  polyline
    pointer-events: stroke
  .dogtag
    pointer-events: all

.chart-wrap
  position: relative
  padding: 1rem 0
  min-height: 75vh
  height: 100%
  margin-top: 3rem
  
  .sandbox &
    min-height: 70vh
    margin-top: 0

  h3
    color: lighten($mid, 30)
    font-size: 22px
    text-transform: uppercase
    letter-spacing: 0.03em
    font-weight: 600

.chart-body
  position: absolute
  width: 100%
  height: 100%
  z-index: 10
  
#chart-countries
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 15
  pointer-events: none

#country-labels
  position: absolute
  pointer-events: none

.country-line-label
  opacity: 0
  font-size: 14px
  fill: currentColor
  transform: translate(-4px, 4px)
  text-shadow: 1px 1px 6px $dark, -1px 1px 6px $dark, 1px -1px 6px $dark, -1px -1px 6px $dark
  
  &.visible
    opacity: 1

.pathset
  cursor: pointer
  transition: opacity 0.3s
  
  &.dimmed
    opacity: 0.2
    
  &.inactive,
  &.inactive:hover
    opacity: 0.1
    
  &.active
    opacity: 1

.median
  
  &-path
    fill: none
    stroke: lighten($mid, 10)
    stroke-width: 2px
    stroke-dasharray: 2
    stroke-linecap: unset
  
  &-text
    fill: lighten($mid, 10)
    font-size: 10px
    text-transform: uppercase
    transform: translate(6px, 0px)
    letter-spacing: 0.05em
    
.country-line
  opacity: 0
  pointer-events: none
  
  &.active
    opacity: 0.4
    
  &.thicker.active
    opacity: 0.9
    stroke-width: 3
    transition-duration: 0.1s
    
    &.transparent
      stroke-width: 20
    
  &.transparent.active
    stroke: rgba($dark,0)
    pointer-events: stroke
  
  &.transparent:not(.thicker):hover + &
    opacity: 1!important
    stroke-width: 2
    
  &.transparent.thicker:hover + &
    opacity: 1!important
    stroke-width: 5
    
  &.transparent.thicker:hover + &.dashed
    stroke-width: 3.5
    
.dogtag
  font-weight: bold
  text-transform: uppercase
  font-size: 12px

.dogtag-mobile
  display: none
  pointer-events: all

rect.fill-v

  g:first-child &,
  g:last-child &
    opacity: 0.2
    
  g:nth-child(2) &,
  g:nth-last-child(2) &
    opacity: 0.5

.y-ticks
  font-size: 14px
  
  tspan
    font-size: 9px
    letter-spacing: 0.1em
    
  
.chart-labels
  
  text-transform: uppercase
  font-weight: 500
  font-size: 14px
  letter-spacing: 0.02em
  
  .x
    position: absolute
    bottom: -3rem
    left: -0.5rem
    
  .y
    position: absolute
    top: calc(50% - 1rem)
    right: -12rem
    transform-origin: center
    transform: rotate(90deg)
    line-height: 0.8
    
  path
    stroke: $dark
    
  text
    font-size: 10px
    letter-spacing: 0.02em
    font-weight: 400

.bump-up
  transform: rotate(30deg) translate(-12px, -32px)

#tooltip
  position: absolute
  pointer-events: none
  color: white
  z-index: 30
  text-align: right
  right: 0
  top: -2rem

.click-instruction
  opacity: 0.7
  
  > *
    fill: $lite
  
  circle
    fill: $pastel-3
    transform-origin: top
    opacity: 0.7
    animation: light-pulse 1.25s infinite alternate ease-in
    
  text
    font-size: 16px
    font-weight: 600
    letter-spacing: 0.08em
  
.rankings
  
  text
    text-anchor: end
    fill: white
    font-size: 15px
    opacity: 0.8
    
  .label
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 0.08em
    
  @for $i from 1 through 4
    .offset-#{$i}
      transform: translateY($i * -18px)

@media (max-width: 1100px)
  
  .chart-wrap
    padding: 1rem 2rem 1rem 4rem
    
  .chart-body
    width: 85%
    
  .x-ticks
    
    .fill-dark
      display: none
  
@media (max-width: 600px)
  
  #chart-countries
    display: none
  
  .chart-wrap
    margin-top: 3rem
    padding: 1rem 3rem 1rem 0
    min-height: 60vh
    
    // To accomodate 4th label for "region" slide on mobile
    .slide-wrap:nth-child(5) &
      margin-top: 6rem

  .country-line-label
    display: none

  .chart-body
    width: 93%
    
    > svg
      min-height: 400px
  
  .dogtag
    display: none
    
  .dogtag-mobile
    display: block
    
  .x-ticks
    > g:nth-child(even)
      display: none
      
  .x-ticks text,
  .y-ticks text
    font-size: 12px
  
  .chart-labels
    
    font-size: 12px    
    
    .x svg
      width: 10px
      
    .y  
      right: -10rem

@media (max-width: 400px)
  
  .chart-body
    width: 88%      
