@import app/static/features/covid-performance/style/_vars.sass

$n: 2

.pages
  height: 100% * $n

.line-chart-wrap
  width: 100%
  height: 100%/$n
  scroll-snap-align: start

.line-chart
  position: relative
  width: 100%
  height: 100%
  z-index: 20
  
.pathset
  cursor: pointer
  opacity: 0.85
  transition: opacity 0.3s
  
  &.inactive,
  &.inactive:hover
    opacity: 0.1
    
  &.active,
  &:hover
    opacity: 1
    
.country-line
  opacity: 0
  transition: opacity 0.2s, stroke-width 0.2s
  
  &.active
    opacity: 0.5
  
  &.active:hover
    opacity: 1
    stroke-width: 2

.dogtag  
  font-weight: bold
  text-transform: uppercase
  font-size: 12px
  
#chart-labels
  
  text-transform: uppercase
  font-weight: 500
  font-size: 14px
  letter-spacing: 0.02em
  
  .x
    position: absolute
    bottom: 2rem
    left: 10rem
    
  .y
    position: absolute
    top: calc(50% - 2rem)
    right: -3rem
    transform-origin: center
    transform: rotate(90deg)
    line-height: 0.8
    
  path
    stroke: $dark
    
  text
    font-size: 10px
    letter-spacing: 0.02em
    font-weight: 400
    
