@import app/static/features/covid-performance/style/_vars.sass

.bg-dark
  background: $dark
.bg-fff
  background: #fff
.bg-bk
  background: #000
.bg-lite
  background: $lite
.bg-fff-a
  background: rgba(#fff, 0.2)
  
.txt-dark
  color: $dark
.txt-fff
  color: #fff
.txt-bk
  color: #000
.txt-lite
  color: $lite
.txt-mid
  color: $mid

.fill-no
  fill: none
.fill-dark
  fill: $dark
  
.fill-blue-1
  fill: $blue-1
.fill-blue-2
  fill: $blue-2
.fill-blue-3
  fill: $blue-3
.fill-blue-4
  fill: $blue-4
.fill-pastel-1
  fill: $pastel-1
.fill-pastel-2
  fill: $pastel-2
.fill-pastel-3
  fill: $pastel-3
.fill-pastel-4
  fill: $pastel-4
.fill-pastel-5
  fill: $pastel-5
.fill-pastel-6
  fill: $pastel-6
.fill-red-1
  fill: $red-1
.fill-red-2
  fill: $red-2
.fill-red-3,
.fill-red
  fill: $red-3
.fill-red-4
  fill: $red-4

.fill-fff
  fill: #fff
.fill-bk
  fill: #000
.fill-lite
  fill: $lite
.fill-mid
  fill: $mid
.fill-a
  fill-opacity: 0.2
.stroke
  stroke: #fff
  vector-effect: non-scaling-stroke

.mask-l
  fill: url(#mask-l)
.mask-r
  fill: url(#mask-r)
.mask-t
  fill: url(#mask-t)
.mask-b
  fill: url(#mask-b)


.fill-l2r
  fill: url(#fade-l2r)
.fill-r2l
  fill: url(#fade-r2l)
.fill-v
  fill: url(#fade-v)
.fill-h
  fill: url(#fade-h)
.stroke-v
  fill: none
  stroke: url(#fade-v)
.stroke-h
  fill: none
  stroke: url(#fade-h)
.fade
  opacity: 0.25
  
.line,
.country-line
  
  fill: none
  vector-effect: non-scaling-stroke
  
  &.dashed
    stroke-dasharray: 7

  &.blue-1
    stroke: $blue-1
  &.blue-2
    stroke: $blue-2
  &.blue-3
    stroke: $blue-3
  &.blue-4
    stroke: $blue-4
  &.blue-5
    stroke: $blue-5
  &.red-1
    stroke: $red-1
  &.red-2,
  &.red
    stroke: $red-2
  &.red-3
    stroke: $red-3
  &.red-4
    stroke: $red-4
  &.fff
    stroke: white
  &.lite
    stroke: $lite
  &.pastel-1
    stroke: $pastel-1
  &.pastel-2
    stroke: $pastel-2
  &.pastel-3
    stroke: $pastel-3
  &.pastel-4
    stroke: $pastel-4
  &.pastel-5
    stroke: $pastel-5
  &.pastel-6
    stroke: $pastel-6
