#frame
  position: fixed
  display: flex
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 10
  transition: opacity 300ms
  
#frame-inner
  position: relative
  display: flex
  flex-direction: column
  width: 95vw
  height: 100vh
  max-height: 100vh
  max-width: 1400px
  margin: auto
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2)

#type-wrap
  max-width: 80%
  position: relative
  padding: 4rem 0 1rem 10rem
  transition: color 0.5s
  
  h1
    font-size: 34px

  p
    min-height: 100px
    font-size: 18px
    font-weight: 400
    
  .context
    display: none
    
    &:first-child
      display: block
    
    
#chart-wrap
  position: relative
  padding: 0 10rem 4.5rem
  height: 100%
  max-height: 675px
  margin-bottom: 0rem
  
#chart-countries
  padding: 0 10rem 4.5rem
  
.pages
  padding: 0 10rem

#chart-body,
#chart-countries
  position: relative
  width: 100%
  height: 100%
  z-index: 10
  
#chart-countries
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 15
