@import app/static/features/covid-performance/style/_vars.sass

$slides: 8

#scroller 
  overflow: auto
  height: 100%
  scroll-behavior: smooth
  scroll-snap-type: y mandatory
  // -- 
  position: fixed
  display: flex
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 10
  
#scroller-inner
  position: relative
  width: 95vw
  max-width: 1400px
  height: 100% * $slides
  display: flex
  flex-direction: column
  margin: auto

.slide-wrap
  display: flex
  position: relative
  scroll-snap-align: start
  padding: 4rem 10rem 4rem
  flex-direction: column
  flex: 1

.type-wrap
  max-width: 90%
  position: relative
  
  h1
    font-size: 34px

  p
    min-height: 100px
    font-size: 18px
    font-weight: 400
    
  .context
    display: none
    
    &:first-child
      display: block
