@import app/static/features/covid-performance/style/_vars.sass

#scroller 
  overflow: auto
  height: 100%
  scroll-behavior: smooth
  scroll-snap-type: y mandatory
  scroll-snap-type: mandatory
  position: absolute
  
  &.scrolling
    scroll-behavior: initial
    scroll-snap-type: initial
 
