$dark: #001b28
$lite: #d7d7e2
$mid:  #5c6172
$red:  #f7434c
$hl:   #3AADE5

$blue-1: #00c9ff
$blue-2: #43dcff
$blue-3: #80e7ff
$blue-4: #b0f0ff
$blue-5: #ccf8ff

$red-1: #f21938
$red-2: #f7434c
$red-3: #f26d80
$red-4: #f9c7d3

$yel-1: #ffe91d
$yel-2: #ffee76
$yel-3: #fff2a6

$pastel-1: #33ffdd
$pastel-2: #33cfff
$pastel-3: #339eff
$pastel-4: #d25aff
$pastel-5: #ff5ae0
$pastel-6: #ff7be0

@keyframes light-pulse
  to
    transform: scale(1.2)
    opacity: 0.05
