extend /partials/layout
//- The template chart wrapper for each embed page to inherit

block append config
  - page.title = "Covid Performance - Lowy Institute"
  - page.metaTitle = "Covid Performance - Lowy Institute"
  - page.image = "https://interactives.lowyinstitute.org/features/covid-performance/img/thumbnail.png"
  - page.url = "https://interactives.lowyinstitute.org/features/covid-performance/"
  - page.embed = true

block page
  block defs
  #wrapper(class=cat)
    block title 
    include ../slides/_chart-defs
    .flex.flex-col.h-full
      include ../slides/_chart
      .chart-note 
        | Source: 
        a(href="https://interactives.lowyinstitute.org/features/covid-performance/" target="_blank") Lowy Institute Covid Performance Index
      
block append css
  style
    include:sass ../_style.sass
    include:sass ./_embed.sass

block append customScripts
  script(type="text/javascript")
    include:coffee ./base.coffee
    include:coffee ./path-embed.coffee
