extends /partials/layout

block page
  - var list = data.getAll("charts/gender-diversity-and-australias-international-relations/survey-results")

  style
    include /partials/survey-results/style.css
  
  include /partials/survey-results/nav

  .wrapper.txt-center.p-sm
    h1 Survey Results
    hr
    
    ol.list-bare
      for el, i in list
        li
          a.question-btn.d-b.p-md.bg-lt.txt-bare(href=`/${el.path.replace(/^static\/|data$/g, "")}`)
            strong.txt-uppercase.txt-sm Question #{i + 1}
            h2.p-v-xs!= el.question
