//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/article

block append config
  - page.attributes = data.getOne("static/features/rbo-debate/data").articles[5]

block content
  :marked
    In the next three decades, Beijing aims to rewire the global order into one where its socialist dictatorship occupies "[the center of the world stage](https://www.fmprc.gov.cn/mfa_eng/zxxx_662805/t1799305.shtml)", not only in terms of the institutions and standards underpinning globalisation, but also in terms of values and moral authority. A twofold logic drives these ambitions, and it is not unique to Xi Jinping, nor would it vanish should he depart the scene.
    
    First, the Chinese Communist Party's overarching end is not --- as many aver---to preserve its rule. Rather, Beijing's consistent objective is the nationalist project of changing China's status from a large, weak, underdeveloped country to a modern, powerful state exercising a global leadership role commensurate with its size and historic achievements. For decades, party leaders have referred to this goal as "[the great rejuvenation of the Chinese nation](https://www.cfr.org/excerpt-third-revolution)". President Xi's contribution is to pursue an accelerated timetable for such ambitions. Modernisation will now be "[basically realized](http://www.xinhuanet.com/english/2017-10/18/c_136688806.htm)" by 2035 instead of mid-century, and the new mid-century goal is for China to be "[a global leader in terms of composite national strength and international influence](http://www.xinhuanet.com/english/2017-10/18/c_136688806.htm)". Such aspirations might not require a wholesale transformation of the post-Cold War order if the party's leaders could sign onto its core principles. Indeed, for decades, many in the West hoped to bind China to the order by promoting the benefits of membership, and socialising Chinese elites to its values. The idea was that even if Washington and Beijing's respective relative status within the order changed, the nature of the order would remain intact.
    
    Unfortunately, however, there is a second point of logic driving Beijing's desire to transform the order. This is the party's commitment to a Leninist species of socialism. Each post-Mao leader has insisted that "[only socialism can save China](https://csis-website-prod.s3.amazonaws.com/s3fs-public/publication/200508_Tobin_NewEra_v4%5B2%5D.pdf)". Yet since it took power in 1949, the party has seen liberal values as a threat and the West as implacably hostile. Beijing's fundamental ideas about politics are Leninist. They include that only a vanguard party --- possessed of a scientific theory system, and exercising a dictatorship that protects a monopoly on truth and preserves state ownership of the commanding heights of the economy --- can deliver sovereignty and development. In Beijing's view, its commitment to Leninist institutions deserves both credit for the country's ascent in recent decades, and acknowledgement as constituting "[the fundamental guarantee](http://paper.people.com.cn/rmrb/html/2019-11/02/nw.D110000renmrb_20191102_2-02.htm)" of completing national rejuvenation. Yet the very integration with the world that Beijing needs to complete its rise exacerbates the danger posed by the incompatibility of its values with those that predominate internationally. In the short run, the party has responded not only with further repression at home, but also by seeking to stifle criticism abroad. In the long run, however, national rejuvenation requires not simply that Beijing be left alone, but that the party's governance achievements be actively lauded by the globe. This means changing the prevalent norms away from those that identify people as individuals, whose rights to speech, political participation, and protection from arbitrary power take priority. Leninism instead prioritises collective ends, such as economic development and political stability over freedom.
    
    As of this writing, some Chinese intellectuals [allegedly argue](https://www.sohu.com/a/396961456_330810) for (returning to) Deng Xiaoping's 'hide and bide' foreign policy guideline. It is important to recognise, however, that this is a debate about tactics, not ultimate aims. Making China the leading country in the world by demonstrating  "[the superiority](https://palladiummag.com/2019/05/31/xi-jinping-in-translation-chinas-guiding-ideology/)" of Leninist socialism is an ironclad goal. It can be downplayed for tactical purposes, or its realisation can be pushed into the future when Beijing concludes it has misjudged China's relative gains in comprehensive national power. So long as the party retains power, however, it will not be discarded.   
    
    <hr>
    
    **Daniel Tobin** is a faculty member in China Studies at the National Intelligence University (NIU), and Senior Associate (non-resident) with the Freeman Chair in China Studies at the Center for Strategic and International Studies (CSIS).
    
    <small>All statements of fact, opinion, or analysis expressed are those of the author and do not reflect the official position or views of the U.S. Government. Nothing in the contents should be construed as asserting or implying U.S. Government authentication of information or endorsement of the author's views.</small>

    <hr>
