//-
  This is an example issue item page with the content removed. The blocks
  relate to those defined in the layout that's extended – in this case that's
  the issue template that we define here...

extend ../../partials/issue

block append config
  - page.title = "Changing Australia’s conversation about Chinese economic coercion"
  - page.expert = "Natasha Kassam, Richard McGregor, Roland Rajah"
  - page.expertrole = "Lowy Institute Experts"

block intro-image
  img.bg-img(data-src="../../img/china.jpg")

block intro-caption
  :marked
    Photo:<br><a href="https://unsplash.com/photos/MMJX-M9CuKA">Kirill Sharkovski / Unsplash</a>

block intro-description
    :marked
      Changing Australia’s conversation about Chinese economic coercion

block scroller
  +item(1)
    .row
      .col.p-lg.bg-ff.txt-expert-content
        .block.txt-sans.txt-md.txt-dk.pv-lg.txt-left
          .txt-border
            :marked
              Last month, China banned meat imports from four large Australian slaughterhouses for “technical” reasons, and imposed tariffs of more than 80 per cent on Australian barley after a long-running WTO investigation at China's instigation. This month, China warned its citizens not to travel to Australia for “safety” reasons. This flurry of punitive measures, and suggestions there could be more, has magnified concerns about Australia’s economic dependence on China and the belief that Beijing can use this to exert political pressure and constrain Australia’s ability to prosecute its interests. Calls for diversification away from China have consequently intensified. 
              
              Australia should have more confidence in its ability to withstand China’s punitive measures. The overwhelming narrative of ‘dependence’ leads the national conversation in unhelpful directions. Rather than dependence, the Australia–China relationship is mostly one of interdependence — which means that Australia’s exposure to, and ability to resist, economic threats from China is far more manageable.
              
              It is true that China buys about a third of Australia’s exports of goods and services. But more than 70 per cent are resource commodities — vital inputs for China’s steel, construction, and other industrial sectors that are still central to its economy (and employment), especially in recovering from COVID-19. Finding alternative suppliers at scale in these areas would be difficult for China. 
              
              As long as China’s demand for these commodities remains strong, so too will global demand — benefitting the Australian economy either directly by selling to China, or indirectly if exporting elsewhere, because international prices will remain robust. The past two years have seen Australia placed in China’s so-called ‘diplomatic freezer’. Yet, the total value of Australia’s merchandise exports rose by 30 per cent during that time. Merchandise exports to China rose by 50 per cent. That is also in keeping with the international experience of China’s attempts at economic coercion, which tend not to have a material impact on overall trade but instead punish specific sectors and firms. 
              
              That is, of course, cold comfort for those being targeted. And in Australia’s case, the potential targets are expanding as the economic relationship shifts from resource commodities towards agricultural exports, higher education, and tourism. 
              
              It is important, however, not to exaggerate the costs of standing up to China where Australia needs to. The value of the exports China has so far targeted is still only a little more than 1 per cent of Australia’s national income. That is important and should not needlessly be jeopardised. But Australia’s national interests are hardly served by artificially dividing national security and the economy.
              
              Importantly, the flipside of interdependence is complementarity. Diversification might be desirable, but the prospect for doing so in any significant way is likely to be very limited. India and Indonesia cannot match China’s combination of growth and scale. Nor are they particularly open economies or easy places to do business, at least no more so than China.
              
              Australia’s relationship with China is entering a new, more difficult phase, for which there are no easy answers. Getting away from the narrative of dependence would be a starting point for a more sensible national discussion — one that is more robust to economic threats that may come our way.
