// Vars
$red: #b90000
$yellow: #FFD010
$dark: #282200
$mute: #909090

// Colors
.bg-red
  background: $red
.bg-yel
  background: $yellow
.bg-ff
  background: white
.bxsh-yel
  box-shadow: -15px 13px 0px 0.5px $yellow

.txt-red
  color: $red
.txt-yel
  color: $yellow
.txt-dk
  color: $dark
.txt-mute
  color: $mute
.txt-ff
  color: white

// Typography

.txt-sans
  font-family: Sans, sans-serif
.txt-cond
  font-family: Cond, sans-serif
.strong
  font-weight: 600
  font-style: normal
  letter-spacing: 0.02em

// Root settings

body
  font-family: Cond
  font-size: 16px
  line-height: 1.25
  overflow: hidden
  font-weight: 300
  color: $dark
  font-feature-settings: "liga" 0
  text-rendering: geometricPrecision

p, pre, dl, dd, ul, ol, svg
  margin-bottom: 1em
