
// Block for the break-out piece 2013-2016
.heading.txt-xl
  .txt-ml 2013—2016
  | The long absence of the rules-based order
.txt-m
  p Our quantitative study reveals that between 2013 and 2016 - coinciding largely with Tony Abbott’s prime ministership - there was a significant decrease in the number of references to a rules-based order in speeches and policy statements by the Australian government.
  p The partial exception was Julie Bishop who, in October 2013, less than four weeks into her role as Australia's new Foreign Minister, gave an address to the Japan National Press Club in which she spoke about Japan and Australia being part of a "community of nations" that "have an interest in a stable, predictable, rules-based order – both around the world, and specifically in Asia." In November 2013, Bishop gave a speech in Washington, DC linking the rules-based order to international trade.
  p These two references by Bishop represent the few instances in which the concept of a rules-based order was used in Australia’s political lexicon between 2013 and 2016. Our study found that during his time as Prime Minister (September 2013 to September 2015), Tony Abbott did not use the term at all in key speeches.

//div(style='min-height: 50px')
//include history 
//div(style='min-height: 100px') 

.txt-m
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
