
.footer 
  div
    h4 special thanks to
    ul
      li Julie Bishop<br><span>Chancellor of the ANU and former Minister for Foreign Affairs&ensp;<a target="__blank" href="https://twitter.com/honjuliebishop">@honjuliebishop</a></span>
      li Rory Medcalf<br><span>Professor and Head of National Security College, ANU&ensp;<a target="__blank" href="https://twitter.com/rory_medcalf">@rory_medcalf</a></span>
      li Richard Maude<br><span>Executive Director, Policy, and Senior Fellow, Asia Society Policy Institute, former Director General of the Office of National Assessments</span>
      li Hilary Charlesworth<br><span>Distinguished Professor, College of Asia & the Pacific, ANU</span>
  div
    h4 Research
    ul
      li Ben Scott&ensp;<span><a target="__blank" href="https://twitter.com/ben_g_scott">@ben_g_scott</a></span>
      li Sam Roggeveen&ensp;<span><a target="__blank" href="https://twitter.com/samroggeveen">@samroggeveen</a></span>
      li Madeleine Nyst&ensp;<span><a target="__blank" href="https://twitter.com/madeleinenyst">@madeleinenyst</a></span>
    
    h4 Design
    ul: li Brody Smith&ensp;<span><a target="__blank" href="https://twitter.com/__brodysmith">@__brodysmith</a></span>
