.cardtype.txt-m Key Events
- let dates = card.dates
- let events = card.content
- let n = dates.length
- let dotRadius = 6

.history-wrap
  .btnfw(onclick=`scrollHistory(this, 1)`)
  .btnbw(onclick=`scrollHistory(this, 0)`)
  .skinny-scrollbar(style="overflow-x:scroll")
    .history-timeline
      each event, i in events
        .node
          .event
            .image-overlay
            .event-text.txt-sm= event.description
            .event-title.txt-m= event.title
          .timeline
            .dot(style=`left: calc(50% - ${dotRadius}px)`)
              .dot.over
            if i == 0
              .line.line-start
            else if i==dates.length-1 
              .line.line-end
            else
              .line
            .date.txt-s= dates[i]
