
- let sections = data.getOne("static/features/rules-based-order/partials/intro").sections

.banner-wrap
  .banner
    .banner-title(style="font-family: 'Cond', sans-serif") Australia and the<br/>Rules–Based Order:<br/>An annotated timeline
  .credits
    div(style='padding: 0 30px')
      strong.txt-s.txt-tu Research
      .txt-m Sam Roggeveen, Madeleine Nyst,<br/>Ben Scott
      p
      strong.txt-s.txt-tu Expert Commentary
      .txt-m Julie Bishop, Gareth Evans,<br>Steve Jobs, Julia Roberts

.intro-wrap.flex-ch
  .intro-menu.col-sm.ph-lg
    .txt-tu.txt-lg.txt-w700.pv-sm Introduction
    ul.list-bare.txt-wide
      each section, i in sections
        li.ptr.pv-xs.ph-md(onclick=`scrollThis('.intro-txt', '.h-${i}')`)= section.h
  .intro-txt.flex-grow.ph-lg.skinny-scrollbar
    each section, i in sections
      .txt-ml.pv-sm(class=`h-${i}`)= section.h
      p.b= section.b 
      
.intro-footer
