.social-share
  a.icon.icon-social-facebook(
    target="_blank"
    href=[
      "https://www.facebook.com/sharer.php?u=",
      encodeURIComponent(page.url),
    ].join("")
  )
  a.icon.icon-social-twitter(
    target="_blank"
    href=[
      "https://twitter.com/share?url=",
      encodeURIComponent(page.url),
      "&text=",
      encodeURIComponent(page.title),
      "&via=LowyInstitute"
    ].join("")
  )
