//-
  This header appears at the top of each issue page, where it's included
  through the `include` keyword.

.stickyheader
  include nav
  //#stickyheader-graph
    svg(
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 530.5 110.4"
      preserveAspectRatio="none"
    )
      path(class="line" d="M0.1,99.2l53-8.4l53-14.8l53,18.7l53,5.2l53-2.6l53-1.9l53-13.6l53-81.3l53,3.9l53,85.2")
      path(class="line" d="M0,110.4l540,0" stroke-dasharray="4")
      circle(cx="53.8" cy="90.8" r="12" fill="black")
  //#counter
    Dynamic HTML generated in nav.js

  
