//-
  This header appears at the top of each issue page, where it's included
  through the `include` keyword.

.stickyheader
  include social
  .header-title
    a.txt-bare(href="/features/rules-based-order/") Rules-based Order
      span.title-long :<br/>An Annotated Timeline
  include nav
